.container{
  position: relative;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 828px;
  background-color: #fcfcfc;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.container_blur{
  position: relative;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 828px;
  background-color: #fcfcfc;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#navigation_not_fixed{
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 155px;
  min-height: 1px;
}

#navigation{
  position: fixed;
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 82.5%;
  max-width: 1221.81px;
}

#content{
  max-width: 858px;
}

.nav_btns{
  font-family: lato;
  padding: 5px;
  cursor: pointer;
  transition: 350ms ease-in-out;
  color: #999;
  font-size: 10pt;
}

#save_btn{
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  background-color: #292c38;
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 11pt;
  color: #fff;
}

#category_title{
  font-size: 14pt;
  color: #525250;
}

#sub_categories{
  width: 70%;
  padding: 1%;
  padding-top: 0px;
  padding-bottom: 7px;
  border: 1px solid #b6b7b7;
  border-radius: 3px;
  overflow: hidden;
  clear: both;
}

.categories_item{
  font-size: 10pt;
  color: #525250;
  float: left;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

#error_category{
  color: red;
  float: right;
  font-size: 10pt;
  padding-top: 3px;
}

#right_btns{
  margin-right: 1.1%;
  float: right;
  width: 165px;
}

#right_btns_not_fixed{
  width: 205px;
  min-height: 1px;
  float: right;
}

#select_job_wrapper{
  width:300px;
  padding-top: 8px;
}

.sub_category_check_box{
  height: 20px;
  position: relative;
  top: 0;
  float: left;
}

#mobile_buttons{
  display: none;
}

#non_mobile_buttons{
  display: block;
}

@media all and (max-width: 1230px) {
  #right_btns{
    float: left;
    margin-right: 30px;
  }

  #right_btns_not_fixed{
    float: none;
  }
}

@media all and (max-width: 800px) {
  #navigation{
    display: none;
  }

  #content,#content_blur{
    min-width: 0;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0;
    padding-bottom: 0;
  }

  #navigation_not_fixed{
    display: none;
  }

  #select_job_wrapper{
    width: auto;
  }

  #sub_categories{
    width: 100%;
  }

  .sub_category_check_box{
    height: 4vw;
  }

  .categories_item{
    font-size: 3vw;
    text-align: left;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  #save_btn{
    margin-top: 2.5vw;
    font-size: 3.2vw;
    width: 65vw;
    padding: 2vw;
  }

  #mobile_buttons{
    display: block;
  }

  #non_mobile_buttons{
    display: none;
  }

}
