#ads_container{
  float: left;
  width: 100%;
  padding-bottom: 40px;
  margin-top: 135px;
}

.ad_container{
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fcfcfc;
}

.ads{
  width: 100%;
  height: 170px;
  position: relative;
}

.ad_bg{
  height: 100%;
  width: 100%;
}

.box_shadow{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 1000px 1000px 10px rgba(0,0,0,.45);
  z-index: 2;
}

.company_image{
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: 50%;
  margin-top: -55px;
  height: 110px;
  z-index: 3;
}

.profile_image{
  height: 98px;
  padding: 1.1px;
  border-radius: 10000px;
}

.online_offline_container{
  height: 10px;
  width: 10px;
  padding: 1px;
  background-color: #fff;
  border-radius: 1000px;
  position: absolute;
  right: 8px;
  bottom: 10px;
}

.online_offline_img{
  height: 10px;
  width: 10px;
  background-color: #8BC34A;
  border-radius: 1000px;
}

.profile_image_container{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 40%;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  z-index: 3;
  background-color: #fff;
  border-radius: 1000px;
}

.profile_text{
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 74%;
  z-index: 3;
}

.profile_name{
  font-size: 10pt;
}

.profile_description{
  font-family: lato-thin;
  font-size: 9pt;
}

.ads_title{
  color: #525250;
  font-size: 10pt;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 8px;
  text-align: center;
}

.ads_description{
  color: #525250;
  font-size: 8pt;
  font-family: lato-thin;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2px;
  text-align: center;
}

.ads_view_profile{
  color: #fff;
  background-color: #323230;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;
  font-size: 7pt;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}
