#tradesmanlist_container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding: 5px;
  padding-top: 61.5px;
  padding-bottom: 61.5px;
  text-align: center;
  overflow: hidden;
}

#tradesmanlist_container_blurred{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding: 5px;
  padding-top: 61.5px;
  padding-bottom: 61.5px;
  text-align: center;
  overflow: hidden;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#overlay{
  display: none;
}

#overlay_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.item_wrapper{
  float: left;
  width: 50%;
}

.item_container{
  margin: 7.5px;

}

.item{
  background: #fcfcfc;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  position: relative;
  overflow: hidden;
}

.section_divider{
  position: relative;
  width: 100%;
}

.sponsored_div{
  text-align: center;
  background-color: #f1f1f1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-right: 10px;
  top: 3;
  font-family: lato-thin;
  color: #929290;
}

.hide_overflow{
  overflow: hidden;
}

hr{
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* list css */

.tradesman_img{
  float: left;
  height: 9.5vw;
  max-height: 150px;
  max-width: 150px;
  width: 9.5vw;
  position: relative;
}

.company_img{
  float: left;
  height: 7.5vw;
  max-height: 150px;
  max-width: 150px;
  width: 7.5vw;
  position: relative;
  padding: 1vw
}

.status_bar{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: .4vw;
}

.tradesman_info{
  overflow: hidden;
  padding: 8px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  color: #525250;
  position: relative;
  height: 9.5vw;
  text-align: left;
}

#category{
  font-size: 16pt;
}

.tradesman_buttons_container{
  position: absolute;
  bottom: .9vw;
}

.tradesman_buttons{
  color: #fff;
  padding: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
  border-radius: 2px;
  cursor: pointer;
  background-color: #434343;
  font-family: lato-thin;
  font-size: .75vw;
}

#view_prof_btn{
  margin-left: 12px;
}

.name{
  font-size: 1.3vw;
  margin-top: 8px;
}

.category, .company{
  font-size: .9vw;
  margin-top: .3vw;
  font-family: lato-thin;
}

.availability{
  margin-top: .3vw;
  color: #359244;
  font-style: italic;
  font-size: .8vw;
}

.category_phone_number{
  margin-top: .65vw;
  color: #727270;
  font-size: .8vw;
}

.company_number_icon{
  height: .8vw;
  margin-right: 5px;
}

.rating_bar{
  height: 20px;
  background-color: #333;
  margin-top: 12px;
}

.rating{
  margin-top: .6vw;
  text-align: right;
  overflow: hidden;
  clear: both;
  float: right;
}

.rating_img{
  height: 21px;
  float: left;
  margin-right: 15px;
  z-index: 100;
}

.rating_image{
  float: left;
  height: 1.2vw;
  width: 1.2vw;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.star_icon{
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
}

.star_shade{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ffc81a;
  z-index: 1;
}

.rating_phrase{
  float: right;
  font-style: italic;
  margin-left: 5px;
  position: relative;
  top: .1vw;
  font-size: .8vw;
  margin-right: 3px;
}

.rating_container{
  float: right;
}

.distance_phrase{
  float: left;
  margin-left: 5px;
  position: relative;
  top: .5vw;
  margin-right: 3px;
}

.location{
  font-style: italic;
  font-size: .85vw;
  text-align: right;
  overflow: hidden;
  float: right;
}

.tradesman_utility_info{
  position: absolute;
  bottom: .9vw;
  right: 20px;
  overflow: hidden;
}

.distance_image{
  float: left;
  height: 1.6vw;
}

@media all and (max-width: 1110px) {
  .rating_container{
    clear: both;
    margin-top: 5px;
  }

  .rating_image{
    height: 1.3vw;
    width: 1.3vw;
  }

  .rating_phrase{
    top: 0;
  }
}

/* end list css */
