#container{
  background-color: #fcfcfc;
  width: 100%;
}

#container_blur{
  background-color: #fcfcfc;
  width: 100%;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#overlay_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#overlay_hide{
  display: none;
}

#navigation_not_fixed{
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 155px;
  min-height: 1px;
}

#navigation{
  position: fixed;
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 82.5%;
  max-width: 1221.81px;
}

#navigation{
  position: fixed;
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 82.5%;
  max-width: 1221.81px;
}

#navigation_blur{
  position: fixed;
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 82.5%;
  max-width: 1221.81px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#content{
  position: relative;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 828px;
}

#content_blur{
  position: relative;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 828px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

.nav_btns{
  font-family: lato;
  padding: 5px;
  cursor: pointer;
  transition: 350ms ease-in-out;
  color: #999;
  font-size: 10pt;
}

.title{
  font-family: lato;
  color: #525250;
  font-size: 13pt;
  clear: both;
}

.section{
  padding: 20px;
  overflow: hidden;
  margin-bottom: 435px;
  background-color: #fcfcfc;
  transition: 350ms ease-in-out;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  position: relative;
}

.company_info_section{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 100px;
  position: relative;
}

.company_info_section_2{
  margin-right: -100px;
}

.white_company_info_section{
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
}

#company_image_div{
  height: 150px;
  width: 150px;
  margin-right: 20px;
  position: relative;
  float: left;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

#company_image_div:hover #edit_image_icon{
    opacity: 1;
}

#company_image{
  height: 100%;
  width: 100%;
}

#edit_image_icon{
  position: absolute;
  bottom: -5px;
  height: 20px;
  opacity: 0;
  transition: 350ms ease-in-out;
  font-size: 8pt;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  width: 100%;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

#company_details_1{
  overflow: hidden;
  margin-top: 5px;
}

.section_title{
  font-family: lato;
  color: #525250;
  font-size: 9pt;
  margin-bottom: 5px;
  transition: 350ms ease-in-out;
}

.input{
  width: 100%;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 9pt;
  border-radius: 3px;
  border: 1px solid #b6b7b7;
  margin-bottom: 10px;
  color: #323230;
  padding-right: 28px;
  -webkit-appearance: none;
}

.input:focus{
  border: 1px solid #50b6e8;
  outline: none;
}

.input:focus + .edit_icon_input{
  opacity: 0;
}

.edit_icon_input{
  position: absolute;
  bottom: 17;
  right: 8;
  height: 12px;
  opacity: 1;
  transition: 350ms ease-in-out;
  z-index: 1;
}

#suite{
  width: 24.25%;
  margin-right: 1.5%;
  float: left;
  position: relative;
}

#street_address{
  width: 100%;
  float: left;
  position: relative;
}

#city_town_village{
  width: 48%;
  margin-right: 4%;
  float: left;
  position: relative;
}

#postal_code{
  width: 48%;
  float: left;
  position: relative;
}

#province{
  width: 53px;
  float: right;
  margin-left: 3.5%;
  z-index: 2;
}

#drop_down_img{
  height: 10px;
  position: relative;
  top: 1.5px;
  float: right;
}

.options{
  color: #727270;
  font-size: 8pt;
  text-align: center;
  padding: 3px;
}

#drop_down{
  height: 0;
  overflow: auto;
  transition: 350ms ease-in-out;
  border: none;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fcfcfc;
  z-index
}

#company_details_2{
  margin-top: 10px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

#email{
  width: 47.5%;
  margin-right: 5%;
  float: left;
  position: relative;
}

#phone_cell{
  width: 47.5%;
  float: left;
  position: relative;
}

#phone_office{
  width: 32.3333%;
  float: left;
  position: relative;
}

#about_you_text_area{
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
  font-size: 10pt;
  border: 1px solid #b6b7b7;
  resize: none;
  color: #323230;
  margin-right: -100px;
}

#about_you_text_area:focus + .edit_icon_input{
  opacity: 0;
}

#about_you_text_area:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

#save_btn{
  padding: 8px;
  border-radius: 5px;
  background-color: #292c38;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 9pt;
  border: 1px solid #292c38;
  color: #fff;
  width: 150px; margin-top: 30px;
}

#right_btns{
  margin-right: 1.1%;
  float: right;
  width: 165px;
}

#right_btns_not_fixed{
  width: 205px;
  min-height: 1px;
  float: right;
}

#province_text{
  width: auto;
  margin-bottom: 0;
  padding-right: 8px;
}

#mobile_buttons{
  display: none;
}

#non_mobile_buttons{
  display: block;
}

#edit_icon_about_you{
  bottom: 8px;
  right: -92px;
}

#predefined_area_code{
  color: #929290;
  font-size: 10pt;
  position: absolute;
  top: 26px;
  left: 5px;
  opacity: 0;
  transition: 100ms ease-in-out;
}

#mobile_number_input{
  padding-left: 22px;
  width: 100%;
}

#pop_up_btn_container_crop{
  text-align: right;
  margin-top: 20px;
}

.pop_up_btn{
  float: left;
  text-align: center;
  width: 150px;
  border-radius: 4px;
  border: 1px solid #525250;
  padding: 8px;
  font-size: 10pt;
  cursor: pointer;
}

.error_strings{
  opacity: 1;
  font-size: 9pt;
  position: relative;
  transition: 500ms ease-in-out;
  color: #F27072;
  margin-top: 8px;
  float: right;
  margin-top: 3px;
}

#crop_pop_up{
  position: absolute;
  width: 50%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px rgba(0,0,0,.4);
  z-index: 100;
  transition: 350ms ease-in-out;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 25px;
  font-family: lato;
  color: #525250;
}

#cancel_btn{
  margin-right: 30px;
}

@media all and (max-width: 1207px) {
  #right_btns{
    float: left;
  }

  #right_btns_not_fixed{
    float: none;
  }
}

@media all and (max-width: 800px) {
  #navigation, #navigation_blur{
    display: none;
  }

  #content,#content_blur{
    min-width: 0;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 3vw;
    padding-bottom: 0;
  }

  #navigation_not_fixed{
    display: none;
  }

  #company_image_div{
    height: 25vw;
    width: 25vw;
  }

  .title{
    font-size: 3.3vw;
  }

  .company_info_section{
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    margin-right: 0;
  }

  .company_info_section_2{
    margin-right: 0;
  }

  .section_title{
    font-size: 2.3vw;
    margin-bottom: .7vw;
  }

  .input{
    padding: 1vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
    font-size: 2.8vw;
    margin-bottom: 1.5vw;
  }

  #province{
    width: 9vw;
  }

  #drop_down_img{
    height: 1.5vw;
    top: 1vw;
  }

  #province_text{
    padding-right: .8vw;
  }

  .options{
    font-size: 2.4vw;
  }

  #about_you_text_area{
    padding: 1.5vw;
    font-size: 2.8vw;
  }

  .edit_icon_input{
    bottom: 3vw;
    right: 1.5vw;
    height: 2.6vw;
  }

  #save_btn{
    margin-top: 2.5vw;
    font-size: 3.2vw;
    width: 65vw;
    padding: 2vw;
  }

  #mobile_buttons{
    display: block;
  }

  #non_mobile_buttons{
    display: none;
  }

  #company_details_1{
      margin-top: .5vw;
  }

  #company_details_2{
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  #edit_icon_about_you{
    bottom: 1.6vw;
    right: 1.5vw;
  }

  #predefined_area_code{
    font-size: 2.8vw;
    top: initial;
    bottom: 2.3vw;
  }

  #mobile_number_input{
    padding-left: 4.3vw;
  }

  .error_strings{
    font-size: 2.5vw;
    margin-top: 1.4vw;
  }

  #crop_pop_up{
    width: 85%;
    padding: 5%;
  }

  #pop_up_btn_container_crop{
    text-align: right;
    margin-top: 20px;
  }

  .pop_up_btn{
    width: 18vw;
    border-radius: 3px;
    padding: 1vw;
    font-size: 2.8vw;
  }

  #cancel_btn{
    margin-right: 5vw;
  }

}
