#container{
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1400px;
}

#container_blurred{
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1300px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#top_elements{
  overflow: hidden;
  font-size: 17pt;
  position: relative;
  color: #525250;
  padding-left: 5px;
  padding-right: 5px;
}

#bottom_elements{
  overflow: hidden;
  font-size: 2.1vw;
  position: relative;
}

#request_notif{
  color: #323230;
  font-family: lato-thin;
  font-size: 11pt;
  margin-top: 6px;
  height: 30px;

}

.top_elements_btn{
  font-size: 10pt;
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #ea5b5b;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

#incoming_requests{
  height: 41.3%;
  min-height: 300px;
  width: 100%;
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

#inc_req_head{
  padding: 23.141px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 12pt;
  font-family: lato-thin;
  background-color: #292c38;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#history{
  height: 29%;
  margin-top: 30px;
  min-height: 210px;
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

#availability{
  width: 99%;
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

#avail_req_head{
  padding: 23.141px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 12pt;
  font-family: lato-thin;
  background-color: #292c38;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#ratings{
  /*height: 37.2%;*/
  margin-top: 30px;
  height: 270px;
  width: 99%;
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

/* The switch - the box around the slider */
.switch {
  float: right;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b0b0b0;
  -webkit-transition: .4s;
  transition: .4s;
  float: left;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fcfcfc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6abd45;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6abd45;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dnd_toggle:checked ~ .dnd_on {
  opacity: 1;
}

.dnd_toggle:checked ~ .dnd_off {
  opacity: 0;
}

.dnd_on{
  color: #fff;
  position: absolute;
  top: 4.3px;
  left: 11px;
  font-size: 7pt;
  opacity: 0;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

.dnd_off{
  color: #fff;
  position: absolute;
  top: 4.3px;
  right: 10px;
  font-size: 7pt;
  opacity: 1;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

.history_item{
  padding: 15px;
  padding-left: 23.141px;
  padding-right: 23.141px;
  overflow: hidden;
  position: relative;
}

.history_status{
  float: right;
  font-size: 8pt;
  color: #727270;
  padding-top: 6px;
  padding-bottom: 2px;
}

.request_rating_btn{
  font-size: 8pt;
  color: #fff;
  margin-bottom: 10px;
  padding: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #5a8ac7;
  background-color: #5a8ac7;
  border-radius: 2px;
  display: inline;
  cursor: pointer;
  position: relative;
  top: 6px;
}

.request_rating_btn_1{
  font-size: 8pt;
  color: #fff;
  padding: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  display: inline;
  cursor: pointer;
  float: left;
  margin-top: 2px;
}

.inc_req_btns{
  float: right;
  font-size: 8pt;
  padding: 5px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

#right_elements{
  float: right;
  margin-left: 3%;
  width: 334px;
}

#avail_content{
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

#calendar{
  min-height: 80px;
  width: 85px;
  border-radius: 5px;
  background-color: #fcfcfc;
  cursor: pointer;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#calendar_non_fixed{
  min-height: 1px;
  width: 85px;
  float: left;
}

#day_name{
  color: #fff;
  background-color: #f04e4e;
  font-size: 8.5pt;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#date{
  color: #525250;
  font-size: 24pt;
  text-align: center;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

#month{
  color: #727270;
  font-size: 7pt;
  text-align: center;
  padding-bottom: 2px;
}

#avail_other_content{
  float: left;
}

.header_icon{
  height: 20px;
  margin-right: 15px;
  position: relative;
  top: 0px;
  float: left;
}

#default_time{
  overflow: hidden;
  margin-top: 10px;
  text-align:
  center;
  font-size: 9pt;
  background-color: #eaeaea;
  padding: 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #323230;
}

#edit_time_icon_holder{
  float: right;
  background-color: #313642;
  margin-top: 10px;
  height: 31px;
  width: 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#dnd{
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  color: #333;
  font-size: 10pt;
  background-color: #eaeaea;
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-left: 1px;
}

#left_elements{
  overflow: hidden;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#no_reqs{
  text-align: center;
  font-size: 12pt;
  top: 40%;
  transform: translateY(-50%);
  position: relative;
  color: #929290;
  font-family: lato-thin;

}

#reqs_container{
  overflow: auto;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: -1px;
}

.reqs_1{
  padding: 15px;
  background-color: #8BC34A;
  padding-left: 23.141px;
  padding-right: 23.141px;
  position: relative;
  overflow: hidden;
}

.reqs_icon{
  float: left;
  height: 15px;
  margin-right: 8px;
}

.reqs_2{
  position: relative;
  color: #222;
  width: 90%;
  padding-left: 23.141px;
  padding-right: 23.141px;
  overflow: hidden;
  transition: 500ms ease-in-out;
  max-height: 0;
}

.reqs_3{
  font-size: 10pt;
  color: #525250;
  padding: 0px;
  padding-left: 23.141px;
  padding-right: 23.141px;
  overflow: hidden;
  transition: 500ms ease-in-out;
  max-height: 0;
}

.reqs_3_btn{
  color: #fff;
  background-color: #555;
  padding: 5px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer
}

.reqs_4{
  background-color: rgba(255,255,255, .5);
  position: relative;
  color: #525250;
  padding-left: 23.141px;
  padding-right: 10px;
  overflow: hidden;
  box-shadow: 0 -1px 2px rgba(0,0,0,.1);
}

.reqs_time{
  float: left;
  font-family: lato-thin;
  font-size: 10pt;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;

}

.history_text_1{
  font-size: 11pt;
  color: #333;
  margin-bottom: 5px;
  overflow: hidden;
}

.history_text_2{
  float: left;
  font-size: 8pt;
  font-style:italic;
  font-family: lato-thin;
  color: #416eb6;

  padding-top: 6px;
  padding-bottom: 2px;
}

#clr_btn{
  margin-top: 10px;
  float: right;
  color :red;
  background-color: #fff;
  font-size: 10pt;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #888;
  border-radius: 3px;
  cursor: pointer;
}

#history_container{
  overflow: auto;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: -1px;
}

#overlay_hidden{
  display: none;
}

#overlay_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#pop_overlay{
  opacity: 0;
  border-radius: 8px;
  opacity: 1;
  position: fixed;
  width: 460px;
  left: 50%;
  margin-left: -230px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px rgba(0,0,0,.3);
  z-index: 100;
  transition: 350ms ease-in-out;
}

#avail_time_title{
  background-color: #292c38;
  color: #fff;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: lato;
  font-size: 12pt;
  text-align: center;
}

.time_overlay_btns{
  color: #fff;
  border-radius: 3px;
  text-align: center;
  font-family: lato;
  float: left;
  font-size: 9pt;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 29.5%;
  cursor: pointer;
}

#dnd_title{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18pt;
  text-align: center;
  font-family: lato;
  color: #525250;
}

#dnd_desc{
  float: left;
  margin: 13px;
  margin-bottom: 28px;
  margin-right: 68px;
  width: 224px;
  margin-left: 20px;
  font-family: lato-thin;
  color: #727270;

  font-size: 11pt;
}

#dnd_desc_2{
  text-align: center;
  font-family: lato;
  font-size: 11pt;
  width: 300px;
  margin: 12px;
  margin-left: auto;
  margin-right: auto;
}

#dnd_circle_2{
  width: 110px;
  height: 110px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100000px;
  background-color: #76FF03;
}

#dnd_btn{
  border: 1px solid #292c38;
  background-color: #292c38;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 100px;
  font-family: lato;
  text-align: center;
  cursor: pointer;
}

.inc_req_text_1{
  font-family: lato;
  font-size: 11pt;
  color: #fff;
}

.inc_req_desc{
  font-size: 8pt;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 40px;
  overflow: auto;
  font-family: lato-thin;

  color: #727270;
}

.non_mobile_view{
  display: block;
}

.mobile_view{
  display: none;
}

.top_elements_btn_icon{
  height: 15px;
  margin-right: 10px;
  float: left;
}

#top_elements_btn_text_active{
  margin-left: 1.2vw;
  position: relative;
  float: left;
  display: block;
}

#top_elements_btn_text_hidden{
  margin-left: .8vw;
  position: relative;
  float: left;
  display: none;
}

.top_elements_btn_left{
  float: right;
  margin-right: 20px;
}

.history_item_icon{
  float: left;
  height: 20px;
  margin-right: 15px;
}

.hr_history{
  margin-left: 35px;
  margin-right: 35px;
}

.history_delete_icon{
  height: 8px;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.request_rating_btn_1_completed{
  margin-right: 15px;
  background-color: #6abd45;
}

.history_details_wrapper{
  margin-left: 35px;
}

.reqs_text_4{
  float: left;
  color: #fff;
  font-size: 9pt;
  font-weight: 100;
  margin-top: 1px;
}

.reqs_text_5{
  font-size: 7.5pt;
  font-family: lato-thin;
}

.reqs_description{
  font-size: 9pt;
  padding-top: 10px;
}

.reqs_close_desc{
  position: absolute;
  top: 10px;
  right: 23.141px;
  cursor:pointer;
}

.reqs_close_desc_icon{
  height: 8px;
}

.reqs_time_spec{
  font-family: lato;
  font-size: 11pt;
  padding-left: 5px;
}

.inc_req_btns_margin{
  margin-right: 10px;
}

.reqs_3_icons{
  float: left;
  margin-right: 10px;
  height: 15px;
}

.reqs_3_wrapper{
  float: left;
  margin-top: 10px;
  margin-right: 30px;
  min-width: 200px;
  margin-bottom: 10px;
}

.reqs_3_margin{
  float: left;
  margin-right: 30px;
}

.reqs_3_subtitle{
  text-align: justify;
  font-size: 8.5pt;
}

.reqs_3_subtitle_wrapper{
  overflow: hidden;
  min-width: 308px;
  margin-bottom: 10px;
}

.reqs_text_4_wrapper{
  margin-top: 10px;
}

.reqs_text_4_container{
  float: left;
  margin-right: 50px;
}

.edit_time_avail_btn{
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 8pt;
}

#pop_overlay_btn_wrapper{
  padding: 30px;
  padding-top: 18px;
  padding-bottom: 20px;
  overflow: hidden;
  clear: both;
}

#time_input_wrapper{
  font-family: lato;
  color: #525250;
  display: inline-block;
  font-size: 13pt;
}

#time_to{
  font-size: 13pt;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  padding-left:0;
  padding-right: 0;
}

#dnd_icon{
  height: 80px;
  margin-left: 68px;
  float: left;
  margin-top: 1px;
}

@media all and (max-width: 800px) {
  .non_mobile_view{
    display: none;
  }

  .mobile_view{
    display: block;
  }

  .top_elements_btn{
    padding: 1.5vw;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    font-size: 2.8vw;
  }

  .top_elements_btn_icon{
    height: 3vw;
    margin-right: 0;
  }

  .top_elements_btn_left{
    margin-right: 2.5vw;
  }

  #top_elements{
    font-size: 4.3vw;
  }

  #left_elements{
    padding-left: .5vw;
    padding-right: .5vw;
    padding-bottom: .5vw;
    padding-top: .5vw;
  }

  #availability{
    width: 100%;
    margin-top: 5vw;
  }

  #ratings{
    width: 100%;
    height: auto;
    margin-top: 5vw;
  }

  .header_icon{
    height: 4vw;
    margin-right: 1.5vw;
  }

  #inc_req_head{
    padding: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    font-size: 3.2vw;
  }

  #avail_req_head{
    padding: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    font-size: 3.4vw;
  }

  #incoming_requests{
    height: 40vw;
    min-height: 0;
  }

  #no_reqs{
    font-size: 3vw;
  }

  #history{
    height: 40vw;
    margin-top: 5vw;
    min-height: 0;
  }

  .history_item{
    padding: 2.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .history_item_icon{
    height: 3.5vw;
    margin-right: 1.5vw;
  }

  .history_text_1{
    font-size: 3vw;
    margin-bottom: .8vw;
  }

  .request_rating_btn_1{
    font-size: 2.7vw;
    padding: 2.8vw;
    padding-top: .8vw;
    padding-bottom: .8vw;
    margin-top: .3vw;
  }

  .history_status{
    font-size: 2.5vw;
    padding-top: .8vw;
    padding-bottom: .4vw;
  }

  .history_text_2{
    font-size: 2.7vw;
    padding-top: .6vw;
    padding-bottom: .3vw;
  }

  .hr_history{
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .request_rating_btn{
    font-size: 2.5vw;
    padding: 2.6vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
  }

  .history_delete_icon{
    height: 1.5vw;
    top: .8vw;
    right: 3.8vw;
  }

  #history_container{
    top: 7vw;
  }

  .request_rating_btn_1_completed{
    margin-right: 1.5vw;
  }

  #avail_content{
    margin-top: 3vw;
    margin-bottom: 4vw;
  }

  #avail_title{
    color: #ea5b5b;
    font-size: 3.7vw;
    text-align: center;
  }

  #default_time{
    margin-top: 2.5vw;
    font-size: 3.5vw;
    padding: 1vw;
  }

  .default_time_icon_holder{
    float: right;
    background-color: #313642;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 2.5vw;
    height: 6.1vw;
    width: 6.1vw;
  }

  .default_time_icon{
    height: 3.3vw;
    margin: 1.4vw;
  }

  #dnd{
    margin-top: 2.5vw;
    font-size: 2.7vw;
    padding: 1vw;
  }

  .switch {
    width: 9vw;
    height: 4vw;
  }

  .slider:before {
    height: 3.4vw;
    width: 3.4vw;
    left: .3vw;
    bottom: .3vw;
  }

  .slider.round {
    border-radius: 10vw;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(5vw);
    -ms-transform: translateX(5vw);
    transform: translateX(5vw);
  }

  .dnd_on{
    top: .95vw;
    left: 1.5vw;
    font-size: 2vw;
  }

  .dnd_off{
    top: .95vw;
    right: .9vw;
    font-size: 2vw;
  }

  #request_notif{
    font-size: 3vw;
    margin-top: .8vw;
    height: 4vw;
  }

  #reqs_container{
    top: 7vw;
  }

  .inc_req_text_1{
    font-size: 3vw;
  }

  .reqs_icon{
    height: 3.2vw;
    margin-right: 1vw;
  }

  .history_details_wrapper{
    margin-left: 2vw;
  }

  .reqs_text_4{
    font-size: 2.8vw;
    margin-top: .2vw;
  }

  .reqs_text_5{
    font-size: 2.6vw;
  }

  .reqs_description{
    font-size: 2.9vw;
    padding-top: 1.5vw;
  }

  .reqs_close_desc{
    top: 1.5vw;
    right: 5.5vw;
  }

  .reqs_close_desc_icon{
    height: 1.6vw;
  }

  .inc_req_desc{
    font-size: 2.5vw;
    margin-bottom: 1.5vw;
    margin-top: 1vw;
    height: 10vw;
  }

  .reqs_time{
    font-size: 2.8vw;
  }

  .reqs_time_spec{
    font-size: 3.2vw;
    padding-left: .8vw;
  }

  .inc_req_btns{
    font-size: 2.7vw;
    padding: 1vw;
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .inc_req_btns_margin{
    margin-right: 1.5vw;
  }

  .reqs_3{
    font-size: 3vw;
  }

  .reqs_3_icons{
    margin-right: 1.5vw;
    height: 3.4vw;
  }

  .reqs_3_wrapper{
    margin-top: 1.5vw;
    margin-right: 2.5vw;
    min-width: 0;
    margin-bottom: 1.5vw;
  }

  .reqs_3_margin{
    margin-right: 3.5vw;
  }

  .reqs_3_subtitle{
    font-size: 2.8vw;
  }

  .reqs_3_subtitle_wrapper{
    overflow: hidden;
    min-width: 0;
    clear: both;
    margin-bottom: 1.5vw;
  }

  .reqs_text_4_wrapper{
    margin-top: 1.5vw;
  }

  .reqs_text_4_container{
    float: left;
    margin-right: 5.5vw;
  }

  #pop_overlay{
    width: 95%;
    margin-left: 0;
    transform: translateY(-50%) translateX(-50%);
  }

  #avail_time_title{
    font-size: 3vw;
  }

  .time_overlay_btns{
    font-size: 2.6vw;
    padding: .9vw;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
    margin: 1vw;
  }


  .edit_time_avail_btn{
    padding-top: .4vw;
    padding-bottom: .4vw;
    font-size: 2.4vw;
  }

  #dnd_title{
    font-size: 5vw;
  }

  .reqs_2{
    width: auto;
  }

  #pop_overlay_btn_wrapper{
    padding: 3.5vw;
    padding-top: 2.5vw;
    padding-bottom: 2vw;
  }

  #time_input_wrapper{
    font-size: 2.8vw;
  }

  #time_to{
    font-size: 2.8vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding: .8vw;
    padding-left:0;
    padding-right: 0;
  }

  #dnd_icon{
    height: 15vw;
    margin-left: 14vw;
  }

  #dnd_desc{
    margin: 2.5vw;
    margin-bottom: 7vw;
    margin-right: 3vw;
    width: 47.8vw;
    margin-left: 4vw;
    font-size: 3vw;
  }

  #dnd_btn{
    padding: 1vw;
    margin: auto;
    margin-bottom: 3.5vw;
    width: 14vw;
    font-size: 3.4vw;
  }

}
