#container{
}

#container_blur{
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#container_2{
}

#container_2_blur{
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#container_3{
}

#container_3_blur{
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#edit_profile_personal_container{

}

#edit_profile_personal_container_blur{
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#tab{
  border-radius: 8px;
}

#tab_blur{
  border-radius: 8px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

.container{
}

.container_blur{
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#overlay_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#overlay_hide{
  display: none;
}


#edit_profile_container{
  background-color: #fcfcfc;
  padding: 25px;
  max-width: 800px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.section_title{
  font-size: 13pt;
  color: #525250;
}

.section{
  margin-bottom: 20px;
  overflow: hidden;
}

#prof_image{
  height: 120px;
  width: 120px;
}

#prof_img_holder{
  float: left;
  cursor: pointer;
  position: relative;
  margin-right: 25px;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

#prof_img_holder:hover #prof_img_edit_icon{
  opacity: 1;
}

#prof_img_edit_icon{
  /*position: absolute;
  bottom: 2px;
  right: 2px;
  height: 20px;
  opacity: 0;
  transition: 350ms ease-in-out;*/
  position: absolute;
  bottom: -5px;
  height: 20px;
  opacity: 0;
  transition: 350ms ease-in-out;
  font-size: 7pt;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  width: 100%;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

#prof_info_holder{
  width: 100%;
}

.input{
  width: 100%;
  font-size: 10pt;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  border: 1px solid #b6b7b7;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-right: 28px;
  -webkit-appearance: none;
}

.input:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

.input:focus + .edit_icon_input{
  opacity: 0;
}

#job_field_no_edit{
  width: 100%;
  color: #323230;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}

#job_field{
  width: 69.8%;
  color: #323230;
  padding: 9.6%;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float: left;
  cursor: pointer;
}

#job_arrow_drop{
  width: 10%;
  float: left;
  border: 1px solid #b6b7b7;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  cursor: pointer;
  background-color: #ddd;
}

#select_drop_down_btn{
  height: 12px;
  padding: 7.6px;
  padding-left: 8px;
  padding-right: 8px;
}

#job_container{
  clear: both;
  position: absolute;
  overflow: hidden;
  transition: 350ms ease-in-out;
  width: 99.9%;
  z-index: 5;
  top: 29px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.category_items{
  font-size: 8pt;
  padding: 5px;
  border-left: 1px solid #b6b7b7;
  border-right: 1px solid #b6b7b7;
  padding-left: 9.8%;
  cursor: pointer;
  background-color: #fcfcfc;
}

.input_name{
  color: #525250;
  font-size: 9pt;
  margin-bottom: 5px;
  transition: 350ms ease-in-out;
}

#first_name{
  position: relative;
  width: 47.5%;
  margin-right: 5%;
  float: left;
}

#last_name{
  position: relative;
  width: 47.5%;
  float: left;
}

#trade{
  position: relative;
  width: 47.5%;
  margin-right: 5%;
  float: left;
}

#company_name{
  position: relative;
  width: 47.5%;
  float: left;
}

#email{
  position: relative;
  width: 47.5%;
  margin-right: 5%;
  float: left;
}

#mobile_number{
  position: relative;
  width: 47.5%;
  float: left;
}

#office_number{
  position: relative;
  width: 30%;
  float: left;
}

#sub_category{
  width: 97.6%;
  margin-bottom: 10px;
  padding: 1%;
  padding-top: 0px;
  padding-bottom: 7px;
  border: 1px solid #b6b7b7;
  border-radius: 3px;
  overflow: hidden;
}

.categories_item{
  font-size: 10pt;
  color: #525250;
  float: left;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.edit_icon_input{
  position: absolute;
  bottom: 19;
  right: 8;
  height: 12px;
  opacity: 1;
  transition: 350ms ease-in-out;
}

#about_you_text_area{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 3px;
  padding: 10px;
  font-size: 10pt;
  border: 1px solid #b6b7b7;
  resize: none;
  color: #525250;
}

#about_you_text_area:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

#about_you_text_area:focus + .edit_icon_input{
  opacity: 0;
}

.shadowed_section{
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fcfcfc;
  border: 1px solid #b6b7b7;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  overflow:auto;
}

.note{
  font-size: 8pt;
  font-style: italic;
  color: #727270;
}

#pre_defined_skills_note{
  margin-bottom: 10px;
}

.pre_skills{
  border-radius: 3px;
  float: left;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #eaeaea;
}

.pre_skill_chk{
  padding: 5px;
  padding-left: 8px;
  padding-right: 0;
  float: left;
}

.pre_skill_name{
  display: inline;
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 15px;
  float: left;
  text-align: center;
  color: #525250;
  font-size: 9pt;
}

#new_skill{
  font-size: 10pt;
  padding: 8px;
  padding-left: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #b6b7b7;
  background-color: #f8f8f8;
  float: left;
  border-right: none;
  margin: 0;
}

#new_skill:focus{
  outline: none;
  border: 1px solid #50b6e8;
  border-right: none;
}

#add_skill_btn{
  float: left;
  text-align: center;
  border-left: none;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 10pt;
  background-color: #292c38;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #292c38;
}

#add_skill_error{
  opacity: 0;
  color: #F27072;
  font-size: 9pt;
  float: right;
  padding-top: 6px;
  margin-left: 15px;
  transition: 350ms ease-in-out;
}

.added_skill{
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  background-color: #eaeaea;
  overflow: hidden;
  border-radius: 3px;
}

.added_skill_name{
  display: inline;
  text-align: center;
  padding: 8.5px;
  padding-left: 5px;
  padding-right: 15px;
  float: left;
  color: #525250;
  font-size: 9pt;
}

.delete_added_skill{
  float: left;
  padding: 12px;
  padding-right: 3px;
  cursor: pointer;
}

#time_note{
  overflow: hidden;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 325px;
}

#location{
  font-size: 10pt;
  padding: 8px;
  padding-left: 15px;
  border-right: none;
  float: left;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #b6b7b7;
}

#location:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

#location:focus + .edit_icon_input{
  opacity: 0;
}

#rw_edit_cost{
  font-size: 12pt;
  float: left;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b6b7b7;
  padding: 5;
  padding-left: 20px;
  padding-right: 20px;
  width: 145px;
  text-align: right;
}

#rw_edit_cost:focus{
  outline: none;
}

#rw_edit_cost:focus + .rw_edit_icon{
  opacity: 0;
}

#location_img{
  position: absolute;
  top: 0;
  right: 0;
  padding: 8.5px;
}

#location_note{
  overflow: hidden;
  text-align: justify;
  min-width: 280px;
}

#add_more_btn{
  border-radius: 5px;
  border: 1px solid #999;
  display: inline;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
  cursor: pointer;
  font-size: 10pt;
  display: inline-table;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#add_more_container{
  height: 150px;
  width: 250px;
  float: left;
  margin: 10px;
  position: relative;
}

#rw_add_more_container{
  float: left;
  height: 200px;
  width: 200px;
  margin: 8px;
  border: 2px dashed #b6b7b7;
  cursor: pointer;
  border-radius: 5px;
}

#rw_container{
  height: 150px;
  width: 250px;
  float: left;
  margin: 10px;
  position: relative;
}

#rw_bg{
  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  position: relative;
  border-radius: 0px;
  box-shadow: 0px 0 2px rgba(0,0,0,.3), inset 0px 1000px 10px rgba(0,0,0,.6);
}

#add_recent_works_active{
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 500ms ease-in-out;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
}

#add_recent_works_hide{
  height: 0;
  padding: 0;
  border: 0;
  transition: 500ms ease-in-out;
  clear: both;
}

.rw_title{
  background-color: transparent;
  border: none;
  width: 60%;
  margin-left: 70px;
  font-size: 10pt;
  padding: 5px;
  margin-bottom: 5px;
}

.rw_title:focus{
  outline: none;
}

.rw_description{
  width: 100%;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  font-size: 10pt;
  padding: 5px;
  padding-top: 0;
  resize: none;
}

.rw_description:focus{
  outline: none;
}

.rw_btn_save{
  float: right;
  padding: 5.5px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #292c38;
  border-radius: 3px;
  background-color: #292c38;
  color: #fff;
  font-family: lato-thin;
  font-size: 9pt;
  margin-top: 16px;
  cursor: pointer;
}

.rw_btn_add_photo{
  float: right;
  padding: 5.5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #585858;
  border-radius: 3px;
  margin-right: 30px;
  font-family: lato-thin;
  font-size: 9pt;
  margin-top: 16px;
  cursor: pointer;
  color: #525250;

}

#gallery_section{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px dashed #b6b7b7;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  overflow: auto;
}

#text{
  text-align: center;
  font-size: 11pt;
  color: #aaa;
  margin-top: 5px;
}

#add_image_centered{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 116px;
  margin-left: auto;
  margin-right: auto;
}

#add_image_float{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 140px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

#select_files_btn{
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
  cursor: pointer;
  color: #aaa;
  font-size: 11pt;
}

.gallery_image{
  height: 102px;
  width: 102px;
  float: left;
  margin: 10px;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  box-shadow: 0px 0 2px rgba(0,0,0,.3);
  position: relative;
}

.rw_gallery_image{
  height: 60px;
  width: 80px;
  float: left;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  box-shadow: 0px 0 2px rgba(0,0,0,.3);
  position: relative;
}

.rw_gallery_image:hover .delete_gallery_image_shadow_box{
  opacity: 1;
}

.gallery_img_delete_icon{
  margin: 36px;
  height: 30px;
  cursor: pointer;
}

.gallery_image:hover .delete_gallery_image_shadow_box{
  opacity: 1;
}

.delete_gallery_image_shadow_box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.55);
  opacity: 0;
  transition: 350ms ease-in-out;
}

.sml_container{
  display: block;
  width: 47.5%;
  height: 28px;
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
}

.sml_container_right{
  margin-right: 5%;

}

.sml_name{
  color: #555;
  float: left;
  margin-top: 5px;
  font-size: 10pt;
  width: 80px;
}

.sml_input{
  width: 100%;
  font-size: 9pt;
  padding: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #b6b7b7;
  -webkit-appearance: none;
}

.sml_input:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

.sml_input:focus + .edit_icon_input{
  opacity: 0;
}

#save_btn{
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  background-color: #292c38;
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 11pt;
  color: #fff;
  margin-top: 30px;
}

#edit_rw_overlay{
  opacity: 0;
  position: fixed;
  width: 660px;
  left: 50%;
  margin-left: -360px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px #555;
  z-index: 100;
  transition: 350ms ease-in-out;
  padding: 30px;
  border-radius: 8px;
}

#edit_rw_overlay_2, #edit_rw_overlay_3{
  opacity: 0;
  position: fixed;
  width: 520px;
  left: 50%;
  margin-left: -260px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px #555;
  z-index: 100;
  transition: 350ms ease-in-out;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.edit_rw_img_bg{
  height: 200px;
  width: 200px;
  float: left;
  margin: 10px;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  box-shadow: 1px 0 1px 0 #bbb;
  position: relative;
}

.rw_cover_pic_choice{
  cursor: pointer;
  background-color: rgba(0,0,0,.4);
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 7px;
  display: inline;
  text-align: center;
  color: #fff;
  font-size: 9pt;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#input_rw_edit_title{
  width: 100%;
  font-size: 14pt;
  color: #525250;
  background-color: transparent;
  border: none;
  padding: 10px;
}

#input_rw_edit_title:focus{
  outline: none;
}

#input_rw_edit_title:focus + .rw_edit_icon{
  opacity: 0;
}


#input_rw_edit_description{
  width: 100%;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  font-size: 13pt;
  padding: 10px;
  resize: none;
  color: #727270;
  font-family: lato-thin;
}

#input_rw_edit_description:focus{
  outline: none;
}

#input_rw_edit_description:focus + .rw_edit_icon{
  opacity: 0;
}


.rw_edit_icon{
  height: 16px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  opacity: 1;
  transition: 350ms ease-in-out;
}

.edit_rw_btn{
  float: right;
  width: 200px;
  font-size: 11pt;
  border: 1px solid #b6b7b7;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

#rw_edit_save{
  color: #fff;
  background-color: #7dc469;
  border: 1px solid #7dc469;
}

#rw_edit_cancel{
  margin-right: 30px;
  color: #525250;
}

.company_fields{
  width: 49.5%;
  float: left;
  position: relative;
}

.job_tab{
  float: left;
  font-size: 13pt;
  color: #555;
  background-color: #f6f6f6;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  font-family: lato;
  text-align: center;
  font-size: 14pt;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  float: left;
  margin-right: 25px;
  margin-top: 1px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
  float: left;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#pop_overlay{
  border-radius: 10px;
  opacity: 1;
  position: fixed;
  width: 460px;
  left: 50%;
  margin-left: -230px;
  height: 260px;
  top: 50%;
  margin-top: -130px;
  background-color: #eee;
  box-shadow: 0px 3px 10px #555;
  z-index: 100;
  transition: 350ms ease-in-out;
}

#profile_name{
  color: #333;
  font-size: 14pt;
  margin-top: 2px;
}

.profile_details{
  font-size: 12pt;
  margin-top: 2px;
}

#profile_details_wrapper{
  margin-bottom: 10px;
  margin-right: 120px;
  margin-top: -5px;
  margin-left: -5px;
}

#prof_img_edit_icon_image{
  height: 10px;
  margin-right: 5px;
}

.skill_checkbox_image{
  height: 20px;
  float: left;
}

.add_skills_wrapper{
  overflow: hidden;
  margin-top: 20px;
}

.add_skills_text{
  color: #525250;
  font-size: 11pt;
  float: left;
}

.add_skills_note{
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}

.added_skill_wrapper{
  margin-top: 5px;
}

.delete_added_skill_image{
  height: 8px;
}

.time_input_wrapper{
  float: left;
  margin-top: 27.5px;
  margin-right: 20px;
  position: absolute;
  font-size: 11pt;
}

.time_input_to{
  font-size: 10pt;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  padding-left:0;
  padding-right: 0;
}

#time_input_invi{
  margin-top: 27.5px;
  margin-right: 20px;
  height: 29px;
  width: 351.344px;
  float: left;
}

#rw_wrapper{
  margin-left: -10px;
  margin-right: -10px;
}

#rw_title_text{
  color: #525250;
  font-size: 11pt;
}

#rw_description_text{
  float: left;
  margin-bottom: 10px;
  color: #525250;
  font-size: 11pt;
  margin-right: 32.5px;
}

#rw_description_wrapper{
  overflow: hidden;
  margin-right: 20px;
}

#rw_add_photo_icon{
  height: 12px;
  position: relative;
  top: 1px;
  margin-right: 8px;
}

#rw_btn_save_icon{
  height: 12px;
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.rw_box_title{
  color: #fff;
  font-size: 15pt;
  width: 100%;
}

.rw_box_desc{
  color: #fff;
  font-size: 10pt;
  word-break:break-all;
  margin-top: 5px;
}

.rw_box_text_wrapper{
  padding: 20px;
  padding-top: 25px;
}

.rw_box_btn_edit{
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 45px;
  cursor: pointer;
}

.rw_box_btn_delete{
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 12px;
  cursor: pointer;
}

.delete_gallery_image_shadow_box_icon{
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

#add_more_icon{
  height: 15px;
  margin-right: 5px;
  position: relative;
  top: 2.5px;
  float: left;
}

#gallery_drop_image_text{
  display: block;
}

#sml_wrapper{
  margin-top: 15px;
  margin-bottom: 0;
}

#new_rw{
  margin-left: 10px;
  margin-right: 10px;
}

.rw_add_more_container_icon{
  height: 25px;
  position: relative;
  margin-bottom: 5px;
}

.rw_cover_pic_choice_icon{
  height: 15px;
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.delete_rw_edit_image_icon{
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#edit_rw_btn_wrapper{
  text-align: center;
  clear: both;
  overflow: hidden;
  margin-top: 20px;
}

#location_error{
  color: #F27072;
  opacity: 0;
  transition: 350ms ease-in-out;
  margin-bottom: 5px;
}

.sub_category_check_box{
  height: 20px;
  position: relative;
  top: 0;
  float: left;
}

#tradesman_profile_input_wrapper{
  overflow: hidden;
  margin: 6px;
  margin-top: 11px;
}

#job_field_wrapper{
  margin-left: 8px;
  margin-right: 8px;
}

#edit_icon_location{
  bottom: 12;
}

#edit_icon_about_you{
  bottom: 28;
}

#mobile_buttons{
  display: none;
}

#non_mobile_buttons{
  display: block;
}

.error_strings{
  opacity: 1;
  font-size: 9pt;
  position: relative;
  transition: 500ms ease-in-out;
  color: #F27072;
  margin-top: 8px;
  float: right;
  margin-top: 3px;
}

#mobile_number_input{
  padding-left: 22px;
  width: 100%;
}

#predefined_area_code{
  color: #929290;
  font-size: 10pt;
  position: absolute;
  top: 26px;
  left: 5px;
  opacity: 0;
  transition: 100ms ease-in-out;
}

#crop_image_overlay{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#crop_image_overlay_hide{
  display: none;
}

#crop_pop_up{
  position: absolute;
  width: 50%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px rgba(0,0,0,.4);
  z-index: 100;
  transition: 350ms ease-in-out;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 25px;
  font-family: lato;
  color: #525250;
}

#pop_up_btn_container_crop{
  text-align: right;
  margin-top: 20px;
}

.pop_up_btn{
  float: left;
  text-align: center;
  width: 150px;
  border-radius: 4px;
  border: 1px solid #525250;
  padding: 8px;
  font-size: 10pt;
  cursor: pointer;
}

#cancel_btn{
  margin-right: 30px;
}


@media all and (max-width: 920px){
  #profile_details_wrapper{
    margin-bottom: .5vw;
    margin-right: .5vw;
    margin-left: 0;
    margin-top: 0;
  }
}

@media all and (max-width: 800px){

  #cancel_btn{
    margin-right: 5vw;
  }

  #crop_pop_up{
    width: 85%;
    padding: 5%;
  }

  #pop_up_btn_container_crop{
    text-align: right;
    margin-top: 20px;
  }

  .pop_up_btn{
    width: 18vw;
    border-radius: 3px;
    padding: 1vw;
    font-size: 2.8vw;
  }


  #edit_profile_container{
    padding: 4%;
  }

  #prof_image{
    height: 25vw;
    width: 25vw;
  }

  #prof_img_holder{
    margin-right: 3.5vw;
    margin-bottom: 2.2vw;
  }

  #profile_name{
    font-size: 4vw;
    margin-top: .5vw;
  }

  .profile_details{
    font-size: 3.1vw;
    margin-top: .5vw;
  }

  #profile_details_wrapper{
    margin-bottom: .5vw;
    margin-right: .5vw;
    margin-left: 0;
    margin-top: 0;
  }

  #prof_img_edit_icon{
    height: 4vw;
    padding: 1vw;
    padding-left: 0;
    padding-right: 0;
    font-size: 2vw;
  }

  #prof_img_edit_icon_image{
    height: 1.8vw;
    margin-right: 1.5vw;
  }

  .section_title{
    font-size: 3.3vw;
  }

  #about_you_text_area{
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    font-size: 2.7vw;
    -webkit-appearance: none;
  }

  .shadowed_section{
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    padding: 3.5vw;
  }

  #pre_defined_skills_note{
    font-size: 2.2vw;
    margin-bottom: 1.5vw;
  }

  .pre_skill_name{
    font-size: 3vw;
    padding: 1.5vw;
    padding-left: .5vw;
    padding-right: 2vw;
  }

  .pre_skill_chk{
    padding: 1vw;
    padding-left: 1.5vw;
    padding-right: 0;
  }

  .skill_checkbox_image{
    height: 4.4vw;
  }

  .add_skills_wrapper{
    margin-top: 2vw;
  }

  .add_skills_text{
    font-size: 2.8vw;
  }

  .note{
    font-size: 2.2vw;
  }

  .add_skills_note{
    margin-top: .4vw;
  }

  .added_skill_wrapper{
    margin-top: 1vw;
  }

  #new_skill{
    font-size: 2.8vw;
    padding: 1.6vw;
    padding-left: 2.5vw;
    -webkit-appearance: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }

  #add_skill_btn{
    font-size: 2.8vw;
    padding: 1.57vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

  #add_skill_error{
    font-size: 2.1vw;
    margin-left: 1vw;
  }

  .added_skill_name{
    font-size: 3vw;
    padding: 1.6vw;
    padding-left: .8vw;
    padding-right: 2.3vw;
  }

  .delete_added_skill{
    padding: 2.3vw;
    padding-right: .8vw;
  }

  .delete_added_skill_image{
    height: 2.2vw;
  }

  .time_input_wrapper{
    font-size: 2.8vw;
  }

  .time_input_to{
    font-size: 2.8vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding: 1.55vw;
    padding-left:0;
    padding-right: 0;
  }

  #time_note{
    width: 100%;
    min-width: 0;
  }

  #time_input_invi{
    width: 100%;
  }

  #location{
    font-size: 2.8vw;
    -webkit-appearance: none;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #location_note{
    overflow: visible;
    min-width: 0;
    clear: both;
  }

  #rw_wrapper{
    margin-left: -1.5vw;
    margin-right: -1.5vw;
  }

  .rw_title{
    width: 58%;
    font-size: 2.8vw;
    float: right;
    margin-right: 2vw;
  }

  .rw_description{
    font-size: 2.8vw;
  }

  #rw_title_text{
    font-size: 3vw;
  }

  #rw_description_text{
    font-size: 3.2vw;
  }

  #rw_description_wrapper{
    margin-right: 2vw;
    width: 58%;
    float: right;
  }

  .rw_btn_add_photo{
    font-size: 2.5vw;
    margin-right: 2vw;
    padding: 2vw;
    padding-right: 3vw;
    padding-left: 3vw;
  }

  #rw_add_photo_icon{
    height: 2.3vw;
    margin-right: 1.5vw;
  }

  .rw_btn_save{
    font-size: 2.5vw;
    padding: 2vw;
    padding-right: 3vw;
    padding-left: 3vw;
  }

  #rw_btn_save_icon{
    height: 2.3vw;
    margin-right: 1.5vw;
  }

  #rw_container{
    height: 28vw;
    width: 42.635vw;
    margin: 1.5vw;
  }

  .rw_box_title{
    font-size: 3.5vw;
  }

  .rw_box_desc{
    font-size: 2.8vw;
  }

  .rw_box_text_wrapper{
    padding: 2vw;
  }

  .rw_box_text_wrapper{
    padding: 2.3vw;
    padding-top: 2.5vw;
  }

  .rw_box_btn_edit{
    height: 3.5vw;
    bottom: 1vw;
    right: 7vw;
  }

  .rw_box_btn_delete{
    height: 3.5vw;
    bottom: 1vw;
    right: 1.3vw;
  }

  .rw_gallery_image{
    height: 10vw;
    width: 15vw;
  }

  .delete_gallery_image_shadow_box_icon{
    height: 8vw;
    margin-top: 1vw;
    margin-left: 3.5vw;
  }

  #add_more_container{
    height: 28vw;
    width: 42.635vw;
    margin: 1.5vw;
  }

  #add_more_btn{
    font-size: 2.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  #add_more_icon{
    height: 2.5vw;
    top: .3vw;
  }

  #gallery_drop_image_text{
    display: none;
  }

  #select_files_btn{
    padding: 1.5vw;
    padding-left: 0px;
    padding-right: 0px;
    margin: 1.5vw;
    margin-top: 8vw;
    margin-bottom: 8vw;
    font-size: 3vw;
    width: auto;
  }

  .gallery_image{
    height: 24.77vw;
    width: 24.77vw;
    margin: 1.5vw;
  }

  .gallery_img_delete_icon{
    height: 8vw;
    margin: 8.385vw;
  }

  #gallery_section{
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    padding: 1.5vw;
    clear: both;
    border: 1px dashed #b6b7b7;
  }

  #add_image_float{
    margin-top: 2.43vw;
    margin-bottom: 2.43vw;
    width: 24.77vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  #add_image_centered{
    width: 22.47vw;
  }

  #sml_wrapper{
    width: 90%;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 2.5vw;
  }

  .sml_container{
    width: 100%;
    margin-bottom: 2.5vw;
    height: auto;
  }

  .sml_name{
      font-size: 3vw;
      width: 15vw;
  }

  .sml_input{
    padding-top: .8vw;
    font-size: 2.8vw;
    padding-bottom: .8vw;
    margin-bottom: .1vw;
  }

  #save_btn{
    margin-top: 2.5vw;
    font-size: 3.2vw;
    width: 65vw;
    padding: 2vw;
  }

  #new_rw{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  #add_recent_works_active{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  #edit_rw_overlay{
    position: fixed;
    width: 85%;
    left: 50%;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 5%;
  }

  #edit_rw_overlay_2, #edit_rw_overlay_3{
    position: fixed;
    width: 85%;
    left: 50%;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 5%;
  }


  #rw_add_more_container{
    width: 26.5vw;
    height: 26.5vw;
    font-size: 3vw;
    margin: .8vw;
  }

  .rw_add_more_container_icon{
    height: 4.5vw;
    position: relative;
    margin-bottom: 1vw;
  }

  .edit_rw_img_bg{
    height: 26.5vw;
    width: 26.5vw;
    margin: .8vw;
  }

  .rw_cover_pic_choice{
    font-size: 2vw;
  }

  .rw_cover_pic_choice_icon{
    height: 2.5vw;
    top: .3vw;
    margin-left: .5vw;
  }

  .delete_rw_edit_image_icon{
    height: 5vw;
    top: 1.5vw;
    right: 1.5vw;
  }

  .edit_rw_btn{
    width: 20vw;
    font-size: 2.8vw;
    padding: 1.5vw;
  }

  #rw_edit_cancel{
    margin-right: 5vw;
  }

  #edit_rw_btn_wrapper{
    margin-top: 5vw;
  }

  .rw_edit_icon{
    height: 3vw;
    bottom: 1.6vw;
  }

  #input_rw_edit_title{
    font-size: 4vw;
    padding: 1vw;
  }

  #input_rw_edit_description{
    font-size: 4vw;
    padding: 1vw;
  }

  #location_error{
    margin-bottom: .8vw;
  }

  .input_name{
    font-size: 2.5vw;
    margin-bottom: .5vw;
  }

  .input{
    font-size: 2.8vw;
    margin-bottom: 1vw;
    padding: 1.2vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .categories_item{
    font-size: 3vw;
    text-align: left;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .sub_category_check_box{
    height: 4vw;
  }

  #sub_category{
    width: auto;
    margin-bottom: 10px;
    padding: 1%;
    padding-top: 0px;
    padding-bottom: 7px;
  }

  .edit_icon_input{
    bottom: 3vw;
    right: 1.5vw;
    height: 2.6vw;
  }

  #tradesman_profile_input_wrapper{
    margin: .8vw;
    margin-top: 2vw;
  }

  #job_field_wrapper{
    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  #edit_icon_location{
    bottom: 1.5vw;
  }

  #edit_icon_about_you{
    bottom: 3.6vw;
  }

  #mobile_buttons{
    display: block;
  }

  #non_mobile_buttons{
    display: none;
  }

  #select_drop_down_btn{
    height: 3vw;
    padding: 1.2vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
  }

  #job_arrow_drop{
    width: auto;
  }

  #job_field{
    width: 40vw;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  #job_container{
    width: 49.99vw;
    top: 5.69vw;
  }

  .category_items{
    font-size: 2.4vw;
    padding: .8vw;
    padding-left: 2vw;
  }

  .job_tab{
    font-size: 4vw;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
  }

  #job_field_no_edit{
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .error_strings{
    font-size: 2.5vw;
    margin-top: 1.4vw;
  }

  #mobile_number_input{
    padding-left: 4vw;
  }

  #predefined_area_code{
    font-size: 2.8vw;
    top: 5.1vw;
  }

}
