#tradesmen_container{
  width: 100%;
  background-color: #282828;
}

#tradesmen_container_blurred{
  width: 100%;
  background-color: #282828;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#faded_img{
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  transition: 650ms;
  z-index: 2;
}

#sticky_img{
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#top_image{
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  height: 100%;
  width:100%;
  position: fixed;
  z-index: 1;
}

#image_shadow{
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 box-shadow: inset 100000px 100000px 10px rgba(0,0,0,.32);
 z-index: 2;
}

#initial_msg{
  color: #fff;
  font-family: lato;
  position: absolute;
  z-index: 3;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  font-size: 2.2vw;
  text-align: center;
}

#initial_msg_opening_msg{
  line-height: 3.3vw;
}

#opening_question{
  font-family: lato;
  font-size: 1.7vw;
  margin-top: 20px;
  text-align: center;
}

#find_tradesman_btn{
 background-color: #f08506 ;
 border-radius: 3px;
 overflow: hidden;
 display: inline-block;
 text-align: center;
 padding: 13px;
 padding-right: 16px;
 padding-left: 16px;
 margin-top: 40px;
 cursor: pointer;
}

#widget{
  background-color: #fff;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2vw;
  font-family: lato;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  right: 0;
  bottom: 25%;
  z-index: 3;
  overflow: hidden;
  text-align: center;
  color: #626260;
  transition: 350ms ease-in-out;
}

#w_view_more{
  font-family: lato-thin;
  font-size: .9vw;
  text-align: right;
  padding-top: 5px;
}

.w_b_t_image{
  height: 5vw;
  width: 5vw;
  border-radius: 100000px;
  padding: 3px;
  cursor: pointer;
  position: relative;
  top: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,.35);
}

/*.w_b_t_image:hover{
  box-shadow: 0 0 8px rgba(0,0,0,.5);
}*/

.w_b_t_name{
  margin-top: 10px;
  font-size: 1.1vw;
}

.w_b_t_job{
  margin-top: 5px;
  font-family: lato-thin;
  color: #8a8a8a;
  font-size: 1.05vw;
}

.w_b_t_container{
  float: left;
  padding-left: .9vw;
  padding-right: .9vw;
}

.btn_icon{
  float: left;
  margin-right: 15px;
  height: 2vw;
}

.btn_text{
  font-family: lato;
  float: left;
  font-size: 1.1vw;
  align-content: center;
  /*position: relative;*/
  top: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#fixed_box{
  position: absolute;
  z-index: 1;
  width: 100%;
}

#float_box{
  width: 100%;
  position: relative;
}

#white_box{
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  position: relative;
}

#question{
  width: 100%;
}

.tradesmen_question{
 font-family: lato-light;
 text-align: center;
 color: #525250 ;
 font-size: 1.6vw;
 margin: 20px;
 margin-bottom: 0;
}

#category_container{
  width: 91.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 70px;
  overflow: hidden;
}

.category_box{
  float: left;
  margin: .28%;
  width: 19.44%;
  height: 16vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  cursor: pointer;
  box-shadow: inset 0px 10000000px 5px rgba(0,0,0,.4);
}

.category_box:hover{
  box-shadow: inset 0px 1000000px 5px rgba(0,0,0,.7);
}

.category_box:hover .category_title{
  font-size: 1.7vw;
}

.category_title{
  color: #fff;
  font-size: 1.4vw;
  font-family: lato;
  text-align: center;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  transition: 150ms ease-in-out;
}

.hr_divider{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-top: .1px solid #e0dede;
}

#home_content_container{
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 60px;
  max-width: 1100px;
}

.landing_page_img{
  width: 47.5%;
  float: left;
}

.landing_page_text{
  width: 50%;
  float: left;
  color: #525250;
  font-size: 1.4vw;
  line-height: 2.2vw;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: lato-light;
}

.landing_page_text_wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 13%;
  padding-right: 13%;
}

.learn_more_btn{
  font-family: lato-thin;
  font-size: 1.2vw;
  margin-top: 20px;
  padding: .4vw;
  padding-left: 1.4vw;
  padding-right: 1.4vw;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  background-color: #f08821;
}

.learn_more_btn:hover{
  background-color: #fc974c;
}

.b_t_image{
  height: 7vw;
  width: 7vw;
  border-radius: 100000px;
  padding: 3px;
  cursor: pointer;
  position: relative;
  top: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,.35);
}

/*.b_t_image:hover{
  box-shadow: 0 0 8px rgba(0,0,0,.5);
}*/

.b_t_name{
  margin-top: 10px;
  font-size: 1.5vw;
}

.b_t_job{
  margin-top: 5px;
  font-family: lato-thin;
  color: #8a8a8a;
  font-size: 1.3vw;
}

.b_t_container{
  float: left;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.view_profile_btn{
  font-family: lato-thin;
  font-size: 10pt;
  margin-top: 10px;
  padding: 3px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #aaaaaa;
  color: #8a8a8a;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}

.content_section{
  overflow: hidden;
}

#homeowner_testimonials{
  background: url('./assets/images/landing_page_images/testimonials_bg_1.jpg') no-repeat center center scroll;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#temporary_widget{
  background: url('./assets/images/landing_page_images/temporary_bg.jpg') no-repeat center center scroll;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: lato-light;
  margin-top: 70px;
  height: 40vw;
}

#temporary_widget_content{
  position: absolute;
  z-index: 3;
  bottom: 2.5vw;
  right: 2.5vw;
  text-align: right;
}

#temporary_widget_hashtag{
  font-size: 1.8vw;
}

#temporary_widget_quote{
  font-size: 2.2vw;
}

#temporary_widget_subs{
  font-size: 1vw;
  float: right;
  margin-top: .8vw;
  margin-right: 1.2vw;
}

#temporary_widget_subs_container{
  margin-top: 1.3vw;
}

#temporary_widget_logo{
  float: right;
  height: 5vw;
  width: 5vw;
}

#tradesmen_testimonials{
  background: url('./assets/images/landing_page_images/testimonials_bg_2.jpg') no-repeat center center scroll;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.testimonials_content{
  z-index: 3;
  position: relative;
}

.testimonials{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  transition: 350ms ease-in-out;
}

.testimonials_item{
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  margin-bottom: 40px;
}

.testimonial_image{
  height: 6vw;
  width: 6vw;
  margin-left: 2vw;
  margin-right: 2vw;
  float: left;
  border-radius: 10000px;
}

.testimonial_name{
  color: #fff;
  font-family: lato-thin;
  font-size: 1.15vw;
  margin-top: 10px;
  font-weight: 900;
}

.testimonial_message{
  color: #fff;
  font-family: lato-thin;
  font-size: 1.05vw;
  overflow: hidden;
  margin-top: 10px;
}

.company_icons{
  height: 7.5vw;
  float: left;
  margin-left: 3vw;
  margin-right: 3vw;
  cursor: pointer;
}

.bottom_links{
  color: #e2e2e2;
  font-size: 1.1vw;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: lato-thin;
  cursor: pointer;
}

.s_m_icons{
  height: 1.7vw;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

#copyright{
  text-align: center;
  font-size: 1vw;
  clear: both;
  color: #e2e2e2;
  font-family:  lato-thin;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

#login{
  margin-top: 110px;
  width: 44%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0;
  transition: 250ms ease-in-out;
}

#sub_categories{
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  left: 50%;
  margin-left: -240px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100000;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 10px #555;
  transition: 300ms ease-in-out;
}

#sub_categories_title{
  padding: 13px;
  color: #fff;
  font-family: lato-thin;
  font-size: 14pt;
  text-align: center;
  background-color: #5d5e60;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;

}

#overlay{
  display: none;
}

#overlay_active{
  background-color: rgba(0,0,0, 0.5);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sub_cat_btn{
  font-family: lato;
  font-size: 12pt;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #ef8822;
  border-radius: 5px;
  padding: 8px;
  width: 240px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sub_categs{
  width: 50%;
  float: left;
  font-size: 12pt;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
}

.check_box{
  height: 20px;
  cursor: pointer;
  float: left;
  margin-right: 3px;
}

#sub_categs_container{
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

#time_container{
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  overflow: hidden;
}

#filter_1{
  opacity: 1;
  display: block;
  transition: 350ms ease-in-out;
}

#filter_1_hide{
  display: none;
}

#filter_2{
  opacity: 0;
  display: block;
  transition: 350ms ease-in-out;
}

#filter_2_hide{
  display: none;
}

.filter_2_btn{
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 11px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter_2_btn:hover{
  box-shadow: inset 0px 60px 5px rgba(0,0,0,.15);
}

#filter_2_hr{
  margin-left: auto;
  margin-right: auto;
}

#loading{
  display: none;
  opacity: 0;
  transition: 350ms ease-in-out;
}

#wait_text{
  position: absolute;
  bottom: 50px;
  color: #777;
  font-size: 20pt;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

#time_or{
  position: relative;
  background-color: #fff;
  top: -76px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

#time_icon{
  height: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

#time_directions{
  font-style: italic;
  font-size: 9pt;
  color: #787778;
}

#time_info{
  height: 12px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

#back_icon{
  position: absolute;
  height: 15px;
  left: 20px;
  top: 18px;
  cursor: pointer;
}

.time_container{
  display: inline-block;
  float:left;
  width: 140px;
  margin-top: 15px;
}

.time_box{
  border-radius: 4px;
  border: 1px solid #eaeaea;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  padding: 2.5px;
}

.time{
  float: left;
  font-size: 13pt;
  background-color: transparent;
  color: #525250;
  border: none;
  width: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #f9f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  -webkit-appearance: none;
}

.time:focus{
  outline: none;
}

.colon{
  float: left;
  background-color: transparent;
  color: #525250;
  font-size: 13pt;
  position: relative;
  top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}


.am_pm{
  font-size: 13pt;
  float: right;
  position: relative;
  top: 3px;
}

.am_pm_text{
  float: left;
  color: #727270;
  background-color: #f9f9fa;
  padding: 5px;
  padding-top: 0;
  border: 1px solid #e0e0e0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  font-size: 12pt;
  padding-left: 4px;
  padding-right;
}

.am_pm_button{
  float: left;
  cursor: pointer;
  height: 9px;
  padding: 8.5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #525250;
}

.drop-down{
  clear: both;
  height: 0;
  transition: height 500ms ease;
  overflow: hidden;
}

.option{
  font-size: 9.5pt;
  padding-top: 0px;
  padding-bottom: 3px;
  text-align: center;
  cursor: pointer;
  border-top: none;
  position: relative;
  width: 30px;
  background-color: #f9f9fa;
  border: 1px solid #e0e0e0;
  border-top: none;
  color: #a2a2a0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#time_box_containers{
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 77;
}

#time_to{
  float: left;
  margin-top: 11px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel{
    overflow:hidden;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slides{
    list-style:none;
    position:relative;
    width:400%; /* Number of panes * 100% */
    overflow:hidden; /* Clear floats */
        /* Slide effect Animations*/
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
    -moz-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    margin-top: 0;
}
.slides > li{
    position:relative;
    float:left;
    width: 25%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
    height: 100%;
    object-fit: cover;
}

#skip_and_search{
  background-color: #525250;
  margin-bottom: 5px;
}

.msg_title{
  margin-bottom: 1.6vw;
  color: #626260;
  font-size: 1.8vw;
  font-family: lato;
}

#second_content{
  margin-top: 6.5vw;
  position: relative;
}

.text_inside_image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
  color: #fff;
  font-size: 3vw;
  z-index: 3;
}

.text_inside_image_wrapper{
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6vw;
  margin-right: 6vw;
}

.image_shadow_inside_image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 100000px 100000px 10px rgba(0,0,0,.65);
  z-index: 2;
  display: none;
}

#best_tradesman_wrapper{
  text-align: center;
  margin-top: 25px;
  overflow: hidden;
  margin-bottom: 40px;
}

#best_contractor_wrapper{
  text-align: center;
  margin-top: 40px;
  overflow: hidden;
  margin-bottom: 40px;
}

@keyframes carousel{
    0%            { left:0%; }
    15.1666%      { left:0%; }
    16.6666%      { left:-100%; }
    31.8333%      { left:-100%; }
    33.3333%      { left:-200%; }
    48.5%         { left:-200%; }
    50%           { left:-300%; }
    65.1666%      { left:-300%; }
    66.6666%      { left:-200%; }
    81.8333%      { left:-200%; }
    83.3333%      { left:-100%; }
    98.5%         { left:-100%; }
    100%          { left:0%; }
}

#time_error{
  clear: both;
  text-align: center;
  color: #F27072;
  margin-top: 5px;
  font-size: 9.5pt;
  font-family: lato;
  font-style: italic;
  opacity: 0;
  transition: 350ms ease-in-out;
}

@media all and (min-width: 1000px) {
  #initial_msg{
    font-size: 24pt;
  }

  #initial_msg_opening_msg{
    line-height:34pt;
  }

  .w_b_t_container{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .b_t_container{
    float: left;
    margin-left: 25px;
    margin-right: 25px;
  }

  .msg_title{
    font-size: 14pt;
    margin-bottom: 22px;
  }

  .landing_page_text{
    font-size: 13pt;
    line-height: 18pt;
  }

  .learn_more_btn{
    font-size: 12pt;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.see_more{
  position: absolute;
  bottom: 4vw;
  font-size: 2.5vw;
  color: #fff;
  font-family: lato;
  font-style: italic;
  right: 4vw;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 800px) {
    #widget{
      display: none;
    }

    .carousel{
      display: none;
    }
}

@media all and (max-width: 600px) {
  #initial_msg{
    font-size: 4.5vw;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #initial_msg_opening_msg{
    line-height: 5vw;
  }

  #opening_question{
    font-size: 4vw;
  }

  .btn_icon{
    height: 5.5vw;
  }

  .btn_text{
    font-size: 3.5vw
  }

  .category_box{
    width: 49%;
    margin: .5%;
    height: 40vw;
  }

  .category_title{
    font-size: 3vw;
  }

  .tradesmen_question{
    font-size: 5vw;
  }

  #category_container{
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 102%;
    margin-left: -1%;
    margin-right: -1%;
  }

  #float_box{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #sub_categories{
    width: 90%;
    transform: translateY(-50%) translateX(-50%);
    margin-left: 0;
  }

  #sub_categories_title{
    font-size: 4.5vw;
  }

  .sub_categs{
    font-size: 3.5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .check_box{
    height: 3.8vw;
  }

  .sub_cat_btn{
    font-size: 3.5vw;
    width: 70%;
  }

  #sub_categs_container{
    padding-left: 6vw;
    padding-right: 6vw;
  }

  #time_icon{
    height: 4.5vw;
  }

  #back_icon{
    height: 3vw;
  }

  #time_info{
    height: 2.5vw;
  }

  #time_directions{
    font-size: 2.5vw;
  }

  #time_or{
    display: none;
  }

  #skip_and_search{
    margin-bottom: 5vw;
  }

  .landing_page_text{
    display: none;
  }

  .landing_page_img{
    width: 100%;
  }

  #home_content_container{
    width: 92%;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  #second_content{
    margin-top: 5vw;
  }

  .msg_title{
    color: #fff;
    text-align: center;
    font-size: 4vw;
    margin-bottom: 3.5vw;
  }

  .text_inside_image{
    display: block;
  }

  .learn_more_btn{
    font-size: 3vw;
    margin-top: 3.5vw;
    padding: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
    border: 1px solid #fff;
    color: #fff;
  }

  .image_shadow_inside_image{
    display: block;
  }

  .b_t_container{
    width: 33.33%;
    margin: 0;
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
  }

  .b_t_image{
    height: 20vw;
    width: 20vw;
  }

  #best_tradesman_wrapper{
    margin-top: 3vw;
    margin-bottom: 4vw;
  }

  .b_t_name{
    font-size: 3vw;
  }

  .b_t_job{
    font-size: 3vw;
  }

  .company_icons{
    height: 30vw;
    margin: 10%;
    margin-top: 4.5vw;
    margin-bottom: 4.5vw;
    width: 30%;
  }

  #best_contractor_wrapper{
    margin-top: 3vw;
    margin-bottom: 4vw;
  }

  #homeowner_testimonials{
    background: none;
  }

  #tradesmen_testimonials{
    background: none;
  }

  .bottom_links{
    font-size: 3.5vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  .s_m_icons{
    height: 6vw;
  }

  #copyright{
    font-size: 2.5vw;
  }

  .testimonials{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 52vw;
  }

  .testimonials_item{
    width: 100%;
    margin-bottom: 6vw;
  }

  .testimonial_image{
    height: 20vw;
    width: 20vw;
    margin-right: 5vw;
  }

  .testimonial_name{
    font-size: 3.5vw;
  }

  .testimonial_message{
    font-size: 3vw;
  }

  .see_more{
    display: block;
  }

  #time_box_containers{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    left: 0;
  }

  .am_pm{
    top: 6px;
  }

  .time_container{
    width: 40%;
  }

  #time_to{
    width: 20%;
    padding-left: 0;
    padding-right: 0;
    font-size: 3vw;
  }

  .am_pm_text{
    font-size: 2.5vw;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  .am_pm_button{
    height: 2.5vw;
    padding-top: 4px;
    padding-bottom: 4.5px;
  }

  .colon{
    font-size: 4vw;
    margin-left: .5vw;
    margin-right: .5vw;
  }

  .option{
    width: 6.2vw;
    font-size: 2vw;
  }

  .time{
    font-size: 3vw;
    width: 7vw;
  }

  #temporary_widget{
    background: url('./assets/images/landing_page_images/temporary_mobile_bg.jpg') no-repeat center center scroll;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-family: lato-light;
    margin-top: 3vw;
    height: 60vw;
  }

  #temporary_widget_content{
    z-index: 3;
    bottom: 3.5vw;
    right: 4.5vw;
  }

  #temporary_widget_hashtag{
    font-size: 3.5vw;
    margin-bottom: .8vw;
  }

  #temporary_widget_quote{
    font-size: 4vw;
  }

  #temporary_widget_subs{
    font-size: 2.5vw;
    float: right;
    margin-top: 1.2vw;
    margin-right: 2vw;
  }

  #temporary_widget_logo{
    float: right;
    height: 12vw;
    width: 12vw;
  }
}
