#left_image{
  background: url('./assets/images/landing_page_images/img1.jpg') no-repeat center center scroll;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  height: 100%;
  width: 35%;
  float: left;
  position: fixed;
}

#left_image_not_fixed{
  min-height: 1px;
  width: 35%;
  float: left;
}

#shadow_box{
  width: 100%;
  height: 100%;
  box-shadow: inset 10000000px 10000000px 10px rgba(0,0,0,.3);
}

#right_text{
  padding-left: 75px;
  overflow: hidden;
}

#title{
  font-family: lato;
  margin-top: 80px;
  font-size: 2vw;
  letter-spacing: 1.2px;
  color: #323230;
  width: 95%;
}

#sub_title{
  width: 95%;
  font-family: lato-thin;
  margin-top: 20px;
  font-size: 1.7vw;
  color: #525250;
  margin-bottom: 15px;
}

.perks{
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.perk_image{
  height: 4.7vw;
  width: 4.7vw;
  border-radius: 100000px;
  background-color: #525250;
  text-align: center;
  float: left;
  clear: both;
  margin: .3vw;
  margin-left: 0;
}

.perk_icon{
  height: 1.75vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.perk_title{
  font-family: lato;
  font-size: 1.4vw;
  color: #323230;
}

.perk_description{
  font-family: lato-thin;
  font-size: 1.2vw;
  margin-top: 5px;
  color: #525250;
}

.perk_text{
  overflow: hidden;
  padding: .4vw;
  padding-left: 20px;
  padding-right: 0;
  color: #525250;
}

@media all and (max-width: 800px) {
  #left_image{
    display: none;
  }

  #right_text{
    width: 85%;
    margin: auto;
    padding-left: 0;
    height: auto;
  }

  #title{
    width: 100%;
    font-size: 3vw;
    margin-top: 70px;
  }

  #sub_title{
    width: 100%;
    font-size: 2.5vw;
    margin-bottom: 40px;
  }

  .perk_image{
    height: 7vw;
    width: 7vw;
  }

  .perk_icon{
    height: 3vw;
    margin-top: 1.75vw;
    margin-bottom: 1.75vw;
  }

  .perks{
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  .perk_title{
    font-size: 2vw;
  }

  .perk_description{
    font-size: 1.5vw;
  }
}

@media all and (max-width: 600px) {
  #right_text{
    width: 85%;
    margin-bottom: 30px;
  }

  #title{
    font-size: 5vw;
  }

  #sub_title{
    font-size: 4.5vw;
  }

  .perk_image{
    height: 11vw;
    width: 11vw;
  }

  .perk_icon{
    height: 5vw;
    margin-top: 2.75vw;
    margin-bottom: 2.75vw;
  }

  .perk_title{
    font-size: 4vw;
  }

  .perk_description{
    font-size: 3.5vw;
  }
}
