#login_container{
  background: url('./assets/images/page_specific_bg/signup_bg.png') no-repeat center center scroll;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  height: 100%;
  width: 100%;
}

#error_box{
  color: red;
  height: 13px;
  font-size: 8pt;
  margin-top: 2px;
}

#login_wrapper{
  width: 55%;
  max-width: 500px;
  top: 47.5%;
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  overflow: hidden;
  padding-top: 50px;
  transition: 350ms ease-in-out;
}

#login_box{
  margin: auto;
  overflow: hidden;
  padding-top: 50px;
  transition: 350ms ease-in-out;
}

#login_box_1{
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  padding: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
  transition: 350ms ease-in-out;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#login_header{
  color: #323230;
  font-size: 18pt;
}

#logo_container{
  height: 110px;
  width: 110px;
  border-radius: 10000px;
  background-color: #fcfcfc;
  position: absolute;
  top: -50px;
  right: 0;
}

#logo{
  width: 90px;
  margin: 10px;
  margin-top: 8px;
}

#login_content{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(252,252,252,.95);
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 25px;
  overflow: hidden;
}

.login_credentials{
  position: relative;
}

.label{
  color: #929290;
  font-size: 7pt;
  position: absolute;
  top: 6px;
  left: 10;
  z-index: 1;
  transition: 100ms ease-in-out;
  pointer-events: none;
}

.input{
  margin-bottom: 20px;
  position: relative;
  font-size: 12pt;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 5px;
  border: 1px solid #b6b7b7;
  border-radius: 4px;
  position: relative;
  background-color: rgba(252,252,252,.98);
  width: 100%;
  -webkit-appearance: none;
}

.input:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

.input:focus + .label{
  font-size: 7pt;
  top: 5px;
}

#login_remember{
  float:left;
  border-radius: 5px;
  width: 120px;
  text-align: right;
  font-size: 11pt;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  cursor: pointer;
  position: relative;
  color: #525250;
}

#check_box_ic{
  height: 23px;
  position: absolute;
  left: 0;
  top: 7px;
}

#login_forgot{
  font-style: italic;
  float: right;
  height: 30px;
  margin-top: 3%;
  color: #337ab7;
  font-size: 9pt;
  position: relative;
  font-family: lato-thin;
  margin-right: 2px;
}

.login_button{
  clear: both;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 14pt;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

#login{
  background-color: #8AC640;
}

#login_or{
  text-align: center;
  font-size: 8pt;
  font-family: lato-thin;
  font-style: italic;
  color: #525250;
}

#signup{
  background-color: #EF8822;
}

#forgot_password{
  opacity: 0;
  display: none;
  background-color: rgba(252,252,252,.95);
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  z-index: 100;
  transition: 350ms ease-in-out;
}

#forgot_title{
  text-align: center;
  margin: 20px;
  margin-bottom: 5px;
  color: #323230;
  font-size: 16pt;
}

#retrieve_password{
  margin-bottom: 10px;
  margin-top: 3%;
  background-color: #4CAF50;
  width: 70%;
  border-radius: 5px;
  text-align: center;
  margin-left: 15%;
  color: #ffffff;
  font-size: 12pt;
  padding-top: 8px;
  cursor: pointer;
  position: relative;
}

#go_to_login{
  color: #337ab7;
  font-size: 9pt;
  font-family: lato-thin;
  font-style: italic;
  margin-right: 17.5%;
  text-align: right;
  margin-bottom: 20px;
}

#forgot_error{
  opacity: 0;
  color: red;
  font-size: 7pt;
  text-align: center;
  margin-bottom: 5px;
  transition: 350ms ease-in-out;
}

@media all and (max-width: 900px) {
  #login_wrapper{
    width: 65%;
    max-width: none;
  }
}

@media all and (max-width: 600px) {
  #login_wrapper{
    width: 95%;
    max-width: none;
  }
