#container{
  width: 100%;
  height: 100%;
}

.bottom_links{
  color: #818285;
  font-size: 1.1vw;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: lato-thin;
  cursor: pointer;
}

.s_m_icons{
  height: 1.7vw;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

#copyright{
  text-align:
  center;
  font-size: 1vw;
  clear: both;
  color: #818285;
  font-family:  lato-thin;
  margin-top: 20px;
  margin-bottom: 5vw;
}

#banner_img{
  width: 100%;
  height: auto;
}

#top_image_banner{
  width: 100%;
  height: 30vw;
  position: relative;
  overflow: hidden;
  min-height: 220px;
}

#image_shadow{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 100000px 100000px 10px rgba(0,0,0,.45);
  z-index: 2;
}

#image_shadow_3{

}

.image_shadow_2{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 100000px 100000px 10px rgba(0,0,0,.55);
  z-index: 2;
  margin: 2vw;
  opacity: 0;
  transition: 350ms ease-in-out;
}

#initial_msg{
  color: #fff;
  font-family: lato-thin;
  position: absolute;
  z-index: 4;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  top: 60%;
  transform: translateY(-50%);
  font-size: 3vw;
  text-align: center;
}

#opening_question{
  font-family: lato-thin;
  font-size: 1.4vw;
  margin-top: 1.2vw;
}

#our_team_image_container{
  width: 70%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  margin-top: 5vw;
  max-width: 1000px;
}

#about_us_container{
  width: 70%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  margin-top: 5vw;
  font-size: 1.3vw;
  line-height: 2vw;
  font-family: lato-thin;
  color: #494949;
}

#contact_us_wrapper{
  width: 70%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  margin-top: 38px;
  font-size: 1.6vw;
  font-family: lato-thin;
  color: #494949;
  position: relative;
  z-index: 4;
  transform: translateY(-132px);
}

.our_team_images{
  width: 33.333333333333334%;
  display: inline-block;
}

.member_image{
  width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.member_image_wrapper{
  padding: 2vw;
  position: relative;
}

.member_details{
  width: 70%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 5;
  color: #fff;
  opacity: 0;
  transition: 350ms ease-in-out;
}

.member_name{
  font-size: 1.8vw;
  font-family: lato;
}

.member_position{
  font-size: 1.2vw;
  margin-top: .6vw;
  margin-bottom: .6vw;
  font-family: lato-thin;
}

.social_media_link_container{
  text-align: center;
  margin-top: .6vw;
  width: 100%;
}

.social_media_link_wrapper{
  display: inline-block;
}

.member_social_media{
  width: 2.5vw;
  margin-left: .5vw;
  margin-right: .5vw;
  cursor: pointer;
}

.member_image_wrapper:hover .image_shadow_2{
  opacity: 1;
}

.member_image_wrapper:hover .member_details{
  opacity: 1;
}

#privacy_policy_container{
  width: 100%;
  margin: auto;
  max-width: 800px;
  color: #494949;
  font-family: lato-thin;
  font-size: 10pt;
  margin-top: 70px;
}

#privacy_policy_padding{
  padding: 30px;
}

#privacy_policy_title{
  font-size: 25pt;
  color: #454545;
  margin-bottom: 5px;
  font-family: lato-thin;
}

#privacy_policy_title_wrapper{
  width: 100%;
}

.privacy_policy_list{
  margin-left: 35px;
}

.privacy_policy_list_title{
  font-size: 12pt;
  font-family: lato;
  margin-bottom: 3px;
}

.privacy_policy_list_content{
  margin-top: 5px;
  margin-bottom: 5px;
}

.numbered{
  list-style-type: upper-alpha;;
}

#initial_msg_contact_us{
  color: #fff;
  font-family: lato;
  position: absolute;
  z-index: 4;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.2vw;
  text-align: center;
}

#contact_us_right_box{
  padding: 1.1vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  text-align: center;
  font-size: 1.2vw;
  font-family: lato-thin;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;

}

#contact_us_right_box_title{
  font-size: 1.5vw;
  font-family: lato;
  margin-bottom: .8vw;
}

.contact_us_right_box_contact{
  font-size: 1vw;
  margin-bottom: .4vw;
}

.contact_us_right_box_address{
  margin-bottom: .1vw;
}

.contact_us_right_box_contact_icon{
  height: 1vw;
  margin-right: .6vw;
}

#contact_us_container{
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  background-color: #F7F7F7;
  border-radius: 8px;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  color: #494949;
  font-family: lato-thin;
  font-size: 10pt;
  margin-top: 30px;
  margin-bottom: 5px;
}

#contact_us_padding{
  padding: 5%;
}

.input_field{
  margin-bottom: 15px;
  position: relative;
  font-size: 12pt;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #d6d7d7;
  position: relative;
  background-color: transparent;
  width: 100%;
  -webkit-appearance: none;
}

.input_field:focus{
  outline: none;
  border: none;
  border-bottom: 1px solid #50b6e8;
}

.title{
  color: #929290;
  font-size: 7pt;
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 1;
  transition: 100ms ease-in-out;
  font-family: lato-thin;
  pointer-events: none;
}

.input_container{
  position: relative;
  margin-bottom: 10px;
}

.textarea{
  resize: none;
}

#send_btn{
  padding: 11px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  background-color: #EF8822;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 13pt;
  color: #fff;
  margin-top: 5px;
  font-family: lato;
}

.mobile_view{
  display: none;
}

.non_mobile_view{
  display: inline-block;
}

.contact_us_adjusted_bot_link{
  text-align: center;
  margin-top: 0;
}

@media all and (min-width: 1000px) {

  .s_m_icons{
    height: 20px;
  }

  .bottom_links{
    font-size: 12pt;
  }

  #copyright{
    font-size: 10pt;
  }
}

@media all and (max-width: 800px) {
  #initial_msg{
    font-size: 4.2vw;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #opening_question{
    font-size: 3.7vw;
  }

  .bottom_links{
    font-size: 3.5vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  .s_m_icons{
    height: 6vw;
  }

  #copyright{
    font-size: 2.5vw;
  }

  #top_image_banner{
    height: 70vw;
  }

  #banner_img{
    width: auto;
    height: 100%;
  }

  .our_team_images{
    width: 50%;
  }

  #our_team_image_container{
    width: 95%;
  }

  .member_details{
    width: 80%;
  }

  .member_name{
    font-size: 4vw;
  }

  .member_position{
    font-size: 2.6vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
  }

  .social_media_link_container{
    margin-top: 1.2vw;
  }

  .member_social_media{
    width: 6vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  #about_us_container{
    width: 90%;
    margin-top: 5vw;
    font-size: 3.6vw;
    line-height: 4.3vw;
  }

  #contact_us_wrapper{
    width: 95%;
    margin-top: 5vw;
    font-size: 3.6vw;
    transform: none;
  }

  #privacy_policy_title{
    font-size: 5.5vw;
    margin-bottom: .8vw;
  }

  #privacy_policy_title_wrapper{
  }

  #privacy_policy_padding{
    padding: 5vw;
    font-size: 2.7vw;
  }

  .privacy_policy_list_title{
    font-size: 3vw;
    margin-bottom: .5vw;
  }

  .privacy_policy_list_content{
    margin-top: .8vw;
    margin-bottom: .8vw;
  }

  p {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }

  #send_btn{
    margin: auto;
    margin-top: 2.5vw;
    font-size: 3.2vw;
    width: 40vw;
    padding: 2.4vw;
  }

  #contact_us_right_box{
    font-size: 3vw;
    padding: 2vw;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    background-color: rgba(225, 225, 225, .9);
    color: #323232;
  }

  #contact_us_right_box_title{
    font-size: 4vw;
    margin-bottom: 1vw;
  }

  .contact_us_right_box_contact{
    font-size: 2.2vw;
    margin-bottom: .4vw;
  }

  .contact_us_right_box_address{
    margin-bottom: 1vw;
  }

  .contact_us_right_box_contact_icon{
    position: relative;
    top: .4vw;
    height: 2vw;
    margin-right: 1vw;
  }

  #contact_us_container{
    width: 99.5%;
  }

  #contact_us_padding{
    padding: 4vw;
  }

  .input_field{
    margin-bottom: 2vw;
    font-size: 2.8vw;
    padding-top: 2vw;
    padding-bottom: .8vw;
  }

  .mobile_view{
    display: inline-block;
  }

  .non_mobile_view{
    display: none;
  }

  .contact_us_adjusted_bot_link{
    margin-top: 8vw;
  }
}
