#navbar_container{
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-height: 10px;
}

#navbar_container_blurred{
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-height: 10px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#whole_container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#logo_home{
  font-family: freshman;
  font-size: 14pt;
  letter-spacing: 1.2px;
  margin-left: 10px;
  color: #fff;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

#logo_home_ic{
  font-family: freshman;
  font-size: 14pt;
  letter-spacing: 1.2px;
  margin-left: 10px;
  color: #fff;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

.jax_logo{
  float: left;
  height: 36px;
  margin-left: 2%;
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
}

.navigations{
  height: 100%;
  float: left;
}

.link{
  cursor: pointer;
}

.link:hover{
  color: #fff;
}

.pages{
  margin-top: 2px;
  font-size: 11pt;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 100px;
  font-family: lato;
  font-weight: lighter;
  color: #777;
  padding-top: 14px;
  padding-bottom: 14px;
}

.buttons, .button{
  float: right;
  font-family: lato;
  margin-top: 1px;
  font-size: 11.5pt;
  text-align: center;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;
  margin: 11px;
  cursor: pointer;
}

#navs_mini{
  display: none;
}

#menu_button{
  float: right;
  font-family: lato;
  cursor: pointer;
  margin: 19.5px;
  margin-right: 2%;
}

#menu_button_tradesman{
  float: left;
  font-family: lato;
  cursor: pointer;
  margin: 19.5px;
  margin-left: 2%;
  margin-right: 1%;
  display: none;
  transition: 350ms ease-in-out;
}

#sliding_menu, #sliding_menu_active{
  display: none;
}

#menu_img{
  height: 15px;
}

.menu_pages{
  padding-top: 18px;
  padding-bottom: 18px;
  list-style-type: none;
  font-family: lato-Thin;
  padding-left: 2%;
  color: #fff;
  cursor: pointer;
}

#dropdown{
  background-color: #fcfcfc;
  z-index: 200;
  position: fixed;
  right: 2%;
  top: 54;
  overflow: hidden;
  height: 0;
  font-family: lato;
  font-weight: lighter;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #555;
  transition: 500ms ease-in-out;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 130px;
}

#dropdown_active{
  background-color: #fcfcfc;
  z-index: 200;
  position: fixed;
  right: 2%;
  top: 54;
  overflow: hidden;
  height: 81px;
  font-family: lato;
  font-weight: lighter;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #555;
  transition: 500ms ease-in-out;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 130px;

}

.user_opts{
  color: #525250;
  font-size: 11pt;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

#content{
  width: 70%;
  float: left;
  padding-left: 5%;
}

#content_blurred{
  width: 70%;
  float: left;
  padding-left: 5%;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#ads{
  width: 20%;
  height: 100%;
  float: left;
  padding-right: 5%;
}

#ads_blurred{
  width: 20%;
  height: 100%;
  float: left;
  padding-right: 5%;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#overlay, #overlay_1{
  display:block;
  z-index: 100000000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
}

#overlay_hidden, #overlay_1_hidden{
  display: none;
}

#loading{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    border-radius: 15px;
    /*background-color: rgba(0,0,0, 0.5);*/
    transition: 350ms ease-in-out;
}

#filler{
  height: 54px;
  width: 100%;
  background-color: #b0b5cd;
  position: fixed;
  z-index: 9;
}

#filler_not_fixed{
  height: 54px;
  width: 100%;
}

#tman_navbar_not_fixed{
  min-height: 1px;
  top: 54px;
  bottom: 0;
  width: 14%;
  float: left;
  background-color: #292c38;
}

#tman_navbar{
  position: fixed;
  top: 54px;
  bottom: 0;
  width: 14%;
  float: left;
  background-color: #292c38;
  transform: translateX(0%);
}

#tman_navbar_blurred{
  position: fixed;
  width: 15%;
  top: 54px;
  bottom: 0;
  float: left;
  background-color: #292c38;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#t_man_overview{
  overflow: hidden;
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #313642;
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

#prof_pic_img{
  height: 5vw;
  width: 5vw;
  border-radius: 10000px;
  border: .15vw solid #fcfcfc;
}

.prof_info{
  color: #fff;
}

.tman_navbar_icon{
  width: 1.5vw;
  margin-right: 1vw;
  float: left;
}

.tman_navbar_name{
  float: left;
  margin-top: .3vw;
}

.tradesman_nav_btn{
  color: #fff;
  font-size: .9vw;
  font-family: lato-thin;
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
  clear: both;
  overflow: hidden;
}

.tradesman_nav_btn:hover{
  box-shadow: inset 0px 100px 10px rgba(0,0,0,.1);
}

#pop_overlay{
  opacity: 1;
  border-radius: 10px;
  opacity: 1;
  position: fixed;
  width: 590px;
  left: 50%;
  margin-left: -295px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px #555;
  z-index: 100;
  transition: 350ms ease-in-out;
}

#view_in_dashboard{
  font-size: 9pt;
  padding: 4px;
  padding-left: 18px;
  padding-right: 18px;
  position: absolute;
  top: 15px;
  right: 30px;
  border: 1px solid #a2a2a0;
  color: #929290;
  border-radius: 3px;
  cursor: pointer;
}

#inc_req_logo{
  margin-top: 35px;
  border-radius: 10000px;
  height: 90px;
  width: 90px;
  background-color: #4CAF50;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#inc_req_logo_2{
  margin-top: 35px;
  border-radius: 10000px;
  height: 70px;
  width: 70px;
  background-color: #4CAF50;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.single_req_btn{
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
  width: 24.9%;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  font-size: 11pt;
}

#single_req_desc_box{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
  transition: 350ms ease-in-out;
  overflow: hidden;
}

#multiple_req_desc_box{
  width: 100%;
  position: relative;
  transition: 350ms ease-in-out;
  overflow: hidden;
}

.popup_multi_btn{
  margin: 4.5px;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  text-align: center;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  cursor: pointer;
}

#notif_container{
  width: 290px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 40;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 8px;
  text-align: left;
}

.notif_icon{
  height: 10px;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.notif_icon_2{
  height: 15px;
  float: left;
  position: relative;
  top: 1px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.notif_icon_1{
  height: 15px;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.notif_text{
  float: left;
  font-size: 7pt;
  width: 180px;
  margin-bottom: 8px;
  color: #525250;
}

.notif_text_1{
  float: left;
  font-size: 8pt;
  margin-bottom: 10px;
  margin-top: 2px;
  color: #525250;
}

.notif_btn{
  width: 55px;
  float: right;
  border-radius: 2px;
  font-size: 6pt;
  padding: 3px;
  color: #fff;
  position: relative;
  top: -1px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
}

#view_all_notif{
  text-align: center;
  color: blue;
  font-size: 7pt;
  padding-top: 8px;
}

.arrow-up {
  position: absolute;
  top: -9px;
  right: 16px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #fff;
}

.arrow-up_2 {
  position: absolute;
  top: -11px;
  right: 16px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #ccc;
}

.round_image{
  margin-top: 9px;
  margin-bottom: 8px;
  margin-right: 2%;
  margin-left: 0;
  height: 35px;
  width: 35px;
  border-radius: 100000px;
  float: right;
  cursor: pointer;
}

/*#multi_popup_read_desc{
  margin-left: 0;
  background-color: #fcfcfc;
  color: #5BB1E3;
}*/

#multi_popup_read_desc{
  color: #fcfcfc;
  background-color: #5BB1E3;
}

/*#multi_popup_accept{
  background-color: #fcfcfc;
  color: #49B749;
}*/

#multi_popup_accept{
  color: #fcfcfc;
  background-color: #49B749;
}

/*#multi_popup_decline{
  margin-right: 0;
  background-color: #fcfcfc;
  color: #F16263;
}*/

#multi_popup_decline{
  color: #fcfcfc;
  background-color: #F16263;
}

#tman_full_name{
  font-size: 1.2vw;
  margin-top: 10px;
  font-family: lato-light;
}

#tman_job{
  font-size: .9vw;
  font-family: lato-thin;
}

#inc_req_icon{
  margin-left: 20px;
  margin-top: 15px;
  height: 50px;
}

#inc_req_icon_2{
  margin-left: 17.5px;
  margin-top: 16px;
  height: 35px;
}

#inc_req_title{
  color: #525250;
  text-align: center;
  margin-top: 20px;
  font-size: 16pt;
}

#inc_req_wrapper{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 12pt;
}

#inc_req_wrapper_container{
  color: #525250;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 8px;
}

#inc_req_wrapper_icon{
  height: 15px;
  margin-right: 10px;
}

#inc_req_precise_loc{
  font-family: lato;
  font-style: italic;
  font-size: 9pt;
  padding-left: 2px;
}

#inc_req_job{
  float: left;
  margin-bottom: 8px;
}

#inc_req_time_rem{
  color: #525250;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10pt;
}

#inc_req_time{
  text-align: center;
  font-size: 20pt;
  color: #525250;
  margin-bottom: 10px;
}

.single_req_btn_margin_left{
  margin-left: 30px;
}

.single_req_btn_margin_right{
  margin-right: 30px;
}

.single_req_btn_margin_left_2{
  margin-left: 90px;
}

.single_req_btn_margin_right_2{
  margin-right: 90px;
}

#single_desc_title{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  color: #525250;
  font-size: 12pt;
}

#single_desc_content{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  color: #727270;
  font-size: 9px;
  overflow: auto;
  height: 42px;
  font-family: lato-thin;
}

#single_desc_margin{
  margin-left: 15px;
  margin-right: 15px;
}

#single_desc_delete{
  height: 8px;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

#mult_req_wrapper{
  height: 226px;
  overflow: auto;
}

.inc_req_text_1{
  color: #fff;
  text-align: left;
  font-size: 13pt;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.inc_req_text_2{
  font-size: 10pt;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

.inc_req_text_2_icon{
  height: 15px;
  margin-right: 10px;
  float: left;
}

.inc_req_text_2_desc{
  font-family: lato;
  font-style: italic;
  font-size: 9pt;
  padding-left: 2px;
}

.inc_req_text_2_margin{
  float: left;
  margin-right: 20px;
}

.mult_req_time{
  font-size: 7pt;
}

.mult_req_time_spec{
  float: left;
  font-size: 16px;
  color: #525250;
}

.multi_req_desc_title{
  margin-left: auto;
  margin-right: auto;
  width: 88%;
  padding-top: 12px;
  color: #525250;
  font-size: 10pt;
}

.multi_req_desc_wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 88%;
  margin-top: 3px;
  color: #727270;
  font-size: 8.5pt;
  overflow: auto;
  height: 42px;
  font-family: lato-thin;
  margin-bottom: 12px;
}

.multi_req_desc_del{
  height: 8px;
  position: absolute;
  right: 37px;
  top: 10px;
  cursor: pointer
}

.multi_req_desc_ok_btn_wrapper{
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}

.multi_req_desc_ok_btn{
  width: 20%;
  margin-left: 40%;
  text-align: center;
  color: #fff;
  background-color: #292c38;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.single_req_btn_margin_left_3{
  width: 27.5%;
  margin-left: 90px;
}

.single_req_btn_margin_right_3{
  width: 27.5%;
  margin-right: 90px;
}

@media all and (max-width: 981px) {
  #ads, #ads_blurred{
    display: none;
  }
}

@media all and (max-width: 800px) {
  #navs_mini{
    display: block;
  }

  #sliding_menu,#sliding_menu_active{
    display: block;
    position: fixed;
    top: 54px;
    width: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .5);
    transition: 350ms ease-in-out;
    overflow: hidden;
    max-height: 0;
    color: #fff;
  }

  #sliding_menu_active{
    max-height: 120px;
  }

  #navs{
    display: none;
  }

  #logo_home_ic{
    display: block;
  }

  #dropdown, #dropdown_active{
    display: none;
  }

  #content{
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  #tman_navbar, #tman_navbar_blurred{
    transform: translateX(-100%);
    z-index: 3;
    width: 40vw;
    transition: 350ms ease-in-out;
  }

  #tman_navbar_not_fixed{
    display: none;
  }

  #filler_not_fixed{
    height: 49px;
  }

  #menu_button_tradesman{
    display: block;
  }

  #prof_pic_img{
    height: 10vw;
    width: 10vw;
  }

  #tman_full_name{
    font-size: 4vw;
    margin-top: .8vw;
  }

  #tman_job{
    font-size: 3vw;
  }

  .tradesman_nav_btn{
    font-size: 3.3vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }

  .tman_navbar_icon{
    width: 3.5vw;
    margin-right: 2.5vw;
  }

  .round_image{
    margin-left: 2%;
  }

  #pop_overlay{
    width: 95%;
    left: 50%;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%)translateX(-50%);
  }

  #view_in_dashboard{
    font-size: 2.2vw;
    padding: .6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    top: 2.2vw;
    right: 4vw;
  }

  #inc_req_logo{
    margin-top: 6vw;
    height: 15vw;
    width: 15vw;
  }

  #inc_req_icon{
    margin-left: 3.4vw;
    margin-top: 3.1vw;
    height: 8vw;
  }

  #inc_req_logo_2{
    margin-top: 6vw;
    height: 14vw;
    width: 14vw;
  }

  #inc_req_icon_2{
    margin-left: 2.9vw;
    margin-top: 2.6vw;
    height: 7.5vw;
  }

  #inc_req_title{
    margin-top: 3vw;
    font-size: 3.5vw;
  }

  #inc_req_wrapper{
    margin-top: 2vw;
    font-size: 3vw;
  }

  #inc_req_wrapper_container{
    padding: 1.2vw;
  }

  #inc_req_wrapper_icon{
    height: 3vw;
    margin-right: 1.5vw;
    font-size: 3vw;
  }

  #inc_req_precise_loc{
    font-size: 2.5vw;
    padding-left: .5vw;
  }

  #inc_req_job{
    margin-bottom: 1vw;
  }

  #inc_req_time_rem{
    margin-top: 3vw;
    margin-bottom: 1.5vw;
    font-size: 3vw;
  }

  #inc_req_time{
    font-size: 5vw;
    margin-bottom: 1.5vw;
  }

  .single_req_btn{
    margin-top: 1.5vw;
    margin-bottom: 3vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-radius: 3px;
    padding: 1.2vw;
    font-size: 3vw;
  }

  .single_req_btn_margin_left{
    margin-left: 5vw;
  }

  .single_req_btn_margin_right{
    margin-right: 5vw;
  }

  .single_req_btn_margin_left_2{
    margin-left: 14vw;
  }

  .single_req_btn_margin_right_2{
    margin-right: 14vw;
  }

  .single_req_btn_margin_left_3{
    width: 30vw;
    margin-left: 10vw;
  }

  .single_req_btn_margin_right_3{
    width: 30vw;
    margin-right: 10vw;
  }

  #single_desc_title{
    font-size: 3.5vw;
  }

  #single_desc_content{
    margin-top: .8vw;
    font-size: 3vw;
    height: 10vw;
  }

  #single_desc_margin{
    margin-left: 2vw;
    margin-right: 2vw;
  }

  #single_desc_delete{
    height: 1.8vw;
    position: absolute;
    right: 1.5vw;
    top: 3vw;
    cursor: pointer;
  }

  #mult_req_wrapper{
    height: 60vw;
  }

  .inc_req_text_1{
    font-size: 3vw;
  }

  .inc_req_text_2{
    font-size: 2.8vw;
    padding: 1.5vw;
    padding-left: 5%;
    padding-right: 5%;
  }

  .inc_req_text_2_icon{
    height: 3vw;
    margin-right: 1.5vw;
  }

  .inc_req_text_2_desc{
    font-size: 2.5vw;
    padding-left: .5vw;
  }

  .inc_req_text_2_desc{
    margin-right: 3.5vw;
  }

  .mult_req_time{
    font-size: 2.5vw;
  }

  .mult_req_time_spec{
    font-size: 4.5vw;
  }

  .popup_multi_btn{
    margin: 1.7vw;
    margin-left: .6vw;
    margin-right: .6vw;
    padding: 1.2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2px;
    font-size: 2.8vw;
  }

  .multi_req_desc_title{
    padding-top: 1.5vw;
    font-size: 2.8vw;
  }

  .multi_req_desc_wrapper{
    margin-top: .5vw;
    font-size: 2.65vw;
    height: 10vw;
    margin-bottom: 1.6vw;
  }

  .multi_req_desc_del{
    height: 1.6vw;
    right: 3vw;
    top: 2vw;
  }

  .multi_req_desc_ok_btn_wrapper{
    clear: both;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .multi_req_desc_ok_btn{
    width: 20vw;
    padding: .8vw;
    font-size: 2.8vw;
  }
}
