#login_box{
  width: 45%;
  max-width: 450px;
  top: 47.5%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  overflow: hidden;
  transition: 350ms ease-in-out;
}

#request_overlay{
  opacity: 0;
  position: fixed;
  width: 360px;
  left: 50%;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px #555;
  z-index: 100;
  transition: 350ms ease-in-out;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  color: #525250;
  font-family: "lato";
  overflow: hidden;
}

#send_info{
  opacity: 1;
  display: block;
  transition: 350ms ease-in-out;
}

#send_info_title{
  text-align: center;
  font-size: 16pt;
  margin-top: 15px;
  color: #555;
  padding-left: 20px;
  padding-right: 20px;
}

.input_info_icon{
  height: 12px;
  top: 12px;
  left: 10px;
  position: absolute;
}

.info_boxes{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.info_chck_box_img{
  height: 25px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  margin-top: 5px;
}

.info_input_box{
  background-color: transparent;
  height: 28px;
  width: 240px;
  padding-left: 33px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 9pt;
  -webkit-appearance: none;
}

.info_input_box:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

#short_desc{
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #bbb;
  width: 280px;
  margin-top: 15px;
  padding: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-appearance: none;
}

#short_desc:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

#info_btn{
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-color: #525250;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

#request_container{
  overflow: hidden;
  z-index: 100;
  display: none;
  opacity: 0;
  transition: 350ms ease-in-out;
}

#request_pic_container{
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.request_circle_animation{
  position: absolute;
  border-radius: 10000px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

#request_circle_0{
  position: absolute;
  border-radius: 10000px;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  background-color: #fafafa;
  height: 120px;
  width: 120px;
  z-index: 7;
}

#request_circle_1{
  background-color: #edebec;
  z-index: 6;
}

#request_circle_2{
  background-color: rgba(211,211,211,.8);
  z-index: 5;
}

#request_circle_3{
  z-index: 4;
}

#response_container{
  z-index: 100;
  display: none;
  transition: 350ms ease-in-out;
}

.request_title{
  font-size: 18pt;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px
}

#response_circle{
  height: 128px;
  width: 128px;
  border-radius: 100000px;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 1;
}

#response_icon_circle{
  height: 20px;
  width: 20px;
  border-radius: 100000px;
  position: absolute;
  top: 3.5px;
  right: 3.5px;
  z-index: 5;
}

#rejected_icon{
  height: 8px;
  position: relative;
  top: 6px;
  left: 6px;
}

#accepted_icon{
  height: 7px;
  position: relative;
  top: 7px;
  left: 5.345px;
}

#unanswered_icon{
  height: 12px;
  position: relative;
  top: 4px;
  left: 4px;
}

#ticks{
  font-size: 27pt;
  width: 50%;
  text-align: right;
  float: left;
}

#word_1{
  font-size: 10pt;
  width: 48%;
  text-align: left;
  float: left;
  line-height: 14px;
  padding-top: 11px;
  padding-left: 5px;
}

#word_2{
  clear: both;
  text-align: center;
  width: 100%;
  font-size: 10.5pt;
  padding-top: 8px;
  padding-bottom: 8px;
}

.close_btn{
  text-align: center;
  font-size: 18pt;
  cursor: pointer;
  padding-bottom: 15px;
  padding-top: 15px;
}

#word_3{
  clear: both;
  text-align: center;
  width: 90%;
  font-size: 11pt;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.hr_divider{
  margin-top: 5px;
  margin-bottom: 10px;
  position: absolute;
  left: -50px;
  width: 524px;
}

.req_res_button{
  width: 100%;
}

#signup_box{
  display: none;
  opacity: 0;
  position: fixed;
  max-width: 400px;
  left: 50%;
  width: 35%;
  box-shadow: 0px 3px 10px #555;
  z-index: 100;
  overflow: hidden;
  top: 53%;
  transform: translateY(-50%) translateX(-50%);
  right: 5%;
  border-radius: 5px;
  transition: 200ms ease-in-out;
  min-height: 420px;
  background-color: rgba(255,255,255,.95);
}

#signup_title{
  color: #333;
  font-size: 16pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

#signup_error_title{
  opacity: 0;
  color: red;
  font-size: 8pt;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  transition: 350ms ease-in-out;
}

#info_error_title{
  opacity: 0;
  color: red;
  font-size: 8pt;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  transition: 350ms ease-in-out;
}

#go_to_login{
  color: #337ab7;
  font-size: 9pt;
  text-align: center;
  margin-top: 10px;
  font-family: lato-thin;
  font-style: italic;
}

.field_label{
  color: #555;
  font-size: 8pt;
  margin-left: 10%;
  padding: 5px;
  opacity: 1;
  transition: 250ms ease-in-out;
}

.signup_fields{
  width: 80%;
  margin-left: 10%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #bbb;
  padding: 5px;
  font-size: 11pt;
}

.signup_fields:focus{
  outline: none;
  border: 1px solid #999;
}

#register_btn{
  position: absolute;
  bottom: 20px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  padding: 8px;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
  background-color: #777;
  text-align: center;
  cursor: pointer;
}

#register_btn:hover{
  box-shadow: inset 0 60px 2px 1px rgba(0,0,0,0.1);
}

#request_pic{
  height: 100%;
  width: 100%;
  border-radius: 1000000px;
  position: absolute;
  z-index: 9;
}

#predefined_area_code{
  color: #929290;
  font-size: 9pt;
  position: absolute;
  top: 11px;
  left: 35px;
  opacity: 0;
  transition: 100ms ease-in-out;
}

#sgn_up_title{
  opacity: 1;
  font-size: 2vw;
  position: relative;
  padding-top: 2.3vw;
  padding-left: 6%;
  padding-bottom: 1vw;
  transition: 500ms ease-in-out;
  background-color: rgba(255,255,255,.98);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  overflow: hidden;
}

#sgn_up_sub_title{
  opacity: 1;
  font-size: 1.4vw;
  position: relative;
  margin-top: 5px;
  transition: opacity 500ms ease-in-out;
}

#sgn_up_error_title{
  opacity: 0;
  font-size: .8vw;
  position: relative;
  transition: 500ms ease-in-out;
  color: red;
  margin-top: 8px;
}

#sgn_up_form_container{
  display: block;
  opacity: 1;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 5%;
  width: 85%;
  max-height: 510px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 800ms ease-in-out;
  overflow: hidden;
}

.sgn_up_input_container{
  position: relative;
}

.sgn_up_name{
  float: left;
  width: 50%;
}

.sgn_up_title{
  color: #929290;
  font-size: 7pt;
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 1;
  transition: 100ms ease-in-out;
  font-family: lato-thin;
  pointer-events: none;
}

.sgn_up_input_field{
  margin-bottom: 15px;
  position: relative;
  font-size: 12pt;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 5px;
  border: 1px solid #d6d7d7;
  border-radius: 4px;
  position: relative;
  background-color: rgba(252,252,252,.98);
  width: 100%;
  -webkit-appearance: none;
}

.sgn_up_input_field:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

#sgn_up_logo{
  position: absolute;
  width: 17%;
  right: 6%;
  top: 2%;
  z-index: 100;
  transition: 1000ms ease-in-out;
}

#sgn_up_conf_pass_del{
  position: absolute;
  height: 20px;
  top: 11px;
  right: 11px;
  display: none;
  cursor: pointer;
}

.sgn_up_sub_title_input{
  color: #929290;
  position: absolute;
  right: 15px;
  font-style: italic;
  font-size: 8pt;
  top: 14px;
  z-index: 1;
  transition: 100ms ease-in-out;
  font-family: lato-thin;
}

#sgn_up_predefined_area_code{
  color: #929290;
  font-size: 12pt;
  position: absolute;
  top: 17px;
  left: 10px;
  opacity: 0;
  transition: 100ms ease-in-out;
}

#sgn_up_signup_btn{
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 3px;
  background-color: #EF8822;
  color: #fff;
  text-align: center;
  font-size: 1.6vw;
  cursor: pointer;
}

#mobile_number{
  padding-left: 30px;
}

#loading_overlay{
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.45);
  position: fixed;
  z-index: 10000;
}

#loading_box{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    border-radius: 15px;
    /*background-color: rgba(0,0,0, 0.5);*/
    transition: 350ms ease-in-out;
}

@media all and (max-width: 900px) {
  #login_box{
    width: 65%;
    max-width: none;
  }

  #signup_box{
    max-width: none;
    width: 65%;
  }

  #sgn_up_title{
    font-size: 17pt;
  }

  #sgn_up_sub_title{
    font-size: 12pt;
  }

  #sgn_up_logo{
    width: 15%;
    right: 4%;
  }

  #sgn_up_signup_btn{
    font-size: 12pt;
  }

  #sgn_up_error_title{
    font-size: 6pt;
    margin-top: 4px;
    margin-bottom: 1px;
  }
}

@media all and (max-width: 600px) {
  #login_box{
    width: 95%;
    max-width: none;
  }

  #signup_box{
    max-width: none;
    width: 95%;
  }

  #sgn_up_logo{
    width: 11%;
  }

  #request_overlay{
    width: 93%;
    padding-left: 1%;
    padding-right: 1%;
  }
}
