hr {
    border: 0;
    height: 1px;
    border-top: 1px solid rgba(0, 0 , 0 , .2);
    margin-bottom: 15px;
    clear:both;
  }

#signup_container, #signup_container_active{
  background: url('./assets/images/page_specific_bg/signup_bg.png') no-repeat center center fixed;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#back_btn{
  padding: 20px;
  padding-left: 25px;
  margin-top: 50px;
}

#back{
  width: 2%;
  cursor:pointer;
}

#signup_title, #signup_title_active{
  color: #fff;
  font-size: 3.3vw;
  font-family: lato-thin, sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  transition: 1000ms ease-in-out;
}

#instruction{
  color: #fff;
  margin-top: 20px;
  font-size: 1.71vw;
  font-weight: 900;
}

.regular_font{
  font-family: lato, sans-serif;
}

.thin_font{
  font-family: lato-thin, sans-serif-thin;
}

.choice_button{
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.2vw;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  float: left;
  font-weight: 900;
}

#homeowner{
  margin-right: 60px;
}

#fill_sheet{
  width: 35%;
  position: absolute;
  overflow: hidden;
  top: 53%;
  transform: translateY(-50%);
  right: 5%;
  transition: 200ms ease-in-out;
  min-height: 420px;
}

#fill_sheet_active{
  width: 35%;
  position: absolute;
  overflow: hidden;
  top: 53%;
  transform: translateY(-50%);
  right: 5%;
  border-radius: 5px;
  transition: 200ms ease-in-out;
  min-height: 420px;
  background-color: rgba(255,255,255,.95);
  max-height: 90%;
}

#form_container{
  display: none;
  opacity: 0;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 5%;
  width: 85%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 800ms ease-in-out;
}

#form_container_active{
  display: block;
  opacity: 1;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 5%;
  width: 85%;
  max-height: 440px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 800ms ease-in-out;
  overflow: auto;
}

#logo{
  position: absolute;
  width: 50%;
  left: 25%;
  top: 20%;
  transition: 1000ms ease-in-out;
  z-index: 100;
}

#logo_active{
  position: absolute;
  width: 17%;
  right: 6%;
  top: 2%;
  z-index: 100;
  transition: 1000ms ease-in-out;
}

#title{
  opacity: 0;
  font-size: 2vw;
  position: relative;
  padding-top: 2.3vw;
  padding-left: 6%;
  padding-bottom: 1vw;
  transition: 500ms ease-in-out;
  background-color: rgba(255,255,255,.98);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  overflow: hidden;
}

#title_active{
  opacity: 1;
  font-size: 2vw;
  position: relative;
  padding-top: 2.3vw;
  padding-left: 6%;
  padding-bottom: 1vw;
  transition: 500ms ease-in-out;
  background-color: rgba(255,255,255,.98);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  overflow: hidden;
}

#sub_title{
  opacity: 0;
  font-size: 1.4vw;
  position: relative;
  margin-top: 5px;
  transition: opacity 500ms ease-in-out;
}

#error_title{
  opacity: 0;
  font-size: .8vw;
  position: relative;
  transition: 500ms ease-in-out;
  color: #F27072;
  margin-top: 8px;
}

.input_field{
  margin-bottom: 15px;
  position: relative;
  font-size: 12pt;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 5px;
  border: 1px solid #d6d7d7;
  border-radius: 4px;
  position: relative;
  background-color: rgba(252,252,252,.98);
  width: 100%;
  -webkit-appearance: none;
}

.input_field:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

.input_container_1{
  position: relative;
}

.input_container{
  position: relative;
  clear: both;
}

.name{
  float: left;
  width: 50%;
}

.title{
  color: #929290;
  font-size: 7pt;
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 1;
  transition: 100ms ease-in-out;
  font-family: lato-thin;
  pointer-events: none;
}

.sub_title_input{
  color: #929290;
  position: absolute;
  right: 15px;
  font-style: italic;
  font-size: 8pt;
  top: 14px;
  z-index: 1;
  transition: 100ms ease-in-out;
  font-family: lato-thin;
}

.section_title{
  width: 100%;
  display: none;
  color: #fff;
  background-color: #673AB7;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  transition: 1000ms ease-in-out;
}

.section_title_active{
  width: 100%;
  font-family: lato;
  display: block;
  color: #525250;
  font-size: 1.5vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  transition: 1000ms ease-in-out;
  margin-bottom: 7.5px;
}

#signup_btn{
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 3px;
  background-color: #EF8822;
  color: #fff;
  text-align: center;
  font-size: 1.6vw;
  cursor: pointer;
}

#form{
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

#form_active{
  opacity:1;
  transition: opacity 500ms ease-in-out;
}

.contact_type{
  margin-top: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  padding-right: 6px;
  width: 13%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
  padding-left: 8.5%;
  float: left;
  margin-bottom: 20px;
  cursor: pointer;
}

.radio_btn_img{
  width: 21%;
  position: absolute;
  top: 29%;
  left: 11%;
}

#contact_container{
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1.2vw;
  color: #777;"
}

#select_value{
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 10pt;
  color: #929290;
  padding-left: 12px;
}

#select_arrow{
  position: absolute;
  right: 12px;
  top: 15px;
}

#options{
  clear: both;
  overflow: hidden;
  max-height: 0;
  transition: 500ms ease;
  margin-bottom: 15px;
}

.option{
  border-left: 1px solid #d6d7d7;
  border-right: 1px solid #d6d7d7;
  font-size: 9.5pt;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4.2%;
  cursor: pointer;
  color: #929290;
  background-color: #fcfcfc;
}

#sub_cat_container{
  clear: both;
  overflow: hidden;
  transition: height 500ms ease;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #d6d7d7;
  background-color: #fcfcfc;
  padding: 5%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sub_categs{
  width: 50%;
  float: left;
  font-size: 9pt;
  padding-top: 5px;
  padding-bottom: 5px;
}

#tradesman_fields{
  overflow: hidden;
  transition: 500ms ease-in-out;
}


#mobile_number{
  padding-left: 30px;
}

#predefined_area_code{
  color: #929290;
  font-size: 12pt;
  position: absolute;
  top: 17px;
  left: 10px;
  opacity: 0;
  transition: 100ms ease-in-out;
}

#contact_optional{
  opacity: 0;
  transition: 350ms ease-in-out;
}

#conf_pass_del{
  position: absolute;
  height: 20px;
  top: 11px;
  right: 11px;
  display: none;
  cursor: pointer;
}

#choice_button_wrappers{
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
}

#no_category_chosen{
  font-size: 1vw;
  margin-bottom: 15px;
}

@media all and (max-width: 800px) {

  #logo{
    display: none;
  }

  #signup_title{
    font-size: 6vw;
    transition: none;
  }

  #instruction{
    font-size: 4vw;
    margin-top: 2vw;
  }

  .choice_button{
    font-size: 2.8vw;
  }

  #signup_title_active{
    margin-top: 60px;
    transform: none;
    font-size: 5vw;
    position: relative;
    margin-bottom: 5vw;
    transition: none;
    width: 95%;
  }

  #choice_button_wrappers{
    margin-top: 4vw;
  }

  #fill_sheet_active, #fill_sheet{
    width: 95%;
    margin: auto;
    position: relative;
    overflow: visible;
    top: auto;
    transform: none;
    right: auto;
    border-radius: 5px;
    transition: none;
    min-height: 0;
    background-color: rgba(255,255,255,.95);
    height: 0;
    margin-bottom: 3vw;
    max-height: none;
  }

  #fill_sheet_active{
    height: auto;
  }

  #signup_container, #signup_container_active{
    height: auto;
    min-height: 100%;
  }

  #title{
    font-size: 5vw;
  }

  #title_active{
    font-size: 5vw;
  }

  #sub_title{
    font-size: 3.5vw;
  }

  #logo_active{
    width: 15%;
    right: 4%;
    top: 1%;
  }

  .section_title_active{
    font-size: 3vw;
  }

  #signup_btn{
    font-size: 3.5vw;
  }

  #no_category_chosen{
    font-size: 2.8vw;
  }

  #form_container_active{
    max-height: none;
    overflow: hidden;
  }

  #error_title{
    font-size: 2.2vw;
  }
}
