#container{
  width: 100%;
  height: 39vw;
  margin: auto;
  margin-top: 2.5vw;
  margin-left: .75%;
}

.offer_container{
  width: 25.33vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  float: left;
  margin-bottom: 20px;
}

#what_youget_container{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#what_you_get{
  font-family: lato;
  font-size: 2vw;
  text-align: left;
  color: #525250;
  margin-bottom: 1vw;
}

#all_subs{
  font-family: lato;
  font-size: 1.8vw;
  text-align: left;
  color: #626260;
  margin-bottom: .5vw;
}

.dash{
  float: left;
  font-family: lato-thin;
  font-size: 1.6vw;
  text-align: left;
  color: #828280;
  margin-bottom: .5vw;
  clear: both;
}

.bullet{
  float: left;
  font-family: lato-thin;
  font-size: 1.6vw;
  text-align: left;
  color: #828280;
  margin-bottom: .5vw;
  margin-left: 20px;
}

#this_form{
  clear: both;
  padding-top: .8vw;
  padding-bottom: .8vw;
  font-family: lato-thin;
  font-size: 1.6vw;
  text-align: left;
  color: #828280;
  margin-bottom: 2.5vw;
}

.top_filler{
  height: 10%;
}

.smaller_offer{
  height: 85%;
}

.big_offer{
  height: 100%;
}

.offer{
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.header{
  height: 24%;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
}

.rest_of_continer{
  height: 76%;
  position: relative;
  background-color: #fcfcfc;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.small_money{
  padding-top: 7px;
  font-size: 3.7vw;
  font-family: lato;
}

.small_time{
  font-family: lato;
  margin-top: 3px;
  font-size: 1.4vw;
}

.big_money{
  padding-top: 10px;
  font-size: 4.5vw;
  font-family: lato;
}

.big_time{
  font-family: lato;
  font-size: 1.8vw;
}

.purchase_btn{
  width: 80%;
  margin-left: 10%;
  font-family: lato;
  font-size: 1.5vw;
  text-align: center;
  border-radius: 5px;
  background-color: #888;
  color: #fff;
  position: absolute;
  bottom: 1.2vw;
  padding-top: .8vw;
  padding-bottom: .8vw;
  cursor: pointer;
}

.purchase_btn_big{
  font-family: lato;
  font-size: 1.6vw;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
}


.text_container{
  font-family: lato;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 3vw;
  right: 3vw;
  overflow: auto;
  text-align: center;
  font-size: 1.4vw;
}

#subscription_title{
  font-family: lato-thin;
  font-size: 3.5vw;
  text-align: center;
  color: #727270;
  margin-bottom: 2.5vw;
}

@media all and (min-width: 1000px) {

  #what_youget_container{
    width: 100%;
  }

  #container{
    width: 900px;
    height: 400px;
    margin: auto;
    margin-top: 25px;
  }

  .offer_container{
    width: 30%;
    margin-left: 1.6667%;
    margin-right: 1.667%;
    float: left;
  }

  .top_filler{
    height: 10%;
  }

  .smaller_offer{
    height: 85%;
  }

  .big_offer{
    height: 100%;
  }

  .offer{
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }

  .header{
    height: 24%;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
  }

  .rest_of_continer{
    height: 76%;
    position: relative;
    background-color: #fcfcfc;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .small_money{
    padding-top: 8px;
    font-size: 30pt;
    font-family: lato;
  }

  .small_time{
    font-family: lato;
    font-size: 11pt;
  }

  .big_money{
    padding-top: 15px;
    font-size: 35pt;
    font-family: lato;
  }

  .big_time{
    font-family: lato;
    font-size: 13pt;
  }

  .purchase_btn{
    width: 80%;
    margin-left: 10%;
    font-family: lato;
    font-size: 12pt;
    text-align: center;
    border-radius: 5px;
    background-color: #888;
    color: #fff;
    position: absolute;
    bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  .purchase_btn_big{
    font-family: lato;
    font-size: 14pt;
    padding-top: 12px;
    padding-bottom: 12px;
  }


  .text_container{
    font-family: lato;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 25px;
    right: 25px;
    overflow: auto;
    text-align: center;
    font-size: 11pt;
  }

  #subscription_title{
    font-family: lato-thin;
    font-size: 22pt;
    text-align: center;
    color: #727270;
    margin-bottom: 20px;
  }

  #what_you_get{
    font-size: 15pt;
    margin-bottom: 13px;
  }

  #all_subs{
    font-size: 13pt;
    margin-bottom: 8px;
  }

  .dash{
    font-size: 11pt;
    margin-bottom: 8px;
  }

  .bullet{
    font-size: 11pt;
    margin-bottom: 8px;
  }

  #this_form{
    padding-top: 10px;
    font-size: 11pt;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 800px) {

  #subscription_title{
    font-size: 5.5vw;
    margin-bottom: 4.5vw;
  }

  .offer_container{
    width: 94.5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
  }

  #container{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 5.5vw;
    margin-left: .75%;
    overflow: hidden;
    margin-bottom: 3.5vw;
  }

  .top_filler{
    height: 0;
  }

  .small_money, .big_money{
    padding-top: 1.5vw;
    font-size: 5vw;
  }

  .small_time, .big_time{
    margin-top: .6vw;
    font-size: 2.6vw;
  }

  .header{
    height: 13vw;
  }

  .rest_of_continer{
    height: 40vw;
  }

  .smaller_offer, .big_offer{
    height: 53vw;
  }

  .text_container{
    left: 8vw;
    right: 8vw;
    font-size: 3vw;
  }

  .purchase_btn, .purchase_btn_big{
    width: 90%;
    margin-left: 5%;
    font-family: lato;
    font-size: 3.2vw;
    text-align: center;
    border-radius: 4px;
    background-color: #888;
    color: #fff;
    position: absolute;
    bottom: 2vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    cursor: pointer;
  }

  #what_you_get{
    font-size: 3.5vw;
  }

  #all_subs{
    font-size: 3.5vw;
    margin-top: 2vw;
    margin-bottom: 1.2vw;
  }

  .dash{
    font-size: 3vw;
    margin-bottom: 1.2vw;
  }

  .bullet{
    font-size: 3vw;
    float: none;
    overflow: hidden;
    margin-bottom: 1.2vw;
  }

  #this_form{
    font-size: 3vw;
    padding-bottom: 3.5vw;
  }

}
