#time_input{
  margin-right: 20px;
  font-size: inherit;
  float: left;
  border-radius: 3px;
  border: 1px solid #b6b7b7;
  position: relative;
}

.time{
  float: left;
  font-size: inherit;
  width: 35px;
  padding: 5px;
}

.time:focus{
  outline: none;
}

#hour_time{
  padding-right: 3px;
  padding-left: 7px;
  border-right: none;
  text-align: right;
  border: none;
  background-color: transparent;
}

#colon{
  position: relative;
  transform: translateY(25%);
  float: left;
  color: #333;
}

#minute_time{
  padding-left: 3px;
  text-align: left;
  border: none;
  background-color: transparent;
}

#am_pm{
  font-size: inherit;
  float: left;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #b6b7b7;
  position: relative;
}

#am_pm_text{
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 5px;
  float: left;
  color: #333;
}

#am_pm_button{
  transform: translateY(90%);
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  border-left: none;
  cursor: pointer;
  height: 10px;
}

#drop-down{
  clear: both;
  height: 0;
  transition: height 500ms ease;
  overflow: hidden;
}

.option{
  padding-top: 0px;
  padding-bottom: 3px;
  text-align: center;
  cursor: pointer;
  border-top: none;
  z-index: 100;
  position: relative;
  font-size: 9pt;
}

#am_pm_button_icon{
  height: 10px;
}

@media all and (max-width: 800px){
  .time{
    width: 6vw;
  }

  #am_pm_button_icon{
    height: 2vw;
  }

  .option{
    font-size: 2.2vw;
  }

  #time_input{
    margin-right: 2vw;
  }

  #am_pm_button{
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    transform: none;
  }

  #hour_time{
    padding: 1.2vw;
    padding-right: 3px;
    padding-left: 7px;
  }

  #minute_time{
    padding: 1.2vw;
    padding-left: 3px;
    padding-right: 7px;
  }

  #colon{
    position: absolute;
    top: 46%;
    left: 5.75vw;
    transform: translateY(-50%);
    font-size: inherit;
  }

  #am_pm_text{
    padding-top: .4vw;
  }

  #am_pm{
    margin-top: .7vw;
  }
}
