#container{
  width: 100%;
  position: relative;
}

#history_wrapper{
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  max-width: 800px;
  margin-left: 12.25%;
  margin-right: 12.25%;
  padding: 50px;
  padding-top: 15px;
  padding-bottom: 35px;
  min-height: 400px;
}

#history_container{
  overflow: hidden;
}

#header{
  margin: auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #525250;

  font-size: 15pt;
  font-family: lato-thin;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

.header_icon{
  height: 25px;
  margin-right: 15px;
  position: relative;
  top: 0px;
  float: left;
}

.history_item{
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  position: relative;
}


.history_status{
  float: right;
  font-size: 10pt;
  color: #727270;
  padding-top: 6px;
  padding-bottom: 2px;
}

.request_rating_btn{
  font-size: 8pt;
  color: #fff;
  margin-bottom: 10px;
  padding: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #5a8ac7;
  background-color: #5a8ac7;
  border-radius: 2px;
  display: inline;
  cursor: pointer;
  position: relative;
  top: 6;
}

.request_rating_btn_1{
  font-size: 8pt;
  color: #fff;
  padding: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  display: inline;
  cursor: pointer;
  float: left;
}

.history_text_1{
  font-size: 11pt;
  color: #333;
  margin-bottom: 5px;
  overflow: hidden;
}

.history_text_2{
  float: left;
  font-size: 10pt;
  font-style:italic;
  font-family: lato-thin;
  color: #416eb6;

  padding-top: 6px;
  padding-bottom: 2px;
}


/*.request_rating_btn{
  font-size: 9pt;
  color: #777;
  margin-bottom: 10px;
  margin-left: 35px;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #999;
  border-radius: 3px;
  display: inline;
  cursor: pointer;
}

.request_rating_btn_1{
  font-size: 9pt;
  color: #fafafa;
  background-color: #666;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #999;
  border-radius: 3px;
  display: inline;
  cursor: pointer;
  float: right;
}

.history_text_1{
  font-size: 12pt;
  color: #333;
  margin-bottom: 5px;
  overflow: hidden;
}

.history_text_2{
  float: left;
  font-size: 10pt;
  font-style:italic;
  font-family: lato-thin;
  color: #333;
  margin-left: 35px;
}*/

#clear_all{
  color: #fff;
  border: 1px solid #ea5b5b;
  background-color: #ea5b5b;
  border-radius: 3px;
  font-size: 9pt;
  float: right;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  position: relative;
}

#no_reqs{
  text-align: center;
  font-size: 12pt;
  margin-top: 150px;
  position: relative;
  color: #929290;
  font-family: lato-thin;

}

.tradesman_icon{
  float: left;
  height: 15px;
  margin-right: 15px;
}

.request_rating_btn_completed{
  margin-right: 15px;
}

.delete_item_icon{
  height: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .header_icon{
    height: 4.4vw;
    margin-right: 1.5vw;
  }

  #header{
    padding: 0;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
    font-size: 4vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  #clear_all{
    font-size: 2.5vw;
    padding: .8vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #history_wrapper{
    width: 90%;
    max-width: none;
    margin-left: 0%;
    margin-right: 0%;
    margin: auto;
    margin-top: 20px;
    padding: 3%;
    padding-top: 1.5vw;
    padding-bottom: 3.5vw;
  }

  .history_item{
    padding: 3vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 15vw;
  }

  .history_text_1{
    font-size: 3vw;
    margin-bottom: .8vw;
  }

  .tradesman_icon{
    height: 2.8vw;
    margin-right: 1.5vw;
  }

  .request_rating_btn_1{
    font-size: 2.7vw;
    padding: 2vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
  }

  .history_status{
    font-size: 2.5vw;
  }

  .history_text_2{
    font-size: 2.5vw;
    padding-top: .7vw;
  }

  .request_rating_btn{
    font-size: 2.7vw;
    padding: 2vw;
    padding-top: .6vw;
    padding-bottom: .6vw;
  }

  .request_rating_btn_completed{
    margin-right: 2vw;
  }

  .delete_item_icon{
    height: 2vw;
    top: 1.5vw;
    right: 1.5vw;
  }

}
