#container{
  width: 100%;
  position: relative;
}

#notification_wrapper{
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fcfcfc;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  max-width: 800px;
  margin-left: 12.25%;
  margin-right: 12.25%;
  padding: 50px;
  padding-top: 15px;
  padding-bottom: 35px;
  min-height: 400px;
}

#notification_container{
  overflow: hidden;
}

#header{
  margin: auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #525250;
  font-size: 15pt;
  font-family: lato-thin;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

.header_icon{
  height: 25px;
  margin-right: 15px;
  position: relative;
  top: 0px;
  float: left;
}

.notification_item{
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  position: relative;
  height: 50px;
}

.icon_1{
  height: 20px;
  padding-right: 2px;
  padding-left: 0;
  float: left;
  margin-right: 25px;
  margin-left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon_2{
  height: 35px;
  float: left;
  margin-right: 25px;
  margin-left: 30px;
  position: absolute;
  top: 45%;
  transform: translateY(-40%);
}

.notif_text{
  overflow: hidden;
  font-size: 11pt;
  min-height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 110;
  right: 150;
}

.time{
  font-family: lato-thin;

  font-size: 9pt;
  margin-top: 8px;
  color: #999;
}

.button{
  float: right;
  width: 80px;
  padding: 6px;
  border-radius: 3px;
  color: #fff;
  font-size: 8pt;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#clear_all{
  color: #fff;
  border: 1px solid #ea5b5b;
  background-color: #ea5b5b;
  border-radius: 3px;
  font-size: 9pt;
  float: right;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  position: relative;

}

#no_reqs{
  text-align: center;
  font-size: 12pt;
  margin-top: 150px;
  position: relative;
  color: #929290;
  font-family: lato-thin;
}

#icon_wrapper{
  position: absolute;
  top: 0;
  left: 20;
  width: 90px;
  bottom: 0;
}

#button_wrapper{
  position: absolute;
  top: 0;
  right: 20;
  width: 130px;
  bottom: 0;
}

#icon_wrapper_no_fix{
  float: left;
  width: 90px;
  min-height: 1px;
}

#button_wrapper_no_fix{
  float: left;
  width: 130px;
  min-height: 1px;
}

.notif_time{
  height: 15px;
  float: left;
  margin-right: 8px;
}

@media all and (max-width: 800px) {
  .header_icon{
    height: 4.4vw;
    margin-right: 1.5vw;
  }

  #header{
    padding: 0;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
    font-size: 4vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  #notification_wrapper{
    width: 90%;
    max-width: none;
    margin-left: 0%;
    margin-right: 0%;
    margin: auto;
    margin-top: 20px;
    padding: 3%;
    padding-top: 1.5vw;
    padding-bottom: 3.5vw;
  }

  .notification_item{
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 15vw;
  }

  .icon_1{
    margin-left: 2vw;
    margin-right: 2vw;
    height: 4.5vw;
  }

  .icon_2{
    margin-left: 2vw;
    margin-right: 2vw;
    height: 8vw;
  }

  #clear_all{
    font-size: 2.5vw;
    padding: .8vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #icon_wrapper{
    left: 3vw;
    width: 12vw;
  }

  #button_wrapper{
    right: 3vw;
    width: 20vw;
  }

  #icon_wrapper_no_fix{
    width: 12vw;
  }

  #button_wrapper_no_fix{
    width: 20vw;
  }

  .button{
    width: 18vw;
    font-size: 2.8vw;
    margin-left: 0;
  }

  .notif_text{
    font-size: 3vw;
    min-height: 5vw;
    left: 17vw;
    right: 27vw;
  }

  .time{
    font-size: 2.3vw;
  }

  .notif_time{
    height: 2vw;
    margin-right: 1vw;
  }
}
