.container{
  position: relative;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 580px;
  background-color: #fcfcfc;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

#navigation_not_fixed{
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 155px;
  min-height: 1px;
}

#navigation{
  position: fixed;
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 82.5%;
  max-width: 1221.81px;
}

#content{
  max-width: 580px;
}

.nav_btns{
  font-family: lato;
  padding: 5px;
  cursor: pointer;
  transition: 350ms ease-in-out;
  color: #999;
  font-size: 10pt;
}

#change_email_id_nav_btn{
  color: #666;
  font-size: 12pt;
}

#change_password_nav_btn{
  color: #aaa;
  font-size: 10pt;
}

#notifications_nav_btn{
  color: #aaa;
  font-size: 10pt;
}

.section_title{
  font-family: lato;
  color: #525250;
  padding-left: 0;
  font-size: 13pt;
}

.section{
  padding: 35px;
  padding-top: 25px;
  padding-bottom: 15px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #b6b7b7;
  transition: 350ms ease-in-out;
}

.input{
  width: 100%;
  padding: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 10pt;
  border-radius: 3px;
  border: 1px solid #b6b7b7;
  margin-bottom: 15px;
  color: #323230;
  -webkit-appearance: none;
}

.input:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

.save_btn{
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  background-color: #292c38;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 10pt;
  border: 1px solid #292c38;
  color: #fff;
  float: right;
  width: 120px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
  float: right;
  /*margin-right: 60px;*/
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b0b0b0;
  -webkit-transition: .4s;
  transition: .4s;
  float: left;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fcfcfc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6abd45;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6abd45;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notif_toggle:checked ~ .notif_on {
  opacity: 1;
}

.notif_toggle:checked ~ .notif_off {
  opacity: 0;
}

.notif_on{
  color: #fff;
  position: absolute;
  top: 4.3px;
  left: 11px;
  font-size: 7pt;
  opacity: 0;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

.notif_off{
  color: #fff;
  position: absolute;
  top: 4.3px;
  right: 10px;
  font-size: 7pt;
  opacity: 1;
  transition: 350ms ease-in-out;
  cursor: pointer;
}

.edit_btn{
  font-size: 8pt;
  padding: 2.5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  border: 1px solid #525160;
  color: #292c38;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -10px;
}

.edit_icon{
  height: 10px;
  margin-left: 2px;
}

.edit_notif{
  padding-top: 10px;
  padding-right: 60px;
  width: 220px;
  margin-left: 74px;
  margin-right: 74px;
  font-size: 14px;
  overflow: hidden;
  transition: 350ms ease-in-out;
}

.check_box{
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.setting{
  cursor: pointer;
  display: inline;
}

.edit_notif_btns{
  color: #525250;
  margin-top: 30px;
  width: 80px;
  font-size: 9pt;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #292c38;
  display: block;
  text-align: center;
  float: left;
  cursor: pointer;
}

.notif_section{
  padding-top: 15px;
  margin-bottom: 0;
}

#note{
  font-style:italic;
  font-size: 8pt;
  margin-top: 5px;
}

.error_strings{
  opacity: 1;
  font-size: 9pt;
  position: relative;
  transition: 500ms ease-in-out;
  color: #F27072;
  margin-top: 8px;
  float: right;
  margin-top: 3px;
}

@media all and (max-width: 800px) {
  #navigation{
    display: none;
  }

  #content{
    min-width: 0;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0;
    padding-bottom: 0;
  }

  #navigation_not_fixed{
    display: none;
  }

  #content{
    max-width: none;
  }

  .container{
    max-width: none;
    padding: 3vw;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 0;
  }

  .section_title{
    font-size: 3vw;
  }

  .input{
    padding: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 2.8vw;
    margin-bottom: 2.5vw;
  }

  .section{
    padding: 4vw;
    padding-top: 3.5vw;
    padding-bottom: 2.5vw;
    overflow: hidden;
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
  }

  .save_btn{
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 2.5vw;
    width: 14vw;
  }

  .notif_section{
    padding-top: 1.5vw;
    padding-bottom: 1.2vw;
    font-size: 2.8vw;
  }

  #note{
    font-size: 2.3vw;
    margin-top: 1.8vw;
  }

  /* The switch - the box around the slider */
  .switch {
    width: 9vw;
    height: 4vw;
    /*margin-right: 12vw;*/
  }

  .slider:before {
    height: 3.4vw;
    width: 3.4vw;
    left: .3vw;
    bottom: .3vw;
  }

  .slider.round {
    border-radius: 10vw;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(5vw);
    -ms-transform: translateX(5vw);
    transform: translateX(5vw);
  }

  .notif_on{
    top: .8vw;
    left: 1.5vw;
    font-size: 2vw;
  }

  .notif_off{
    top: .8vw;
    right: .9vw;
    font-size: 2vw;
  }

  .edit_btn{
    font-size: 2.3vw;
    padding: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    right: -.1vw;
  }

  .edit_notif{
    padding-top: 1vw;
    margin-left: 9vw;
    margin-right: 9vw;
    font-size: 2.7vw;
    width: auto;
    padding-right: 0;
  }

  .edit_notif_btns{
    margin-top: 5vw;
    width: 14vw;
    font-size: 2.7vw;
    padding: .6vw;
  }

  .edit_icon{
    height: 1.8vw;
    margin-left: .4vw;
  }

  .error_strings{
    font-size: 2.5vw;
    margin-top: 1.4vw;
  }

}
