#tradesman_container{
  padding-top: 87.5px;
  margin-right: 40px;
  padding-bottom: 36px;
}

#tradesman_container_blurred{
  padding-top: 87.5px;
  margin-right: 40px;
  padding-bottom: 36px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#profile_container{
  background-color: #fcfcfc;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  padding: 25px;
  padding-bottom: 0;
}

#init_info{
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

#prof_image{
  height: 12vw;
  width: 12vw;
  float: left;
  margin-right: 20px;
  position: relative;
}

.status_bar{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: .4vw;
}

#rating_phrase{
  float: left;
  font-family: lato;
  font-style: italic;
  font-size: .96vw;
  margin-top: .64vw;
  margin-left: 8px;
}

.rating_review_phrase{
  float: left;
  font-style: italic;
  font-size: 1.21vw;
  margin-left: 8px;
  font-family: lato-thin;
}

#rating_container{
  margin-top: .727vw;
  float: left;
}

.rating_image{
  float: left;
  height: 1.637vw;
  width: 1.637vw;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.rating_image_review_popup{
  float: left;
  height: 18px;
  width: 18px;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.rating_review_image{
  float: left;
  height: 1.36vw;
  width: 1.36vw;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.star_icon{
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
}

.star_shade{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #ffc81a;
  z-index: 1;
}

#info{
  overflow: hidden;
  position: relative;
}

#location{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9pt;
}

.section_container{
  position: relative;
  overflow: hidden;
  margin-top: .909vw;
  margin-bottom: .909vw;
  color: #525250;
}

#availability{
  margin-top: 4.5px;
  color: #525250;
  font-size: 1.33vw;
  float: left;
  margin-bottom: 4.5px;
}

#request_small{
  position: absolute;
  right: 0px;
  color: #fff;
  background-color: #323230;
  border-radius: 4px;
  padding: 5.5px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  font-family: lato-thin;
  font-size: 1.1vw;
}

#section{
  margin: 30px;
  width: 100%;
  margin-top: 0px;
  position: relative;
  color: #000;
  text-align: justify;
  margin-bottom: 15px;
}

#name{
  font-size: 1.952vw;
  color: #525250;
}

.field{
  font-size: .97vw;
  color: #727270;
  margin-top: .455vw;
  font-family: lato-thin;
}

.value{
  font-size: 1.33vw;
  color: #525250;
  font-family: lato-thin;
}

#about_content{
  font-size: 1.21vw;
  font-family: lato-thin;
  margin-right: 25px;
  margin-top: 5px;
  color: #727270;
}

.specialize_content{
  font-size: 1.21vw;
  font-family: lato-thin;
  margin-top: .455vw;
  color: #727270;
  width: 50%;
  float: left;
}

.specialize_dash{
  float: left;
  margin-right: 5px;
}

.specialize_skill{
  overflow: hidden;
  margin-right: 15px;
}

.recent_work_images{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 12.27vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  color: #fff;
  cursor: pointer;
  background-color: #aaa;
  position: relative;
}

#gallery_wrapper{
  overflow-y: hidden;
  margin-top: 0px;
  height: 125px;
  height: 11.4vw;
  position: relative;
  transition: 350ms ease-in-out;
}

#recent_works_wrapper{
  overflow-y: hidden;
  margin-top: 0px;
  height: 12.3vw;
  position: relative;
  transition: 350ms ease-in-out;
}

.gallery_div{
  display: block;
  overflow: hidden;
  height: 10.91vw;
  margin: 5px;
}

.gallery_image{
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  width: 100%;
  float: left;
  cursor: pointer;
}

#company_wrapper{
  height: 200px;
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  box-shadow: 3px 3px 5px #999;
  position: relative;
}

#company_logo{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 12.715vw;
  width: 12.715vw;
  float: left;
  background-color: #999;
  margin-right: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

#company_info{
  overflow: hidden;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#address{
  font-size: 10.5pt;
  color: #000;
  margin-top: 6px;
}

#company_rating_wrapper{
  position: absolute;
  bottom: 0px;
  right: 30px;
}

.rating_bar_company{
  height: 20px;
  background-color: #333;
  margin-top: 20px;
}

.rating_company{
  z-index: 1;
  position: relative;
  top: -22px;
}

.rating_img_company{
  height: 22px;
  float: left;
  margin-right: 10px;
  z-index: 1;
}

.rating_phrase_company{
  margin-top: 4px;
  float: left;
  color: #777;
  font-style: italic;
  font-size: 9pt;
  z-index: 1;
}

#big_request{
  display: inline-block;
  color: #fff;
  background-color: #323230;
  border-radius: 4px;
  padding: 6px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  font-family: lato-thin;
  font-size: 9pt;
  margin-bottom: 25px;
}

#big_request:hover{
  box-shadow: inset 0px 60px 5px rgba(0,0,0,.1);
}

#view_profile_btn{
  display: inline-block;
  color: #fff;
  background-color: #323230;
  border-radius: 4px;
  padding: 4px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  font-family: lato-thin;
  font-size: .97vw;
  margin-top: 3px;
}

.social_media_btns{
  float: left;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  height: 2.18vw;
}

.social_media_btns:hover{
  box-shadow: inset 2px 2px 5px rgba(0,0,0,.1);
}

#overlay, #overlay_1, #overlay_2, #overlay_3{
  display: none;
}

#overlay_active, #overlay_1_active, #overlay_2_active, #overlay_3_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#image_overlay, #gallery_overlay, #image_overlay_2{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);;
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px rgba(0,0,0,.4);
  z-index: 100;
  transition: 350ms ease-in-out;
  opacity: 0;
  border-radius: 10px;
  overflow: hidden;
}

#gallery_image{
  height: 330px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  position: relative;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: #171617;
}

#image_overlay_btn{
  font-family: lato-thin;
  border-radius: 5px;
  border: 1px solid #f37374;
  background-color: #f37374;
  color: #fff;
  font-size: 10pt;
  padding: 4px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  display: inline-block;
}

#image_overlay_2_btn{
  margin-top: -2px;
  font-family: lato;
  border-radius: 5px;
  border: 1px solid #888;
  color: #333;
  background-color: #ccc;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 180;
  text-align: center;
}

#image_overlay_2_btn:hover{
  color: #fff;
  background-color: #888;
}

.gallery_arrows{
  position: absolute;
  height: 40px;
  cursor: pointer;
}

#right_arrow{
  top: 150px;
  right: 10;
  transform: rotate(180deg);
  height: 30px;
}

#left_arrow{
  top: 150px;
  left: 10;
  height: 30px;
}

.view_more_invi{
  float: right;
  font-size: 1.21vw;
  line-height: 1.29vw;
  font-family: lato;
  cursor: pointer;
  transition: 350ms ease-in-out;
  visibility: hidden;
  text-align: center;
}

.view_more{
  position: absolute;
  visibility: visible;
  right: 0;
}

.rw_image_texts{
  position: absolute;
  z-index: 3;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  height: 100%;
}

.rw_image_texts_wrapper{
  padding-top: 1.5vw;
  position: relative;
}

#gallery_view_more{
  bottom: 4.15vw;
}

#rw_view_more{
  bottom: 4.65vw;
}

.rw_shown{
  font-size: 12pt;
}

.rw_desc{
  margin-top: .455vw;
  font-size: 1.21vw;
  font-family: lato-thin;
  word-break:break-all;
}

.rw_shadow{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 2;
}

.rw_btn{
  position: absolute;
  font-size: 8pt;
  color: #6189c6;
  font-family: lato-thin;
  cursor: pointer;

}

.review_name{
  width: 33.3%;
  float: left;
  text-align: left;
  font-size: 1.27vw;
  font-family: lato;

}

.review_rating{
  width: 33.3%;
  float: left;
  text-align: center;
  font-size: .83vw;
  font-family: lato-thin;

}

.review_date{
  width: 33.3%;
  float: left;
  text-align: right;
  margin-top: .18vw;
  font-size: 1.03vw;
  font-family: lato-thin;

}

.review_title{
  font-size: 1.21vw;
  font-family: lato;
  clear: both;
  width: 80%;
  margin-top: .45vw;
}

.review_text{
  font-size: 1.21vw;
  font-family: lato-thin;

  clear: both;
  width: 80%;
  margin-top: .18vw;
  margin-bottom: .73vw;
}

.review_images{
  width: 7.27vw;
  height: 5.45vw;
  float: left;
  margin: 2.5px;
  margin-bottom: .73vw;
}

#location_phrase{
  float: left;
  margin-top: .273vw;
  margin-left: .637vw;
}

#location_image{
  height: 1.82vw;
  float: left;
}

.section_title{
  font-size: 1.45vw;
}

#company_name{
  font-size: 1.58vw;
  margin-bottom: .27vw;
}

#company_address{
  font-size: .97vw;
  line-height: 1.21vw;
}

.company_number{
  font-size: 1.21vw;
  float: left;
}

.company_number_icon{
  margin-top: .18vw;
  height: 1.36vw;
  float: left;
  margin-right: 5px;
}

#company_number_container{
  overflow: hidden;
  margin-top: .45vw;
  margin-bottom: .45vw;
}

#recent_work_bottom_shadow{
  width: 100%;
  position: absolute;
  height: 30px;
  box-shadow: 0 -25px 15px rgba(0,0,0,.4);
  background-color: transparent;
}

#dots_container{
  text-align: center;
  position: absolute;
  bottom: 6;
  width: 100%;
}

.dot{
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 100000px;
  height: 7px;
  width: 7px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

#rw_price_container{
  color: #424240;
  font-family: lato-thin;

  font-size: 9pt;
  overflow: hidden;
}

#rw_price{
  float: left;
  font-size: 13pt;
  font-family: lato;
  font-weight: 100;
  color: #525250;
  margin-left: 5px;
}

#review_popup_date{
  float: right;
  margin-top: 5px;
  font-size: 7pt;
  font-family: lato-thin;
  font-style: italic;

}

#gallery_pop_close{
  position: absolute;
  top: 10;
  right: 10;
  height: 15px;
  cursor: pointer;
}

.shortened_section{
  margin-left: -5px;
  margin-right: 10px;
  overflow: hidden;
}

#reviews_wrapper{
  margin-right: 80px;
  margin-top: 5px
}

.rw_btn_img{
  height: 6.5px;
  margin-right: 2px;
}

#rw_text_container{
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #525250;
}

#prev_rw_image_btn{
  bottom: 22.5px;
  left: 25px;
}

#next_rw_image_btn{
  bottom: 22.5px;
  right: 25px;
}

#rw_text_wrapper{
  width: 95%;
}

#telephone_logo{
  height: 1.45vw;
  float: left;
}

#telephone_number{
  float: left;
  margin-top: .225vw;
  margin-left: 8px;
}

#address_wrapper{
  margin-top: .65vw;
}

#contact_wrapper{
  margin-top: .7vw;
  font-size: 1vw;
  font-family: lato;
}

@media all and (min-width: 1100px){
  #prof_image{
    height: 132px;
    width: 132px;
  }

  #name{
    font-size: 16pt;
  }

  .field{
    font-size: 8pt;
    margin-top: 5px;
  }

  .value{
    font-size: 11pt;
  }

  #rating_container{
    margin-top: 8px;
  }

  .rating_image{
    height: 18px;
    width: 18px;
  }

  #rating_phrase{
    margin-top: 7px;
    margin-left: 8px;
    font-size: 8pt;
  }

  #location_phrase{
    margin-top: 3px;
    margin-left: 7px;
  }

  #location_image{
    height: 20px;
  }

  #availability{
    font-size: 11pt;
  }

  .section_container{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #request_small{
    font-size: 9pt;
  }

  .section_title{
    font-size: 12pt;
  }

  #about_content{
    font-size: 10pt;
  }

  .specialize_content{
    font-size: 10pt;
    margin-top: 5px;
  }

  .view_more_invi{
    font-size: 10pt;
    line-height: 11pt;
  }

  .recent_work_images{
    height: 135px;
  }

  #recent_works_wrapper{
    height: 140px;
  }

  .gallery_div{
    height: 120px;
  }

  #gallery_wrapper{
    height: 125px;
  }

  #gallery_view_more{
    bottom: 47px;
  }

  #rw_view_more{
    bottom: 52px;
  }

  .rw_desc{
    margin-top: 5px;
    font-size: 10pt;
  }

  #company_logo{
    height: 140px;
    width: 140px;
  }

  #company_name{
    font-size: 13pt;
    margin-bottom: 3px;
  }

  #company_address{
    font-size: 8pt;
    line-height: 10pt;
  }

  .company_number{
    font-size: 10pt;
  }

  .company_number_icon{
    margin-top: 2px;
    height: 15px;
  }

  #company_number_container{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #view_profile_btn{
    font-size: 8pt;
  }

  #company_info{
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .social_media_btns{
    height: 24px;
  }

  .review_name{
    font-size: 10.5pt;
  }

  .rating_review_phrase{
    font-size: 10pt;
    margin-left: 8px;
  }

  .review_date{
    margin-top: 2px;
    font-size: 8.5pt;
  }

  .rating_review_image{
    height: 15px;
    width: 15px;
  }

  .review_title{
    font-size: 10pt;
    margin-top: 5px;
  }

  .review_text{
    font-size: 10pt;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .review_images{
    width: 80px;
    height: 60px;
    margin-bottom: 8px;
  }
}

@media all and (max-width: 981px) {
  #tradesman_container, #tradesman_container_blurred{
    margin-right: 0;
  }
}

@media all and (max-width: 800px) {
  #tradesman_container, #tradesman_container_blurred{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #profile_container{
    padding: 2.5vw;
  }

  #prof_image{
    height: 25vw;
    width: 25vw;
    margin-right: 4vw;
  }

  #name{
    font-size: 4vw;
  }

  .field{
    font-size: 1.5vw;
  }

  .value{
    font-size: 3vw;
  }

  .rating_image{
    height: 3vw;
    width: 3vw;
  }

  #rating_phrase{
    font-size: 2.1vw;
  }

  #location_image{
    height: 4vw;
  }

  #location_phrase{
    font-size: 2.5vw;
    margin-top: .8vw;
  }

  #status_bar{
    height: .8vw;
  }

  #availability{
    font-size: 3.5vw;
  }

  #request_small{
    font-size: 2.7vw;
    padding: .85vw;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    margin-top: .65vw
  }

  #big_request{
    font-size: 3vw;
    padding: 1vw;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .section_title{
    font-size: 3vw;
  }

  #about_content{
    font-size: 3.2vw;
  }

  .specialize_content{
    font-size: 3.2vw;
  }

  .section_container{
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }

  #recent_works_wrapper{
    height: 20vw;
  }

  .recent_work_images{
    height: 18vw;
  }

  .view_more{
    font-size: 2vw;
    line-height: normal;
  }

  .shortened_section{
    margin-right: 5vw;
  }

  .rw_title{
    font-size: 2.8vw;
  }

  .rw_desc{
    font-size: 2.3vw;
  }

  #gallery_wrapper{
    height: 20vw;
  }

  .gallery_div{
    height: 18vw;
  }

  #gallery_view_more{
    bottom: 10vw;
    transform: translateY(50%);
  }

  #rw_view_more{
    bottom: 10vw;
    transform: translateY(50%);
  }

  #company_logo{
    height: 25vw;
    width: 25vw;
    margin-right: 4vw;
  }

  #company_name{
    font-size: 3.6vw;
    margin-bottom: .5vw;
  }

  #company_address{
    font-size: 2.2vw;
    line-height: normal;
  }

  .company_number_icon{
    height: 2.5vw;
    margin-top: .5vw;
  }

  .company_number{
    font-size: 1.8vw;
    margin-top: 1vw;
  }

  #view_profile_btn{
    font-size: 2vw;
    position: absolute;
    bottom: 2.6vw;
  }

  #reviews_wrapper{
    margin-right: 0px;
  }

  .review_name{
    font-size: 2.7vw;
  }

  .rating_review_image{
    height: 2.7vw;
    width: 2.7vw;
  }

  .rating_review_phrase{
    font-size: 2.7vw;
  }

  .review_date{
    font-size: 2.1vw;
  }

  .review_title{
    font-size: 2.55vw;
    width: 95%;
  }

  .review_text{
    font-size: 2.3vw;
    width: 95%;
  }

  .review_images{
    height: 15vw;
    width: 20vw;
  }

  .social_media_btns{
    height: 4.5vw;
  }

  .rw_btn{
    font-size: 6pt;
  }

  .rw_btn_img{
    height: 6px;
  }

  #rw_text_container{
    padding: 3.5vw;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #prev_rw_image_btn{
    left: 3.5vw;
  }

  #next_rw_image_btn{
    right: 3.5vw;
  }

  #image_overlay, #gallery_overlay, #image_overlay_2{
    width: 95%;
  }

  #rw_text_wrapper{
    width: 98%;
  }

  #telephone_logo{
    height: 3.5vw;
  }

  #telephone_number{
    font-size: 2.4vw;
  }

  #address_wrapper{
    margin-top: 1vw;
  }

  #contact_wrapper{
    margin-top: 1vw;
  }
}
