#to_top_btn{
  position: fixed;
  bottom: 2vw;
  right: 3vw;
  height: 9vw;
  opacity: 0;
  transition: 350ms ease-in-out;
  cursor: pointer;
  max-height: 60px;
}

#tradesmanlist_container{
  height: 87.7%;
  width: 100%;
  padding-top: 51px;
}

#tradesmanlist_container_blurred{
  height: 87.7%;
  width: 100%;
  padding-top: 51px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#content{
  overflow: hidden;
}

#filters{
  float: left;
  width: 240px;
  height: 100%;
}

#filter_container{
  position: relative;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#searchfield{
  font-size: 12pt;
  padding: 10px;
  color: #777;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  border: none;
  width: 90%;
  margin: 3px;
  margin-left: 1.45%;
  background-color: #fcfcfc;
  border-radius: 0;
}

#searchfield:focus{
  outline: none;
  box-shadow: 0 0 11px rgba(0,0,0,.25);
  background-color: #fff;
}

#location{
  float: right;
  height: 38px;
  width: 150px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  cursor: pointer;
  margin: 3px;
  margin-right: 1.1%;
  background-color: #fcfcfc;
}

#loc_phrase{
  outline: none;
  width: 100%;
  position: relative;
  padding: 9px;
  padding-left: 22px;
  font-size: 12pt;
  text-align: left;
  color: #525250;
  border-radius: 0;
  margin: 0;
  border: 1px solid #fcfcfc;
}

#loc_phrase:focus{
  background-color: #fff;
}

#loc_image{
  height: 38px;
  width: 38px;
  background-color: #828282;
  float: left;
}

#loc_search{
  height: 38px;
  width: 38px;
  background-color: #828282;
  float: left;
  display: none;
}

/*#loc_search:hover{
  box-shadow: inset 0 60px 5px rgba(0,0,0,.1);
}*/

#list_container{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  clear:both;
}

.tradesman{
  width: 100%;
  background-color: #fcfcfc;
  margin-top: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  position: relative;
  overflow: hidden;
}

.tradesman_img{
  float: left;
  height: 11.5vw;
  width: 11.5vw;
  position: relative;
}

.status_bar{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: .4vw;
}

.tradesman_info{
  overflow: hidden;
  padding: 8px;
  padding-left: 35px;
  padding-top: 0;
  padding-bottom: 0;
  color: #525250;
  position: relative;
  height: 11.5vw;
}

#category{
  font-size: 16pt;
}

.tradesman_buttons_container{
  position: absolute;
  bottom: 11px;
}

.tradesman_buttons{
  color: #fff;
  padding: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
  border-radius: 2px;
  cursor: pointer;
  background-color: #434343;
  font-family: lato-thin;
  font-size: .97vw;
}

#view_prof_btn{
  margin-left: 12px;
}

.name{
  font-size: 1.6vw;
  margin-top: 8px;
}

.category, .company{
  font-size: 1.1vw;
  margin-top: .3vw;
  font-family: lato-thin;
}

.availability{
  margin-top: .3vw;
  color: #359244;
  font-style: italic;
  font-size: 1.05vw;
}

.rating_bar{
  height: 20px;
  background-color: #333;
  margin-top: 12px;
}

.rating{
  margin-top: .6vw;
  text-align: right;
  overflow: hidden;
  clear: both;
  float: right;
}

.rating_img{
  height: 21px;
  float: left;
  margin-right: 15px;
  z-index: 100;
}

.rating_image{
  float: left;
  height: 1.5vw;
  width: 1.5vw;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.star_icon{
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
}

.star_shade{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #ffc81a;
  z-index: 1;
}

.rating_phrase{
  float: right;
  font-style: italic;
  margin-left: 5px;
  position: relative;
  top: .1vw;
  font-size: 1.05vw;
  margin-right: 3px;
}

.rating_container{
  float: right;
}

.distance_phrase{
  float: left;
  margin-left: 5px;
  position: relative;
  top: .5vw;
  margin-right: 3px;
}

.location{
  font-style: italic;
  font-size: 1.05vw;
  text-align: right;
  overflow: hidden;
  float: right;
}

#overlay{
  display: none;
}

#overlay_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tradesman_utility_info{
  position: absolute;
  bottom: 11px;
  right: 20px;
  overflow: hidden;
}

.distance_image{
  float: left;
  height: 1.9vw;
}

#filters_container{
  margin-top: 84px;
}

.filter{
  background-color: #fcfcfc;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.filter_header{
  background-color: #828282;
  width: 100%;
  color: #fff;
  font-family: lato-thin;
  text-align: center;
  font-size: 1.325vw;
  padding: .38vw;
  padding-left: 0;
  padding-right: 0;
}

.sub_category_filter{
  font-family: lato-thin;
  color: #525250;
  font-size: 1.1vw;
  overflow: hidden;
  margin-right: 15px;
}

.sub_category_checkbox{
  height: 1.15vw;
  position: relative;
  top: .15vw;
  margin-right: 1.15vw;
  cursor: pointer;
}

#add_service_time{
  display: inline-block;
  padding: .6vw;
  padding-left:.9vw;
  padding-right: .9vw;
  font-size: 1.1vw;
  font-family: lato-thin;
  border-radius: 4px;
  color: #525250;
  border: 1px solid #aaa;
  overflow: hidden;
  margin: 15px;
  margin-top: 30px;
  cursor: pointer;
}

#add_service_time_icon{
  float: left;
  height: 1.4vw;
}

#update_service_time{
  display: inline-block;
  font-size: 1.1vw;
  padding: .2vw;
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  font-family: lato-thin;
  border-radius: 4px;
  color: #525250;
  border: 1px solid #aaa;
  overflow: hidden;
  margin: 15px;
  margin-top: 60px;
  cursor: pointer;
}

#service_time_container{
  margin-left: 25px;
  margin-right: 25px;
}

.time_container{
  width: 83.92px;
  display: inline-block;
}

.time_box{
  border-radius: 4px;
  border: 1px solid #eaeaea;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  padding: 2.5px;
}

.time{
  float: left;
  font-size: 9.5pt;
  background-color: transparent;
  color: #525250;
  border: none;
  width: 45%;
}

.hour_time{
  text-align: right;
}

.time{
  outline: none;
}

.colon{
  float: left;
  background-color: transparent;
  color: #525250;
  font-size: 9.5pt;
  position: relative;
  top: -1px;
}


.am_pm{
  font-size: 9.5pt;
  float: right;
  background-color: #eaeaea;
  padding: 3.5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.am_pm_text{
  float: left;
  background-color: transparent;;
  color: #525250;
  position: relative;
  top: -1px;
}

.am_pm_button{
  float: left;
  cursor: pointer;
  height: 8px;
  position: relative;
  top: 5px;
  margin-left: 2px;
  padding-right: 1px;
}

.drop-down{
  clear: both;
  height: 0;
  transition: height 500ms ease;
  overflow: hidden;
}

.option{
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  cursor: pointer;
  border-top: none;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#service_time_to{
  float:left;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 9.5pt;
}

#category_title{
  margin-left: 15px;
  font-size: 1.1vw;
  overflow: hidden;
  padding: .37vw;
  padding-left: 15px;
  border: 1px solid #eaeaea;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.category_button{
  cursor: pointer;
  height: 1vw;
}

#category_drop_down_btn{
  float: right;
  margin-right: 15px;
  padding: .52vw;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.job_dropdown{
  font-size: 1.01vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  color: #a6a6a7;
}

#job_dropdown{
  background-color: rgba(252,252,252, .925);
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  z-index: 3;
  width: 168px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 350ms ease-in-out;
  overflow: hidden;
  border: none;
  border-top: none;
  max-height: 0;
}

#sub_cat_margin{
  margin-top: 5.5vw;
}

.manual_ads{
  display: none;
}

.company_img{
  float: left;
  height: 7.5vw;
  max-height: 150px;
  max-width: 150px;
  width: 7.5vw;
  position: relative;
  padding: 1vw
}

.company_number_icon{
  height: .8vw;
  margin-right: 5px;
}

.category_phone_number{
  margin-top: .65vw;
  color: #727270;
  font-size: .8vw;
}

.rating_mobile{
  display: none;
}

.location_mobile{
  display: none;
}

#location_input_icon{
  height: 20px;
  margin-top: 8px;
  margin-left: 13px;
}

#location_input_icon_2{
  height: 16px;
  margin-top: 10px;
  margin-left: 11px;
}

.loc_error{
  clear: both;
  text-align: center;
  color: #F27072;
  margin-top: 5px;
  font-size: .9vw;
  font-family: lato;
}

#time_error{
  clear: both;
  text-align: center;
  color: #F27072;
  margin-top: 8px;
  font-size: 6.5pt;
  font-family: lato;
  opacity: 0;
  transition: 350ms ease-in-out;
}

@media all and (min-width: 1313px) {
  .tradesman_img{
    height: 150px;
    width: 150px;
  }

  .tradesman_buttons{
    font-size: 9.5pt;
  }

  .tradesman_info{
    height: 150px;
  }

  .name{
    font-size: 15.9pt;
  }

  .category, .company{
    margin-top: 4px;
    font-size: 10.8pt;
  }

  .availability{
    margin-top: 4px;
    font-size: 10.3pt;
  }

  .location{
    font-size: 10.3pt;
  }

  .distance_image{
    height: 25px;
  }

  .distance_phrase{
    top: 7px;
  }

  .rating_phrase{
    top: 2px;
    font-size: 10.3pt;
  }

  .rating{
    margin-top: 8px;
  }

  .rating_image{
    height: 19.7px;
    width: 19.7px;
  }

  .filter_header{
    font-size: 13pt;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .sub_category_filter{
    font-size: 11pt;
  }

  .sub_category_checkbox{
    height: 15px;
    margin-right: 15px;
    top: 2px;
  }

  #update_service_time{
    font-size: 11pt;
    padding: 2.5px;
    padding-left: 23px;
    padding-right: 23px;
  }

  #add_service_time_icon{
    height: 18px;
  }

  #add_service_time{
    font-size: 11pt;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #category_title{
    font-size: 11pt;
    padding: 4px;
    padding-left: 15px;
  }

  .job_dropdown{
    font-size: 10pt;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
  }

  .category_button{
    height: 13px;
  }

  #category_drop_down_btn{
    padding: 7px;
  }

  #sub_cat_margin{
    margin-top: 59px;
  }

  #job_dropdown{
    max-height: 0;
  }

}

@media all and (max-width: 1220px) {
  .rating_container{
    clear: both;
    margin-top: 5px;
  }

  .rating_image{
    height: 1.3vw;
    width: 1.3vw;
  }

  .rating_phrase{
    top: 0;
  }
}


@media all and (max-width: 981px) {
  .manual_ads{
    display: block;
  }

  .company_img{
    height: 8.5vw;
    width: 8.5vw;
    padding: 2vw;
  }

  .tradesman_img{
    height: 12.5vw;
    width: 12.5vw;
  }

  .tradesman_info{
    height: 12.5vw;
  }

  #filters{
    margin-left: 4%;
  }
}

@media all and (max-width: 800px) {
  #filters{
    display: none;
  }

  .tradesman{
    margin-top: 3vw;
  }

  .tradesman_img{
    height: 28vw;
    width: 28vw;
  }

  .tradesman_info{
    height: 28vw;
    padding-left: 3.5vw;
  }

  .company_img{
    height: 19vw;
    width: 19vw;
    padding: 4.5vw;
  }

  .name{
    font-size: 4vw;
  }

  .category{
    font-size: 3vw;
  }

  .company{
    font-size: 3vw;
  }

  .availability{
    font-size: 2.3vw;
  }

  .tradesman_buttons{
    font-size: 2.7vw;
    padding-top: .8vw;
    padding-bottom: .8vw;
  }

  .tradesman_utility_info{
    display: none;
  }

  .rating_mobile{
    display: block;
    float: left;
    margin-top: 1.7vw;
    margin-left: 1.2vw;
  }

  .rating_container{
    clear: none;
    margin-top: 0;
  }

  .rating_image{
    height: 2.5vw;
    width: 2.5vw;
    margin-left: .25vw;
    margin-right: .25vw;
  }

  .rating_phrase{
    top: 0;
    font-size: 2.15vw;
    margin-left: .5vw;
    margin-right: .1vw
  }

  .tradesman_buttons_container{
    bottom: 1.7vw;
  }

  .location_mobile{
    display: block;
    float: left;
    margin-top: 1vw;
    font-size: 2.5vw;
  }

  .distance_image{
    height: 3.5vw;
  }

  .status_bar{
    height: .9vw;
  }

  .company_number_icon{
    height: 3.5vw;
    margin-top: .1vw;
    position: relative;
    top: .5vw;
  }

  .category_phone_number{
    font-size: 2.5vw;
  }

  .ads_street_address{
    margin-top: .4vw;
  }

  .ads_info{
    height: 28vw;
  }


  #searchfield{
    font-size: 2.8vw;
    padding: 1.5vw;
  }

  #loc_phrase{
    padding: 1.35vw;
    padding-left: 2vw;
    font-size: 2.7vw;
  }

  #location_input_icon{
    height: 3vw;
    margin-top: 1.55vw;
    margin-bottom: 1.55vw;
    margin-left: 2.25vw;
  }

  #location_input_icon_2{
    height: 3vw;
    margin-top: 1.55vw;
    margin-bottom: 1.55vw;
    margin-left: 1.5vw;
  }

  #loc_image, #loc_search{
    height: 6.1vw;
    width: 6.1vw;
  }

  #location{
    height: 6.1vw;
    width: 22vw;
  }

  .loc_error{
    font-size: 1.5vw;
  }

  #to_top_btn{
    height: 20vw;
  }

}
