#container{
  background-color: #fcfcfc;
  width: 100%;
}

#container_blur{
  background-color: #fcfcfc;
  width: 100%;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#overlay_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#overlay_hide{
  display: none;
}

#navigation_not_fixed{
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 155px;
  min-height: 1px;
}

#navigation{
  position: fixed;
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 82.5%;
  max-width: 1221.81px;
}

#content{
  position: relative;
  padding: 20px;
  padding-left: 5px;
  padding-right: 15px;
  max-width: 828px;
  overflow: hidden;
}

#content_blur{
  position: relative;
  padding: 20px;
  padding-left: 5px;
  padding-right: 15px;
  max-width: 828px;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
  overflow: hidden;
}

.nav_btns{
  font-family: lato;
  padding: 5px;
  cursor: pointer;
  transition: 350ms ease-in-out;
  color: #999;
  font-size: 10pt;
}

#save_btn{
  padding: 8px;
  border-radius: 5px;
  background-color: #292c38;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 9pt;
  border: 1px solid #292c38;
}

#right_btns{
  margin-right: 1.1%;
  float: right;
  width: 165px;
}

#right_btns_not_fixed{
  width: 205px;
  min-height: 1px;
  float: right;
}

#testimonial{
  overflow: hidden;
  background-color: #fcfcfc;
  border-radius: 6px;
  width: 600px;
  left: 50%;
  margin-left: -365px;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  padding: 25px;
  padding-left: 65px;
  padding-right: 65px;
  color: #525250;
  text-align: center;
  opacity: 0;
  transition: 350ms ease-in-out;
}

#testimonial_section{
  border-radius: 4px;
  border: 1px solid #b6b7b7;
  padding: 15px;
  margin-top: 20px;
}

.rw_title{
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 10pt;
  padding: 3px;
}

.rw_title:focus{
  outline: none;
}

.rw_description{
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 10pt;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  resize: none;
}

.rw_description:focus{
  outline: none;
}

#testimonial_btns{
  margin-top: 20px;
  display: inline-block;
}

.popup_btns{
  width: 120px;
  border-radius: 4px;
  padding: 6px;
  float: left;
  font-size: 10pt;
  cursor: pointer;
}

#testimonial_popup_text{
  font-size: 16pt;
}

#popup_btns_cancel{
  margin-right: 40px;
}

#error_strings{
  opacity: 0;
  font-size: 8pt;
  position: relative;
  transition: 500ms ease-in-out;
  color: #F27072;
  margin-top: 8px;
  text-align: center;
  margin-top: 4px;;
}

@media all and (max-width: 1230px) {
  #right_btns{
    float: left;
    margin-right: 30px;
  }

  #right_btns_not_fixed{
    float: none;
  }
}

@media all and (max-width: 800px) {
  #navigation{
    display: none;
  }

  #content, #content_blur{
    min-width: 0;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0;
    padding-bottom: 0;
  }

  #navigation_not_fixed{
    display: none;
  }

  #testimonial{
    width: 85%;
    left: 50%;
    margin-left: 0;
    transform: translateY(-50%)translateX(-50%);
    padding: 3.5vw;
    padding-left: 5%;
    padding-right: 5%;
  }

  .rw_title{
    font-size: 2.8vw;
  }

  .rw_description{
    font-size: 2.8vw;
  }

  .popup_btns{
    width: 25vw;
    font-size: 3vw;
  }

  #testimonial_popup_text{
    font-size: 4vw;
  }

  #popup_btns_cancel{
    margin-right: 5vw;
  }

}
