#userhistory_container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 87.5px;
  bottom: 36.5px;
  left: 5%;
  right: 5%;
}

#userhistory_container_blurred{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 87.5px;
  bottom: 36.5px;
  left: 5%;
  right: 5%;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

#profile_container{
  float: right;
  width: 32.308vw;
  margin-left: 40px;
  background-color: #fcfcfc;
  padding: 20px;
  padding-left: 4.615vw;
  padding-right: 4.615vw;
  margin-bottom: 36.5px;
  color: #525250;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  overflow: hidden;
}

#profile_picture{
  height: 104px;
  width: 104px;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  float: left;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
}

#profile_picture:hover #upload_pic{
  opacity: 1;
}

.title{
  font-size: 14pt;
  margin-bottom: 8px;
}

#upload_pic{
  width: 100%;
  height: 17px;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  font-family: lato-thin;

  font-size: 7pt;
  text-align: center;
  opacity: 0;
  transition: 350ms ease-in-out;
}

#profile_name_container{
  overflow: hidden;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
}

.field{
  font-size: 7pt;
  margin-top: 8px;
  color: #a9aaa9;
}

.input_container{
  position: relative;
  overflow: hidden;
}

.input_value, .input_value_testimonial_content {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #c9cac9;
  font-size: 10pt;
  padding: 6px;
  padding-left: 6px;
  padding-right: 22px;
  margin-top: 3px;
  color: #474848;
  -webkit-appearance: none;
}

.input_value:focus{
  outline: none;
  border: 1px solid #50b6e8;
}

.input_value:focus + .edit_icon{
  opacity: 0;
}

#testimonial_container{
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #c9cac9;
  font-size: 10pt;
  padding: 6px;
  padding-left: 6px;
  color: #474848;
}

.input_value_testimonial_content{
  resize: none;
  font-size: 9pt;
  border: none;
  background-color: transparent;
  padding-right: 0;
}

.input_value_testimonial_content:focus{
  outline: none;
}



.edit_icon{
  position: absolute;
  top: 9;
  right: 9;
  height: 13px;
  opacity: 1;
  transition: 350ms ease-in-out;
}

.update_button{
  color: #fff;
  background-color: #525250;
  font-size: 9pt;
  font-family: lato-thin;

  border-radius: 3px;
  padding: 8px;
  width: 150px;
  float: right;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

#history_container{
  background-color: #fcfcfc;
  padding-left: 3.077vw;
  padding-right: 3.077vw;
  color: #525250;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  overflow: hidden;
  height: 100%;
  min-height: 613px;
  position: relative;
}

#history_heading_holder{
  margin-top: 20px;
  color: #525250;
  overflow: hidden;
}

#clear_history{
  color: #fff;
  background-color: #ea5b5b;
  font-size: 9pt;
  font-family: lato-thin;
  border-radius: 2px;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  float: right;
  text-align: center;
  cursor: pointer;
}

#list_container{
  position: absolute;
  top: 55;
  bottom: 20;
  left: 2.69vw;
  right: 2.69vw;
  overflow: auto;
}

.history_item{
  margin: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  margin-top: 15px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
  position: relative;
}

.history_image{
  height: 7.6vw;
  width: 7.6vw;
  float: left;
  margin-right: 1.54vw;
}

.history_content{
  overflow: hidden;
  color: #525250;
  margin-top: .62vw;
  margin-bottom: .62vw;
}

.history_name{
  font-size: 1.33vw;
}

.history_details{
  font-size: .92vw;
  font-style: italic;
  color: #727270;
  font-family: lato-thin;

  margin-top: .15vw;
}

.history_status{
  font-size: .97vw;
  font-weight: 100;
  margin-top: .23vw;
}

.rating_requested{
  font-size: .82vw;
  font-family: lato-thin;

  font-style: italic;
  color: #f15f61;
  position: absolute;
  bottom: .62vw;
}

.info_red_icon{
  height: 10px;
  position: relative;
  top: 1px;
  margin-right: 2.5px;
}

.history_button{
  border-radius: 3px;
  font-size: .87vw;
  font-family: lato-thin;

  border: 1px solid #c9cac9;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  bottom: .62vw;
  right: .62vw;
  cursor: pointer;
  color: #727270;
}

.history_rating{
  overflow: hidden;
  position: absolute;
  bottom: .62vw;
}

.history_rating_details{
  font-style: italic;
  color: #525250;
  font-size: .82vw;
  float: left;
  margin-right: .62vw;
  margin-top: .15vw;
}

.rating_container{
  float: left;
}

.rating_image{
  float: left;
  height: 1vw;
  width: 1vw;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.star_icon{
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
}

.star_shade{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #ffc81a;
  z-index: 1;
}

.rating_phrase{
  float: left;
  font-size: .92vw;
  margin-left: .38vw;
  font-style: italic;
}

.close_button{
  position: absolute;
  top: .62vw;
  right: .62vw;
  height: .62vw;
  cursor: pointer;
}

#overlay, #overlay_2{
  display: none;
}

#overlay_active, #overlay_2_active{
  display: block;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#rating_pop_up{
  position: absolute;
  width: 70%;
  max-width: 840px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px rgba(0,0,0,.4);
  z-index: 100;
  transition: 350ms ease-in-out;
  opacity: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
  font-family: lato;
  color: #525250;
}


#crop_pop_up{
  position: absolute;
  width: 50%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fcfcfc;
  box-shadow: 0px 3px 10px rgba(0,0,0,.4);
  z-index: 100;
  transition: 350ms ease-in-out;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 25px;
  font-family: lato;
  color: #525250;
}

#popup_header{
  font-size: 17pt;
  text-align: center;
}

#popup_image{
  border-radius: 1000px;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  float: left;
}

#popup_heading_text{
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#rating_action_container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 12pt;
  margin-top: 25px;
}

.rating_bar_container{
  margin-top: 15px;
  overflow: hidden;
}

.rating_field{
  float: left;
  width: 80px;
  margin-top: .5px;
  font-size: 11pt;
}

.rating_word_conversion{
  float: right;
  width: 80px;
  font-family: lato-thin;

  font-style: italic;
  font-size: 9.5pt;
  position: relative;
  top: 3px;
}

.rating_action_bar{
  overflow:hidden;
  padding-left: 20px;
  padding-right: 20px;
  height: 23px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    position: relative;
    top: 3;
    border-radius: 1000px;
}

.slider::-webkit-slider-runnable-track{
    width: 300px;
    height: 13px;
    border: none;
    border-radius: 1000px;
    border: 1px solid #e9eae9;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 23px;

  border-radius: 10px;
  background-image: url('./assets/images/icons/slider_thumb.png'),
  -webkit-gradient(
     linear,
     left top,
     left bottom,
     color-stop(0, transparent),
     color-stop(0.49, transparent),
     color-stop(0.51, transparent),
     color-stop(1, transparent)
  );
  background-size:22px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  top: -6px;
  border: none;
  background-color: transparent;
}


.slider::-moz-range-track{
    width: 100%;
    height: 13px;
    border: none;
    border-radius: 1000px;
    border: 1px solid #e9eae9;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    background: transparent;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 20px;
  border: none;

  background-image: url('./assets/images/icons/slider_thumb.png');
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  top: -6px;
  background-color: transparent;
}

.slider:focus {
    outline: none;
}

#review_container{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
}

#review_wrapper{
  border-radius: 5px;
  border: 1px solid #c9cac9;
  padding: 10px;
  margin-top: 10px;
  overflow: hidden;
}

#review_title, #review_content{
  border: none;
  background-color: #fcfcfc;
  color: #525250;
  font-size: 10.5pt;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: lato-thin;
  width: 100%;
}

#review_title{
  padding-top: 0;
}

#review_content{
  font-size: 9pt;
  resize: none;
}

#review_title, #review_content{
  outline: none;
}

.review_images{
  height: 32px;
  width: 64px;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.review_images:hover .delete_review_image_shadow{
  opacity: 1;
}

#add_photo_btn{
  border-radius: 4px;
  border: 1px solid #c9cac9;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  float: right;
  font-family: lato-thin;

  font-size: 9pt;
  display: inline-block;
  color: #727270;
  cursor: pointer;
}

.rating_image_pop_up{
  float: left;
  height: 18px;
  width: 18px;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
}

#rating_phrase_pop_up{
  float: left;
  font-size: 14pt;
  margin-left: 10px;
  font-style: italic;
  position: relative;
  top: -4px;
}

.pop_up_btn{
  float: left;
  text-align: center;
  width: 150px;
  border-radius: 4px;
  border: 1px solid #525250;
  padding: 8px;
  font-size: 10pt;
  cursor: pointer;
}

.delete_review_image{
  height: 25px;
  margin: 19.5;
  margin-top: 3.5;
  margin-bottom: 3.5;
  cursor: pointer;
}

.delete_review_image_shadow{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.2);
  opacity: 0;
  transition: 350ms ease-in-out;
}

#predefined_area_code{
  color: #929290;
  font-size:10pt;
  position: absolute;
  top: 10px;
  left: 6px;
}

#upload_pic_image{
  height: 10px;
  margin-right: 5px;
}

#testimonial_title{
  font-size: 9.5pt;
}

#write_a_review{
  font-size: 12pt;
}

#add_image_icon_image{
  height: 12px;
  margin-right: 8px;
  position: relative;
  top: 1px;
}

#average_rating_wrapper{
  text-align: center;
  margin-top: 25px;
  font-size: 14pt;
}

#average_rating_text{
  float: left;
  margin-right: 15px;
}

#pop_up_btn_container{
  text-align: center;
  margin-top: 20px;
}

#pop_up_btn_container_crop{
  text-align: right;
  margin-top: 20px;
}

#cancel_btn{
  margin-right: 30px;
}

#scroll_overlay{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  text-align: center;
  z-index: 5;
  cursor: pointer;
}

#history_profile_scroll{
  color: #fff;
  font-size: 3.5vw;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
  font-family: lato;
  padding: .7vw;
  padding-left: 6vw;
  padding-right: 6vw;
  border: 1px solid #fff;
  border-radius: 1vw;
  display: inline-block;
}

.error_strings{
  opacity: 1;
  font-size: .8vw;
  position: relative;
  transition: 500ms ease-in-out;
  color: #F27072;
  margin-top: 8px;
  float: right;
  margin-top: 1vw;
}

#mobile_number{
  padding-left: 25px;
}

.crop_img_btns{
  text-align: right;
}

@media all and (min-width: 1300px){
  #profile_container{
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    width: 420px;
  }

  #history_container{
    padding-left: 40px;
    padding-right: 40px;
  }

  .history_image{
    height: 100px;
    width: 100px;
    margin-right: 20px;
  }

  .history_name{
    font-size: 13pt;
  }

  .history_details{
    font-size: 9pt;
    margin-top: 2px;
  }

  .history_status{
    font-size: 9.5pt;
    margin-top: 3px;
  }

  .rating_requested{
    font-size: 8pt;
    bottom: 8;
  }

  .history_content{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .history_button{
    font-size: 8.5pt;
    bottom: 8;
    right: 8;
  }

  .close_button{
    top: 8;
    right: 8;
    height: 8px;
  }

  .history_rating{
    bottom: 8;
  }

  .history_rating_details{
    font-size: 8pt;
    margin-top: 2px;
  }

  .rating_image{
    height: 13px;
    width: 13px;
  }

  .rating_phrase{
    font-size: 9pt;
    margin-left: 5px;
  }

  #list_container{
    left: 35;
    right: 35;
  }
}

@media all and (max-width: 800px) {
  #profile_container{
    width: auto;
    float: none;
    margin-left: 0;
  }

  .crop_img_btns{
    text-align: center;
  }

  .title{
    font-size: 4vw;
  }

  #profile_picture{
    height: 21vw;
    width: 21vw;
  }

  #profile_name_container{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .4vw;
    padding-bottom: .4vw;
  }

  .field{
    font-size: 2.1vw;
    margin-top: 1vw;
  }

  .input_value{
    font-size: 2.8vw;
    padding: .75vw;
    padding-left: 1vw;
    padding-right: 2.5vw;
    margin-top: .3vw;
  }

  .edit_icon{
    height: 2.4vw;
    top: 1.75vw;
  }

  .input_container{
    overflow: visible;
  }

  #predefined_area_code{
    font-size: 2.8vw;
    top: 1.2vw;
  }

  .update_button{
    padding: 1.3vw;
    width: 26vw;
    font-size: 2.8vw;
  }

  #upload_pic{
    font-size: 2vw;
    height: 3.5vw;
  }

  #upload_pic_image{
    height: 2vw;
  }

  .input_value_testimonial_content{
    font-size: 2.7vw;
  }

  #testimonial_title{
    font-size: 2.75vw;
  }

  #clear_history{
    font-size: 2.5vw;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .history_image{
    height: 18vw;
    width: 18vw;
    margin-right: 3vw;
  }

  .history_name{
    font-size: 3.5vw;
  }

  .history_details{
    font-size: 3vw;
  }

  .history_status{
    font-size: 2.8vw;
  }

  .history_button{
    font-size: 2.2vw;
    bottom: 1.5vw;
    right: 1.5vw;
    padding: .7vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

  .rating_requested{
    font-size: 2vw;
    bottom: 1.5vw;
  }

  .info_red_icon{
    height: 2.2vw;
    margin-right: .3vw;
  }

  .history_rating{
    bottom: 1.5vw;
  }

  .history_rating_details{
    font-size: 2vw;
    margin-top: 0
  }

  .rating_image{
    height: 2.2vw;
    width: 2.2vw;
  }

  .rating_phrase{
    font-size: 2vw;
    margin-right: 1vw;
  }

  #rating_pop_up{
    width: 85%;
    padding: 5%;
  }

  #crop_pop_up{
    width: 85%;
    padding: 5%;
  }

  #popup_image{
    height: 10vw;
    width: 10vw;
  }

  #popup_heading_text{
    font-size: 3.5vw;
    margin-top: 2.75vw;
    margin-bottom: 2.75vw;
  }

  .rating_field{
    font-size: 2.8vw;
    width: 13vw;
  }

  .rating_word_conversion{
    font-size: 2.5vw;
    width: 13.7vw;
  }

  #rating_action_container{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2vw;
  }

  .slider{
      top: .5vw;
  }

  .slider::-webkit-slider-runnable-track{
      height: 2.3vw;
  }

  .slider::-webkit-slider-thumb {
    width: 2.4vw;
    height: 4vw;
    top: -1.1vw;
    background-size: 3.5vw;
  }

  .rating_action_bar{
    height: 4vw;
  }

  .rating_bar_container{
    margin-top: 1.5vw;
  }

  #review_container{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 3vw;
  }

  #write_a_review{
    font-size: 3.3vw;
  }

  #review_wrapper{
    margin-top: 2vw;
    padding: 2vw;
  }

  #review_title, #review_content{
    font-size: 2.7vw;
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  #review_title{
    margin-top: 0;
  }

  .review_images{
    height: 8vw;
    width: 16vw;
  }

  #add_photo_btn{
    padding: .8vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2.2vw;
    border-radius: 3px;
    margin-top: 2.2vw;
    margin-bottom: 2.2vw;
  }

  #add_image_icon_image{
    height: 1.9vw;
  }

  .delete_review_image{
    height: 6vw;
    margin: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .close_button{
    top: 1.2vw;
    right: 2vw;
    height: 1.5vw;
  }

  #average_rating_wrapper{
    margin-top: 3vw;
    font-size: 3.3vw;
  }

  .rating_image_pop_up{
    height: 3vw;
    width: 3vw;
  }

  .history_item{
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  #rating_phrase_pop_up{
    font-size: 2.7vw;
    top: 0;
    margin-left: .5vw;
  }

  #average_rating_text{
    margin-right: 1vw;
    position: relative;
    top: .3vw;
  }

  #pop_up_btn_container{
    margin-top: 3vw;
  }

  #pop_up_btn_container_crop{
    text-align: center;
    margin-top: 3vw;
  }

  .pop_up_btn{
    width: 18vw;
    border-radius: 3px;
    padding: 1vw;
    font-size: 2.8vw;
  }

  #cancel_btn{
    margin-right: 5vw;
  }

  #history_container{
    min-height: 0;
    height: auto;
    margin-bottom: 4vw;
  }

  #list_container{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-bottom: 2vw;
  }

  #scroll_overlay{
    display: block;
  }

  .error_strings{
    font-size: 2.5vw;
    margin-top: 1.4vw;
  }

}
