/* Master Styles */
body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: #f1f1f1;
}

@font-face {
    font-family: "roboto";
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "roboto-thin";
    src: url(./assets/fonts/roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(./assets/fonts/roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(./assets/fonts/roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "gotham-thin";
    src: url(./assets/fonts/gotham/Gotham-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham-Thin";
    src: url(./assets/fonts/gotham/Gotham-Light.ttf) format("truetype");
}

@font-face {
    font-family: "gotham";
    src: url(./assets/fonts/gotham/GOTHAM-book.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham";
    src: url(./assets/fonts/gotham/GOTHAM-book.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(./assets/fonts/roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "freshman";
    src: url(./assets/fonts/freshman/freshman.ttf) format("truetype");
}

@font-face {
    font-family: "Freshman";
    src: url(./assets/fonts/freshman/freshman.ttf) format("truetype");
}

@font-face {
    font-family: "lato";
    src: url(./assets/fonts/lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url(./assets/fonts/lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "lato-thin";
    src: url(./assets/fonts/lato/Lato-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Lato-Thin";
    src: url(./assets/fonts/lato/Lato-Light.ttf) format("truetype");
}

@font-face {
    font-family: "lato-Thin";
    src: url(./assets/fonts/lato/Lato-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src: url(./assets/fonts/lato/Lato-Heavy.ttf) format("truetype");
}

@font-face {
    font-family: "lato-bold";
    src: url(./assets/fonts/lato/Lato-Heavy.ttf) format("truetype");
}

@font-face {
    font-family: "Lato-Light";
    src: url(./assets/fonts/lato/Lato-Light.ttf) format("truetype");
}

@font-face {
    font-family: "lato-light";
    src: url(./assets/fonts/lato/Lato-Light.ttf) format("truetype");
}

.jax_font{
  font-family: lato;
  color: #525250;
}

.jax-thin-font{
  font-family: lato-thin;
}

hr {
  border: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0 , 0 , .2);
  clear: both;
  margin: 0;
}

::-webkit-input-placeholder { font-family: lato-thin; }
::-moz-placeholder { font-family: lato-thin; } /* firefox 19+ */
:-ms-input-placeholder { font-family: lato-thin; } /* ie */
input:-moz-placeholder { font-family: lato-thin; }
