<div id="container">
  <div id="top_image_banner">
    <img [src]="banner_img" id="banner_img">
    <div id="image_shadow"></div>
    <div id="image_shadow_3"></div>
    <div id="initial_msg">
      <div id="initial_msg_opening_msg">
        {{opening_msg_1}}
      </div>
      <div id="opening_question">
        {{opening_msg_2}}
      </div>
    </div>
  </div>
  <div id="about_us_container">
    <p style="font-family: lato; color: #323230;">The concept</p>
    <p>The idea for Jax of Trades started when Mr. Phillip Morris, a homeowner from Ajax, Ontario, sought to find an easier way to locate reputable and reliable tradesmen in his neighbourhood. On the flip side of the coin, some of Mr. Morris’s family members are tradesmen who were looking for new ways to grow their business. Connecting the term “jacks of trades” with the name of his hometown, the concept for Jax of Trades was formed. Mr. Morris wanted to create a platform that was more personalized and interactive than simple business listing directories – a place where home and commercial property owners could locate professional tradesmen and a place where tradesmen can grow their business.</p>
   <p style="font-family: lato; color: #323230;">How we help local tradesmen</p>
   <p>Jax of Trades is focused on helping local tradesmen build their business and find new customers. Not only can tradesmen post their business profile, but they can also utilize Jax of Trades’ innovative Tradesmen Dashboard. This dashboard allows tradesmen to update their skills, add links to their website and social media profiles, post images of their work, as well as set their work availability for home and commercial property owners to see.</p>
   <p>When home or commercial property owners are looking for a tradesman on Jax of Trades, they can see when a tradesman is available to work on their project. This allows homeowners to locate tradesmen who are available to work at a time that is convenient for them. When tradesmen are busy or would like to have some time off, they can set their profile to “do not disturb” mode.</p>
   <p>Tradesmen can be contacted directly by property owners via the Jax of Trades application, making it easier for both homeowners and tradesmen to communicate with each other.</p>
   <p style="font-family: lato; color: #323230;">How we help property owners</p>
   <p>Home and commercial property owners have a lot to gain when using Jax of Trades. Gone are the days of flipping through a traditional business directory since Jax of Trades makes things easier and more personalized.</p>
   <p>There are three main features that property owners benefit from when using Jax of Trades: location, service time selection, and tradesmen profiles. Using the GPS settings on your desktop or mobile device, Jax of Trades will present you with a listing of tradesmen profiles, organized based on their proximity to your location. The profiles also allow you to see which tradesmen are available when you need the work done.</p>
   <p>You can view tradesmen profiles and easily access the links to their websites and social media to help you with your research. There is also a review section where you can rate a tradesman’s work or simply read what others have posted. This allows home and commercial property owners to find a tradesman that they can trust, who is nearby, and who is available to get the job done.</p>
    <hr>
   <p>To learn more about Jax of Trades – or if you have a question – please contact our <a routerLink="/contact-us">team</a> – we are always happy to help!</p>
  </div>
  <div>
    <div style="text-align: center; margin-top: 8vw;">
      <div style="display: inline-block;">
        <a routerLink="/about-us" style="text-decoration: none;">
          <div class="bottom_links">
            About us
          </div>
        </a>
        <a routerLink="/our-team" style="text-decoration: none;">
          <div class="bottom_links">
            Our team
          </div>
        </a>
        <a routerLink="/contact-us" style="text-decoration: none;">
          <div class="bottom_links">
            Contact us
          </div>
        </a>
        <a routerLink="/privacy-policy" style="text-decoration: none;">
          <div class="bottom_links">
            Privacy Policy
          </div>
        </a>
        <a routerLink="/terms-of-use" style="text-decoration: none;">
          <div class="bottom_links">
            Terms of Use
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <div style="display: inline-block;">
        <img src="./assets/images/icons/s_m_icons_gray/twitter.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/fb.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/insta.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/youtube.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/google+.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/pintrest.png" class="s_m_icons">
      </div>
    </div>
    <div id="copyright">
      &copy; Jax of Trades Inc | 2016
    </div>
  </div>
</div>
