<div id="{{container_id}}">
  <div id="navigation_not_fixed"></div>
  <div id="navigation">
    <div style="margin-right: 640px; width: 180px; float: left; margin-bottom: 50px;">
      <div (click)="smoothScroll('category_title')" id="category_nav_btn" class="nav_btns">Category</div>
      <div (click)="smoothScroll('company_title')" id="company_nav_btn" class="nav_btns">Company name</div>
      <div (click)="smoothScroll('skills_title')" id="skills_nav_btn" class="nav_btns">Skills</div>
      <div (click)="smoothScroll('default_daily_time_availability_title')" id="default_daily_time_availability_nav_btn"  class="nav_btns">Default daily time<br>availability</div>
      <div (click)="smoothScroll('default_location_title')" id="default_location_nav_btn"  class="nav_btns">Default location</div>
      <div (click)="smoothScroll('recent_works_title')" id="recent_works_nav_btn"  class="nav_btns">Recent works</div>
      <div (click)="smoothScroll('gallery_title')" id="gallery_nav_btn"  class="nav_btns">Gallery</div>
      <div (click)="smoothScroll('add_social_media_links_title')" id="add_social_media_links_nav_btn"  class="nav_btns">Add social media links</div>
    </div>
    <div class="jax_font" id="right_btns">
      <div (click)="add_trade()" id="save_btn" style="color: #fff; background-color: #292c38; margin-bottom: 15px;">Add trade</div>
      <a routerLink="/tradesman-edit-profile" style="text-decoration: none; color: #292c38;">
        <div id="save_btn" style="background-color: transparent; margin-bottom: 20px; border: 1px solid #525160; color: #292c38;">Cancel</div>
      </a>
    </div>
  </div>
</div>
<div id="right_btns_not_fixed">
</div>
<div class="jax_font" id="content"  style="overflow: hidden;">
  <div class="{{container_id}}">
    <div id="category_title">
      Category
      <div id="error_category">{{error_category}}</div>
    </div>
    <div id="select_job_wrapper">
      <select-job (changed_job)="changed_job($event)"></select-job>
    </div>
    <div *ngIf="open_categs" style="padding-top: 20px; clear: both;">
    </div>
    <div *ngIf="open_categs" id="sub_categories">
      <div *ngFor="let categories of sub_categories; let i = index">
        <div (click)="toggle_item(i)" class="categories_item">
          <img [attr.id]="'check_box_' + i" src="./assets/images/uncheck_box.png" class="sub_category_check_box">
          <div style="overflow: hidden;">{{categories}}</div>
        </div>
      </div>
    </div>
    <div style="padding-top: 20px; clear: both;">
    </div>
    <job-specific-fields (blur)="set_blur($event)" [location]="location"></job-specific-fields>
    <div id="non_mobile_buttons">
      <div class="{{container_id}}" (click)="add_trade()" id="save_btn" style="color: #fff; background-color: #292c38;">Add trade</div>
    </div>
    <div id="mobile_buttons">
      <div class="{{container_id}}" (click)="add_trade()" id="save_btn" style="color: #fff; background-color: #292c38; margin-top: 5vw;">Add trade</div>
      <a routerLink="/tradesman-edit-profile" style="text-decoration: none; color: #292c38;">
        <div id="save_btn" style="background-color: transparent; margin-bottom: 20px; border: 1px solid #525160; color: #292c38;">Cancel</div>
      </a>
    </div>
  </div>
</div>
<div [ngStyle]="set_bottom_height()"></div>
