<div class="jax_font" id="ads_container" [ngStyle]="change_margin_top()">
  <div *ngFor="let ad of ads; let i = index;">
    <div *ngIf="i < 2 || (i == 2 && router.url == '/tradesman')" class="ad_container">
      <div class="ads">
        <img [src]="ad.bg" class="ad_bg">
        <div class="box_shadow">
        </div>
        <div style="text-align: center; width: 100%;">
          <img *ngIf="ad.state == 0" [src]="ad.image" class="company_image">
          <div *ngIf="ad.state == 1" class="profile_image_container">
            <img [src]="ad.image" class="profile_image">
            <div class="online_offline_container">
              <div class="online_offline_img">
              </div>
            </div>
          </div>
          <div *ngIf="ad.state == 1" class="profile_text">
            <div class="profile_name">
              {{ad.name}}
            </div>
            <div class="profile_description">
              {{ad.description}}
            </div>
          </div>
        </div>
      </div>
      <div style="ads_text">
        <div *ngIf="ad.state == 0" class="ads_title">
          {{ad.name}}
        </div>
        <div *ngIf="ad.state == 0" class="ads_description">
          {{ad.description}}
        </div>
        <div style="text-align: center;">
          <div (click)="go_to_tradesman(i)" class="ads_view_profile">
            View Profile
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
