<div id="{{tradesmanlist_container_id}}">
  <div *ngFor="let tradesman of best_tradesmen; let i = index">
    <div *ngIf="i%4 == 0 && i != 0" class="section_divider hide_overflow">
      <hr>
      <div class="hide_overflow">
        <div class="sponsored_div">
          Sponsored
        </div>
        <div class="item_wrapper">
          <div class="item_container">
            <div class="jax_font item">
              <div *ngIf="!ads_array_1(i)">
                <div class="company_img">
                  <image-loader [src]="ad_1.image">
                  </image-loader>
                </div>
                <div class="tradesman_info">
                  <div class="name">{{ad_1.name}}</div>
                  <div class="category">{{ad_1.street_address_1}}</div>
                  <div class="category" style="margin-top: 0;">{{ad_1.street_address_2}}</div>
                  <div class="category_phone_number">
                    <img src="./assets/images/icons/telephone.png" class="company_number_icon">
                    {{ad_1.contact}}
                  </div>
                  <div class="tradesman_buttons_container">
                    <div (click)="view_profile(1, ad_1.name, ad_1.contact, ad_1.image, '',
                          ad_1.address_1, '', '', ad_1.address_3, 0, ad_1.address_2)" class="tradesman_buttons">
                       View profile
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="ads_array_1(i)">
                <div class="tradesman_img">
                  <image-loader [src]="ad_1.image">
                  </image-loader>
                  <div class="status_bar" [ngStyle]="set_off_on(ad_1.id)">
                  </div>
                </div>
                <div class="tradesman_info">
                  <div class="name">{{ad_1.name}}</div>
                  <div class="category">{{ad_1.job}} - {{ad_1.sub_category}}</div>
                  <div class="company" *ngIf="ad_1.company.length != 0">{{ad_1.company}}</div>
                  <div class="availability">{{ad_1.availability}}</div>
                  <div class="tradesman_buttons_container">
                    <div (click)="request_pop(ad_1.first_name, ad_1.last_name, 0,
                                  ad_1.id, ad_1.image, ad_1.sub_category,
                                  ad_1.job)" class="tradesman_buttons">
                       Request
                    </div>
                    <div (click)="view_profile(0, ad_1.first_name, ad_1.last_name, ad_1.image, ad_1.company,
                          ad_1.availability, ad_1.rating, ad_1.location,
                          ad_1.sub_category, ad_1.id, category)" class="tradesman_buttons"
                          id="view_prof_btn">
                        View profile
                    </div>
                  </div>
                  <div class="tradesman_utility_info">
                    <div class="location">
                      <img src="./assets/images/icons/distance.png" class="distance_image">
                      <div class="distance_phrase">{{ad_1.location}} km away</div>
                    </div>
                    <div class="rating">
                      <div class="rating_phrase">{{ad_1.rating}} ratings</div>
                      <div class="rating_container">
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_1.rating, 1)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_1.rating, 2)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_1.rating, 3)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_1.rating, 4)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_1.rating, 5)"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_wrapper">
          <div class="item_container">
            <div class="jax_font item">
              <div *ngIf="!ads_array_2(i)">
                <div class="company_img">
                  <image-loader [src]="ad_2.image">
                  </image-loader>
                </div>
                <div class="tradesman_info">
                  <div class="name">{{ad_2.name}}</div>
                  <div class="category">{{ad_2.street_address_1}}</div>
                  <div class="category" style="margin-top: 0;">{{ad_2.street_address_2}}</div>
                  <div class="category_phone_number">
                    <img src="./assets/images/icons/telephone.png" class="company_number_icon">
                    {{ad_2.contact}}
                  </div>
                  <div class="tradesman_buttons_container">
                    <div (click)="view_profile(1, ad_2.name, ad_2.contact, ad_2.image, '',
                          ad_2.address_1, '', '', ad_2.address_3, 0, ad_2.address_2)" class="tradesman_buttons">
                       View profile
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="ads_array_2(i)">
                <div class="tradesman_img">
                  <image-loader [src]="ad_2.image">
                  </image-loader>
                  <div class="status_bar" [ngStyle]="set_off_on(ad_2.id)">
                  </div>
                </div>
                <div class="tradesman_info">
                  <div class="name">{{ad_2.name}}</div>
                  <div class="category">{{ad_2.job}} - {{ad_2.sub_category}}</div>
                  <div class="company" *ngIf="ad_2.company.length != 0">{{ad_2.company}}</div>
                  <div class="availability">{{ad_2.availability}}</div>
                  <div class="tradesman_buttons_container">
                    <div (click)="request_pop(ad_2.first_name, ad_2.last_name, 0,
                                  ad_2.id, ad_2.image, ad_2.sub_category,
                                  ad_2.job)" class="tradesman_buttons">
                       Request
                    </div>
                    <div (click)="view_profile(0, ad_2.first_name, ad_2.last_name, ad_2.image, ad_2.company,
                          ad_2.availability, ad_2.rating, ad_2.location,
                          ad_2.sub_category, ad_2.id, category)" class="tradesman_buttons"
                          id="view_prof_btn">
                        View profile
                    </div>
                  </div>
                  <div class="tradesman_utility_info">
                    <div class="location">
                      <img src="./assets/images/icons/distance.png" class="distance_image">
                      <div class="distance_phrase">{{ad_2.location}} km away</div>
                    </div>
                    <div class="rating">
                      <div class="rating_phrase">{{ad_2.rating}} ratings</div>
                      <div class="rating_container">
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_2.rating, 1)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_2.rating, 2)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_2.rating, 3)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_2.rating, 4)"></div>
                        </div>
                        <div class="rating_image">
                          <img src="./assets/images/icons/rate_star.png" class="star_icon">
                          <div class="star_shade" [ngStyle]="compute_width(ad_2.rating, 5)"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="item_wrapper">
      <div class="item_container">
        <div class="jax_font item">
          <div class="tradesman_img">
            <image-loader [src]="tradesman.image">
            </image-loader>
            <div class="status_bar" [ngStyle]="set_off_on(tradesman.id)">
            </div>
          </div>
          <div class="tradesman_info">
            <div class="name">{{tradesman.name}}</div>
            <div class="category">{{tradesman.job}} <span *ngIf="tradesman.sub_category.length != 0">- {{tradesman.sub_category}}</span></div>
            <div class="company" *ngIf="tradesman.company.length != 0">{{tradesman.company}}</div>
            <div class="availability">{{tradesman.availability}}</div>
            <div class="tradesman_buttons_container">
              <div (click)="request_pop(tradesman.first_name, tradesman.last_name, i, tradesman.id, tradesman.image, tradesman.sub_category, tradesman.job)" class="tradesman_buttons">
                 Request
              </div>
              <div (click)="view_profile(0, tradesman.first_name, tradesman.last_name, tradesman.image, tradesman.company,
                    tradesman.availability, tradesman.rating, tradesman.location,
                    tradesman.sub_category, tradesman.id, tradesman.job)" class="tradesman_buttons"
                    id="view_prof_btn">
                  View profile
              </div>
            </div>
            <div class="tradesman_utility_info">
              <div class="location">
                <img src="./assets/images/icons/distance.png" class="distance_image">
                <div class="distance_phrase">{{tradesman.location}} km away</div>
              </div>
              <div class="rating">
                <div class="rating_phrase">{{tradesman.rating}} ratings</div>
                <div class="rating_container">
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 1)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 2)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 3)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 4)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 5)"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div (click)="close_request()" id="{{overlay_id}}">
  <request_float_box [f_name]="f_name" [t_id]="t_id" [l_name]="l_name" [category]="category" [sub_category]="chosen_sub_category" [pic] = "pic" [choice]="choice" [name]="name" [remove_item]="DeleteFunction" (box_closed)="box_closed($event)">Loading...</request_float_box>
</div>

<div style="display: none;">
  <ads></ads>
</div>
