<div id="{{container_id}}">
  <div id="navigation_not_fixed"></div>
  <div id="{{navigation_id}}">
    <div style="margin-right: 640px; width: 180px; float: left; margin-bottom: 15px;">
      <div (click)="smoothScroll('company_details_title')" id="company_details_nav_btn" class="nav_btns">Basic information</div>
      <div (click)="smoothScroll('about_your_company_title')" id="about_your_company_nav_btn" class="nav_btns">About your company</div>
      <div (click)="smoothScroll('specialize_in_title')" id="specialize_in_nav_btn" class="nav_btns">Specialize in</div>
      <div (click)="smoothScroll('recent_works_title')" id="recent_works_nav_btn"  class="nav_btns">Recent projects</div>
      <div (click)="smoothScroll('gallery_title')" id="gallery_nav_btn"  class="nav_btns">Gallery</div>
      <div (click)="smoothScroll('add_social_media_links_title')" id="add_social_media_links_nav_btn"  class="nav_btns">Add social media links</div>
    </div>
    <div class="jax_font" *ngIf="datatransfer.is_company_profile()" id="right_btns">
      <div (click)="save_profile()" id="save_btn" style="margin-bottom: 15px;">Save</div>
      <a routerLink="/subscribe-company" style="text-decoration: none; color: #777;">
        <div class="jax_font" id="save_btn" style="background-color: #ea5b5b; border: 1px solid #ea5b5b; overflow: hidden; color: #fff; margin-bottom: 15px;">
          <img src="./assets/images/icons/advertise.png" style="height: 15px; margin-right: 5px; float: left;">
          <div style="position: relative; float: left; top: 1px; font-size: 8pt;">Advertise your company</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="right_btns_not_fixed">
</div>
<div id="{{content_id}}"  style="overflow: hidden;">
  <div class="section jax_font">
    <div id="{{container_id}}">
      <div id="company_details_title" class="title">
        Basic information
        <div class="error_strings">
          {{company_details_error_msg}}
        </div>
      </div>
      <div class="company_info_section">
        <div id="company_image_div"(click)="company_profile_pic_input.click()">
          <img [src]="data.image" id="company_image">
          <div id="edit_image_icon">
            <img src="./assets/images/icons/cam_2.png" style="height: 10px; margin-right: 5px;">
            Upload company logo
          </div>
          <input type="file" accept="image/*" #company_profile_pic_input (change)="change_company_profile_pic($event)" style="display: none;">
        </div>
        <div id="company_details_1">
          <div class="section_title">
            Company name
          </div>
          <div style="position: relative;">
            <input (click)="remove_style('#company_name_input')" [(ngModel)]="company_name" type="text" class="input" placeholder="Company name" maxlength="25" id="company_name_input">
            <img [hidden]="!datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input">
          </div>
          <div class="section_title">
            Address
          </div>
          <div id="street_address">
            <input (click)="remove_style('#street_address_input')"  id="street_address_input" [(ngModel)]="street_address" type="text" class="input" placeholder="Street address" maxlength="25">
            <img [hidden]="!datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input">
          </div>
          <div style="clear: both;">
            <div (click)="toggle_choices()" id="province" style="cursor: pointer; position: absolute; right: 0;">
              <div class="input" id="province_text">
                {{chosen_province}}  <img src="./assets/images/select-down.png" id="drop_down_img">
              </div>
              <div id="drop_down">
                <div (click)="change_province(i, $event)" *ngFor="let province of provinces; let i = index;" class="options">
                  {{province}}
                </div>
              </div>
            </div>
            <div id="province" style="min-height: 1px;">
            </div>
            <div style="overflow: hidden;">
              <div style="width: 100%;">
                <div id="city_town_village">
                  <input (click)="remove_style('#city_town_village_input')"  id="city_town_village_input" [(ngModel)]="city_town_village" type="text" class="input" placeholder="City/Town/Village" maxlength="25">
                  <img [hidden]="!datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input">
                </div>
                <div id="postal_code">
                  <input (click)="remove_attribute()" [(ngModel)]="postal_code" type="text" class="input" placeholder="Postal code" maxlength="7" id="postal_code_input">
                  <img [hidden]="!datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="company_details_2">
          <div id="email">
            <div class="section_title">Email</div>
            <input (click)="remove_style('#email_input')"  id="email_input" type="text" class="input" [(ngModel)]="email" placeholder="Email" maxlength="25">
            <img [hidden]="!datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input">
          </div>
          <div id="phone_cell">
            <div class="section_title">Cell number</div>
            <input type="text" class="input" [(ngModel)]="cell_number" placeholder="Cell number"
                  (focus)="set_predefined_area_code()" (focusout)="remove_predefined_area_code(cell_number)"
                  (blur)="remove_predefined_area_code(cell_number)" (ngModelChange)="contact_change($event)"
                  maxlength="14" id="mobile_number_input" (click)="remove_style('#mobile_number_input')">
            <img [hidden]="!datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input">
            <div [ngStyle]="style_predefined_area_code(cell_number)" id="predefined_area_code">+1</div>
          </div>
        </div>

        <div id="about_your_company_title" class="title" style="margin-right: -100px;">
          About your company
          <div class="error_strings">
            {{about_your_company_error_msg}}
          </div>
        </div>
        <div class="company_info_section company_info_section_2">
          <textarea (click)="remove_style('#about_you_text_area')" [(ngModel)]="about_your_company" rows="5" placeholder="Write a short descirption about your company." id="about_you_text_area" maxlength="2000">
          </textarea>
          <img [hidden]="!datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input" id="edit_icon_about_you">
        </div>
      </div>
    </div>
    <div class="error_strings"  style="position: absolute; right: 20px;">{{specialize_in_error_msg}}</div>
    <job-specific-fields [added_skills]="added_skills" [gallery_images]="gallery_images" [rw_array]="rw_array" [facebook]="facebook"
      [linkedin]="linkedin" [website]="website" [twitter]="twitter" (blur)="set_blur($event)">
    </job-specific-fields>
    <div style="clear: both;" id="{{container_id}}">
      <div id="non_mobile_buttons">
        <div *ngIf="!datatransfer.is_company_profile()" (click)="save_profile()" id="save_btn">Save &amp; continue</div>
        <div *ngIf="datatransfer.is_company_profile()" (click)="save_profile()" id="save_btn">Save</div>
      </div>
      <div id="mobile_buttons">
        <div *ngIf="!datatransfer.is_company_profile()" (click)="save_profile()" style="margin-top: 5vw;" id="save_btn">Save &amp; continue</div>
        <div *ngIf="datatransfer.is_company_profile()" (click)="save_profile()" style="margin-top: 5vw;" id="save_btn">Save</div>
        <a routerLink="/subscribe-company" style="text-decoration: none; color: #777;">
          <div id="save_btn" style="color: #fff; border: 1px solid #ea5b5b; background-color: #ea5b5b;">
            <img src="./assets/images/icons/advertise.png" style="height: 3vw; margin-right: 2vw;"> Advertise your company
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngStyle]="set_bottom_height()">
  </div>
</div>

<div (click)="close_pop_up()" id="{{overlay_id}}">
  <div (click)="$event.stopPropagation()" id="crop_pop_up">
    <img-cropper [image]="data" [settings]="cropperSettings" style="position: absolute; left: 50%; transform: translateX(-50%); background-color: #525252;"></img-cropper>
    <img-cropper [image]="data" [settings]="cropperSettings" style="position: relative; opacity: 0; pointer-events: none;"></img-cropper>
    <div id="pop_up_btn_container_crop">
      <div style="display: inline-block">
        <div class="pop_up_btn" (click)="data.image = prev_image; close_pop_up();" id="cancel_btn">Cancel</div>
        <div class="pop_up_btn" (click)="close_pop_up();" style="background-color: #525250; color: #fff;">Save</div>
      </div>
    </div>
  </div>
</div>
