<div id="container">
  <div id="top_image_banner">
    <img [src]="banner_img" id="banner_img">
    <div id="image_shadow"></div>
    <div id="image_shadow_3"></div>
    <div id="initial_msg_contact_us">
      <div id="contact_us_right_box">
        <div id="contact_us_right_box_title">Jax of Trades Inc.</div>
        <div class="contact_us_right_box_address">1920 Yonge Street</div>
        <div class="contact_us_right_box_address">Suite 264</div>
        <div class="contact_us_right_box_address">Toronto, ON</div>
        <div class="contact_us_right_box_address" style="margin-bottom: 1vw;">M4S 3E2</div>
        <div class="contact_us_right_box_contact">
          <img src="./assets/images/icons/call.png" class="contact_us_right_box_contact_icon mobile_view">
          <img src="./assets/images/icons/call_white.png" class="contact_us_right_box_contact_icon non_mobile_view">+1 647 339 4555
        </div>
        <div class="contact_us_right_box_contact">
          <img src="./assets/images/icons/mail.png" class="contact_us_right_box_contact_icon mobile_view">
          <img src="./assets/images/icons/mail_white.png" class="contact_us_right_box_contact_icon non_mobile_view">info@jaxoftrades.com
        </div>
      </div>
    </div>
  </div>
  <div id="contact_us_wrapper">
    <div class="mobile_view">Drop us a brief or quick hello</div>
    <div id="contact_us_container">
      <div id="contact_us_padding">
        <div class="non_mobile_view" style="font-size: 14pt; margin-bottom: 15px;">Drop us a brief or quick hello</div>
        <div class="input_container">
          <div class="title" [ngStyle]="hide_name(fullname, fullname_focus)">Full Name</div>
          <input (click)="remove_style('#fullname')" id = "fullname" class="input_field" maxlength="25"
                 (focus)="fullname_focus = true" (focusout)="fullname_focus = false" (blur)="fullname_focus = false" [(ngModel)]="fullname" type="text">
        </div>
        <div class="input_container">
          <div class="title" [ngStyle]="hide_name(email, email_focus)">Email Address</div>
          <input (click)="remove_style('#email')" id = "email" class="input_field" maxlength="25"
                 (focus)="email_focus = true" (focusout)="email_focus = false" (blur)="email_focus = false" [(ngModel)]="email" type="text">
        </div>
        <div class="input_container">
          <div class="title" [ngStyle]="hide_name(phone, phone_focus)">Phone number</div>
          <input (click)="remove_style('#phone')" id = "phone" class="input_field" maxlength="25"
                 (focus)="phone_focus = true" (focusout)="phone_focus = false" (blur)="phone_focus = false" [(ngModel)]="phone" type="text">
        </div>
        <div class="input_container">
          <div class="title" [ngStyle]="hide_name(msg, msg_focus)">Your message</div>
          <textarea (click)="remove_style('#msg')" id = "msg" class="input_field textarea" maxlength="10000" rows="4"
                 (focus)="msg_focus = true" (focusout)="msg_focus = false" (blur)="msg_focus = false" [(ngModel)]="msg" type="text">
          </textarea>
        </div>
        <div id="send_btn">
          Send your message
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="contact_us_adjusted_bot_link">
      <div style="display: inline-block;">
        <a routerLink="/about-us" style="text-decoration: none;">
          <div class="bottom_links">
            About us
          </div>
        </a>
        <a routerLink="/our-team" style="text-decoration: none;">
          <div class="bottom_links">
            Our team
          </div>
        </a>
        <a routerLink="/contact-us" style="text-decoration: none;">
          <div class="bottom_links">
            Contact us
          </div>
        </a>
        <a routerLink="/privacy-policy" style="text-decoration: none;">
          <div class="bottom_links">
            Privacy Policy
          </div>
        </a>
        <a routerLink="/terms-of-use" style="text-decoration: none;">
          <div class="bottom_links">
            Terms of Use
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <div style="display: inline-block;">
        <img src="./assets/images/icons/s_m_icons_gray/twitter.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/fb.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/insta.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/youtube.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/google+.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/pintrest.png" class="s_m_icons">
      </div>
    </div>
    <div id="copyright">
      &copy; Jax of Trades Inc | 2016
    </div>
  </div>
</div>
