<div id="{{container_id}}">
  <div id="top_elements">
    <div style="float: left;">
      <div class="jax_font">Welcome {{name}}</div>
      <div *ngIf="req_length != 0" id="request_notif">You have {{req_length}} pending requests</div>
      <div *ngIf="show_pending()" id="request_notif">{{pending_msg}}</div>
    </div>
    <div class="non_mobile_view">
      <a routerLink="/company-profile" style="text-decoration: none;">
        <div *ngIf="!datatransfer.is_company_profile()" class="jax_font top_elements_btn" style="float: right;">
          <img src="./assets/images/icons/company.png" style="height: 15px; margin-right: 10px; float: left;">
          <div style="position: relative; float: left;">Set up your company profile</div>
        </div>
      </a>
      <a routerLink="/subscribe-company" style="text-decoration: none;">
        <div *ngIf="datatransfer.is_company_profile()" class="jax_font top_elements_btn" style="float: right;">
          <img src="./assets/images/icons/advertise.png" style="height: 15px; margin-right: 10px; float: left;">
          <div style="position: relative; float: left;">Advertise your company</div>
        </div>
      </a>
      <a routerLink="/subscribe-personal" style="text-decoration: none;">
        <div class="jax_font top_elements_btn" style="float: right; margin-right: 20px;">
          <img src="./assets/images/icons/advertise.png" style="height: 15px; margin-right: 10px; float: left;">
          <div style="position: relative; float: left;">Advertise your profile</div>
        </div>
      </a>
    </div>
    <div class="mobile_view">
      <div (click)="setup_company_profile_click()" *ngIf="!datatransfer.is_company_profile()" class="jax_font top_elements_btn" style="float: right;">
        <img src="./assets/images/icons/company.png" class="top_elements_btn_icon">
        <div class="top_elements_btn_text_hidden" id="{{setup_company_profile_id}}">Set up your company profile</div>
      </div>
      <div (click)="subscribe_company_click()" *ngIf="datatransfer.is_company_profile()" class="jax_font top_elements_btn top_elements_btn_left">
        <img src="./assets/images/icons/advertise.png" class="top_elements_btn_icon">
        <div class="top_elements_btn_text_hidden" id="{{subscribe_company_id}}">Advertise your company</div>
      </div>
      <div (click)="subscribe_profile_click()" class="jax_font top_elements_btn top_elements_btn_left">
        <img src="./assets/images/icons/advertise.png" class="top_elements_btn_icon">
        <div class="top_elements_btn_text_hidden" id="{{subscribe_profile_id}}">Advertise your profile</div>
      </div>
    </div>
  </div>
  <div class="jax_font" id="bottom_elements">
    <div class="non_mobile_view" id="right_elements">
      <div id="availability">
        <div id="avail_req_head"><img src="./assets/images/icons/avilability.png" class="header_icon">
          <div style="float: left;">Availability</div>
        </div>
        <div id="avail_content">
          <div style="color: #ea5b5b; font-size: 12pt; text-align: center;">
            {{date | date : "EEEE"}} <span style="font-family: lato-bold; ">{{date | date : "dd"}}<sup>{{suffix}}</sup> {{date | date : "MMMM"}}</span> {{date | date : "yyyy"}}
          </div>
          <div style="margin: 50px; margin-top: 0; margin-bottom: 0;">
          <div (click)="popup(0, 0)" style="cursor: pointer; overflow: hidden;">
            <div id="edit_time_icon_holder">
              <img src="./assets/images/icons/edit.png" style="height: 16px; margin: 7px;">
            </div>
              <div class="jax_font" id="default_time">
                from <span style="font-family: lato-Bold">{{start_time}}</span>
                to <span style="font-family: lato-Bold">{{end_time}}</span>
              </div>
            </div>
            <div *ngFor = "let job of job_array; let i = index;">
              <div style="float: left; background-color: #eaeaea; height: 30px; width: 30px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                <img src="./assets/images/icons/dnd_1.png" style="height: 16px; margin: 7px;">
              </div>
              <div class="jax_font" id="dnd">
                <label class="switch">
                  <input (click)="popup(1, i)" type="checkbox" [checked]="dnd_array[i]" class="dnd_toggle">
                  <div class="slider round"></div>
                  <div class="dnd_on">ON</div>
                  <div class="dnd_off">OFF</div>
                </label>
                <div *ngIf="job_array.length != 1" style="overflow: hidden; padding-top: 2.5px; font-size: 9pt; text-align: left; padding-left: 10px;">DND on {{job}}</div>
                <div *ngIf="job_array.length == 1" style="overflow: hidden; padding-top: 2.5px; font-size: 9pt;">Do not disturb mode</div>
              </div>
            </div>
          </div>
          <!--<div id="calendar">
            <div style="border: 1px solid #ea5b5b; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom: none;" id="day_name">{{date | date : "EEEE"}}</div>
            <div style="border: 1px solid #848383; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top: none;">
              <div id="date">{{date | date : "dd"}}</div>
              <div id="month">{{date | date : "MMMM"}}, {{date | date : "yyyy"}}</div>
            </div>
          </div>
          <div id="calendar_non_fixed"></div>
          <div id="avail_other_content">
            <div style="color: #525250; font-size: 10.5pt; margin-left: 15px;">Your availability for today is :</div>
            <div (click)="popup(0, 0)" style="margin-left: 15px; cursor: pointer; overflow: hidden;">
              <div style="float: right; background-color: #313642; margin-top: 10px; height: 30px; width: 30px; border-top-right-radius: 3px; border-bottom-right-radius: 3px;">
                <img src="./assets/images/icons/edit.png" style="height: 16px; margin: 7px;">
              </div>
              <div class="jax_font" id="default_time">
                from <span style="font-family: lato-Bold">{{start_time}}</span>
                to <span style="font-family: lato-Bold">{{end_time}}</span>
              </div>
            </div>
            <div *ngFor = "let job of job_array; let i = index;">
              <div style="margin-left: 15px; width: 182px;">
                <div style="float: left; background-color: #313642; height: 30px; width: 30px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                  <img src="./assets/images/icons/dnd.png" style="height: 16px; margin: 7px;">
                </div>
                <div class="jax_font" id="dnd">
                  <label class="switch">
                    <input (click)="popup(1, i)" type="checkbox" [checked]="dnd_array[i]" id="dnd_toggle">
                    <div class="slider round"></div>
                  </label>
                  <div *ngIf="job_array.length != 1" style="overflow: hidden; padding-top: 2.5px; font-size: 8.5pt; text-align: left; padding-left: 10px;">DND on {{job}}</div>
                  <div *ngIf="job_array.length == 1" style="overflow: hidden; padding-top: 2.5px; font-size: 8.5pt;">Do not disturb mode</div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
      <div id="ratings">
        <div id="avail_req_head"><img src="./assets/images/icons/ratings.png" class="header_icon">
          <div style="float: left;">Ratings</div>
        </div>
        <div style="position: relative;" *ngIf="valid_ratings()">
          <canvas id="can" width="150" height="150" style="margin-left: 91px; margin-top: 15px; transform: rotateZ(-90deg) rotateX(180deg)"></canvas>
          <!--<svg style="width: 100%; height: 180px;">
            <circle cx="165" cy="94" r="70" style="  fill: none; stroke: #6abd45; stroke-width: 25;"></circle>
            <path  [attr.d]="path" style="fill: #fcfcfc;"></path>
            <path  [attr.d]="path2" style="fill: #fcfcfc;"></path>
          </svg>-->
          <div style="color: #525250; font-size: 12pt; text-align: center; margin-top: 5px;" >{{num_rating}} people rated your work</div>
          <div style="color: #525250; font-size: 25pt; text-align: center; margin-top: 8px; position: absolute; top: 32px; padding-top: 25px; width: 100px; height: 75px; margin-left: 116px; border-radius: 1000px; background-color: #fcfcfc;">
            {{ave_rating.toFixed(2)}}<br>
            <span style="font-size: 8pt;">ratings</span>
          </div>
        </div>
        <div *ngIf="!valid_ratings()" style="color: #525250; font-size: 12pt; text-align: center; margin: auto; padding-top: 78px; padding-bottom: 15px; width: 80%; height: 75px;">
          We need more data to give you an accurate rating for your work.<br>
        </div>
      </div>
    </div>
    <div id="left_elements">
      <div id="incoming_requests" style="position: relative;">
        <div id="inc_req_head"><img src="./assets/images/icons/incoming.png" class="header_icon">
          <div style="float: left;">Incoming requests</div>
        </div>
        <div *ngIf="requests.length == 0;" id="no_reqs">No pending  requests</div>
        <div *ngIf="requests.length != 0;" id="reqs_container">
          <div [ngStyle]="give_margin_bottom_1(i)" *ngFor="let request of requests; let i = index;">
            <div [ngStyle]="set_bg(i)" class="reqs_1">
              <div *ngIf="request.state < 2" class="inc_req_text_1">
                You have an incoming request from <span style="font-family: lato-bold; ">{{request.first_name}} {{request.last_name}}</span>.
              </div>
              <div *ngIf="request.state == 2" class="inc_req_text_1">
                You have accepted <span style="font-family: lato-bold; ">{{request.first_name}} {{request.last_name}}</span>'s request.
              </div>
              <div *ngIf="request.state == 3" class="inc_req_text_1">
                You have rejected <span style="font-family: lato-bold; ">{{request.first_name}} {{request.last_name}}</span>'s request.
              </div>
              <div *ngIf="request.state == 4" class="inc_req_text_1">
                Sorry <span style="font-family: lato-bold; ">{{request.first_name}} {{request.last_name}}</span> has cancelled this request.
              </div>
              <div *ngIf="request.state == 5" class="inc_req_text_1">
                You have missed a request from <span style="font-family: lato-bold; ">{{request.first_name}} {{request.last_name}}</span>.
              </div>
              <div class="reqs_text_4_wrapper">
                <div class="reqs_text_4_container">
                  <img src="./assets/images/icons/tradesman_blue.png" class="reqs_icon">
                  <div class="reqs_text_4">{{request.job}}</div>
                </div>
                <div *ngIf="request.location.length != 0" style="float: left;">
                  <img src="./assets/images/icons/location_red.png" class="reqs_icon">
                  <div class="reqs_text_4">
                    {{request.location}} <span class="reqs_text_5">({{request.precise_loc}})</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="request.description.length != 0" [ngStyle]="set_height(i, 1)" class="reqs_2">
              <div (click)="set_state(i, 0)" class="reqs_close_desc"><img src="./assets/images/icons/close_thin.png" class="reqs_close_desc_icon"></div>
              <div class="reqs_description">Description:</div>
              <div class="inc_req_desc">{{request.description}}</div>
            </div>
            <div [ngStyle]="set_height(i, 2)" class="reqs_3">
              <div *ngIf="request.state == 2">
                <div style="margin-top: 10px;">Contact details of {{request.first_name}}:</div>
                <div class="reqs_3_wrapper">
                  <div *ngIf="request.phone_number.length != 0" class="reqs_3_margin">
                    <img src="./assets/images/icons/call_green.png" class="reqs_3_icons">
                    <div style="float: left; font-family: lato-bold;">{{request.phone_number}}</div>
                  </div>
                  <div *ngIf="request.email.length != 0" style="float: left;">
                    <img src="./assets/images/icons/message_blue.png" class="reqs_3_icons">
                    <div style="float: left; font-family: lato-bold;">{{request.email}}</div>
                  </div>
                </div>
                <div class="reqs_3_subtitle_wrapper">
                  <div class="reqs_3_subtitle">Please contact {{request.first_name}} to continue and click the "START" button below to let us know that you have started your work.</div>
                </div>
              </div>
            </div>
            <div [ngStyle]="set_bg(i)">
              <div class="reqs_4">
                <div *ngIf="request.state < 2" class="reqs_time">Time remaining to respond: <span class="reqs_time_spec">{{request.time_left}} secs</span></div>
                <div style="width: auto; float: right; margin-top: 7px; margin-bottom: 7px;">
                  <div *ngIf="request.state < 2 || request.state == 5"(click)="set_state(i, 3)" class="inc_req_btns" style="background-color: #F16263">Decline</div>
                  <div *ngIf="request.state < 2 || request.state == 5"(click)="set_state(i, 2)" class="inc_req_btns inc_req_btns_margin" style="background-color: #6ABD45;">Accept</div>
                  <div *ngIf="show_desc_btn(i)" (click)="set_state(i, 1)" class="inc_req_btns inc_req_btns_margin" style="background-color: #5BB1E3;">Read description</div>
                  <div (click)="delete_req(i)" *ngIf="request.state > 2 && request.state != 5" class="inc_req_btns" style="background-color: #fcfcfc; color: #f16263;" >Clear</div>
                  <div *ngIf="request.state == 2" (click)="I_m_turning_down_the_job(i)" class="inc_req_btns" style="background-color: #F16263">I'm turning down the job</div>
                  <div *ngIf="request.state == 2" (click)="add_to_history(i)" class="inc_req_btns" style="background-color: #6ABD45; margin-right: 10px;">Start work</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="history" style="position: relative;">
        <div id="inc_req_head">
          <a routerLink="/tradesman-history" style="text-decoration: none;">
            <img src="./assets/images/icons/history.png" class="header_icon">
            <div style="float: left;color: #fff;">Jobs</div>
          </a>
        </div>
        <div *ngIf="jobs_array.length == 0;" id="no_reqs">No Actions Available</div>
        <div id="history_container">
          <div *ngFor="let history of histories; let i = index;">
            <hr *ngIf="i != 0 && i < 5" class="hr_history">
            <div *ngIf="i < 5 && history.state != 1 && history.state != 3" [ngStyle]="give_margin_bottom(i)" class="history_item">
              <img src="./assets/images/icons/tradesman_blue.png" class="history_item_icon">
              <div  *ngIf="history.state == 0" class="history_text_1">
                Please click on the "Completed" button when your job with
                <span style="font-family: lato-bold;">{{history.first_name}} {{history.last_name}}</span> is finished.
              </div>
              <div  *ngIf="history.state != 0" class="history_text_1">
                {{history.job}} work for <span style="font-family: lato-bold;">{{history.first_name}} {{history.last_name}}</span>
                 on <span style="font-family: lato-bold;">{{history.date}}</span>.
              </div>
              <div style="clear: both; width: 100%; padding-top: 10px; padding-bottom: 5px;">
                <img (click)="remove_history_item(i)" *ngIf="history.state == 3" src="./assets/images/icons/close_thin.png" class="history_delete_icon">
                <div class="history_details_wrapper">
                  <div *ngIf="history.state == 3" class="history_text_2">{{history.first_name}} has rated you</div>
                  <div *ngIf="history.state == 1" class="history_text_2">Ratings request pending</div>
                  <div *ngIf="history.state != 0" class="history_status">Status: <span style="color: #525250;">Completed</span></div>
                  <div *ngIf="history.state == 0" class="history_status">Status: <span style="color: #525250;">In progress</span></div>
                  <div (click)="request_rating(i)" *ngIf="history.state == 2" class="request_rating_btn">Request ratings</div>
                  <div (click)="completed(i)" *ngIf="history.state == 0" class="request_rating_btn_1 request_rating_btn_1_completed">Completed</div>
                  <div (click)="turned_down_job(i)" *ngIf="history.state == 0" class="request_rating_btn_1" style="background-color: #f16263;">I turned down the job</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile_view">
        <div id="availability">
          <div id="avail_req_head"><img src="./assets/images/icons/avilability.png" class="header_icon">
            <div style="float: left;">Availability</div>
          </div>
          <div id="avail_content">
            <div id="avail_title">
              {{date | date : "EEEE"}} <span style="font-family: lato-bold; ">{{date | date : "dd"}}<sup>{{suffix}}</sup> {{date | date : "MMMM"}}</span> {{date | date : "yyyy"}}
            </div>
            <div style="margin: auto; width: 60vw; margin-top: 0; margin-bottom: 0;">
            <div (click)="popup(0, 0)" style="cursor: pointer; overflow: hidden;">
              <div class="default_time_icon_holder">
                <img src="./assets/images/icons/edit.png" class="default_time_icon">
              </div>
                <div class="jax_font" id="default_time">
                  from <span style="font-family: lato-Bold">{{start_time}}</span>
                  to <span style="font-family: lato-Bold">{{end_time}}</span>
                </div>
              </div>
              <div *ngFor = "let job of job_array; let i = index;">
                <div class="default_time_icon_holder" style="float: left; background-color: #eaeaea; border-radius: 0; border-top-left-radius: 3px; border-bottom-left-radius: 3px; margin-top: 0; height: 6.2vw;">
                  <img src="./assets/images/icons/dnd_1.png" class="default_time_icon">
                </div>
                <div class="jax_font" id="dnd">
                  <label class="switch">
                    <input (click)="popup(1, i)" type="checkbox" [checked]="dnd_array[i]" class="dnd_toggle">
                    <div class="slider round"></div>
                    <div class="dnd_on">ON</div>
                    <div class="dnd_off">OFF</div>
                  </label>
                  <div *ngIf="job_array.length != 1" style="overflow: hidden; font-size: 3.5vw; text-align: left; ">DND on {{job}}</div>
                  <div *ngIf="job_array.length == 1" style="overflow: hidden; font-size: 3.5vw;">Do not disturb mode</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="ratings">
          <div id="avail_req_head"><img src="./assets/images/icons/ratings.png" class="header_icon">
            <div style="float: left;">Ratings</div>
          </div>
          <div style="position: relative;" *ngIf="valid_ratings()">
            <canvas id="can2" style="margin-left: 19vw; margin-top: 3vw; transform: rotateZ(-90deg) rotateX(180deg) translateX(13vw); height: 25vw;"></canvas>
            <!--<svg style="width: 100%; height: 28vw;">
              <circle cx="50%" cy="15vw" r="10vw" style="  fill: none; stroke: #6abd45; stroke-width: 4vw;"></circle>
              <path  [attr.d]="path" style="fill: #fcfcfc;"></path>
              <path  [attr.d]="path2" style="fill: #fcfcfc;"></path>
            </svg>-->
            <div style="color: #525250; font-size: 3vw; text-align: center; margin-top: 1vw; margin-bottom: 3vw;" >{{num_rating}} people rated your work</div>
            <div style=" color: #525250; font-size: 2.6vw; text-align: center; margin-top: 1vw; position: absolute; top: 5.9vw; padding-top: 3.7vw; width: 16.7vw; height: 12.9vw; margin-left: 35.8vw; border-radius: 1000px; background-color: #fcfcfc;">
              {{ave_rating.toFixed(2)}}<br>
              <span style="font-size: 2.5vw;">ratings</span>
            </div>
          </div>
          <div *ngIf="!valid_ratings()" style="color: #525250; font-size: 3vw; text-align: center; margin-top: 1vw; padding-top: 4vw; padding-bottom: 4vw; width: 80%; margin: auto;">
            We need more data to give you an accurate rating for your work.<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div (click)="pop_up_close()" id="{{overlay_id}}">
  <div (click)="stop_prop($event)" id="pop_overlay">
    <div [hidden]="pointer_choice != 0">
      <div id="avail_time_title">Availability for {{date | date : "MMMM"}} {{date | date : "dd"}}, {{date | date : "yyyy"}}</div>
      <div style="text-align: center; padding-top: 40px; height: 50px;">
        <div id="time_input_wrapper">
          <time_input [hour]="start_hour" [minute]="start_minute" [am_pm]="start_am_pm"></time_input>
          <div id="time_to">to</div>
          <time_input [hour]="end_hour" [minute]="end_minute" [am_pm]="end_am_pm"></time_input>
        </div>
      </div>
      <div id="pop_overlay_btn_wrapper">
        <div (click)="pop_up_close()" class="time_overlay_btns" style="margin-left: 0px; background-color: #F16263;">Cancel</div>
        <div (click)="pop_up_close_go_edit_profile()" class="time_overlay_btns edit_time_avail_btn" style="background-color: #5BB1E3;">Edit default time availability</div>
        <div (click)="pop_up_save_time()" class="time_overlay_btns" style="margin-right: 0px; background-color: #6ABD45;">Save changes</div>
      </div>
    </div>
    <div [hidden]="pointer_choice != 1">
      <div id="dnd_title">
        Do not disturb mode Activated
      </div>
      <img src="./assets/images/icons/dnd_1.png" id="dnd_icon">
      <div id="dnd_desc" *ngIf="job_array.length == 1">
        You have activated the "Do not Disturb" mode. Your profile won't be visible to the homeowners now
      </div>
      <div id="dnd_desc" *ngIf="job_array.length != 1" style="margin-top: 5px;">
        You have activated the "Do not Disturb" mode for {{dnd_job}}. Your profile for {{dnd_job}} won't be visible to the homeowners now
      </div>
      <div (click)="pop_up_close()" id="dnd_btn">OK</div>
    </div>
    <div *ngIf="pointer_choice == 2">
      <div id="dnd_circle_2">
        <img src="./assets/images/icons/check.png" style="margin-top: 35px; height: 45px; margin-left: 25px;">
      </div>
      <div id="dnd_desc_2">
        "Do not disturb mode" is turned off you will now start receiving requests from all your trades. To make changes go to "edit profile"
      </div>
      <div style="width: 100%;">
        <div (click)="pop_up_close_go_edit_profile()" id="dnd_btn" style="float: left; width: 150px; margin-right: 30px; margin-left: 55px;">Edit profile</div>
        <div (click)="pop_up_close()" id="dnd_btn" style="float: left; background-color: transparent; color: #555; clear: none; width: 150px;">OK</div>
      </div>
    </div>
  </div>
</div>
