<div id="{{edit_profile_personal_container_id}}">
  <div class="section_title" id="profile_title" style="margin-bottom: 10px;">
    Basic information
    <div class="error_strings">{{profile_error}}</div>
  </div>
  <div class="section" id="profile_section" id="profile_details_wrapper">
    <div id="prof_img_holder" (click)="profpicbtn.click()">
      <img [src]="data.image" id="prof_image">
      <!--<img id="prof_img_edit_icon" src="./assets/images/icons/edit_shadow.png">-->
      <div id="prof_img_edit_icon">
        <img src="./assets/images/icons/cam_2.png" id="prof_img_edit_icon_image">
        Upload picture
      </div>
      <input type="file" accept="image/*" #profpicbtn (change)="change_prof_pic($event)" style="display: none;">
    </div>
    <div [hidden]="datatransfer.is_tradesman_profile()" id="prof_info_holder" style="margin-top: 5px;">
      <div id="profile_name">{{name}}</div>
      <div class="jax-thin-font profile_details">{{job}} {{sub_categ}}</div>
      <div class="jax-thin-font profile_details">{{c_name}}</div>
    </div>
    <div [hidden]="!datatransfer.is_tradesman_profile()" id="tradesman_profile_input_wrapper">
      <div id="first_name">
        <div class="input_name">First name</div>
        <input (click)="remove_style('#first_name_input')" [(ngModel)]="first_name" class="input" type=text placeholder="First name" maxlength="25" id="first_name_input">
        <img src="./assets/images/icons/edit_2.png" class="edit_icon_input">
      </div>
      <div id="last_name">
        <div class="input_name">Last name</div>
        <input (click)="remove_style('#last_name_input')" [(ngModel)]="last_name" class="input" type=text placeholder="Last name" maxlength="25" id="last_name_input">
        <img src="./assets/images/icons/edit_2.png" class="edit_icon_input">
      </div>
      <div *ngIf="!multiple_edit_values()">
        <div id="trade">
          <div class="input_name">Trade</div>
          <div class="input" id="job_field_no_edit">
            <div id="job_field_wrapper">{{job}}</div>
          </div>
            <!--<select-job [job]="job" (changed_job)="changed_job($event)"></select-job>-->
        </div>
        <div id="company_name">
          <div class="input_name">Company name</div>
          <input [(ngModel)]="c_name" class="input" type=text placeholder="Company name" maxlength="25">
          <img src="./assets/images/icons/edit_2.png" class="edit_icon_input">
        </div>
      </div>
      <div *ngIf="multiple_edit_values()" id="prof_info_holder">
        <div id="email">
          <div class="input_name">Email</div>
          <input (click)="remove_style('#email_input')" [(ngModel)]="email" class="input" type=text placeholder="Email"  id="email_input">
          <img src="./assets/images/icons/edit_2.png" class="edit_icon_input">
        </div>
        <div id="mobile_number">
          <div class="input_name">Phone (Mobile)</div>
          <input (click)="remove_style('#mobile_number_input')"
                 [(ngModel)]="mobile_number" class="input" type=text placeholder="Phone (Mobile)"
                 (focus)="set_predefined_area_code()" (focusout)="remove_predefined_area_code(mobile_number)"
                 (blur)="remove_predefined_area_code(mobile_number)" (ngModelChange)="contact_change($event)"
                 maxlength="14"  id="mobile_number_input">
          <img src="./assets/images/icons/edit_2.png" class="edit_icon_input">
          <div [ngStyle]="style_predefined_area_code(mobile_number)" id="predefined_area_code">+1</div>
        </div>
      </div>
    </div>
    <div *ngIf="datatransfer.is_tradesman_profile() && !multiple_edit_values()" style="clear: both; overflow: hidden;">
      <div class="input_name" style="margin-top: 10px;">Sub category</div>
      <div id="sub_category">
        <div *ngFor="let categories of sub_categories; let i = index">
          <div (click)="toggle_item(i)" class="categories_item">
            <img [attr.id]="'check_box_' + i" src="./assets/images/uncheck_box.png" class="sub_category_check_box">
            <div style="overflow: hidden;">{{categories}}</div>
          </div>
        </div>
      </div>
      <div id="email">
        <div class="input_name">Email</div>
        <input (click)="remove_style('#email_input')" [(ngModel)]="email" class="input" type=text placeholder="Email"  id="email_input">
        <img src="./assets/images/icons/edit_2.png" class="edit_icon_input">
      </div>
      <div id="mobile_number">
        <div class="input_name">Phone (Mobile)</div>
        <input (click)="remove_style('#mobile_number_input')"
               [(ngModel)]="mobile_number" class="input" type=text placeholder="Phone (Mobile)"
               (focus)="set_predefined_area_code()" (focusout)="remove_predefined_area_code(mobile_number)"
               (blur)="remove_predefined_area_code(mobile_number)" (ngModelChange)="contact_change($event)"
               maxlength="14"  id="mobile_number_input">
        <img src="./assets/images/icons/edit_2.png" class="edit_icon_input">
        <div [ngStyle]="style_predefined_area_code(mobile_number)" id="predefined_area_code">+1</div>
      </div>
    </div>
  </div>
</div>

<div (click)="close_pop_up()" id="{{crop_image_overlay_id}}">
  <div (click)="$event.stopPropagation()" id="crop_pop_up">
    <img-cropper [image]="data" [settings]="cropperSettings" style="position: absolute; left: 50%; transform: translateX(-50%); background-color: #525252;"></img-cropper>
    <img-cropper [image]="data" [settings]="cropperSettings" style="position: relative; opacity: 0; pointer-events: none;"></img-cropper>
    <div id="pop_up_btn_container_crop">
      <div style="display: inline-block">
        <div class="pop_up_btn" (click)="data.image = prev_image; close_pop_up();" id="cancel_btn">Cancel</div>
        <div class="pop_up_btn" (click)="close_pop_up();" style="background-color: #525250; color: #fff;">Save</div>
      </div>
    </div>
  </div>
</div>
