<div class="jax_font" id="edit_profile_container" [ngStyle]="set_width()">
  <div class="{{container_id}}">
    <edit-profile-personal [image_input]="profile_pic" [job]= "job" [sub_categ]="sub_categ" [c_name]="c_name" (blur)="set_blur_personal($event)">
    </edit-profile-personal>

    <div id="{{container_2_id}}">
      <div class="section_title" id="about_you_title">About you</div>
      <div style="position: relative; overflow: hidden;">
        <textarea [(ngModel)]="about_you" rows="5" placeholder="Describe yourself in a few words." id="about_you_text_area" maxlength="2500"></textarea>
        <img [hidden]="router.url != '/tradesman-edit-profile'" src="./assets/images/icons/edit_2.png" class="edit_icon_input" id="edit_icon_about_you">
      </div>
    </div>
  </div>

  <div id="{{container_3_id}}">
    <div [ngStyle]="add_border_multiple_trades()" id="{{tab_id}}">

      <div *ngIf="job_specific_fields.length > 1">
        <div (click)="shown_tab = i" class="job_tab" [ngStyle]="set_tab(i)" *ngFor="let job_specific_field of job_specific_fields; let i = index;">
          {{job_specific_field.job}}
        </div>
      </div>

      <div *ngIf="job_specific_fields.length == 0" style="clear: both">
        <job-specific-fields (blur)="set_blur($event)"></job-specific-fields>
      </div>
      <div *ngIf="job_specific_fields.length == 1" style="clear: both">
        <job-specific-fields [location]="job_specific_fields[0].location" [start_hour]="job_specific_fields[0].default_time_availability.start_hour"
          [start_minute]="job_specific_fields[0].default_time_availability.start_minute" [start_am_pm]="job_specific_fields[0].default_time_availability.start_am_pm"
          [end_hour]="job_specific_fields[0].default_time_availability.end_hour" [end_minute]="job_specific_fields[0].default_time_availability.end_minute"
          [end_am_pm]="job_specific_fields[0].default_time_availability.end_am_pm" [chosen_pre_skill]="job_specific_fields[0].pre_defined_skills"
          [added_skills]="job_specific_fields[0].added_skills" [gallery_images]="job_specific_fields[0].gallery" [rw_array]="job_specific_fields[0].recent_works"
          [facebook]="job_specific_fields[0].facebook" [linkedin]="job_specific_fields[0].linkedin" [website]="job_specific_fields[0].website"
          [twitter]="job_specific_fields[0].twitter" [job]="job_specific_fields[0].job" [sub_categs]="job_specific_fields[0].sub_categories"
          [company_name]="job_specific_fields[0].company_name" [office_number]="job_specific_fields[0].office_number" (blur)="set_blur($event)">
        </job-specific-fields>
      </div>
      <div *ngIf="job_specific_fields.length > 1" style="clear: both">
        <div *ngFor="let job_specific_field of job_specific_fields; let i = index;">
          <div *ngIf="i == shown_tab" style="background-color: #fcfcfc; padding: 25px; padding-top: 15px; padding-bottom: 0;">
            <job-specific-fields [location]="job_specific_field.location" [start_hour]="job_specific_field.default_time_availability.start_hour"
              [start_minute]="job_specific_field.default_time_availability.start_minute" [start_am_pm]="job_specific_field.default_time_availability.start_am_pm"
              [end_hour]="job_specific_field.default_time_availability.end_hour" [end_minute]="job_specific_field.default_time_availability.end_minute"
              [end_am_pm]="job_specific_field.default_time_availability.end_am_pm" [chosen_pre_skill]="job_specific_field.pre_defined_skills"
              [added_skills]="job_specific_field.added_skills" [gallery_images]="job_specific_field.gallery" [rw_array]="job_specific_field.recent_works"
              [facebook]="job_specific_field.facebook" [linkedin]="job_specific_field.linkedin" [website]="job_specific_field.website"
              [twitter]="job_specific_field.twitter" [job]="job_specific_field.job" [sub_categs]="job_specific_field.sub_categories"
              [company_name]="job_specific_field.company_name" [office_number]="job_specific_field.office_number" (blur)="set_blur($event)">
            </job-specific-fields>
          </div>
        </div>
      </div>

      <div class="{{container_id}}">
        <div style="clear: both;">
          <div id="non_mobile_buttons">
            <div *ngIf="job_specific_fields.length == 0"  (click)="save_profile()" id="save_btn">Save &amp; continue</div>
            <div *ngIf="job_specific_fields.length == 1"  (click)="save_profile()" id="save_btn">Save</div>
          </div>
          <div *ngIf="job_specific_fields.length > 1" id="non_mobile_buttons" style="text-align: center; background-color: #fcfcfc; overflow: hidden;">
            <div style="display: inline-block;">
              <div (click)="open_pop()" id="save_btn" style="color: #292c38; border: 1px solid #525160; background-color: transparent; float: left; margin-right: 30px;">Remove trade</div>
              <div (click)="save_profile()" id="save_btn" style="color: #fff; background-color: #292c38; float: left;">Save</div>
            </div>
          </div>
          <div id="mobile_buttons">
            <div *ngIf="job_specific_fields.length == 0"  (click)="save_profile()" id="save_btn" style="margin-top: 5vw;">Save &amp; continue</div>
            <div *ngIf="job_specific_fields.length == 1"  (click)="save_profile()" id="save_btn" style="margin-top: 5vw;">Save</div>
            <div *ngIf="job_specific_fields.length > 1"  (click)="save_all()" id="save_btn" style="margin-top: 5vw;">Save all trades</div>
            <a routerLink="/subscribe-personal" style="text-decoration: none; color: #777;">
              <div *ngIf="job_specific_fields.length > 0" id="save_btn" style="color: #fff; border: 1px solid #ea5b5b; background-color: #ea5b5b;">
                <img src="./assets/images/icons/advertise.png" style="height: 3vw; margin-right: 2vw;"> Advertise your profile
              </div>
            </a>
            <div *ngIf="job_specific_fields.length > 0" (click)="testimonial.emit(true);" id="save_btn" style="color: #292c38; border: 1px solid #525160; background-color: transparent;">{{testimonial_text}}</div>
            <div *ngIf="job_specific_fields.length > 1" (click)="open_pop()" id="save_btn" style="color: #292c38; border: 1px solid #525160; background-color: transparent;">Remove trade</div>
            <a routerLink="/add-trade" style="text-decoration: none; color: #292c38;">
              <div *ngIf="job_specific_fields.length == 1" id="save_btn" style="color: #292c38; border: 1px solid #525160; background-color: transparent;">Add trade</div>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div div *ngIf="job_specific_fields.length > 1" (click)="close_pop()" id="{{overlay_id}}">
  <div (click)="stop_prop($event)" class="jax_font" id="edit_rw_overlay_3">
    <img src="./assets/images/icons/caution.png" id="prof_image">
    <div class="section_title" id="edit_rw_btn_wrapper">Do you want to remove your {{job_specific_fields[shown_tab].job}} trade?</div>
    <div id="edit_rw_btn_wrapper">
      <div style="display: inline-block">
        <div (click)="close_pop()" class="jax-thin-font" class="edit_rw_btn">Cancel</div>
        <div (click)="remove_trade()" class="jax-thin-font" class="edit_rw_btn"id="rw_edit_save" style="border: 1px solid #ea5b5b; background-color: #ea5b5b; color: #fff;" id="rw_edit_cancel">Remove</div>
      </div>
    </div>
  </div>
</div>
