<div id="{{tradesmen_container_id}}">
  <div id="top_image">
    <div class="carousel" id="carousel">
      <img [src]="fade_img" id="faded_img">
      <img [src]="stick_img" id="sticky_img">
      <!--<ul class="slides">
        <li *ngFor="let image of images">
          <img src="{{image}}">
        </li>
      </ul>-->
    </div>
    <div id="image_shadow">
    </div>
    <div id="initial_msg" [ngStyle]="set_scroll_opacity()">
      <div id="initial_msg_opening_msg">
        {{opening_msg}}
      </div>
      <div id="opening_question">
        Nearby, available, and professional, find the right person for the job here!
      </div>
      <div (click)="smoothScroll()" id="find_tradesman_btn">
        <!-- <img class="btn_icon" src="./assets/images/icons/tradesman_2.png"> -->
        <div class="btn_text">
          FIND A TRADESMEN
        </div>
      </div>
    </div>
    <div *ngIf="show_other_widgets && best_tradesmen.length >= 3" id="widget" [ngStyle]="toggle_widget()">
      FIND THE BEST TRADESMEN
      <hr class="hr_divider" style="width: 100%; margin-top: 7px; margin-bottom: 7px;">
      <div style="text-align: center; margin-top: 5px; overflow: hidden; margin-bottom: 5px;">
        <div style="display: inline-block;">
          <div *ngFor="let tradesman of best_tradesmen; let i = index;" style="float: left;">
            <div *ngIf="i < 3" class="w_b_t_container" [ngStyle]="give_border(i)">
              <img (click)="go_to_tradesman_profile(i, false)" [src]="tradesman.image" class="w_b_t_image">
              <div class="w_b_t_name">
                {{tradesman.name}}
              </div>
              <div class="w_b_t_job">
                {{tradesman.job}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="w_view_more">
        <a routerLink="/best-tradesman" style="text-decoration: none;">
          <span style="cursor: pointer; color: blue;">View more</span>
        </a>
      </div>
    </div>
  </div>
  <div id="fixed_box">
    <div id="float_box">
      <div id="white_box">
        <div class="jax_font">
          <div class="tradesmen_question" id="who_searchin">
            Who are you searching for?
          </div>
          <div id="category_container">
            <div *ngFor="let category of jobs; let i = index" (click)="sub_category_pop(i)" class="category_box" [ngStyle] = "background_selector(i)">
              <div class="category_title">{{category}}</div>
            </div>
          </div>
          <hr class="hr_divider">
          <div id="home_content_container">
            <div class="content_section"  style="position: relative;">
              <div class="landing_page_img">
                <img src="./assets/images/landing_page_images/img2.jpg" style="width: 100%;">
                <div class="image_shadow_inside_image"></div>
                <div class="text_inside_image">
                  <div class="text_inside_image_wrapper">
                    <div class="msg_title">{{homeowner_title}}</div>
                    <div>
                      {{homeowner_msg}}
                    </div>
                    <a routerLink="/learn-more-homeowner" style="text-decoration: none;">
                      <div class="learn_more_btn">
                        Learn more
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="landing_page_text">
                <div class="landing_page_text_wrapper">
                  <div class="msg_title">{{homeowner_title}}</div>
                  <div>
                    {{homeowner_msg}}
                  </div>
                  <a routerLink="/learn-more-homeowner" style="text-decoration: none;">
                    <div class="learn_more_btn">
                      LEARN MORE
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="content_section" id="second_content">
              <div class="landing_page_text" style="left: 0%;">
                <div class="landing_page_text_wrapper">
                  <div class="msg_title">{{tradesman_title}}</div>
                  <div>
                    {{tradesman_msg}}
                  </div>
                  <a routerLink="/learn-more-tradesman" style="text-decoration: none;">
                    <div class="learn_more_btn" style="float: right; margin-right: 0%;">
                      LEARN MORE
                    </div>
                  </a>
                </div>
              </div>
              <div style="float: left; width: 52.5%; min-height: 1px;"></div>
              <div class="landing_page_img">
                <img src="./assets/images/landing_page_images/img5.jpg" style="width: 100%;">
                <div class="image_shadow_inside_image"></div>
                <div class="text_inside_image">
                  <div class="text_inside_image_wrapper">
                    <div class="msg_title">{{tradesman_title}}</div>
                    <div>
                      {{tradesman_msg}}
                    </div>
                    <a routerLink="/learn-more-tradesman" style="text-decoration: none;">
                      <div class="learn_more_btn">
                        Learn more
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr_divider">
          <div *ngIf="!show_other_widgets" id="temporary_widget">
            <div id="image_shadow"></div>
            <!--<div id="temporary_widget_content">
              <div id="temporary_widget_hashtag">#JAXHELPED</div>
              <div id="temporary_widget_quote">"Jax of trades helped me get jobs in the GTA"</div>
              <div id="temporary_widget_subs_container">
                  <img src="./assets/images/icons/company_logos/north_end_plumbers.png" id="temporary_widget_logo">
                  <div id="temporary_widget_subs">
                    <div>HARISSON WELLS</div>
                    <div>MANAGER - NORTH END PLUMBERS</div>
                    <div>TORONTO</div>
                  </div>
              </div>
            </div>-->
          </div>
          <div *ngIf="show_other_widgets && best_tradesmen.length >= 6">
            <div class="tradesmen_question" style="letter-spacing: 1.2px;">
              FIND THE BEST TRADESMEN
            </div>
            <div id="best_tradesman_wrapper">
              <div style="display: inline-block;">
                <div style="display: inline-block;" *ngFor="let tradesman of best_tradesmen; let i = index;">
                  <div *ngIf="i < 6" class="b_t_container">
                    <img (click)="go_to_tradesman_profile(i, false)" [src]="tradesman.image" class="b_t_image">
                    <div class="b_t_name">
                      {{tradesman.name}}
                    </div>
                    <div class="b_t_job">
                      {{tradesman.job}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="homeowner_testimonials" *ngIf="home_owner_testimonials.length == 4 && show_other_widgets">
            <div class="testimonials_content">
              <div class="tradesmen_question" style="color: #fff; margin-bottom: 30px;">
                Home Owner Testimonials
              </div>
              <div class="testimonials" id="homeowner_testimonial">
                <div (click)="see_more('homeowner_testimonial')" class="see_more">{{homeowner_see_more}}</div>
                <div *ngFor="let testimonial of home_owner_testimonials" class="testimonials_item">
                  <img [src]="testimonial.image" class="testimonial_image">
                  <div style="margin-right: 15px; overflow: hidden;">
                    <div class="testimonial_name">
                      {{testimonial.name}}
                    </div>
                    <div class="testimonial_message">
                      "{{testimonial.message}}"
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="image_shadow">
            </div>
          </div>
          <div *ngIf="show_other_widgets" style="background-color: #fff;">
            <div class="tradesmen_question" style="margin-top: 30px; letter-spacing: 1.2px;">
              FIND THE BEST CONTRACTORS NEAR YOU
            </div>
            <div id="best_contractor_wrapper">
              <div style="display: inline-block;">
                <img (click)="go_to_tradesman_profile(i, true)" *ngFor="let company of companies; let i = index;" [src]="company.image" class="company_icons">
              </div>
            </div>
          </div>
          <div id="tradesmen_testimonials" *ngIf="tradesman_testimonials.length == 4 && show_other_widgets">
            <div class="testimonials_content">
              <div class="tradesmen_question" style="color: #fff; margin-bottom: 30px;">
                Tradesmen Testimonials
              </div>
              <div class="testimonials" id="tradesman_testimonial">
                <div (click)="see_more('tradesman_testimonial')" class="see_more">{{tradesman_see_more}}</div>
                <div *ngFor="let testimonial of tradesman_testimonials" class="testimonials_item">
                  <img [src]="testimonial.image" class="testimonial_image" style="margin-right: 10px;">
                  <div style="margin-right: 15px; overflow: hidden;">
                    <div class="testimonial_name">
                      {{testimonial.name}}
                    </div>
                    <div class="testimonial_message">
                      "{{testimonial.message}}"
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="image_shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center; margin-top: 8vw;">
      <div style="display: inline-block;">
        <a routerLink="/about-us" style="text-decoration: none;">
          <div class="bottom_links">
            About us
          </div>
        </a>
        <a routerLink="/our-team" style="text-decoration: none;">
          <div class="bottom_links">
            Our team
          </div>
        </a>
        <a routerLink="/contact-us" style="text-decoration: none;">
          <div class="bottom_links">
            Contact us
          </div>
        </a>
        <a routerLink="/privacy-policy" style="text-decoration: none;">
          <div class="bottom_links">
            Privacy Policy
          </div>
        </a>
        <a routerLink="/terms-of-use" style="text-decoration: none;">
          <div class="bottom_links">
            Terms of Use
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center; margin-top: 3vw;">
      <div style="display: inline-block;">
        <img src="./assets/images/icons/s_m_icons/twitter.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons/fb.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons/insta.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons/youtube.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons/google+.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons/pintrest.png" class="s_m_icons">
      </div>
    </div>
    <div id="copyright">
      &copy; Jax of Trades Inc | 2016
    </div>
  </div>
</div>

<div (click)="close_sub_category()" id="{{overlay_id}}">
  <div (click)="stop_propagation($event)" id="login">
    <!--<login-float [sign_up]="SignupFunction" [correct] = "HideFunction">Loading...</login-float>-->
    <request_float_box [t_id]="t_id" [choice]="1" (box_closed)="correct($event)">Loading...</request_float_box>
  </div>
  <div (click)="stop_propagation($event)" id="{{sub_categories_id}}">
    <div id="sub_categories_title" class="jax_font">
      <img (click)="back()" id="back_icon" *ngIf="overlay_title == 'Select service hours'" src="./assets/images/icons/back.png">
      <img id="time_icon" *ngIf="overlay_title == 'Select service hours'" src="./assets/images/icons/time.png">
      {{overlay_title}}
    </div>
    <div id="{{filter_1_id}}">
      <div id="sub_categs_container">
          <div (click)="toggle_checkbox(i)" class="jax_font sub_categs" *ngFor="let sub_category of sub_categories.sub_categories[main_category]; let i = index;">
            <div style="display: inline-block; width: 100%;">
              <img src="./assets/images/uncheck_box.png" class="check_box" [attr.id]="'check_box' + i">
              <div style="overflow: hidden; margin-right: 10px;">{{sub_category}}</div>
            </div>
          </div>
      </div>
      <div style="text-align: center;">
        <div (click)="search()" class="sub_cat_btn jax_font" id="search">Next</div>
      </div>
    </div>
    <div class="jax_font" id="{{filter_2_id}}">
      <div id="time_container">
        <div id="time_directions">
          <img id="time_info" src="./assets/images/icons/info.png">
          Select the time inerval when you want your work done.
        </div>
        <div id="time_error">
          *Please use a valid time range*
        </div>
        <div>
          <div id="time_box_containers">
            <div class="time_container">
              <div (click)="toggle_drop_down_start($event)" class="am_pm">
                <div class="am_pm_text" id="am_pm_start">{{start_am_pm}}</div>
                <img src="./assets/images/select-down_2.png" class="am_pm_button">
                <div class="drop-down" id="drop_down_start">
                  <div [hidden]="start_am_pm == 'am'" (click)="toggle_drop_down_start($event); change_value_start('am');" class="option">
                    am
                  </div>
                  <div [hidden]="start_am_pm == 'pm'"(click)="toggle_drop_down_start($event); change_value_start('pm');" class="option">
                    pm
                  </div>
                </div>
              </div>
                <div class="jax_font" id="time_input">
                  <input [(ngModel)]="start_hour" class="time hour_time" maxlength="2">
                  <div class="colon">:</div>
                  <input [(ngModel)]="start_minute" class="time minute_time" maxlength="2">
                </div>
            </div>
            <div id="time_to">
              to
            </div>
            <div class="time_container">
              <div (click)="toggle_drop_down_end($event)" class="am_pm">
                <div class="am_pm_text" id="am_pm_end">{{end_am_pm}}</div>
                <img src="./assets/images/select-down_2.png" class="am_pm_button">
                <div class="drop-down" id="drop_down_end">
                  <div [hidden]="end_am_pm == 'am'" (click)="toggle_drop_down_end($event); change_value_end('am');" class="option">am</div>
                  <div [hidden]="end_am_pm == 'pm'"(click)="toggle_drop_down_end($event); change_value_end('pm');" class="option">
                    pm
                  </div>
                </div>
              </div>
                <div class="jax_font" id="time_input">
                  <input [(ngModel)]="end_hour" class="time hour_time" maxlength="2">
                  <div class="colon">:</div>
                  <input [(ngModel)]="end_minute" class="time minute_time" maxlength="2">
                </div>
            </div>
          </div>
        </div>
        <div (click)="service_time()" class="sub_cat_btn" style="margin-top: 80px;">Search</div>
        <hr id="filter_2_hr">
        <div (click)="no_service_time()" class="sub_cat_btn" id="skip_and_search">Skip and search all tradesmen</div>
        <div id="time_or">or</div>
      </div>
    </div>
  </div>
</div>
