<div id="{{container_id}}">
  <div *ngIf="router.url != '/company-profile'">
    <div [hidden]="!(!sub_categ_show() || jobs.length > 1)">
      <div class="section_title" id="company_title">Company name</div>
      <div style="margin-top: 8px; margin-bottom: 15px; overflow: hidden;">
        <div class="company_fields" style="margin-right: 30px;">
          <input type="text" class="input" [(ngModel)]="company_name">
          <img class="edit_icon_input" src="./assets/images/icons/edit_2.png">
        </div>
      </div>
      <div [hidden]="!sub_categ_show()">
        <div class="section_title" id="sub_category_title">Sub-category</div>
        <div class="shadowed_section" style="padding: 5px; padding-top: 0;">
          <div *ngFor="let categories of sub_categories; let i = index">
            <div (click)="toggle_item(i)" class="categories_item">
              <img [attr.id]="'check_box_' + i" src="./assets/images/uncheck_box.png" class="sub_category_check_box">
              <div style="overflow: hidden">{{categories}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section_title" id="skills_title" style="clear: both;">Skills</div>
    <div class="shadowed_section">
      <div class="note" id="pre_defined_skills_note">Note: What are some of your specialties?</div>
      <!--<div style="overflow: hidden; margin-left: -5px; margin-right: -5px;">
        <div (click)="toggle_pre_skill(i)" class="pre_skills" *ngFor="let skill of pre_skills; let i = index;">
          <div class="pre_skill_chk">
            <img [attr.id]="'pre_skill_chk_' + i" src="./assets/images/uncheck_box.png" class="skill_checkbox_image">
          </div>
          <div class="pre_skill_name">
            {{skill}}
          </div>
        </div>
      </div>
      <hr>-->
      <div class="add_skills_wrapper">
        <div class="add_skills_text">Add skills</div>
        <div class="note add_skills_note">Note: What are the other skills that make you unique?</div>
      </div>
      <div class="added_skill_wrapper">
        <div style="float: left; border-radius: 5px;">
          <input (keypress)="add_skill_keypress($event.keyCode)" placeholder="Enter skill here" [(ngModel)]="new_skill" id="new_skill" maxlength="25">
          <div (click)="add_skill(new_skill)" id="add_skill_btn">Add</div>
        </div>
        <div id="add_skill_error">*{{add_skill_error}}*</div>
      </div>
      <div [hidden]="added_skills.length == 0" style="clear: both; overflow: hidden; margin-left: -5px; margin-right: -5px;">
        <div class="added_skill" *ngFor="let added_skill of added_skills; let i = index;">
          <div (click)="delete_skill(i)" class="delete_added_skill"><img src="./assets/images/icons/close_thin.png" class="delete_added_skill_image"></div>
          <div class="added_skill_name">{{added_skill}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="router.url == '/company-profile'">
    <div class="section_title" id="specialize_in_title" style="clear: both;">Specialize in:</div>
    <div class="shadowed_section">
      <div style="overflow: hidden;">
        <div class="add_skills_text">Add specialization</div>
        <div class="note add_skills_note">Note: What are some of your business’s specialties?</div>
      </div>
      <div class="added_skill_wrapper">
        <div style="float: left; border-radius: 5px;">
          <input (keypress)="add_skill_keypress($event.keyCode)" placeholder="Enter skill here" [(ngModel)]="new_skill" id="new_skill" maxlength="25">
          <div (click)="add_skill(new_skill)" id="add_skill_btn">Add</div>
        </div>
        <div id="add_skill_error">*{{add_skill_error}}*</div>
      </div>
      <div [hidden]="added_skills.length == 0" style="clear: both; overflow: hidden; margin-left: -5px; margin-right: -5px;">
        <div class="added_skill" *ngFor="let added_skill of added_skills; let i = index;">
          <div (click)="delete_skill(i)" class="delete_added_skill"><img src="./assets/images/icons/close_thin.png" class="delete_added_skill_image"></div>
          <div class="added_skill_name">{{added_skill}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="router.url != '/company-profile'">
    <div class="section_title" id="default_daily_time_availability_title">Default daily time availability
      <div class="error_strings" id="time_error">{{time_error}}</div>
    </div>
    <div class="shadowed_section" style="padding-top: 5px; padding-bottom: 5px;">
      <div class="time_input_wrapper">
        <time_input [hour]="start_hour" [minute]="start_minute" [am_pm]="start_am_pm"></time_input>
        <div class="time_input_to">to</div>
        <time_input [hour]="end_hour" [minute]="end_minute" [am_pm]="end_am_pm"></time_input>
      </div>
      <div id="time_input_invi">
      </div>
      <div class="note" id="time_note">
        Note: The "Default daily time availability" will be taken as your availability for
        the day if you fail to update it in the dashboard. Aside from the dashboard it can also
        be changed in the settings page.
      </div>
    </div>
    <div class="section_title" id="default_location_title">Default location
      <div class="error_strings" id="location_error">{{location_error}}</div>
    </div>
    <div class="shadowed_section" style="padding-top: 0;">
      <div style="float: left; margin-right: 197px; background-color: #fff; position: relative; margin-top: 10.5px; margin-bottom: 3.5px;">
        <input (click)="remove_attribute()" placeholder="Enter postal code here" maxlength="7" [(ngModel)]="location" id="location">
        <img [hidden]="router.url != '/tradesman-edit-profile'" src="./assets/images/icons/edit_2.png" class="edit_icon_input" id="edit_icon_location">
        <!--<div id="location_img"><img src="./assets/images/icons/location_1.png" style="height: 15px;"></div>-->
      </div>
      <div class="note" id="location_note" style="padding-top: 20px;">
        Note: The "Default location" will be used whenever your device isn't able
        to produce your gps location. Aside from the dashboard it can also
        be changed in the settings page.
      </div>
    </div>
  </div>

  <div class="section_title" id="recent_works_title">
    Recent projects
    <div class="note" style="float: right; margin-top: 6px;">
      Add some credibility by listing your past work.
    </div>
  </div>
  <div id="rw_wrapper">
    <div id="rw_container" *ngFor="let works of rw_array; let i = index">
      <div id="rw_bg" [ngStyle]="rw_container_bg(i)">
        <div class="rw_box_text_wrapper">
          <div class="rw_box_title">{{works.title_shown}}</div>
          <div class="jax-thin-font rw_box_desc">{{works.description_shown}}</div>
        </div>
      </div>
      <img (click)="edit_rw(i)" src="./assets/images/icons/edit.png" class="rw_box_btn_edit">
      <img (click)="show_popup_delete(i)" src="./assets/images/icons/trash_outline.png" class="rw_box_btn_delete">
    </div>
    <div [hidden]="add_recent_works_id == 'add_recent_works_active'" id="add_more_container">
      <div (click)="add_more_recent_work()" id="add_more_btn">
        <img src="./assets/images/icons/add_more_1.png" id="add_more_icon">
        <div style="float: left;">Add more</div>
      </div>
    </div>

    <div [ngStyle]="add_recent_works_activate()" class="shadowed_section" id="{{add_recent_works_id}}" >
      <div class="error_strings" style="top: -5px; right: -4px;">{{rw_title_error}}</div>
      <div (click)="rwtitle.focus()" id="rw_title_text" style="clear: both;">
        Title:
        <input [(ngModel)]="rw_title" type="text" class="rw_title" #rwtitle placeholder="Project title here" maxlength="35">
        <!--<div style="clear:both; color: red; font-size: 10pt; margin-top: 10px; margin-bottom: 10px;">{{rw_title_error}}</div>-->
      </div>
      <hr>
      <div (click)="rwdesc.focus()" style="width: 100%; height: 70px; color: #555; font-size: 12pt; margin-top: 10px;">
        <div class="jax-thin-font" id="rw_description_text">Description:</div>
        <div id="rw_description_wrapper">
          <textarea [(ngModel)]="rw_description" rows="4" class="rw_description" #rwdesc placeholder="Project description here" maxlength="2000"></textarea>
        </div>
        <!--<div style="float: left; color: red; font-size: 10pt; margin-top: 10px; margin-bottom: 10px;">{{rw_description_error}}</div>-->
      </div>
      <hr>
      <div [hidden]="hide_images_section()">
        <!--<div *ngFor="let photo of rw_images; let i = index;" [ngStyle]="add_border(i)" style="padding: 3px; float: left; margin-top: 5px; margin-bottom: 5px;">-->
        <div *ngFor="let photo of rw_images; let i = index;" style="float: left;">
          <div [ngStyle]="rw_choose_bg(i)" [attr.id]="'rw_image_div_' + i" class="rw_gallery_image">
            <div class="delete_gallery_image_shadow_box">
              <img (click)="remove_rw_image(i)" class="delete_gallery_image_shadow_box_icon" src="./assets/images/icons/close_round.png">
            </div>
          </div>
        </div>
        <!--<div style="clear: both; color: red; font-size: 10pt; margin-top: 10px; margin-bottom: 10px;">{{rw_images_error}}</div>-->
        <hr>
      </div>
      <div (click)="rw_save()" class="rw_btn_save"><img src="./assets/images/icons/save.png" id="rw_btn_save_icon">Save</div>
      <div [hidden]="rw_images.length >= 3" (click)="add_rw_photo.click()" class="rw_btn_add_photo"><img src="./assets/images/icons/cam_dark.png" id="rw_add_photo_icon">Add Photos</div>
      <div style="float: left; margin-top: 16px;">
        <!--<div style="float: left; color: #525250; font-size: 11pt; margin-top: 4px;">
          Cost Estimate
        </div>
        <div style="float: left; margin-left: 15px; position: relative; color: #525250;">
          <input [(ngModel)]="rw_cost" type="text" maxlength="10" id="location" style="padding: 5; padding-left: 20px; width: 115px; text-align: right;">
          <div style="position: absolute; top: 4; left: 8;">$</div>
        </div>-->
      </div>
      <input type="file" accept="image/*" #add_rw_photo id="add_rw_photo" (change)="add_image_to_rw($event)" style="display: none;" multiple>
    </div>
  </div>

  <div class="section_title" id="gallery_title" style="clear: both;">
    Gallery
    <div class="note" style="float: right; margin-top: 6px;">
      Showcase the work you have done. Go ahead and show off!
    </div>
  </div>
  <div (drop)="onDrop($event)" (dragover)="onDrag($event)" id="gallery_section">
    <div [ngStyle]="gallery_choose_bg(i)" [attr.id]="'gallery_div_' + i" *ngFor="let image of gallery_images; let i = index;" class="gallery_image">
      <div class="delete_gallery_image_shadow_box">
        <img (click)="remove_image(i)" class="gallery_img_delete_icon" src="./assets/images/icons/trash_outline.png">
      </div>
    </div>
    <div id="{{add_image_id}}">
      <div id="gallery_drop_image_text">
        <div id="text">Drop images here</div>
        <div id="text" style="margin-top: 3px;">or</div>
      </div>
      <div (click)="addpicbtn.click()" id="select_files_btn">Select files</div>
      <input type="file" accept="image/*" #addpicbtn id="addpicbtn" (change)="add_image_to_gallery($event)" style="display: none;" multiple>
    </div>
  </div>

  <div class="section_title" id="add_social_media_links_title">Add social media links</div>
  <div class="section" id="sml_wrapper">
    <div>
      <div class="sml_container sml_container_right">
        <div class="sml_name">Facebook</div>
        <div style="overflow: hidden; margin-right: 5px; position: relative;">
          <input type="text" class="sml_input"  [(ngModel)]="facebook">
          <img [hidden]="router.url == '/edit-profile' || !datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input" style="bottom: 8;">
        </div>
      </div>
      <div class="sml_container">
        <div class="sml_name">Linkedin</div>
        <div style="overflow: hidden; margin-right: 5px; position: relative;">
          <input type="text" class="sml_input" [(ngModel)]="linkedin">
          <img [hidden]="router.url == '/edit-profile' || !datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input" style="bottom: 8;">
        </div>
      </div>
    </div>
    <div style="clear:both;">
      <div class="sml_container sml_container_right">
        <div class="sml_name">Twitter</div>
        <div style="overflow: hidden; margin-right: 5px; position: relative;">
          <input type="text" class="sml_input"  [(ngModel)]="twitter">
          <img [hidden]="router.url == '/edit-profile' || !datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input" style="bottom: 8;">
        </div>
      </div>
      <div class="sml_container" style="margin-bottom: 0;">
        <div class="sml_name">Website</div>
        <div style="overflow: hidden; margin-right: 5px; position: relative;">
          <input type="text" class="sml_input"  [(ngModel)]="website">
          <img [hidden]="router.url == '/edit-profile' || !datatransfer.is_company_profile()" src="./assets/images/icons/edit_2.png" class="edit_icon_input" style="bottom: 8;">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jax_font" (click)="close_overlay()" id="{{overlay_id}}">
  <div id="edit_rw_overlay" (click)="stop_prop($event)">
    <div class="error_strings" style="top: -15px; right: -10px;">{{edit_rw_images_error}}</div>
    <div style="clear: both;">
      <div [ngStyle]="edit_rw_img_bg(i)" class="edit_rw_img_bg" *ngFor="let images of edit_rw_img_array; let i = index;">
        <img (click)="delete_edit_rw_img(i)" src="./assets/images/icons/trash_outline_shadow.png" class="delete_rw_edit_image_icon">
        <div (click)="choose_cover(i)" class="rw_cover_pic_choice">
          <img [src]="if_checked(i)" class="rw_cover_pic_choice_icon">
          Make cover picture
        </div>
      </div>
      <div [hidden]="edit_rw_img_array.length >= 3" id="rw_add_more_container">
        <div (click)="add_edit_rw_photo.click()" style="text-align: center; position: relative; top: 50%; transform: translateY(-50%);">
          <img src="./assets/images/icons/cam_1.png" class="rw_add_more_container_icon">
          <br>Add picture
          <input type="file" accept="image/*" #add_edit_rw_photo id="add_edit_rw_photo" (change)="add_more_rw_img($event)" style="display: none;" multiple>
        </div>
      </div>
    </div>
    <!--<div style="text-align: center; color: red; font-size: 8pt; margin-top: 20px; clear: both;">{{edit_rw_images_error}}</div>-->
    <div (click)="input_rw_edit_title.focus()" style="margin-top: 5px; position: relative; overflow: hidden; clear: both;">
      <input id="input_rw_edit_title" #input_rw_edit_title [(ngModel)]="edit_rw_title" placeholder="Project title" maxlength="35">
      <img src="./assets/images/icons/edit_2.png" class="rw_edit_icon">
    </div>
    <hr>
    <div (click)="input_rw_edit_description.focus()" style="position: relative;">
      <textarea placeholder="Project description" rows="4" id="input_rw_edit_description" #input_rw_edit_description [(ngModel)]="edit_rw_description" maxlength="2000"></textarea>
      <img src="./assets/images/icons/edit_2.png" class="rw_edit_icon">
    </div>
    <hr>
    <!--<div style="float: left; margin-top: 15px; overflow: hidden;  margin-bottom: 30px; overflow: hidden;">
      <div style="float: left; color: #525250; font-size: 11pt; margin-top: 4px;">
        Cost Estimate:
      </div>
      <div style="float: left; margin-left: 5px; position: relative; color: #525250; font-size: 12pt;">
        <input [(ngModel)]="edit_rw_cost" type="text" maxlength="10" id="rw_edit_cost">
        <img src="./assets/images/icons/edit_2.png" class="rw_edit_icon" style="height: 12px; bottom: 9px; right: 2px;">
        <div style="position: absolute; top: 2; left: 8;">$</div>
      </div>
    </div>-->
    <div id="edit_rw_btn_wrapper">
      <div style="display: inline-block">
        <div (click)="edit_rw_save()" class="jax-thin-font" class="edit_rw_btn"id="rw_edit_save">Save</div>
        <div (click)="edit_rw_cancel()" class="jax-thin-font" class="edit_rw_btn" id="rw_edit_cancel">Cancel</div>
      </div>
    </div>
  </div>
  <div id="edit_rw_overlay_2" (click)="stop_prop($event)">
    <img src="./assets/images/icons/caution.png" id="prof_image">
    <div class="section_title" id="edit_rw_btn_wrapper">Do you want to delete this project?</div>
    <div id="edit_rw_btn_wrapper">
      <div style="display: inline-block">
        <div (click)="close_overlay()" class="jax-thin-font" class="edit_rw_btn">Cancel</div>
        <div (click)="delete_rw()" class="jax-thin-font" class="edit_rw_btn"id="rw_edit_save" style="border: 1px solid #ea5b5b; background-color: #ea5b5b; color: #fff;" id="rw_edit_cancel">Delete</div>
      </div>
    </div>
  </div>
</div>
