<div id="left_image_not_fixed"></div>
<div id="left_image">
  <div id="shadow_box">
  </div>
</div>
<div id="right_text">
  <div id="title">
    {{title}}
  </div>
  <div id="sub_title">
    {{sub_title}}
  </div>
    <div *ngFor="let perk of perks" class="perks">
      <div class="perk_image">
        <img [src]="perk.image" class="perk_icon">
      </div>
      <div class="perk_text">
        <div class="perk_title">
          {{perk.title}}
        </div>
        <div class="perk_description">
          {{perk.description}}
          <span *ngIf="perk.title == 'Showcase your Skills'" class="link" (click)="register_as_tradesman()"> Start building your free profile!</span>
          <span *ngIf="perk.title == 'Advertise'" class="link"> Learn more about advertising your business!</span>
        </div>
      </div>
    </div>
  <div>
</div>
