<div id="login_box">
  <div style="width: 100%;">
    <div id="login_box_1">
      <div class="jax_font" id="login_header">Login</div>
      <div class="jax_font" id="error_box">
        {{error_string}}
      </div>
      <div id="logo_container">
        <img id="logo" src="./assets/images/logo.png">
      </div>
    </div>
    <div id="login_content">
      <div class="login_credentials">
        <div [ngStyle]="hide_label(email, email_focus)" class="jax-thin-font label" id="email_label">Email</div>
        <input (keypress)="keypress($event.keyCode)" class="input" id="email" type="text" (focus)="email_focus = true"
               (focusout)="email_focus = false" (blur)="email_focus = false" [(ngModel)]="email">
      </div>

      <div class="login_credentials">
        <div [ngStyle]="hide_label(password, password_focus)" class="jax-thin-font label">Password</div>
        <input (keypress)="keypress($event.keyCode)" class="input" id="password" (focus)="password_focus = true"
               (focusout)="password_focus = false" (blur)="password_focus = false" type="password" [(ngModel)]="password"  style="margin-bottom: 10px;">
      </div>

      <div style="overflow: hidden; margin-bottom: 5px;">
        <div (click)="tick_remember()" class="jax_font" id="login_remember">
          <img id="check_box_ic" src="./assets/images/uncheck_box.png">
          <span id="remember_phrase">Remember me</span>
        </div>

        <div class="jax_font" id="login_forgot">
          <span (click)="forgot_pop()" style="cursor: pointer;">Forgot Password?</span>
        </div>
      </div>

      <div (click)="login()" class="jax_font login_button" id="login">
        Login
      </div>

      <div id="login_or">or</div>

      <div (click)="signup()" class="jax_font login_button" id="signup">
        Signup
      </div>

    </div>
  </div>
</div>

<div id="forgot_password">
  <div class="jax_font" id="forgot_title">Forgot Password?</div>
  <div class="jax_font" id="forgot_error">{{forgot_pass_error}}</div>
  <div class="login_credentials" style="width: 65%; margin: auto; border-radius: 3px;">
    <div [ngStyle]="hide_label(forgot_pass_email, forgot_pass_email_focus)" class="jax-thin-font label" id="forgot_pass_email_label">Email</div>
    <input class="input" id="forgot_pass_email" type="text" (focus)="forgot_pass_email_focus = true" maxlength="25"
           (focusout)="forgot_pass_email_focus = false" (blur)="forgot_pass_email_focus = false" [(ngModel)]="forgot_pass_email">
  </div>
  <div (click)="forgot_close()" class="jax_font login_button" id="signup" style="width: 65%; margin: auto; margin-bottom: 10px; font-size: 11pt;  border-radius: 3px;">
    Send me reset password instructions
  </div>
  <div class="jax_font" id="go_to_login">
    <span (click)="forgot_back()" style="cursor: pointer;">Go back to login</span>
  </div>
</div>
