<div [ngStyle]="set_nav_bg()" (click)="hide_dropdown(); close_notif_box();" id="{{navbar_container_id}}">
  <div id="navs_mini">
    <div (click)="close_menu(); toggle_tman_navs();" *ngIf="show_tman_navs()" id="menu_button_tradesman">
      <img id="menu_img" src="./assets/images/icons/menu.png">
    </div>
    <a (click)="hide_dropdown(); scroll_up(); close_menu(); close_tman_navs();" routerLink="/home">
      <img src="./assets/images/logo.png" class="jax_logo">
      <div  class="navigations" id="logo_home"><span *ngIf="!show_tman_navs()" class="link">jax of trades</span></div>
    </a>
    <div (click)="toggle_menu()" *ngIf="show_tman_navs() != (router.url != '/edit-profile') && router.url != '/login'" id="menu_button">
      <img id="menu_img" src="./assets/images/icons/menu.png">
    </div>
    <div *ngIf="login && (show_tman_navs() || router.url == '/edit-profile')">
      <div [ngStyle]="set_nav_btn_bg()" *ngIf="!use_homeowner_image() && !use_tradesman_image();" (click)="toggle_menu(); close_tman_navs();" class="button" style="margin-right: 2%;" id="user_name">
        {{name}}
      </div>
      <div *ngIf="use_homeowner_image()" (click)="toggle_menu(); close_tman_navs();" class="round_image">
        <img [src]="use_homeowner_image_2()" style="height: 100%; width: 100%; border-radius: 100000px;">
      </div>
      <div *ngIf="use_tradesman_image()" (click)="toggle_menu(); close_tman_navs();" class="round_image">
        <img [src]="prof_pic" style="height: 100%; width: 100%; border-radius: 100000px;">
      </div>
    </div>
    <a (click)="close_menu(); close_tman_navs();" routerLink="/tradesman-notifications">
      <img *ngIf="show_tman_navs()" src="./assets/images/icons/notification.png" style="height: 22px; cursor: pointer; float: right; margin: 14px; margin-right: 2%;">
    </a>
  </div>
  <div id="navs">
    <a (click)="hide_dropdown(); scroll_up();" routerLink="/home">
      <img src="./assets/images/logo.png" class="jax_logo">
      <div  class="navigations" id="logo_home"><span class="link">jax of trades</span></div>
    </a>
    <!--<div *ngIf="!is_tradesman()">
      <a routerLink="/tradesmen">
        <div (click)="hide_dropdown()"  class="navigations pages" style="margin-left: 2%;"><span class="link">Tradesmen</span></div>
      </a>
      <div class="navigations pages"><span class="link">About us</span></div>
      <div class="navigations pages"><span class="link">Settings</span></div>
    </div>-->
    <div *ngIf="!login">
      <div [hidden]="router.url == '/sign-up'" (click)="register_as_tradesman()" class="buttons" style="background-color: #FF9800; border: 1px solid #FF9800; margin-right: 2%; border-radius: 2px">
        Register as Tradesman
      </div>
      <a routerLink="/login">
        <div [ngStyle]="set_nav_btn_bg()" [hidden]="router.url == '/login' || router.url == '/sign-up'" class="buttons">Login</div>
      </a>
      <a routerLink="/login">
        <div [ngStyle]="set_nav_btn_bg()" [hidden]="router.url != '/sign-up'" class="buttons" style="margin-right: 2%;">Login</div>
      </a>
      <a routerLink="/sign-up">
        <div [ngStyle]="set_nav_btn_bg()" [hidden]="router.url == '/sign-up' || router.url == '/login'" class="buttons">Sign up</div>
      </a>
      <div [ngStyle]="set_nav_btn_bg()" class="buttons">
        <img [src]="set_app_icon()" style="height: 15px; margin-right: 5px; position: relative; top: 2px;"> Get our app
      </div>
    </div>
    <div *ngIf="login">
      <div [ngStyle]="set_nav_btn_bg()" *ngIf="!use_homeowner_image() && !use_tradesman_image();" (click)="toggle_user_opts($event)" class="button" style="margin-right: 2%;" id="user_name">
        {{name}}
      </div>
      <div *ngIf="use_homeowner_image()" (click)="toggle_user_opts($event)" class="round_image">
        <img [src]="use_homeowner_image_2()" style="height: 100%; width: 100%; border-radius: 100000px;">
      </div>
      <div *ngIf="use_tradesman_image()" (click)="toggle_user_opts($event)" class="round_image">
        <img [src]="prof_pic" style="height: 100%; width: 100%; border-radius: 100000px;">
      </div>
    </div>
    <div *ngIf="show_tman_navs()" class="button" style=" border: none; cursor: auto; position: relative;">
      <img (click)="toggle_notif_box($event)" [src]="notif_icon" style="height: 22px; cursor: pointer">
      <div (click)="click_event($event)" id="notif_container" *ngIf="notif_box">
        <div class="arrow-up_2"></div>
        <div *ngFor="let notification of notifications; let i = index;" style=" position: relative;">
          <div *ngIf="i < 3" style="padding-top: 8px;">
            <img *ngIf="notification.state == 1" [src]="notification.icon" class="notif_icon">
            <img *ngIf="notification.state == 2" [src]="notification.icon" class="notif_icon_2">
            <img *ngIf="notification.state == 3" [src]="notification.icon" class="notif_icon_1">
            <div *ngIf="notification.state == 3" class="notif_text">{{notification.text}}</div>
            <div *ngIf="notification.state < 3" class="notif_text_1">{{notification.text}}</div>
            <div (click)="notif_btn(i)" *ngIf="notification.state == 3" class="notif_btn" [style.background-color]="notification.bg_color">{{notification.button}}</div>
            <hr *ngIf="i < 2 && i < notifications.length - 1">
          </div>
        </div>
        <div *ngIf="notifications.length > 2">
          <hr>
          <div id="view_all_notif">
            <span style="cursor: pointer;" (click)="router.navigate(['./tradesman-notifications']); close_notif_box();">View all notifications</span>
          </div>
        </div>
        <div class="arrow-up"></div>
      </div>
    </div>
  </div>
</div>
<div id="{{dropdown_id}}">
  <a routerLink="/user-history" style="text-decoration: none;">
    <div [hidden]="!is_homeowner()" (click)="hide_dropdown()" class="user_opts" style="padding-top: 6px;">
      <img src="./assets/images/icons/profile_small_icon.png" style="height: 20px; margin-right: 5px; position: relative; top: 5px;">
      Profile
    </div>
  </a>
  <div [hidden]="is_homeowner()" (click)="hide_dropdown(); tradesman_edit_profile();" class="user_opts" style="padding-top: 6px;">
    <img src="./assets/images/icons/profile_small_icon.png" style="height: 20px; margin-right: 5px; position: relative; top: 5px;">
    Edit profile
  </div>
  <hr>
  <div (click)="logout()" class="user_opts">
    <img src="./assets/images/icons/logout.png" style="height: 13px; margin-right: 10px; position: relative; top: 2px;">
    Sign out
  </div>
</div>
<div id="{{sliding_menu_id}}">
  <!--<a routerLink="/tradesmen" style="text-decoration: none;">
    <li (click) = "close_menu()" class="menu_pages" >Tradesmen</li>
  </a>
  <li (click) = "close_menu()" class="menu_pages">About us</li>
  <li (click) = "close_menu()" class="menu_pages">Settings</li>-->
  <div *ngIf="!login">
    <a *ngIf="router.url != '/login'" routerLink="/login" style="text-decoration: none;">
      <li (click) = "close_menu()" class="menu_pages">Login</li>
    </a>
    <a *ngIf="router.url != '/sign-up'"  routerLink="/sign-up" style="text-decoration: none;">
      <li (click) = "close_menu()" class="menu_pages">Sign up</li>
    </a>
  </div>
  <div *ngIf="login">
    <a routerLink="/user-history" style="text-decoration: none;">
      <li [hidden]="!is_homeowner()" (click) = "close_menu()" class="menu_pages">My profile</li>
    </a>
    <li [hidden]="is_homeowner()" (click) = "tradesman_edit_profile(); close_menu();" class="menu_pages">Edit profile</li>
    <li (click) = "close_menu();logout();" class="menu_pages">Logout</li>
  </div>
</div>
<div *ngIf="show_tman_navs()" id="filler"></div>
<div *ngIf="show_tman_navs()" id="filler_not_fixed"></div>
<div *ngIf="show_tman_navs()" id="tman_navbar_not_fixed"></div>
<div (click)="hide_dropdown(); close_notif_box();" *ngIf="show_tman_navs()" id="{{tman_navbar_id}}">
  <div id="t_man_overview">
    <img id="prof_pic_img" [src]="prof_pic">
    <div class="prof_info jax_font" id="tman_full_name">{{full_name}}</div>
    <div class="prof_info" id="tman_job">{{job}}</div>
  </div>
  <div style="margin: 10px; margin-top: 30px;">
    <a (click)="close_tman_navs();" routerLink="/dashboard" style="text-decoration: none;">
      <li id="t_nav_btn_0" class="tradesman_nav_btn">
        <img src="./assets/images/icons/home.png" class="tman_navbar_icon">
        <div class="tman_navbar_name">
          Home
        </div>
      </li>
    </a>
    <a (click)="close_tman_navs();" routerLink="/tradesman-edit-profile" style="text-decoration: none;">
      <li id="t_nav_btn_1" class="tradesman_nav_btn">
        <img src="./assets/images/icons/profile.png" class="tman_navbar_icon">
        <div class="tman_navbar_name">
          Profile
        </div>
        </li>
    </a>
    <a (click)="close_tman_navs();" routerLink="/tradesman-history" style="text-decoration: none;">
      <li id="t_nav_btn_2" class="tradesman_nav_btn">
        <img src="./assets/images/icons/history.png" class="tman_navbar_icon">
        <div class="tman_navbar_name">
          History
        </div>
      </li>
    </a>
    <a (click)="close_tman_navs();" routerLink="/company-profile" style="text-decoration: none;">
      <li [ngStyle]="show_company()" id="t_nav_btn_3" class="tradesman_nav_btn">
        <img src="./assets/images/icons/company.png" class="tman_navbar_icon">
        <div class="tman_navbar_name">
          Company
        </div>
      </li>
    </a>
    <a (click)="close_tman_navs();" routerLink="/tradesman-settings" style="text-decoration: none;">
      <li id="t_nav_btn_4" class="tradesman_nav_btn">
        <img src="./assets/images/icons/settings.png" class="tman_navbar_icon">
        <div class="tman_navbar_name">
          Settings
        </div>
      </li>
    </a>
  </div>
</div>
<div [ngStyle]="set_white_spaces()" id="whole_container">
  <div (click)="hide_dropdown(); close_menu(); close_notif_box(); close_tman_navs();" (window:resize)="onResize($event)" id="{{content_id}}" [ngStyle]="adjust_width()">
    <router-outlet ></router-outlet>
  </div>
  <div [ngStyle]="adjust_ads_width()" (click)="hide_dropdown()" id="{{ads_id}}" *ngIf="check_route()">
    <ads></ads>
  </div>
</div>

<div (click)="hide_dropdown()" (click)="click_event($event)" id="{{overlay_id}}">
  <div class="jax_font" id="loading">
    <img src="./assets/images/loading.gif" style="width: 100%;">
  </div>
</div>

<div class="jax_font" (click)="pop_up_close()" id="{{overlay_1_id}}">
  <div (click)="click_event($event)" id="pop_overlay">
    <div *ngIf="requests.length > 0" (click)="go_to_dashboard()" id="view_in_dashboard">View it in dashboard</div>
    <div *ngIf="requests.length == 1">
      <div (click)="got_request()" id="inc_req_logo">
        <img src="./assets/images/icons/incoming.png" id="inc_req_icon">
      </div>
      <div id="inc_req_title">
        You have an incoming request from <span style="font-family: lato-bold;">{{requests[0].first_name}} {{requests[0].last_name}}</span>
      </div>
      <div id="inc_req_wrapper">
        <hr style="border-top: 1px solid #a2a2a0;">
        <div *ngIf="requests[0].location.length != 0">
          <div id="inc_req_wrapper_container">
            <div id="inc_req_job">
              <img src="./assets/images/icons/tradesman_blue.png" id="inc_req_wrapper_icon">{{requests[0].job}}
            </div>
            <div style="float: right;">
              <img src="./assets/images/icons/location_red.png" id="inc_req_wrapper_icon">
              {{requests[0].location}} <span id="inc_req_precise_loc">
              ({{requests[0].precise_loc}})</span>
            </div>
          </div>
        </div>
        <div *ngIf="requests[0].location.length == 0">
          <div style="color: #5252520; margin-left: auto; margin-right: auto; width: 90%; padding: 8px;">
            <div style="text-align: center; width: 100%;">
              <img src="./assets/images/icons/tradesman.png" id="inc_req_wrapper_icon">{{requests[0].job}}
            </div>
          </div>
        </div>
        <hr style="border-top: 1px solid #a2a2a0;">
        <div id="inc_req_time_rem">Time remaining to respond:</div>
        <div style="text-align: center; font-size: 20pt; color: #525250; margin-bottom: 10px;">{{requests[0].time_left}} secs</div>
      </div>
      <div [ngStyle]="set_desc_height(0)" id="single_req_desc_box">
        <hr style="border-top: 1px solid #a2a2a0; margin-top: 5px;">
        <img (click)="close_desc(0)" src="./assets/images/icons/close_thin.png" id="single_desc_delete">
        <div id="single_desc_margin">
          <div id="single_desc_title">Description:</div>
          <div id="single_desc_content">
            {{requests[0].description}}
          </div>
        </div>
        <hr style="border-top: 1px solid #a2a2a0; margin-top: 10px; margin-bottom: 5px;">
      </div>
      <div *ngIf="requests[0].pop_state == 0 && requests[0].description.length != 0">
        <div (click)="open_desc(0)" class="single_req_btn single_req_btn_margin_left" style="background-color: #5BB1E3;">Read description</div>
        <div (click)="accept_popup(0)" class="single_req_btn" style="background-color: #8BC34A;">Accept</div>
        <div (click)="decline_popup(0)" class="single_req_btn single_req_btn_margin_right" style="background-color: #F16263">Decline</div>
      </div>
      <div *ngIf="(requests[0].pop_state == 1) || (requests[0].pop_state == 0 && requests[0].description.length == 0)">
        <div (click)="accept_popup(0)" class="single_req_btn single_req_btn_margin_left_2" style="background-color: #6ABD45;">Accept</div>
        <div (click)="decline_popup(0)" class="single_req_btn single_req_btn_margin_right_2" style="float: right; background-color: #F16263;">Decline</div>
      </div>
    </div>
    <div *ngIf="requests.length > 1">
      <div (click)="got_request()" id="inc_req_logo_2">
        <img src="./assets/images/icons/incoming.png" id="inc_req_icon_2">
      </div>
      <div id="inc_req_title" style="margin-bottom: 15px;">
        You have {{requests.length}} incoming requests
      </div>
      <div id="mult_req_wrapper">
        <div [ngStyle]="add_margin(i)" *ngFor="let request of requests; let i = index" style="clear: both;">
          <div [ngStyle]="set_bg(i)" style=" overflow: hidden; width: 100%; padding-top: 10px;">
            <div class="inc_req_text_1">
              You have an incoming request from <span style="font-family: lato-bold;">{{requests[i].first_name}} {{requests[i].last_name}}</span>
            </div>
            <div class="inc_req_text_2">
              <div class="inc_req_text_2_margin">
                <img src="./assets/images/icons/tradesman_blue.png" class="inc_req_text_2_icon">
                <div style="float: left;">
                  {{requests[i].job}}
                </div>
              </div>
              <div *ngIf="requests[i].location.length != 0" style="float: left;">
                <img src="./assets/images/icons/location_red.png" class="inc_req_text_2_icon">
                <div style="float: left;">
                  {{requests[i].location}} <span class="inc_req_text_2_desc">
                  ({{requests[i].precise_loc}})</span>
                </div>
              </div>
            </div>
            <div [ngStyle]="set_desc_height(i)" id="multiple_req_desc_box" style="background-color: rgba(255,255,255,.8);">
              <img (click)="close_desc(i)" src="./assets/images/icons/close_thin.png" class="multi_req_desc_del">
              <div class="multi_req_desc_title">Description:</div>
              <div class="multi_req_desc_wrapper">
                {{requests[i].description}}
              </div>
            </div>
            <div style="padding: 5px; clear: both; padding-left: 5%; background-color: rgba(255,255,255,.5); overflow: hidden;">
              <div class="mult_req_time_spec">
                <span class="mult_req_time">Time remaining to respond:</span><br>
                {{requests[i].time_left}} secs
              </div>
              <div style="float: right; margin-left: 3%; font-size: 10pt;  color: #fff;">
                <div (click)="decline_popup_1(i)" id="multi_popup_decline" class="popup_multi_btn">Decline</div>
                <div (click)="accept_popup(i)" id="multi_popup_accept" class="popup_multi_btn">Accept</div>
                <div (click)="open_desc(i)" *ngIf="requests[i].pop_state == 0 && requests[i].description.length != 0" id="multi_popup_read_desc" class="popup_multi_btn">Read description</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="multi_req_desc_ok_btn_wrapper">
        <div (click)="pop_up_close()" class="multi_req_desc_ok_btn">Cancel</div>
      </div>
    </div>
    <div *ngIf="requests.length == 0">
      <img (click)="got_request()" id="inc_req_logo" src="./assets/images/icons/missed_circle.png">
      <div id="inc_req_title">
        You have missed {{missed_reqs}} requests
      </div>
      <div (click)="pop_up_close(0)" class="single_req_btn single_req_btn_margin_left_3" style="background-color: transparent; border: 1px solid #a2a2a0; color: #525250;">Cancel</div>
      <div (click)="go_to_dashboard(0)" class="single_req_btn single_req_btn_margin_right_3" style="float: right; background-color: #292c38; border: 1px solid background-color: #292c38;">View it in dashboard</div>
    </div>
  </div>
</div>
