<div id="container">
  <div id="top_image_banner">
    <img [src]="banner_img" id="banner_img">
    <div id="image_shadow"></div>
    <div id="image_shadow_3"></div>
    <div id="initial_msg">
      <div id="initial_msg_opening_msg">
        {{opening_msg_1}}
      </div>
      <div id="opening_question">
        {{opening_msg_2}}
      </div>
    </div>
  </div>
  <div id="our_team_image_container">
    <div style="display: inline-block; width: 100%;">
      <div *ngFor="let member of team; let i = index;" class="our_team_images">
        <div class="member_image_wrapper">
          <img [src]="member.image" class="member_image">
          <div class="image_shadow_2"></div>
          <div class="member_details">
            <div class="member_name">{{member.name}}</div>
            <div class="member_position">{{member.position}}</div>
            <hr *ngIf="i != 0" style="border-top: 1px solid #fff;">
            <div *ngIf="i != 0" class="social_media_link_container">
              <div class="social_media_link_wrapper">
                <a *ngFor="let sml of team[i].sml" [href]="sml.link" target="_blank">
                  <img [src]="sml.icon" class="member_social_media">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div style="text-align: center; margin-top: 8vw;">
      <div style="display: inline-block;">
        <a routerLink="/about-us" style="text-decoration: none;">
          <div class="bottom_links">
            About us
          </div>
        </a>
        <a routerLink="/our-team" style="text-decoration: none;">
          <div class="bottom_links">
            Our team
          </div>
        </a>
        <a routerLink="/contact-us" style="text-decoration: none;">
          <div class="bottom_links">
            Contact us
          </div>
        </a>
        <a routerLink="/privacy-policy" style="text-decoration: none;">
          <div class="bottom_links">
            Privacy Policy
          </div>
        </a>
        <a routerLink="/terms-of-use" style="text-decoration: none;">
          <div class="bottom_links">
            Terms of Use
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <div style="display: inline-block;">
        <img src="./assets/images/icons/s_m_icons_gray/twitter.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/fb.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/insta.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/youtube.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/google+.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/pintrest.png" class="s_m_icons">
      </div>
    </div>
    <div id="copyright">
      &copy; Jax of Trades Inc | 2016
    </div>
  </div>
</div>
