<div (click)="click_event($event)" id="login_box">
  <login-float [sign_up]="SignupFunction" [correct] = "HideFunction">Loading...</login-float>
</div>
<div (click)="click_event($event)" class="jax_font" id="signup_box">
  <div class="jax_font" id="sgn_up_title">
    Sign up now
    <br>
    <div class="jax-thin-font" id="sgn_up_sub_title">Hiring workers is just a form away</div>
    <div class="jax_font" id="sgn_up_error_title">*{{signup_error}}*</div>
  </div>
  <div class="jax_font" id="sgn_up_form_container">
      <div id="go_to_login">
        <span (click)="go_back_to_login()" style="cursor: pointer;">Already have an account?</span>
      </div>
      <div class="sgn_up_input_container" style="margin-top: 15px; clear: both;">
        <div class="sgn_up_title" [ngStyle]="hide_name(SU_email, SU_email_focus)" id="email_title">E-mail</div>
        <input (click)="remove_style('#SU_email')"  id = "SU_email" class="sgn_up_input_field jax_font" maxlength="25"
               (focus)="SU_email_focus = true" (focusout)="SU_email_focus = false" (blur)="SU_email_focus = false" [(ngModel)]="SU_email" type="text">
      </div>
      <div class="sgn_up_input_container sgn_up_name" id = "first_name">
        <div style="position: relative; margin-right: 7.5px">
          <div class="sgn_up_title" [ngStyle]="hide_name(SU_firstname, SU_firstname_focus)">First Name</div>
          <input (click)="remove_style('#SU_fname')" id = "SU_fname" class="sgn_up_input_field jax_font" maxlength="25"
                 (focus)="SU_firstname_focus = true" (focusout)="SU_firstname_focus = false" (blur)="SU_firstname_focus = false" [(ngModel)]="SU_firstname" type="SU_text">
        </div>
      </div>
      <div class="sgn_up_input_container sgn_up_name" id = "last_name">
        <div style="position: relative; margin-left: 7.5px">
          <div class="sgn_up_title" [ngStyle]="hide_name(SU_lastname, SU_lastname_focus)">Last Name</div>
          <input (click)="remove_style('#SU_lname')" id = "SU_lname" class="sgn_up_input_field jax_font" maxlength="25"
                 (focus)="SU_lastname_focus = true" (focusout)="SU_lastname_focus = false" (blur)="SU_lastname_focus = false" [(ngModel)]="SU_lastname" type="text">
        </div>
      </div>
      <div class="sgn_up_input_container" style="clear: both;">
        <div class="sgn_up_title" [ngStyle]="hide_name(SU_password, SU_password_focus)">Password</div>
        <input (click)="remove_style('#SU_password')" id = "SU_password" class="sgn_up_input_field jax_font" maxlength="25"
               (focus)="SU_password_focus = true" (focusout)="SU_password_focus = false" (blur)="SU_password_focus = false" [(ngModel)]="SU_password" type="password">
      </div>
      <div class="sgn_up_input_container">
        <div class="sgn_up_title" [ngStyle]="hide_name(SU_confirm_pass, SU_confirm_pass_focus)">Confirm password</div>
        <input (click)="remove_style('#confirm_password'); remove_conf_pass_del();" class="sgn_up_input_field jax_font" maxlength="25"
               (focus)="SU_confirm_pass_focus = true" (focusout)="SU_confirm_pass_focus = false" (blur)="SU_confirm_pass_focus = false" [(ngModel)]="SU_confirm_pass" type="password" id = "confirm_password" #confirm_password>
        <img (click)="conf_pass_del($event); confirm_password.focus(); remove_style('#confirm_password'); remove_conf_pass_del();" src="./assets/images/icons/error.png" id="sgn_up_conf_pass_del">
      </div>
      <div class="sgn_up_input_container">
        <div class="sgn_up_title" [ngStyle]="hide_name(SU_contact, SU_contact_focus)">Contact number</div>
        <input (click)="remove_style('#mobile_number')" (keypress)="keypress($event.keyCode)" class="sgn_up_input_field jax_font" maxlength="14"
               (focus)="SU_contact_focus = true; set_predefined_area_code()" (focusout)="SU_contact_focus = false; remove_predefined_area_code(SU_contact)"
               (blur)="SU_contact_focus = false; remove_predefined_area_code(SU_contact)" [(ngModel)]="SU_contact" type="tel" id = "mobile_number" (ngModelChange)="contact_change_2($event)">
        <div id="sgn_up_predefined_area_code">+1</div>
        <div id="contact_optional" class="sgn_up_sub_title_input">Optional</div>
      </div>
      <div (click)="check_reg()" id="sgn_up_signup_btn" style="clear:both;">Sign me up</div>
  </div>
  <img id="sgn_up_logo" src="./assets/images/logo.png">
  <!--<div id="signup_title">Register</div>
  <div id="go_to_login"><span (click)="go_back_to_login()" style="cursor: pointer;">Already have an account?</span></div>
  <div id="signup_error_title">*{{signup_error}}*</div>
  <div [ngStyle]="hide_field_label(SU_email)" class="field_label">Email</div>
  <input (click)="remove_style('#SU_email')" id="SU_email" class="signup_fields" type="text" placeholder="Email" [(ngModel)]="SU_email">
  <div [ngStyle]="hide_field_label(SU_firstname)" class="field_label">First name</div>
  <input (click)="remove_style('#SU_fname')" id="SU_fname" class="signup_fields" type="text" placeholder="First name" [(ngModel)]="SU_firstname">
  <div [ngStyle]="hide_field_label(SU_lastname)" class="field_label">Last name</div>
  <input (click)="remove_style('#SU_lname')" id="SU_lname" class="signup_fields" type="text" placeholder="Last name" [(ngModel)]="SU_lastname">
  <div [ngStyle]="hide_field_label(SU_password)" class="field_label">Password</div>
  <input (click)="remove_style('#SU_pass')" id="SU_pass" class="signup_fields" type="password" placeholder="Password" [(ngModel)]="SU_password">
  <div [ngStyle]="hide_field_label(SU_confirm_pass)" class="field_label">Confirm password</div>
  <input (click)="remove_style('#SU_cpass')" id="SU_cpass" class="signup_fields" type="password" placeholder="Confirm password" [(ngModel)]="SU_confirm_pass">
  <div [ngStyle]="hide_field_label(SU_contact)" class="field_label">Contact number</div>
  <input (click)="remove_style('#SU_cnum')" id="SU_cnum" (keypress)="keypress($event.keyCode)" class="signup_fields" type="text" placeholder="Contact number (123-123-1234)" [(ngModel)]="SU_contact">
  <div style="color: #555; font-size: 8pt; text-align: right; margin-right: 11%; font-style: italic">*optional</div>
  <div (click)="check_reg()" id="register_btn">
    Sign up
  </div>-->
</div>
<div (click)="click_event($event)" id="request_overlay">
  <div id="send_info">
    <div id="send_info_title">How would you like {{name}} to contact you?</div>
    <div id="info_error_title">*{{info_error}}*</div>
    <div class="info_boxes" style="margin-bottom: 10px;">
      <img (click)="email = !email" class="info_chck_box_img" [src]="toggle_chk_box(email)">
      <div style="padding-top: 4px; position: relative; float: left;">
        <!--<span style="font-size: 10pt;">Email</span><br>-->
        <input (keypress)="keypress_info($event.keyCode)" class="info_input_box" type="text" [(ngModel)]="info_email"
               placeholder="Enter email address here" maxlength="25">
        <img src="./assets/images/icons/mail_gray.png" class="input_info_icon">
      </div>
    </div>
    <div class="info_boxes">
      <img (click)="phone = !phone" class="info_chck_box_img" [src]="toggle_chk_box(phone)">
      <div style="padding-top: 4px; position: relative; float: left;">
        <!--<span style="font-size: 10pt;">Phone</span><br>-->
        <input (keypress)="keypress_info($event.keyCode)" class="info_input_box" type="text" [(ngModel)]="info_phone" placeholder="Enter contact number here"
               (ngModelChange)="contact_change($event)" maxlength="14" id="contact_no_info_field">
        <img src="./assets/images/icons/call_gray.png" class="input_info_icon">
        <div id="predefined_area_code">+1</div>
      </div>
    </div>
    <textarea [(ngModel)]="short_desc" id="short_desc" rows="4" placeholder="Add a short description about the nature of the work" maxlength="2000"></textarea>
    <div (click)="change_info_to_request_check()" id="info_btn">Request Tradesman</div>
  </div>

  <div id="request_container">
    <div id="request_pic_container">
      <!--<img [src]="pic" id="request_pic">-->
      <img [src]="pic" id="request_pic">
      <div id="request_circle_0">
      </div>
      <div id="request_circle_1" class="request_circle_animation">
      </div>
      <div id="request_circle_2" class="request_circle_animation">
      </div>
      <div id="request_circle_3" class="request_circle_animation">
      </div>
    </div>
    <div id="word_2" style="padding-top: 2px; padding-bottom: 2px;">Requesting</div>
    <div style="font-size: 23px; text-align: center;">{{name}}</div>
    <div style="font-family: lato-thin; text-align: center; font-size: 10.5pt;">{{category}}<span *ngIf="sub_category.length != 0"> - {{sub_category}}</span></div>
    <div id="ticks">{{ticks}}</div>
    <div id="word_1">Seconds<br>remaining</div>
    <div id="word_2" style="font-size: 9.5pt; line-height: 14px; padding-top: 2px;">Please wait while our system<br>process your request</div>
    <div class="req_res_button">
      <hr class="hr_divider">
      <div (click)="cancel_request();" class="close_btn">Cancel request</div>
    </div>
  </div>


  <div id="response_container">
    <div id="request_pic_container" style="margin-top: 20px; margin-bottom: 20px;">
      <img [src]="pic" style="position: absolute; z-index: 3" id="request_pic">
      <div id="response_circle" [ngStyle]="circle_color(response_value)"></div>
      <div id="response_icon_circle" [ngStyle]="circle_color(response_value)">
        <img *ngIf="response_value == 1" src="./assets/images/icons/accepted.png" id="accepted_icon">
        <img *ngIf="response_value == 0" src="./assets/images/icons/clocked_out.png" id="unanswered_icon">
        <img *ngIf="response_value == -1" src="./assets/images/icons/rejected.png" id="rejected_icon">
      </div>
    </div>
    <div class="request_title">{{response_title}}</div>
    <div id="word_3">{{response_message}}</div>
    <div class="req_res_button">
      <hr class="hr_divider">
      <div (click)="box_closed.emit(true)" class="close_btn">{{response_button}}</div>
    </div>
  </div>

</div>


<div (click)="click_event_loading($event)" id="loading_overlay">
  <div class="jax_font" id="loading_box">
    <img src="./assets/images/loading.gif" style="width: 60%; margin-left: 25%; margin-top: 120px;">
  </div>
</div>
