<div id="login_container">
  <div id="login_wrapper">
    <div id="forgot_password" style="opacity: 1; display: block;">
      <div *ngIf="!message">
        <div class="jax_font" id="forgot_title">Change your password</div>
        <div class="jax_font" id="forgot_error">{{forgot_pass_error}}</div>
        <div class="login_credentials" style="width: 65%; margin: auto; border-radius: 3px;">
          <div [ngStyle]="hide_label(pass, pass_focus)" class="jax-thin-font label" id="forgot_pass_email_label">Password</div>
          <input class="input" id="forgot_pass_email" type="password" (focus)="pass_focus = true" maxlength="25" (keypress)="keypress($event.keyCode)"
                 (focusout)="pass_focus = false" (blur)="pass_focus = false" [(ngModel)]="pass" style="margin-bottom: 10px;">
        </div>
        <div class="login_credentials" style="width: 65%; margin: auto; border-radius: 3px;">
          <div [ngStyle]="hide_label(c_pass, c_pass_focus)" class="jax-thin-font label" id="forgot_pass_email_label">Confirm password</div>
          <input class="input" id="forgot_pass_email_2" type="password" (focus)="c_pass_focus = true" maxlength="25" (keypress)="keypress($event.keyCode)"
                 (focusout)="c_pass_focus = false" (blur)="c_pass_focus = false" [(ngModel)]="c_pass">
        </div>
        <div (click)="send_pass()" class="jax_font login_button" id="signup" style="width: 65%; margin: auto; margin-bottom: 30px; font-size: 11pt;  border-radius: 3px;">
          Reset password
        </div>
      </div>
      <div *ngIf="message" style="text-align: center">
        <img src="./assets/images/alert.png" style="height: 70px; margin-top: 25px; margin-bottom: 5px;">
        <div class="jax_font" id="forgot_title" style="font-family: lato-light; color: #7d7d7d; margin-left: 45px; margin-right: 45px; font-size: 14pt;">Your link is expired. Please request again.</div>
        <div (click)="redir_forgot()" class="jax_font login_button" id="signup" style="margin: auto; margin-top: 25px; margin-bottom: 25px; font-size: 11pt; border-radius: 3px; background-color: transparent;
          color: #7D7D7D; border: 1px solid #7D7D7D; padding: 7px; width: 100px; font-size: 12pt;">
          OK
        </div>
      </div>
    </div>
  </div>
</div>
