<div style="position: relative;">
  <div [ngStyle]="toggle_left_corner()" (click)="isopen = !isopen" class="input" id="job_field" style="margin-bottom: 0;">{{job}}</div>
  <div [ngStyle]="toggle_right_corner()" (click)="isopen = !isopen" id="job_arrow_drop"><img src="./assets/images/select-down.png" id="select_drop_down_btn"></div>
  <div id="job_container" [ngStyle]="toggle_container()">
    <div (click)="change_value(category)" *ngFor="let category of categories; let i = index;" class="category_items" [ngStyle]="set_border_bottom(i)">{{category}}</div>
  </div>
</div>
