<div class="jax_font" id="{{signup_container_id}}">
  <div id="{{signup_title_id}}">
      <span >Welcome to
        <span class="regular_font">
         Jax of Trades
       </span>
      </span>
    <div>
      <div class="thin_font" id="instruction">
        Let's get started.<br>Specify if you are a
        <span class="regular_font">
          Homeowner
        </span> or a
        <span class="regular_font">
          Tradesman
        </span>
      </div>
    </div>
    <div id="choice_button_wrappers">
      <div style="display: inline-block">
        <div (click)="homeowner()" class="thin_font choice_button" id="homeowner">Homeowner</div>
        <div (click)="tradesman()" class="thin_font choice_button" id="tradesman">Tradesman</div>
      </div>
    </div>
  </div>
  <div id="{{fill_sheet_id}}">
    <div class="regular_font" id="{{title_id}}">
      Sign up now
      <br>
      <div class="thin_font" id="sub_title">{{quote}}</div>
      <div class="jax_font" id="error_title">*{{error_title}}*</div>
    </div>
      <div class="regular_font" id="{{form_container_id}}">
        <div (click)="close_jobs()" id="{{form_id}}">
          <div class="input_container" style="margin-top: 15px;">
            <div class="title" [ngStyle]="hide_name(email, email_focus)" id="email_title">E-mail</div>
            <input (click)="remove_style('#email')" class="input_field regular_font" maxlength="25"
                   (focus)="email_focus = true" (focusout)="email_focus = false" (blur)="email_focus = false" [(ngModel)]="email" type="text" id = "email">
          </div>
          <div class="input_container_1 name" id = "first_name">
            <div style="position: relative; margin-right: 7.5px">
              <div class="title" [ngStyle]="hide_name(firstname, firstname_focus)">First Name</div>
              <input (click)="remove_style('#fname')" id = "fname" class="input_field regular_font" maxlength="25"
                     (focus)="firstname_focus = true" (focusout)="firstname_focus = false" (blur)="firstname_focus = false" [(ngModel)]="firstname" type="text">
            </div>
          </div>
          <div class="input_container_1 name" id = "last_name">
            <div style="position: relative; margin-left: 7.5px">
              <div class="title" [ngStyle]="hide_name(lastname, lastname_focus)">Last Name</div>
              <input (click)="remove_style('#lname')" id = "lname" class="input_field regular_font" maxlength="25"
                     (focus)="lastname_focus = true" (focusout)="lastname_focus = false" (blur)="lastname_focus = false" [(ngModel)]="lastname" type="text">
            </div>
          </div>
          <div class="input_container">
            <div class="title" [ngStyle]="hide_name(password, password_focus)" style="clear:both;">Password</div>
            <input (click)="remove_style('#password')" class="input_field regular_font" maxlength="25"
                   (focus)="password_focus = true" (focusout)="password_focus = false" (blur)="password_focus = false" [(ngModel)]="password" type="password" id = "password">
          </div>
          <div class="input_container">
            <div class="title" [ngStyle]="hide_name(c_password, c_password_focus)">Confirm password</div>
            <input (click)="remove_style('#confirm_password'); remove_conf_pass_del();" class="input_field regular_font" maxlength="25"
                   (focus)="c_password_focus = true" (focusout)="c_password_focus = false" (blur)="c_password_focus = false"
                   [(ngModel)]="c_password" type="password" id = "confirm_password" #confirm_password>
            <img (click)="conf_pass_del($event); confirm_password.focus(); remove_style('#confirm_password'); remove_conf_pass_del();"
                    src="./assets/images/icons/error.png" id="conf_pass_del">
          </div>
          <div class="input_container">
            <div class="title" [ngStyle]="hide_name(p_number, p_number_focus)">Contact number</div>
            <input (click)="remove_style('#mobile_number')" (keypress)="keypress($event.keyCode)" class="input_field regular_font" maxlength="14"
                   (focus)="p_number_focus = true; set_predefined_area_code()" (focusout)="p_number_focus = false; remove_predefined_area_code(p_number)"
                   (blur)="p_number_focus = false; remove_predefined_area_code(p_number)" [(ngModel)]="p_number" type="tel" id = "mobile_number"
                   (ngModelChange)="contact_change($event)">
            <div id="predefined_area_code">+1</div>
            <div id="contact_optional" class="sub_title_input">Optional</div>
          </div>

          <div id="tradesman_fields">
            <div class="input_container">
              <div class="title" [ngStyle]="hide_name(c_name, c_name_focus)">Company name</div>
              <div class="sub_title_input">Optional</div>
              <input class="input_field regular_font" [(ngModel)]="c_name" type="text" id = "company_name" maxlength="25"
                     (focus)="c_name_focus = true" (focusout)="c_name_focus = false" (blur)="c_name_focus = false">
            </div>
            <hr>
            <div class="{{section_title_id}}">Job Information</div>
            <div (click)="toggle_jobs($event); scroll_to_bottom();" id="select_value_wrapper" style="border-radius: 5px; border: 1px solid #d6d7d7; cursor: pointer; background-color: #fcfcfc;">
              <div style="position: relative;">
                <div id="select_value" [ngStyle]="set_categ_color(select_val)">{{select_val}}</div>
                <div id="select_arrow">
                  <img src="./assets/images/select-down.png" style="height: 12px;">
                </div>
              </div>
            </div>
            <div id="options">
              <div class="option" (click)="toggle_jobs($event);set_job(job);" [ngStyle]="set_last_item(i)" *ngFor = "let job of jobs; let i = index;">{{job}}</div>
            </div>
            <div *ngIf="!cat_chosen()" id="no_category_chosen">No Category Chosen</div>
            <div *ngIf="cat_chosen()" id="sub_cat_container">
              <div (click)="toggle_sub_categ(i)" class="sub_categs" *ngFor = "let subs of sub_categories; let i = index;">
                <div style="cursor: pointer; margin-left: 5px; margin-right: 5px;">
                  <img [attr.id]="'sub-categ' + i" src="./assets/images/uncheck_box.png" style="height: 20px; float: left;">
                  <div style="overflow: hidden; padding-top: 2.5px;">{{subs}}</div>
                </div>
              </div>
            </div>
          </div>

          <div (click)="signup()" id="signup_btn" style="clear:both;">Sign me up</div>
        </div>
    </div>
    <img id="{{logo_id}}" src="./assets/images/logo.png">
  </div>
</div>
