<div id="container">
  <div id="subscription_title">Our subscription packages</div>
  <div id="what_youget_container">
    <div id="what_you_get">What Do You Get?</div>
    <div id="all_subs">All of the subscription options include the following:</div>
    <div class="dash">-</div><div class="bullet">Your profile will appear to the right of the “Search Tradesmen” page.</div>
    <div class="dash">-</div><div class="bullet">Visibility of your profile on the ad banner within a tradesman’s “Profile” page.</div>
    <div class="dash">-</div><div class="bullet">Profile will be included on the sponsored section of the “Find the best tradesmen near you” page.</div>
    <div id="this_form">This form of advertising is very effective since it allows your profile to be visible on multiple pages. The more a person sees your profile, the more likely they are to click on your profile to learn more about the great things you do!</div>
  </div>
  <div class="offer_container">
    <div class="top_filler">
    </div>
    <div class="smaller_offer offer">
      <div class="header" style="background-color: #fbc04d;">
        <div class="small_money">$100</div>
        <div class="small_time">3 Month Introductory Level</div>
      </div>
      <div  class="rest_of_continer">
        <div class="text_container">
          {{package_1}}
        </div>
      </div>
      <div class="purchase_btn" style="background-color: #cadae0;">
        Purchase
      </div>
    </div>
  </div>
  <div class="offer_container">
    <div class="big_offer offer">
      <div class="header" style="background-color: #ee6767;">
        <div class="big_money">$550</div>
        <div class="big_time">1 Year Certified Level</div>
      </div>
      <div  class="rest_of_continer">
        <div class="text_container">
          {{package_2}}
        </div>
      </div>
      <div class="purchase_btn purchase_btn_big" style="background-color: #a9bdc7;">
        Purchase
      </div>
    </div>
  </div>
  <div class="offer_container">
    <div class="top_filler">
    </div>
    <div class="smaller_offer offer">
      <div class="header" style="background-color: #1ac1e0;">
        <div class="small_money">$300</div>
        <div class="small_time">6 Month Apprentice Level</div>
      </div>
      <div  class="rest_of_continer">
        <div class="text_container">
          {{package_3}}
        </div>
      </div>
      <div class="purchase_btn" style="background-color: #cadae0;">
        Purchase
      </div>
    </div>
  </div>
</div>
