<div id="container">
  <div id="privacy_policy_container">
    <div id="privacy_policy_padding">
      <div id="privacy_policy_title_wrapper">
        <div id="privacy_policy_title">
          Terms of Use
        </div>
      </div>
      <p>
Welcome to jaxoftrades.com (the "Website"), a website owned by Jax of Trades INC. ("JOT" and sometimes referred to as "we", "us" or "our"). This Website is a service offered by JOT. These terms and conditions of use constitute an agreement between you and JOT (this "Agreement"). 
</p><p>
This Agreement governs your access and use of the Website and related services offered by JOT on or through the Website including, without limitation, supply and use of Content through the Website (collectively, the "Services"), including various restrictions regarding the foregoing as well as your responsibilities and obligations with respect to any such access and use. This Agreement also limits our liability, limits your remedies against us and disclaims various representations, warranties, conditions and assumptions that may ordinarily apply to your access and use of the Website and/or Services. Please read this Agreement carefully before agreeing to be bound by its various provisions. It is a condition of your access and use of the Website and/or Services that you agree and be bound by this Agreement. By accessing, browsing and/or using this Website or any Service, you are signifying your consent to be bound by this Agreement. If you do not agree to be bound by this Agreement, exit the Website and do not use any of the Services.
</p>
      <p class="privacy_policy_list_title">1. General Disclaimer and Limitation of Liability</p>
      <p>
Among other things this Website acts as a venue for persons looking to retain the services with respect to certain construction and/or renovation projects to post job opportunities and for contractors and suppliers and service providers to post profiles, portfolios and advertisements for their goods and services. It also allows customers, subcontractors, lenders, creditors and employees of suppliers, contractors, service providers and suppliers to post reviews and provide other information about contractors, service providers and/or suppliers. You acknowledge that any use of or reliance on this Website or any Services will be at your sole risk. 
</p>
      <br>
      <div class="privacy_policy_list">
        <div class="privacy_policy_list_title">JOT MAKES NO REPRESENTATION OR WARRANTY OF ANY KIND AND JOT HEREBY DISCLAIMS ANY WARRANTY OR CONDITION OF ANY SORT REGARDING:</div>
        <ol style="list-style-type: upper-roman;">
          <li class="privacy_policy_list_content">THE WEBSITE;</li>
          <li class="privacy_policy_list_content">THE SERVICES;</li>
          <li class="privacy_policy_list_content">THIRD PARTY GOODS AND SERVICES ADVERTISED, OFFERED FOR SALE OR MENTIONED ON THE WEBSITE AND/OR ANY THIRD PARTY WEBSITE ACCESSIBLE THROUGH THE WEBSITE; AND/OR</li>
          <li class="privacy_policy_list_content">ANY INFORMATION, CONTENT AND/OR MATERIALS AVAILABLE ON OR THROUGH THE WEBSITE, INCLUDING, WITHOUT LIMITATION, CATALOGUES, LISTINGS, PROFILES, ADVERTISEMENTS, POSTINGS, REQUESTS FOR PROPOSALS, JOB REQUESTS, PROJECT LISTINGS, PROPOSALS, QUOTES, ARTICLES, INSTRUCTIONS, SPECIFICATIONS, GUIDELINES, SUMMARIES, MANUALS, REPRESENTATIONS, DRAWINGS, SKETCHES, PLANS, BLUEPRINTS, FEEDBACK, TIPS, ADVICE, RECOMMENDATIONS, REFERRALS, TESTIMONIALS, REVIEWS, RATINGS, RANKINGS, ENDORSEMENTS, RESPONSES AND REBUTTALS, AND SUPPORTING MATERIALS, AS WELL AS ALL OTHER TEXT, IMAGES, PICTURES, AUDIO CONTENT, VIDEO CONTENT AND AUDIO-VISUAL CONTENT (COLLECTIVELY, THE "CONTENT");</li>
        </ol>
      </div>
      <br>
      <p>
        WITHOUT LIMITATION TO THE GENERALITY OF THE FOREGOING, JOT EXPRESSLY DISCLAIMS ANY IMPLIED WARRANTIES AND/OR CONDITIONS OF MERCHANTABILITY, MERCHANTABLE QUALITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE, CONTINUITY, AVAILABILITY, RELIABILITY, PERFORMANCE AND THOSE ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR USAGE OF TRADE.. THE WEBSITE, SERVICES AND/OR CONTENT ARE PROVIDED ON AN "AS IS" BASIS AND ANY ACCESS TO, USE THEREOF OR RELIANCE THEREON IS AT YOUR SOLE RISK. 
      </p>
      <p>
        JOT IS NOT REQUIRED TO SCREEN, CENSOR OR VERIFY THE ACCURACY, COMPLETENESS, SAFETY, LEGALITY OR USEFULNESS OF ANY CONTENT, WHETHER CONTENT IS CURRENT AND UP-TO-DATE, OR VALIDATE THE IDENTITY OF THE AUTHOR OF ANY CONTENT. JOT ASSUMES NO RESPONSIBILITY IN THE EVENT THAT IT ELECTS TO UNDERTAKE ANY OF THE FOREGOING, HOWEVER. IN ALL CIRCUMSTANCES, JOT WILL HAVE NO LIABILITY WHATSOEVER WITH RESPECT TO YOUR USE OF OR RELIANCE UPON ANY CONTENT OR FOR CONTENT BEING REMOVED OR OTHERWISE CEASING TO BE AVAILABLE.
      </p>
      <p>
        YOU ACKNOWLEDGE AND UNDERSTAND THAT USE AND/OR IMPLEMENTATION OF SOME CONTENT (OR RELIANCE THEREON) MAY RESULT IN PERSONAL INJURIES AND/OR DEATH AND THAT ANY CONSTRUCTION, RENOVATION OR REPAIR WORK SHOULD ONLY BE UNDERTAKEN BY COMPETENT AND QUALIFIED PERSONS. 
      </p>
      <p>
        YOU FURTHER ACKNOWLEDGE AND UNDERSTAND THAT CONSTRUCTION, RENOVATION AND/OR REPAIR REQUIRES ADDITIONAL INFORMATION AND KNOWLEDGE THAN THAT PROVIDED ON THE WEBSITE AND CONTENT AND THAT YOU SHOULD NOT RELY ON CONTENT WITH RESPECT TO ANY CONSTRUCTION, RENOVATION AND/OR REPAIR WORK. YOU ACKNOWLEDGE AND UNDERSTAND THAT CONSTRUCTION AND BUILDING REQUIREMENTS MAY VARY FROM ONE LOCATION TO ANOTHER AND THAT YOU SHOULD CONFIRM WHICH LAWS AND OTHER REQUIREMENTS APPLY TO YOU AND ANY PROJECT YOU MAY UNDERTAKE.
      </p>
      <p>
        YOU ASSUME ALL RISKS ASSOCIATED WITH DEALING WITH OTHER USERS WITH WHOM YOU COME IN CONTACT THROUGH THE WEBSITE (INCLUDING, FOR PREMIUM MEMBERS, LEADS THAT WE MAY COMMUNICATE TO YOU).  YOU ACKNOWLEDGE AND UNDERSTAND THAT YOU SHOULD UNDERTAKE YOUR OWN RESEARCH, INVESTIGATIONS, INQUIRIES AND DUE DILIGENCE WITH RESPECT TO ANY PROJECT AND WITH RESPECT TO ANY POTENTIAL CONTRACTOR, SUPPLIER, SERVICE PROVIDER AND/OR CUSTOMER.
      </p>
      <p>
        JOT WILL NOT BE LIABLE FOR ANY DAMAGES, COSTS, EXPENSES, PENALTIES AND OTHER LOSSES CAUSED BY OR ATTRIBUTABLE IN WHOLE OR IN PART TO EVENTS OR CIRCUMSTANCES BEYOND JOT'S REASONABLE CONTROL. 
      </p>
      <p>
        IN THE EVENT THAT YOU HAVE A DISPUTE WITH ONE OR MORE USERS, YOU RELEASE JOT (AND ITS SHAREHOLDERS, DIRECTORS, EMPLOYEES, AGENTS AND REPRESENTATIVES) FROM ALL CLAIMS, DEMANDS AND DAMAGES OF EVERY KIND AND NATURE ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH DISPUTES.
      </p>
      <p>
JOT is under no legal obligation to, and generally does not, control the Content provided by other users which is made available through the Website. Content posted by other users may be deceptive, offensive, harmful, defamatory, libellous, incomplete, dated or inaccurate. 
</p><p>
You agree that JOT, its shareholders, directors, officers, employees, contractors, vendors, advisors, agents  and other representations will not be responsible or liable for any loss or damages whatsoever, including without limitation direct, indirect, incidental, special or consequential damages or other damages (including without limitation damages for harm to business, damage to reputation, loss of information, data or Content, loss of profit, loss of savings, loss of revenue), arising from or in connection with the use of or access to, or the inability to use or access, this Website, any Service, any Content, or any linked website of a third party (and related third party services and/or content), even if JOT, or such a third party has been advised of the possibility of such damage or loss. 
</p><p>
The limitations of liability and disclaimers in this Agreement apply regardless of the form of action, whether in contract, warranty, delict, quasi-delict, strict liability, negligence, or other tort and shall survive a fundamental breach or breaches, or the failure of the essential purpose of contract or the failure of an exclusive remedy. 
</p><p>
You further understand that other users are free to post Content about you, services you received or provided and/or their prior dealings or interactions with you or with regards to your past conduct (or the past conduct of your employees, other people within your organization or other people you work with or with whom you collaborate), all of which may be freely accessed, viewed and downloaded by other users. Other users may also draw associations between you and third parties, past dealings, past relationships and the like. Likewise, JOT is free to supplement such Content with Content of its own based on information that it knows, comes to learn (through receipt of information from third parties or through its own investigations and inquiries) or otherwise believes is accurate.  This may include posting hyperlinks to third party webpages that may include information that relates to you. If you are an employee of a contractor, supplier or service provider posting a review, anecdote or comments regarding your employer, your employer's response may include information about you and your employment, which may include personal information. 
</p><p>
You understand that by using the Website, you may be exposed to Content that is offensive, indecent or objectionable. Opinions expressed on this Website are those of the authors. JOT ACCEPTS NO RESPONSIBILITY FOR THE OPINIONS, ADVICE, STATEMENTS AND/OR INFORMATION POSTED ON THIS WEBSITE. JOT WILL NOT BE LIABLE FOR ANY CONTENT EVEN IF IT IS SLANDEROUS OR LIBELLOUS, OR COULD OTHERWISE BE DAMAGING TO YOUR REPUTATION, ADVERSELY AFFECT YOUR BUSINESS, OR CONSTITUTES PERSONAL INFORMATION.
</p><p>
You acknowledge and understand that JOT may (but is not obligated to) supplement listings, posts and other entries, including your listings, posts and other entries, by adding and/or associating third party images with respect to same.  YOU ACKNOWLEDGE AND UNDERSTAND THAT THE PURPOSE OF THE WEBSITE IS TO PROVIDE AN OPEN FORUM FOR DISCUSSION AND AGREE THAT JOT WILL NOT BE REQUIRED TO REMOVE, REDACT OR RETRACT ANY LIBELLOUS, DEFAMATORY OR SLANDEROUS CONTENT NOR PROVIDE ANY EDITORIAL COMMENTS, CLARIFICATIONS OR NOTICES, NOR WILL JOT BE LIABLE FOR REFUSING OR FAILING TO REMOVE ANY SUCH CONTENT OR POST ANY RETRACTION, EDITORIAL COMMENTS, CLARIFICATION OR NOTICES WITH RESPECT TO SUCH CONTENT. YOU ALSO ACKNOWLEDGE AND AGREE THAT JOT WILL NOT BE LIABLE FOR ANY PERSONAL INFORMATION THAT MAY BE POSTED ON THE WEBSITE THROUGH THE CONDUCT OF ANY THIRD PARTY.  YOUR ONLY RECOURSE WITH RESPECT TO ANY THIRD PARTY CONTENT AND/OR DISCLOSURE (AND JOT'S COLLECTION) AND/OR PUBLICATION OF YOUR PERSONAL INFORMATION WILL BE WITH RESPECT TO THE THIRD PARTY THAT DISCLOSED AND/OR POSTED SUCH CONTENT OR THE THIRD PARTY THAT PROVIDED JOT WITH INFORMATION UPON WHICH JOT'S  CONTENT IS BASED ON OR WAS DERIVED FROM (INCLUDING, WITHOUT LIMITATION, OPERATORS OF THIRD PARTY WEBSITES TO WHICH WEBSITE HYPERLINKS MAY DIRECT USERS TO).
</p><p>
JOT WILL ONLY DISCLOSE THE IDENTITY AND OTHER PARTICULARS OF A THIRD PARTY THAT POSTS OR SUPPLIES CONTENT IN THE EVENT THAT IT IS PROVIDED WITH AN ORDER FROM A COURT OF COMPETENT JURISDICTION ORDERING DISCLOSURE OF SUCH INFORMATION.  SHOULD JOT PROVIDE YOU WITH THE MEANS TO CHALLENGE THE ACCURACY OF SUCH CONTENT, JOT WILL HAVE SOLE DISCRETION IN DETERMINING THE VALIDITY OF ANY SUCH CHALLENGE (USING SUCH FACTORS AS JOT DEEMS APPROPRIATE IN ITS SOLE DISCRETION), AND ALL DECISIONS MADE BY JOT WITH RESPECT TO ANY SUCH CHALLENGE WILL BE FINAL AND BINDING. YOU ACKNOWLEDGE AND AGREE THAT THE FACT THAT JOT MAY IN SOME INSTANCES REMOVE CONTENT (WHETHER YOURS OR A THIRD PARTY'S) OR PROVIDE ANY EDITORIAL COMMENTS, CLARIFICATIONS OR NOTICES  IN REGARDS TO ANY CONTENT DOES NOT WAIVE, QUALIFY, OR OTHERWISE AFFECT THE DISCLAIMERS, EXCLUSIONS AND OTHER LIMITATIONS OF LIABILITY IN THIS AGREEMENT. SHOULD JOT ELECT TO REMOVE ANY CONTENT, IT MAY, IN ITS SOLE DISCRETION, INCLUDE A NOTICE, EDITORIAL COMMENT OR OTHER DISCLOSURE IN TERMS OF SUCH REMOVAL AND THE ASSOCIATED FACTS AND UNDERLYING REASONS IN CONJUNCTION WITH SUCH REMOVAL, INCLUDING, WITHOUT LIMITATION, THE FACT THAT YOU REQUESTED THE REMOVAL OF SUCH CONTENT.
</p><p>
You acknowledge and understand that the Website provides you with the option of replying to any such comments and presenting your views or position in terms of any Content that you believe to be inaccurate, false, incomplete, dated, improperly contextualized, misleading, libellous and/or defamatory and agree that JOT SHALL NOT BE LIABLE IN ANY MANNER WHATSOEVER IF SUCH FEATURES OR FUNCTIONALITY OF THE WEBSITE OR ANY SERVICE IS NOT ACCESSIBLE, AVAILABLE, OPERATIONAL OR OPERATING IN A RELIABLE, TIMELY, UNINTERRUPTED AND/OR ERROR FREE MANNER.
</p><p>
If you provide information to us about a third party, you authorize us to post such information without restriction and without any obligation to maintain your anonymity. If we do elect not to disclose your identity, we make no warranty and provide no assurances that we will or can maintain your anonymity.  
</p><p>
Should you have a dispute with any service professional, contractor, lender, creditor or supplier (including, without limitation, any current and/or former employer), you must resolve such dispute with such third party directly, and you hereby agree not to involve JOT in any matter whatsoever in any such dispute, including, without limitation, requiring JOT's attendance or participation (or that of any JOT shareholder, director, employee, agent and/or representative) in any legal proceeding. 
</p><p>
Any reference on the Website to any program or arrangement pursuant to which charitable donations or gifts are to be made by JOT in conjunction with any membership, review or submission of other Content, will be made by JOT in its own name. Payments of charitable donations or the delivery of charitable gifts may be consolidated and paid within such interval as JOT may determine in its sole discretion.  JOT may in its sole discretion vary the terms of, or discontinue, any such program or arrangement without notice.
</p><p>
Some jurisdictions may not allow limitations or exclusion of liability for incidental or consequential damages, damages relating to personal injuries or death, damages arising from intentional or gross fault, or exclusion of implied warranties, so some of the above limitations or exclusions may not apply to you. Check your local laws for any restrictions or limitations regarding these limitations or exclusions. TO THE EXTENT THE FOREGOING LIMITATIONS AND EXCLUSIONS OF LIABILITY ARE NOT ENFORCEABLE OR NOT FULLY ENFORCEABLE, TO THE EXTENT PERMITTED BY APPLICABLE LAWS, YOU AGREE THAT JOT'S AGGREGATE LIABILITY FOR ANY DAMAGES WHATSOEVER UNDER THIS AGREEMENT, IN TORT, STRICT LIABILITY OR OTHERWISE IN LAW, WILL BE LIMITED TO CAD$10.00 IN THE AGGREGATE.
</p>
<p class="privacy_policy_list_title">2. Registration </p>
<p>
Access to certain features of the Website and access and use of certain Services or Content may be restricted to persons who have registered through the Website and created an account for the Website (an "Account"). An individual may only create a single Account for himself or herself. 
</p><p>
Likewise, a user tied to a business may create an Account for such business (each, a "Profile"). JOT may, in its sole discretion, consolidate, delete, edit or otherwise modify Accounts for a single business or for related businesses.
</p><p>
You agree to: (a) provide true, accurate, current and complete information as prompted by the Website's (or relevant Service's) registration form for Accounts and/or Profiles (such information being collectively referred to as the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete.
</p><p>
For clarity, the provision of some Registration Data is required to create an Account while the provision of other Registration Data is optional. You acknowledge and understand that the failure to provide optional Registration Data as part of creation or updating of a Profile may negatively affect the Scores and Rankings (as such term is defined and discussed in Section 6) for the business(es) featured in such Profile. We may from time to time require you to provide us with proof in terms of the authenticity, accuracy and/or currency of Registration Data. 
</p><p>
JOT is concerned about the safety and privacy of all its users, particularly children. Our services are available only to persons who can form legally binding contracts in the jurisdiction in which they reside or are domiciled. Without limitation to the foregoing, you may neither register for nor use the Website or any Services if you are under the legal age of majority in the province or territory in which they reside. You are solely liable for any misstatements and/or misrepresentations in conjunction with the Registration Data or with respect to any postings or listings created and/or posted.
</p>
<p class="privacy_policy_list_title">3. Premium Memberships</p>
<p>
Businesses may access additional Services by becoming Premium members. Premium memberships are subject to additional terms and conditions which may be accessed here.
</p>
<p class="privacy_policy_list_title">4. Password and security</p>
<p>
If you create an Account you will receive a password for your Account upon completing the registration process. If you do not have an Account and post comments, anecdotes, feedback, reviews, complaints, warnings, ratings, rankings, testimonials, recommendations, referrals, rebuttals, and other information (collectively "Feedback"), you will also receive a password associated such Feedback.
</p><p>
You are responsible for maintaining the confidentiality of the user name and password, and are fully responsible for all activities that occur under your Account, user name and/or through use of your password. You agree to (a) immediately notify JOT if you have reasonable grounds to believe someone has obtained access to your password or someone has made unauthorized use of your Account, (b) ensure that you log out from your Account at the end of each session, (c) if issued a temporary password, promptly replace such temporary password with a secure password. 
</p><p>
You acknowledge and agree that the rights provided to you under this Agreement are personal to you and may not be shared with or transferred to anyone. Accordingly, you agree not to share your Account (or any privileges derived from your Account) with any third party.
</p><p class="privacy_policy_list_title">
5. Use
</p><p>
This Website is operated in the province of Ontario, Canada. To the extent you are not a resident of the province of Ontario (Canada), you are solely responsible for ensuring that use of this Website and any Services is lawful in and permitted by the laws of the jurisdiction in which you reside or in which your business is domiciled. Your right to access and use the Website and Services is strictly conditional upon such access and use being lawful in your jurisdiction.
</p><p>
You understand that you are solely responsible for ensuring that materials that you post on the Website comply with all applicable laws and this Agreement, regardless of whether such postings are public or private in nature. You further understand that you are solely responsible for ensuring that goods or services that you promote or advertise and the completion of any transaction relating to the foregoing complies with all applicable laws and this Agreement.  
</p><p>
You understand and agree that you are personally liable for anything you communicate on the Website, including without limitation, communication of defamatory, libellous, discriminatory, obscene, offensive, false, fraudulent, inappropriate, profane, threatening, harassing, abusive, illegal and/or unlawful information or the unauthorized communication of confidential or proprietary information (collectively, "Prohibited Content"). You shall not post any Prohibited Content on the Website or use the Website or any Service to post, publish, republish, broadcast, distribute or otherwise communicate any Prohibited Content. Without limitation to the foregoing, when posting Content you shall use your best efforts to ensure such Content is truthful, accurate, current and complete and otherwise complies with the requirements of this Agreement. You acknowledge and understand that any Content that you may post or submit is subject to authentication and verification and that JOT may, in its sole discretion temporarily or permanently remove such Content if it believes, in its sole opinion, that such Content is inaccurate, untruthful, dated or incomplete, includes personal information or other prohibited content, or if JOT determines in its sole opinion that it has any form of legal, financial or other exposure in terms of such Content.  In this respect, JOT may require that you provide satisfactory evidence of any underlying engagement, transaction or other matter, and/or of the accuracy, truthfulness, currency and completeness of such Content and underlying facts. If JOT elects in its sole discretion to post such Content, it has the right to add editorial comments or caveats in regard to the foregoing.
</p><p>
You understand and agree that you are personally responsible for complying with any applicable laws and complying (and not infringing) any third party rights, including, without limitation any privacy rights, personality rights, proprietary rights and trade secrets. Without any limitation to the generality of the foregoing, you shall not post any confidential information nor any information or other materials protected by copyright without the written permission of the copyright owner. By posting any Content, you represent and warrant that: (i) such material is in your lawful possession and can be disclosed, published, republished and communicated without restriction; (ii) to the best of your knowledge, the information contained in such Content is accurate in all material respects; and (iii) the publication, display, reproduction, distribution, modification and use of such Content does not and will not infringe any copyright or trademark. In addition, you grant JOT and users of this Website the non-exclusive right and license to display, copy, publish, republish, distribute, transmit, print and use such Content and any information, idea or invention encompassed therein or extractible therefrom. 
</p><p>
You agree not to reproduce, duplicate, harvest, copy, sell, resell or exploit for any commercial purposes or for any purpose other than for your personal and private use, the Website, any Content and/or Service, whether in whole or in part. You agree not to assist any third party in regard to any such activity.
</p><p>
You will not use the Website or any Service for any storage or archival purposes. Content posted or otherwise stored on the Website may be removed and/or deleted at any time at JOT's sole discretion without any liability to you or to any third party.
</p><p>
If you are a contractor, service provider or supplier:
</p><p>
You agree to abide by and comply with the Code of Conduct which is accessible here. Without limitation to the foregoing, you agree not to post or direct others to post Feedback about you, your business, your operations, goods and services that are false or misleading, including, without limitation, fictitious Feedback (whether in terms of the identity of the person posting such Feedback, in regards to the subject matter thereof or in regards to both of the foregoing). 
</p><p>

      <br>
      <div class="privacy_policy_list">
        <div class="privacy_policy_list_title">You acknowledge and understand that:</div>
        <li class="privacy_policy_list_content">JOT may investigate and audit Feedback to assess its validity, accuracy, genuineness and truthfulness, including through use of automated processes. </li>
        <li class="privacy_policy_list_content">JOT may disclose the fact that potentially fictitious, invalid, inaccurate and/or misleading Feedback has been posted by you (or by someone else) and/or is otherwise associated with you or your Account and/or Profile, as well as incorporate within any scoring feature, metrics, ranking and/or ranking tool information regarding potentially fictitious, invalid, inaccurate and/or misleading Feedback attributable to you or persons whom you have directed.</li>
        <li class="privacy_policy_list_content" style="text-decoration: underline;">any false or misleading representations and any deceptive marketing practices may constitute a violation of applicable laws, including, without limitation, the Competition Act (Canada) and that JOT is free to report any such possible violations to governmental authorities or law enforcement bodies.</li>
      </div>
      <br>
      <p>
YOU AGREE THAT JOT WILL HAVE NO LIABILITY WHATSOEVER IN REGARDS TO ANY OF THE FOREGOING PRACTICES.
</p><p>
You agree that any violations of this Agreement and/or any code of conduct or guidelines that may relate to use of the Website or of any Service (as same may change from time to time), including, without limitation, the posting of Prohibited Content, and/or the posting of Feedback and/or other Content that is not authentic, truthful, genuine, accurate and/or complete, or otherwise fails to comply with the requirements of this Agreement, may be disclosed to users of the Website and/or may be associated with and/or included in your Account and/or Profile.
</p>
<p class="privacy_policy_list_title">6. Postings, Feedback, Rankings and Scores</p>
<p>You acknowledge and agree that you are solely responsible for the form, content and accuracy of any ad, posting, Feedback or other content placed by you on the Website. You agree that all Content that you place on the Website must comply with all applicable laws. You acknowledge and agree that JOT may, in its sole discretion and without any obligation to do so, require you to confirm your identity and/or the currency, completeness and/or accuracy of certain facts relating to any content that you post on the Website and that failing such confirmation, JOT may, in its sole discretion remove, redact or annotate such Content.  JOT may, in its sole discretion, remove any and all Content posted by you, including, without limitation, any posting and/or information that contravenes this Agreement.</p><p>If you are a contractor, service provider or supplier:</p><p>You acknowledge and agree that we or other users may create a Profile for you and your business with respect to which other users (including, without limitation, past and current customers, suppliers, subcontractors, vendors, lenders, creditors, employees and the like) may post Feedback. </p><p>You may be provided with the opportunity to present to JOT certain materials in support of any reply, rebuttal or challenge in terms of any Feedback (collectively, "Supporting Materials"). You acknowledge and confirm that: (i) any Supporting Materials provided to JOT may be disclosed to any interested party including, without limitation, any third party that is the subject of the underlying rebuttal or challenge; (ii) such Supporting Materials will constitute Content for the purposes of this Agreement irrespective of its format or the manner in which it is communicated to JOT; and (iii) JOT has sole discretion in terms of the assessment of such Supporting Materials and what follow-up action, if any, will be undertaken in regard to the foregoing.</p><p>You acknowledge and confirm that: (i) JOT may at any time and from time to time compile scores and/or rankings with respect to Members and other persons having Profiles (collectively, "Scores and Rankings"); (ii) Scores and Rankings may be based on subjective criteria and/or generated through automated tools; and (iii) Scores and Rankings may be based not only on Feedback (in terms of content, volumes and/or otherwise) but may also be based on conduct relating to access to and use of the Website and Services (including, without limitation, the type and amount of information you disclose or otherwise make available in your Profile or otherwise on the Website) as well as other information we come to learn or discover relating to you, your business, your association or affiliation (legal, business, familial, de facto or other) with third parties with questionable credentials or a checkered past,  and/or your operations, obtained independently of your Profile and/or use of the Website (including, without limitation, information, extracted from any trade directory, social media site, or any third party resource [such, as by way of example only, the Better Business Bureau or any governmental authority or trade association]). </p><p>For greater certainty, Registration Data, Feedback, Scores and Rankings and other information relating to your Profile constitute Content for the purposes of this Agreement and may be published on the Website or otherwise made available to other users of the Website. You consent and agree and consent to the foregoing.</p><p>You agree not to challenge any Scores and Rankings or prevent and/or hinder the creation, display and/or publication of Scores and Rankings by JOT, its business partners and/or its licensees, and their respective service providers) and further agree that none of the foregoing entities will have any liability with respect to the generation, posting and/or distribution of any Scores and Rankings or their reliance on the foregoing in terms of the operation of the Website and rendering of the Services, or on reliance by any other person in terms of any other matter whatsoever, including, without limitation, any purchasing decision or decision to commence, suspend, resume or terminate any relationship, arrangement or undertaking. </p>
<p class="privacy_policy_list_title">7. User Privacy and Security Policy</p>
<p>
Use of this Site is subject to the terms of JOT's Privacy Policy, accessible at info@jaxoftrades.com You recognize and agree that: (i) the Internet is not a secure medium, and neither the privacy of your communications, nor visits to this Website, can be guaranteed; (ii) the nature of Internet communications means that your communications may be susceptible to data corruption, unauthorized access, interception and delays. JOT SHALL NOT BE RESPONSIBLE OR LIABLE FOR ANY LOSS OF PRIVACY, DISCLOSURE OF INFORMATION, HARM, DAMAGE OR LOSS THAT MAY RESULT FROM YOUR TRANSMISSION OF ANY INFORMATION TO US IN ANY CONNECTION WITH THE WEBSITE AND/OR ANY SERVICE.
</p><p>
You agree that any collection, use, disclosure, storage, safeguarding, retention, alteration and destruction of any personal information you receive from any user of this Website will be in compliance with the Personal Information Protection and Electronic Documents Act (Canada) as well as in compliance with any other applicable laws. Without limitation to the generality of the foregoing, you agree that any reply or rebuttal to Feedback, and any other content that you post or otherwise publish on the Website or in conjunction with your use of any Service, will comply with all such applicable laws and acknowledge and understand that the disclosure of any personal information is subject to certain restrictions, safeguards and prohibitions. You further acknowledge and understand that certain employee related information constitutes personal information in some jurisdictions and for individuals employed in certain industries or sectors, and that publication or disclosure of such information may be subject to restrictions, safeguards and prohibitions.
</p><p>
If you are an individual, by posting any Content that includes your personal information you hereby unconditionally and irrevocably consent to the posting and publication of such personal information on the Website for such period of time as your initial review, comments, anecdote, testimonial, feedback, endorsement rating, ranking, commentary or other Content which is the subject of the reply or rebuttal has been removed. You further unconditionally and irrevocably consent to such Content being associated with you on the Website.  Likewise, if you include your personal information in any Content that you post on the Website you unconditionally and irrevocably consent to the reproduction, posting and publication on the Website of such personal information in any reply, rebuttal or editorial commentary in terms of such Content. 
</p><p>
If you are an individual who is carrying on business under your personal name, if your business address is the same as your residential address, if any of your other business contact information is the same as your personal contact information (including, without limitation, your telephone number, your fax number and/or your e-mail address), or if you are a shareholder, partner, owner, principal, director, officer or employee of a particular business, you unconditionally and irrevocably consent to the publication and disclosure on the Website of such personal information in regards to any review, rating, listing, endorsement, testimonial, ranking, feedback, rebuttal or any other similar Content.
</p><p>
You must not attempt to disable or circumvent any security features or measures of the Website, including without limitation: (i) attempting to log into an account or server which you are not authorized to access or (ii) attempting to interfere with the operation of the Website and/or the delivery of the Services including, without limitation through means of a virus or flooding or otherwise overloading the Website's servers, or by any other means.
</p>
<p class="privacy_policy_list_title">8. Indemnity</p>
<p>
To the maximum extent permitted by applicable law, you will indemnify and hold JOT, its affiliates, its service providers and their respective directors, officers, employees, advisors, agents and other representatives, harmless from any damages, liability, costs, expenses, including reasonable legal fees, fines and other losses incurred or suffered by any of them as a result of: (i) Content you submit, post, transmit or make available on or through the Website; (ii) your violation of this Agreement; (iii) your dealings with other users of the Website or the Services; (iv) any dispute you may have with any other user of the Website or other third party; or (v) your infringement, breach and/or violation of any third party rights, including, without limitation, any intellectual property rights and any trade secrets.
</p>
<p class="privacy_policy_list_title">9. Termination or Modification of Service</p>
<p>
JOT reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, any Service (or any part thereof) without notice. Likewise, JOT reserves the right at any time to modify or discontinue, temporarily or permanently, the operation of the Website (or any part thereof) without notice. You agree that JOT shall not be liable to you or to any third party for any modification, suspension or discontinuance of any Service or of the Website.
</p>
<p class="privacy_policy_list_title">10. Suspension of Account</p>
<p>
You agree that JOT, in its sole discretion, may at any time suspend your Account (including, without limitation, any membership) or suspend your access to and use of the Website and/or of any Service, in the event it determines, in its sole discretion, that you have breached this Agreement or have otherwise acted inconsistently with the letter or spirit of this Agreement.    Any reinstatement of your Account (including, without limitation, any membership) or above mentioned privileges will be in JOT sole discretion and subject to such conditions or additional requirements as JOT may determine in its sole discretion. 
</p><p>
If you Account is suspended or terminated by JOT, JOT may provide you with limited access to the Website if Content is posted about you or your business and you provide us with a written request to such effect.  In such circumstances, subject to authentication of your identity, JOT may grant you limited access to the Website and Services for the sole purpose of responding to such Content. Any such limited use of the Website and Services by you (including, without limitation, the posting of such response by you) is subject to this Agreement. JOT WILL NOT BE LIABLE FOR REFUSING OR OTHERWISE FAILING TO PROVIDE YOU WITH ANY LIMITED ACCESS TO THE WEBSITE EVEN IN THE CIRCUMSTANCES DESCRIBED ABOVE.
</p>
<p class="privacy_policy_list_title">11. Products supplied from outside Ontario</p>
<p>
You acknowledge and agree that certain goods and/or services available, discussed, posted, featured and/or advertised on the Website may be supplied by third parties resident and operating outside the province of Ontario and/or may be hosted on computers located outside of the province of Ontario.
</p>
<p class="privacy_policy_list_title">12. JOT's proprietary rights</p>
<p>
You acknowledge and agree that the Website and any software provided by JOT or its licensors used in connection with your access and use of the Website contain proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge and agree that the Content is protected by intellectual property rights, including, without limitation, copyright, trademark, service mark, patent and/or other proprietary rights. Except as expressly authorized by JOT or its licensors, you agree not to decompile, reverse engineer, modify, rent, lease, loan, sell, distribute or create derivative works based on the Website or any Service, whether in whole or in part, or otherwise attempt to discover the source code of any of the software available on or through the Website. Except as otherwise indicated elsewhere on this Website, you may view, download, modify and print the Content which you are authorized to access through your lawful use of the Website for your personal and internal use provided that: (i) your Account is in good standing and you are in compliance with this Agreement; (ii) you may not remove any copyright, trademark or other proprietary notices contained in or associated to the materials; (iii) any and all Content, including, without limitation, all leads, jobs, projects and other information generated, delivered, presented and/or otherwise made available to you may not be redistributed or provided to any third party. The rights granted to you under this Agreement are provided pursuant to a limited and conditional license and no rights are being transferred to you or otherwise provided to you on an exclusive basis. JOT reserves all rights not expressly granted herein.
</p><p>
You hereby grant to JOT a perpetual, irrevocable, royalty-free, transferable, non-exclusive, worldwide license (with a right to grant unlimited sublicenses) to use, modify, reproduce, publish, republish, broadcast, translate, create derivative works of, synchronise, create compilations of, incorporate into other works, import, adapt and commercially exploit on any medium (whether in existence now or in the future) any Content you post or make available to JOT in conjunction with your use of the Website and/or Services (whether the foregoing is provided through the Website or otherwise) including, without limitation, Registration Data (collectively, "Your Posted Content"). You hereby waive any and all moral rights you may have anywhere in the world in Your Posted Content. You represent and warrant that you have all right, title and interest in Your Posted Content and that the posting, reproduction, publication and communication of same on or through the Website and/or through the Services, does not infringe any third party rights or any applicable laws.
</p>
<p class="privacy_policy_list_title">13. Term and Termination</p>
<p>
This Agreement will remain in full force and effect until it is terminated. 
</p><p>
You may terminate this Agreement by providing written notice to JOT at support@jaxoftrades.com. JOT may terminate this Agreement at any time, for any reason, with or without explanation, effective upon JOT sending written or email notice to you. 
</p><p>
Upon termination of this Agreement, your Account (if any) may be terminated (or access to your Account suspended) and all licenses granted to you herein shall forthwith expire, all of the foregoing at JOT's sole discretion. Please note that certain rights you have conferred to JOT and certain obligations you owe to JOT will continue to apply even after termination (see below). 
</p><p>
All licenses you have granted to JOT will survive termination of this Agreement, including those relating to Content that you have provided. For clarity, JOT can continue to publish and display any comments, reviews, anecdotes, ratings, endorsements and other feedback that you have submitted. 
</p><p>
If you are a contractor, service provider or supplier:
</p><p>
Your Profile, together with any Feedback associated with your Profile will NOT be deleted in conjunction with termination of this Agreement and will still be accessible, searchable and viewable on the Website, and you and your Profile may be subject to further Feedback.  In the event that you later wish to respond to any such Feedback or post a rebuttal, you will need to reactivate your Account.  You may reactivate your Account by contacting us and satisfying such requirements as we may establish from time to time to validate your identity. You further understand that termination of this Agreement does not prevent the creation by third parties of a profile on the Website relating to you or your business, and the posting of reviews, testimonials, ratings, rankings, commentary and/or other Content relating to you, your business, your operations, your goods and services and/or your past conduct and interactions.  
</p><p>
All limitations of liabilities, exclusions of liability, waivers, releases, indemnities and disclaimers provided under this Agreement will survive termination of this Agreement. Your obligations regarding JOT's confidential and/or proprietary information and/or Content, and your obligations to indemnify and hold JOT harmless will also survive termination of this Agreement. All licenses granted by you to JOT will also survive termination of this Agreement.
</p>
<p class="privacy_policy_list_title">14. Governing Law and jurisdiction</p>
<p>
You agree and acknowledge that your use of this Site will be deemed to have occurred and taken place solely in the Province of Ontario, Canada. You agree that this Agreement and any dispute relating to this Agreement will be governed in accordance with the laws of the Province of 
Ontario, Canada without reference or application of principles and rules of conflict of laws. You expressly agree and consent to the exclusive forum, jurisdiction and venue of the courts of the city of Toronto, Ontario, Canada in any and all actions, disputes, or controversies relating to this Agreement and/or your access to and use of the Website, Content and/or any Service.
</p>
<p class="privacy_policy_list_title">15. Language </p>
<p>
The parties have requested that this Agreement and all documents contemplated hereby only be drawn up in English. Les parties aux présentes ont exigé que cette entente et tous autres documents envisagés par les présentes soient seulement rédigés en anglais.
</p>
<p class="privacy_policy_list_title">16. Changes to this Agreement</p>
<p>
JOT may from time to time (and in its sole discretion) make changes to this Agreement by posting a revised version on the following webpage: “Link to the terms of use page”.  Please review such webpage periodically to determine whether the last version of this Agreement which you have reviewed is still the most current version of the Agreement that binds you. Your continued use of the Website, Content and/or any Service shall constitute your acceptance to any modification to this Agreement. You may not make any changes to this Agreement.
</p><p>
If any provision of this Agreement is found to be unlawful, void or unenforceable, then such provision will be deemed severable and will not affect the validity and enforceability of any remaining provisions.
</p>
<p class="privacy_policy_list_title">ADDITIONAL TERMS AND CONDITIONS OF USE FOR PREMIUM MEMBERSHIPS</p>
<p>
These terms and conditions apply in addition to the general terms and conditions of use for the jaxoftrades.com website which can be accessed here (the "General Terms and Conditions of Use"). All capitalized terms that are not defined in these additional terms will have the meaning provided to them in the General Terms and Conditions of Use. These additional terms together with the General Terms and Conditions of Use and all other terms and conditions and documents incorporated by reference in either document form a binding agreement between you and JOT (the "Agreement").
</p><p>
Premium membership subscriptions are either purchased for a 6 month or 12 month contract term ("Term Membership"). Should you purchase a Term Membership, it will automatically be renewed for a renewal term equal to the original term unless you terminate your Term Membership (as provided under the Agreement) prior to the expiration of the then current term or renewal term or access your Account and disable the automatic renewal option. 
</p><p>
Fees for a Term Membership will be charged to a credit card for which you are an authorized user (such credit card and any other substitute or replacement card is referred to as the "Credit Card"). You will be asked to provide credit card information when you register as a premium member. Likewise, if you wish to renew or extend your premium membership period, or order Services that generate a fee, you will be asked to provide credit card information. For your protection, we use a certified payment gateway and do not retain credit card information after completion of a transaction (such information is retained by the certified payment gateway and may be used for future authorized transactions).  
</p><p>
You may either elect to purchase a 6 month Term Membership with monthly payments, or a 6 or 12 month prepaid Term Membership. If you purchase a Term Membership with monthly payments, the monthly fee is payable in advance of each subscription month. If you have purchased a 6 month or 12 month prepaid Term Membership, the fee for such prepaid term is payable prior to the beginning of the first subscription month.  
</p><p>
Any renewal of a Term Membership with monthly payments will be at the fees that are in effect at the time of such renewal. Any renewal of a prepaid Term Membership will be at the fees in effect when the prepaid Term Membership was first purchased. The fees for the renewal of a prepaid Term Membership will be charged to the Credit Card as well the monthly fees for any Term Membership with monthly payments (which will continue to be payable in advance of the subscription month).
</p><p>
Each submission or order online for a Service for which a fee is charged is deemed to be an authorization to charge predetermined sums representing applicable statutory and service fees, charges, and applicable taxes to the Credit Card. You will be informed of the total charges and asked to confirm the transaction before it is charged to the Credit Card. You are responsible for all charges, fees and taxes incurred by you. Charges and fees will be at the rates established by JOT from time to time plus all additional applicable taxes. 
</p><p>
Before submitting any request for goods and/or services or otherwise completing an online order (including, without limitation any purchase, renewal or extension of a premium membership), please verify that you have correctly entered the information in the request and/or order. We cannot refund the cost of a Service if you have inputted the request incorrectly. Once a submission or order is submitted, there are NO REFUNDS, EXCHANGES OR CANCELLATIONS.   
</p><p>
Any discount provided in conjunction with your purchase of multiple Services will be retroactively adjusted or rescinded in the event that you later decide to cancel or terminate one or more such Services and the resulting combination of Services would either not entitle you to such discount or would entitle you to a lesser discount. You will be responsible for payment of any rescinded discount or any reduction in a previously issued discount, and these will be applied to the Credit Card.
</p><p>
You are solely responsible for updating your contact, billing and credit card information during the term of any premium membership, including any renewal term. You shall promptly notify JOT if the Credit Card associated with your account is canceled, if such card is reported lost or stolen, or if you become aware that the security of such card has been compromised. You acknowledge that you will not receive a credit card or other payment statement unless you provide us with a valid e-mail address.
</p><p>
If we are unable to collect the charges, fees and/or taxes from the Credit Card for any reason, you are responsible to pay JOT directly the fees, charges and taxes plus interest at the annual rate of 18% (calculated daily) or the highest rate permitted by applicable laws, whichever is lower, together with any other charges (including costs of collection) incurred by JOT. In such circumstances, we may also in our sole discretion and without limitation to any of our remedies exercise any one or more of the following remedies: (i) immediately suspend further access to the Website, your Account, Services and Content; (ii) issue an invoice to you for the amount of such charges, together with accrued interest and costs of collection, which invoice will be immediately payable; (iii) assign any such unpaid accounts to a third party, including, without limitation, a collection agency; (iv) report such non-payment to one or more credit rating agencies; (v) include the foregoing instance(s) of non-payment in regard to the calculation of your Scores and Rankings; and/or (vi) post a notice on your Profile (and create a Profile if none exists) in terms of such non-payment.
</p><p>
You are responsible for notifying JOT of any incorrect charges within thirty (30) days of receiving a statement or receipt from JOT. After any such thirty (30) day period, you shall forfeit any recourse to JOT to claim a credit. 
</p><p>
All fees displayed on or through the Website are subject to change without notice, in JOT's sole discretion. Likewise, JOT reserves the right at any time to commence charging fees for Services which are presently offered for free and/or to increase any fees.
</p><p>
Memberships expire upon termination of the Agreement. If we terminate the Agreement other than as a result of you breaching its terms and conditions, we will refund all unused prepaid fees that you have paid in terms of any membership (and will pro rate any periodic membership fee in regard to the remaining portion of the membership period). In all other instances, you will not be entitled to receive any refund for any subscription payments you have made to JOT. JOT will not be liable to you in any other way or manner in the event of termination of this Agreement for any reason.
</p>
    </div>
  </div>
  <div>
    <div style="text-align: center; margin-top: 8vw;">
      <div style="display: inline-block;">
        <a routerLink="/about-us" style="text-decoration: none;">
          <div class="bottom_links">
            About us
          </div>
        </a>
        <a routerLink="/our-team" style="text-decoration: none;">
          <div class="bottom_links">
            Our team
          </div>
        </a>
        <a routerLink="/contact-us" style="text-decoration: none;">
          <div class="bottom_links">
            Contact us
          </div>
        </a>
        <a routerLink="/privacy-policy" style="text-decoration: none;">
          <div class="bottom_links">
            Privacy Policy
          </div>
        </a>
        <a routerLink="/terms-of-use" style="text-decoration: none;">
          <div class="bottom_links">
            Terms of Use
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <div style="display: inline-block;">
        <img src="./assets/images/icons/s_m_icons_gray/twitter.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/fb.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/insta.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/youtube.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/google+.png" class="s_m_icons">
        <img src="./assets/images/icons/s_m_icons_gray/pintrest.png" class="s_m_icons">
      </div>
    </div>
    <div id="copyright">
      &copy; Jax of Trades Inc | 2016
    </div>
  </div>
</div>
