<div (click)="close_drop_down()" style="float: left;">
  <div class="jax_font" id="time_input">
    <input [(ngModel)]="hour" class="time" id="hour_time" maxlength="2" (focus)="border_blue()" (focusout)="border_gray()" (blur)="border_gray()">
    <div id="colon">:</div>
    <input [(ngModel)]="minute" class="time" id="minute_time" maxlength="2" (focus)="border_blue()" (focusout)="border_gray()" (blur)="border_gray()">
  </div>

  <div id="am_pm">
    <div id="am_pm_text">{{am_pm}}</div>
    <div (click)="toggle_drop_down($event)" id="am_pm_button"><img src="./assets/images/select-down.png" id="am_pm_button_icon"></div>
    <div id="drop-down">
      <div *ngIf="am_pm != 'am'" (click)="toggle_drop_down($event); change_value('am');" class="option">am</div>
      <div *ngIf="am_pm != 'pm'" (click)="toggle_drop_down($event); change_value('pm');" class="option" style="border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;">pm</div>
    </div>
  </div>
</div>

<!--<div (click)="close_drop_down()" style="overflow: hidden; width: 100%;">
  <div id="am_pm">
    <div id="am_pm_text">{{am_pm}}</div>
    <div (click)="toggle_drop_down($event)" id="am_pm_button"><img src="./assets/images/select-down.png" style="height: 10px;"></div>
    <div id="drop-down">
      <div (click)="toggle_drop_down($event); change_value('am');" class="option">am</div>
      <div (click)="toggle_drop_down($event); change_value('pm');" class="option" style="border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;">pm</div>
    </div>
  </div>
  <div class="jax_font" id="time_input">
    <input [(ngModel)]="hour" class="time" id="hour_time" maxlength="2">
    <div id="colon">:</div>
    <input [(ngModel)]="minute" class="time" id="minute_time" maxlength="2">
  </div>
</div>-->
