<div class="jax_font" id="{{tradesmanlist_container_id}}">
  <div id="filters">
    <div id="filters_container">
      <div class="filter" style="text-align: center; position: relative;">
        <div class="filter_header">
          Select service time
        </div>
        <div [hidden]="show_service_time">
          <div (click)="add_service_time()" id="add_service_time">
            <img src="./assets/images/icons/plus.png" id="add_service_time_icon">
            <div style="float: left; margin-left: 5px;">
              Add a service time
            </div>
          </div>
        </div>
        <div id="time_error">
          *Please use a valid time range*
        </div>
        <div [hidden]="!show_service_time">
          <div style="margin-top: 15px; width: 100%; overflow: auto; text-align: center; position: absolute;">
            <!--service time-->
            <div style="display: inline-block">
              <div class="time_container" style="float:left;">
                <div (click)="toggle_drop_down_start($event)" class="am_pm" id="am_pm_start">
                  <div class="am_pm_text">{{start_am_pm}}</div>
                  <img src="./assets/images/select-down.png" class="am_pm_button">
                  <div class="drop-down" id="drop_down_start">
                    <div [hidden]="start_am_pm == 'am'" (click)="toggle_drop_down_start($event); change_value_start('am');" class="option">
                      am
                    </div>
                    <div [hidden]="start_am_pm == 'pm'"(click)="toggle_drop_down_start($event); change_value_start('pm');" class="option">
                      pm
                    </div>
                  </div>
                </div>
                <div class="time_box">
                  <div class="jax_font" id="time_input">
                    <input [(ngModel)]="start_hour" class="time hour_time" maxlength="2">
                    <div class="colon">:</div>
                    <input [(ngModel)]="start_minute" class="time minute_time" maxlength="2">
                  </div>
                </div>
              </div>
              <div id="service_time_to">
                to
              </div>
              <div class="time_container" style="float :left;">
                <div (click)="toggle_drop_down_end($event)" class="am_pm" id="am_pm_end">
                  <div class="am_pm_text">{{end_am_pm}}</div>
                  <img src="./assets/images/select-down.png" class="am_pm_button">
                  <div class="drop-down" id="drop_down_end">
                    <div [hidden]="end_am_pm == 'am'" (click)="toggle_drop_down_end($event); change_value_end('am');" class="option">
                      am
                    </div>
                    <div [hidden]="end_am_pm == 'pm'"(click)="toggle_drop_down_end($event); change_value_end('pm');" class="option">
                      pm
                    </div>
                  </div>
                </div>
                <div class="time_box">
                  <div class="jax_font" id="time_input">
                    <input [(ngModel)]="end_hour" class="time hour_time" maxlength="2">
                    <div class="colon">:</div>
                    <input [(ngModel)]="end_minute" class="time minute_time" maxlength="2">
                  </div>
                </div>
              </div>
            </div>
            <!-- /service-time-->
          </div>

          <div (click)="update_service_time()" id="update_service_time">
            Update
          </div>
        </div>
      </div>
      <div class="filter" style="padding-bottom: 10px;">
        <div class="filter_header">
          Select category
        </div>
        <div (click)="toggle_drop_down_category($event)" style="width: 240px; margin-top: 15px; position: absolute;">
          <div id="category_drop_down_btn">
            <img src="./assets/images/select-down.png" class="category_button">
          </div>
          <div id="category_title">
            {{category}}
          </div>
          <div id="job_dropdown">
            <div (click)="change_value_category(job); toggle_drop_down_category($event)" *ngFor="let job of sub_categories.jobs; let i = index;">
              <div [hidden]="job == category || i == 9"  class="job_dropdown">
                {{job}}
              </div>
              <div [hidden]="!(job != category && i == 9)"  class="job_dropdown" style="border-bottom: none;">
                {{job}}
              </div>
            </div>
          </div>
        </div>
        <div id="sub_cat_margin">
          <div *ngFor="let category of sub_categories.get_row_for_category(category)" style="margin-top: 15px; margin-bottom: 15px; overflow: hidden;">
            <div (click)="toggle_sub_category(category)" style="float: left; margin-left: 25px;">
              <img [src]="set_checkboxes(category)" class="sub_category_checkbox">
            </div>
            <div class="sub_category_filter">
              <span (click)="toggle_sub_category(category)" style="cursor: pointer;">{{category}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="filter_container">
      <div class="jax-thin-font" id="location">
        <div id="loc_image">
          <img id="location_input_icon" src="./assets/images/icons/location.png">
        </div>
        <div id="loc_search">
          <img id="location_input_icon_2" src="./assets/images/icons/search_location.png">
        </div>
        <div style="overflow: hidden;">
          <input id="loc_phrase" type="text" [(ngModel)]="location" placeholder="Zipcode" (focus)="loc_focus()" (focusout)="loc_focus_out()" (blur)="loc_focus_out()" maxlength="7">
        </div>
        <div class="loc_error">
          {{loc_error}}
        </div>
      </div>
      <div style="overflow: hidden;">
        <input type="text" id="searchfield" placeholder="Search tradesman" [(ngModel)]="search">
      </div>
    </div>
    <div id="list_container">
      <div *ngFor = "let tradesman of (tradesman_array_print | pipe_search: search); let i = index;">
        <div class="tradesman">
          <div class="tradesman_img">
            <image-loader [src]="tradesman.image">
            </image-loader>
            <div class="status_bar" [ngStyle]="set_off_on(tradesman.id)">
            </div>
            <div *ngIf="tradesman.rating != null" class="rating rating_mobile">
              <div class="rating_phrase">{{tradesman.rating.toFixed(2)}} ratings</div>
              <div class="rating_container">
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 1)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 2)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 3)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 4)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 5)"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tradesman_info">
            <div class="name">{{tradesman.name}}</div>
            <div class="category">{{category}}<span *ngIf="tradesman.sub_category.length != 0"> - </span>{{tradesman.sub_category}}</div>
            <div class="company" *ngIf="tradesman.company != null">{{tradesman.company}}</div>
            <div class="availability">{{tradesman.availability}}</div>
            <div *ngIf="tradesman.location != null" class="location location_mobile">
              <img src="./assets/images/icons/distance.png" class="distance_image">
              <div class="distance_phrase">{{tradesman.location}} km away</div>
            </div>
            <div class="tradesman_buttons_container">
              <div (click)="request_pop(tradesman.first_name, tradesman.last_name, i, tradesman.id, tradesman.image, tradesman.sub_category, category)" class="tradesman_buttons">
                 Request
              </div>
              <div (click)="view_profile(0, tradesman.first_name, tradesman.last_name, tradesman.image, tradesman.company,
                    tradesman.availability, tradesman.rating, tradesman.location,
                    tradesman.sub_category, tradesman.id, category)" class="tradesman_buttons"
                    id="view_prof_btn">
                  View profile
              </div>
            </div>
            <div class="tradesman_utility_info">
              <div *ngIf="tradesman.location != null" class="location">
                <img src="./assets/images/icons/distance.png" class="distance_image">
                <div class="distance_phrase">{{tradesman.location}} km away</div>
              </div>
              <div *ngIf="tradesman.rating != null" class="rating">
                <div class="rating_phrase">{{tradesman.rating.toFixed(2)}} ratings</div>
                <div class="rating_container">
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 1)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 2)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 3)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 4)"></div>
                  </div>
                  <div class="rating_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(tradesman.rating, 5)"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--ads for mobile view-->
        <div *ngIf="i!= 0 && (i%3 == 2 || i == tradesman_array_print.length - 1)" class="manual_ads">
          <div class="tradesman">
            <div *ngIf="!ads_array(i)">
              <div class="company_img">
                <image-loader [src]="ad.image">
                </image-loader>
              </div>
              <div class="tradesman_info ads_info">
                <div class="name">{{ad.name}}</div>
                <div class="ads_street_address">
                  <div class="category">{{ad.street_address_1}}</div>
                  <div class="category" style="margin-top: 0;">{{ad.street_address_2}}</div>
                </div>
                <div class="category_phone_number">
                  <img src="./assets/images/icons/telephone.png" class="company_number_icon">
                  {{ad.contact}}
                </div>
                <div class="tradesman_buttons_container">
                  <div (click)="ad_view_profile_company(i)" class="tradesman_buttons">
                     View profile
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="ads_array(i)">
              <div class="tradesman_img">
                <image-loader [src]="ad.image">
                </image-loader>
                <div class="status_bar" [ngStyle]="set_off_on(ad.id)">
                </div>
                <div *ngIf="tradesman.rating != null" class="rating rating_mobile">
                  <div class="rating_phrase">{{ad.rating.toFixed(2)}} ratings</div>
                  <div class="rating_container">
                    <div class="rating_image">
                      <img src="./assets/images/icons/rate_star.png" class="star_icon">
                      <div class="star_shade" [ngStyle]="compute_width(ad.rating, 1)"></div>
                    </div>
                    <div class="rating_image">
                      <img src="./assets/images/icons/rate_star.png" class="star_icon">
                      <div class="star_shade" [ngStyle]="compute_width(ad.rating, 2)"></div>
                    </div>
                    <div class="rating_image">
                      <img src="./assets/images/icons/rate_star.png" class="star_icon">
                      <div class="star_shade" [ngStyle]="compute_width(ad.rating, 3)"></div>
                    </div>
                    <div class="rating_image">
                      <img src="./assets/images/icons/rate_star.png" class="star_icon">
                      <div class="star_shade" [ngStyle]="compute_width(ad.rating, 4)"></div>
                    </div>
                    <div class="rating_image">
                      <img src="./assets/images/icons/rate_star.png" class="star_icon">
                      <div class="star_shade" [ngStyle]="compute_width(ad.rating, 5)"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tradesman_info">
                <div class="name">{{ad.name}}</div>
                <div class="category">{{ad.job}} - {{ad.sub_category}}</div>
                <div class="company" *ngIf="ad.company.length != 0">{{ad.company}}</div>
                <div class="availability">{{ad.availability}}</div>
                <div *ngIf="tradesman.location != null" class="location location_mobile">
                  <img src="./assets/images/icons/distance.png" class="distance_image">
                  <div class="distance_phrase">{{ad.location}} km away</div>
                </div>
                <div class="tradesman_buttons_container">
                  <div (click)="ad_request_tradesman(i)" class="tradesman_buttons">
                     Request
                  </div>
                  <div (click)="ad_view_profile_tradesman(i)" class="tradesman_buttons"
                        id="view_prof_btn">
                      View profile
                  </div>
                </div>
                <div class="tradesman_utility_info">
                  <div *ngIf="tradesman.location != null" class="location">
                    <img src="./assets/images/icons/distance.png" class="distance_image">
                    <div class="distance_phrase">{{ad.location}} km away</div>
                  </div>
                  <div *ngIf="tradesman.rating != null" class="rating">
                    <div class="rating_phrase">{{ad.rating.toFixed(2)}} ratings</div>
                    <div class="rating_container">
                      <div class="rating_image">
                        <img src="./assets/images/icons/rate_star.png" class="star_icon">
                        <div class="star_shade" [ngStyle]="compute_width(ad.rating, 1)"></div>
                      </div>
                      <div class="rating_image">
                        <img src="./assets/images/icons/rate_star.png" class="star_icon">
                        <div class="star_shade" [ngStyle]="compute_width(ad.rating, 2)"></div>
                      </div>
                      <div class="rating_image">
                        <img src="./assets/images/icons/rate_star.png" class="star_icon">
                        <div class="star_shade" [ngStyle]="compute_width(ad.rating, 3)"></div>
                      </div>
                      <div class="rating_image">
                        <img src="./assets/images/icons/rate_star.png" class="star_icon">
                        <div class="star_shade" [ngStyle]="compute_width(ad.rating, 4)"></div>
                      </div>
                      <div class="rating_image">
                        <img src="./assets/images/icons/rate_star.png" class="star_icon">
                        <div class="star_shade" [ngStyle]="compute_width(ad.rating, 5)"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="get_length()">
        {{no_tradesman}}
      </div>
      <div style="height: 40px;">
      </div>
    </div>
    <img (click)="smoothScroll('searchfield')" src="./assets/images/icons/to_top_btn.png" id="to_top_btn">
  </div>
</div>

<div (click)="close_request()" id="{{overlay_id}}">
  <request_float_box [f_name]="f_name" [t_id]="t_id" [l_name]="l_name" [category]="rq_box_category" [sub_category]="chosen_sub_category" [pic] = "pic" [choice]="choice" [name]="name" [remove_item]="DeleteFunction" (box_closed)="box_closed($event)">Loading...</request_float_box>
</div>

<ads style="display: none;">Loading...</ads>
