<div id="{{container_id}}">
  <div id="navigation_not_fixed"></div>
  <div id="navigation">
    <div style="margin-right: 640px; width: 180px; float: left; margin-bottom: 15px;">
      <div (click)="smoothScroll('profile_title')" id="profile_nav_btn" class="nav_btns">Basic information</div>
      <div (click)="smoothScroll('about_you_title')" id="about_you_nav_btn" class="nav_btns">About you</div>
      <div [hidden]="!(jobs.length > 1)">
        <div (click)="smoothScroll('company_title')" id="company_nav_btn" class="nav_btns">Company name</div>
        <div (click)="smoothScroll('sub_category_title')" id="sub_category_nav_btn" class="nav_btns">Subcategory</div>
      </div>
      <div (click)="smoothScroll('skills_title')" id="skills_nav_btn" class="nav_btns">Skills</div>
      <div (click)="smoothScroll('default_daily_time_availability_title')" id="default_daily_time_availability_nav_btn"  class="nav_btns">Default daily time<br>availability</div>
      <div (click)="smoothScroll('default_location_title')" id="default_location_nav_btn"  class="nav_btns">Default location</div>
      <div (click)="smoothScroll('recent_works_title')" id="recent_works_nav_btn"  class="nav_btns">Recent projects</div>
      <div (click)="smoothScroll('gallery_title')" id="gallery_nav_btn"  class="nav_btns">Gallery</div>
      <div (click)="smoothScroll('add_social_media_links_title')" id="add_social_media_links_nav_btn"  class="nav_btns">Add social media links</div>
    </div>
    <div class="jax_font" id="right_btns">
      <div (click)="save_profile()" id="save_btn" style="color: #fff; background-color: #292c38; margin-bottom: 15px;">{{save_text}}</div>
      <a routerLink="/subscribe-personal" style="text-decoration: none; color: #777;">
        <div class="jax_font" id="save_btn" style="background-color: #ea5b5b; border: 1px solid #ea5b5b; overflow: hidden; color: #fff; margin-bottom: 15px;">
          <img src="./assets/images/icons/advertise.png" style="height: 15px; margin-right: 9px; float: left;">
          <div style="position: relative; float: left;">Advertise your profile</div>
        </div>
      </a>
      <a routerLink="/add-trade" style="text-decoration: none; color: #292c38;">
        <div [hidden]="!(jobs.length < max_trades)" id="save_btn" style="background-color: transparent; border: 1px solid #525160; margin-bottom: 15px;">Add trade</div>
      </a>
      <div (click)="open_testimonial();" id="save_btn" style="color: #292c38; background-color: transparent; border: 1px solid #525160;">{{testimonial_text}}</div>
    </div>
  </div>
</div>
<div id="right_btns_not_fixed">
</div>
<div id="{{content_id}}">
  <edit-profile (blur)="set_blur($event)" (refresh)="refresh_page($event)" (testimonial)="open_testimonial()"></edit-profile>
  <div [ngStyle]="set_bottom_height()">
  </div>
</div>

<div class="jax_font" (click)="cancel_testimonial()" id="{{overlay_id}}">
  <div id="testimonial" (click)="stop_prop($event)">
    <div id="testimonial_popup_text">Write a Testimonial</div>
    <div id="error_strings">{{testimonial_error}}</div>
    <div id="testimonial_section">
      <!--<div (click)="rwtitle.focus()" style="color: #525250; font-size: 11pt; text-align: left; width: 100%;">
        <input [(ngModel)]="testimonial_title" type="text" class="rw_title" #rwtitle placeholder="Title" maxlength="35">
      </div>
      <hr>-->
      <div (click)="rwdesc.focus()" style="width: 100%; color: #32320; font-size: 12pt;">
        <textarea [(ngModel)]="testimonial_content" rows="3" class="rw_description" #rwdesc placeholder="Write about your experience with Jax of Trades here..." maxlength="2000"></textarea>
      </div>
    </div>
    <div id="testimonial_btns">
      <div (click)="cancel_testimonial()" class="popup_btns" id="popup_btns_cancel" style="color: #292c38; background-color: transparent; border: 1px solid #525160;">Cancel</div>
      <div (click)="save_testimonial()" class="popup_btns" style="color: #fff; background-color: #292c38;">Save</div>
    </div>
  </div>
</div>
