<div id="container">
  <div id="history_wrapper">
    <div id="header">
      <img src="./assets/images/icons/history_dark.png" class="header_icon">
      <div style="float: left; color: #323230;">History</div>
      <!--<div *ngIf="histories.length != 0;" (click)="clear_history()" id="clear_all">
        Clear history
      </div>-->
    </div>
    <div class="jax_font" id="history_container">
      <div *ngIf="histories.length == 0;" id="no_reqs">No previous transactions</div>
      <div *ngFor="let history of histories; let i = index;" class="history_item">
        <img src="./assets/images/icons/tradesman_blue.png" class="tradesman_icon">
        <div  *ngIf="history.state == 0" class="history_text_1">
          Please click on the "Completed" button when your job with
          <span style="font-family: lato-bold;">{{history.first_name}} {{history.last_name}}</span> is finished.
        </div>
        <div  *ngIf="history.state != 0" class="history_text_1">
          {{history.job}} work for <span style="font-family: lato-bold;">{{history.first_name}} {{history.last_name}}</span>
           on <span style="font-family: lato-bold;">{{history.date}}</span>.
        </div>
        <div style="clear: both; width: 100%; padding-top: 10px; padding-bottom: 5px;">
          <!--<img (click)="remove_history_item(i)" *ngIf="history.state == 3" src="./assets/images/icons/close_thin.png" class="delete_item_icon">-->
          <div style="margin-left: 33px;">
            <div *ngIf="history.state == 3" class="history_text_2">{{history.first_name}} has rated you</div>
            <div *ngIf="history.state == 1" class="history_text_2">Ratings request pending</div>
            <div *ngIf="history.state != 0" class="history_status">Status: <span style="color: #525250;">Completed</span></div>
            <div *ngIf="history.state == 0" class="history_status">Status: <span style="color: #525250;">In progress</span></div>
            <div (click)="request_rating(i)" *ngIf="history.state == 2" class="request_rating_btn">Request ratings</div>
            <div (click)="completed(i)" *ngIf="history.state == 0" class="request_rating_btn_1 request_rating_btn_completed" style="background-color: #6abd45;">Completed</div>
            <div (click)="turned_down_job(i)" *ngIf="history.state == 0" class="request_rating_btn_1" style="background-color: #f16263;">I turned down the job</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
