<div id="container">
  <div id="notification_wrapper">
    <div id="header">
      <img src="./assets/images/icons/notification_dark.png" class="header_icon">
      <div style="float: left; color: #323230;">Notifications</div>
      <div *ngIf="notifications.length != 0;" (click)="clear_notification()" id="clear_all">
        Clear notifications
      </div>
    </div>
    <div class="jax_font" id="notification_container">
      <div *ngIf="notifications.length == 0;" id="no_reqs">No notifications</div>
      <div *ngFor="let notification of notifications; let i = index">
        <div class="notification_item">
          <div id="icon_wrapper">
            <img *ngIf="notification.state == 1" [src]="notification.icon" class="icon_1">
            <img *ngIf="notification.state > 1" [src]="notification.icon" class="icon_2">
          </div>
          <div id="button_wrapper">
            <div (click)="notif_btn(i)" *ngIf="notification.state == 3" class="button" [style.background-color]="notification.bg_color">
              {{notification.button}}
            </div>
          </div>
          <div id="icon_wrapper_no_fix"></div>
          <div id="button_wrapper_no_fix"></div>
          <div class="notif_text">
            <div style="position: absolute; top: 50%; transform: translateY(-50%); overflow: hidden;">
              <div>{{notification.text}}</div>
              <div *ngIf="notification.state != 3" class="time">
                <img src="./assets/images/icons/time_light.png" class="notif_time">
                <div style="float: left; position: relative; top: 1px;">{{notification.time}}</div>
              </div>
              <div *ngIf="notification.state == 3">
                <div *ngIf="notification.button == 'Mark as completed'" class="time">
                  <img src="./assets/images/icons/calendar.png" style="height: 15px; float: left; margin-right: 8px;">
                  <div style="float: left; position: relative; top: 1px;">Started at {{notification.start_time}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
