<div>
  <div id="navigation_not_fixed"></div>
  <div id="navigation">
    <div style="margin-right: 640px; width: 180px; float: left; margin-bottom: 50px;">
      <!--<div (click)="smoothScroll('change_email_id')" class="nav_btns" id="change_email_id_nav_btn">Change Email ID</div>-->
      <div (click)="smoothScroll('change_password')" class="nav_btns" id="change_password_nav_btn">Change Password</div>
      <div (click)="smoothScroll('notifications')" class="nav_btns" id="notifications_nav_btn">Notifications</div>
    </div>
    <div class="jax_font" id="right_btns">
    </div>
  </div>
</div>
<div id="right_btns_not_fixed">
</div>
<div class="jax_font" id="content"  style="overflow: hidden;">
  <div class="container">
    <!--<div class="section_title" id="change_email_id">Change Email ID</div>
    <div class="section jax_font">
      <input class="input" type="text" [(ngModel)]="current_email" placeholder="Current email">
      <input class="input" type="text" [(ngModel)]="new_email" placeholder="New email">
      <div class="save_btn">Save</div>
    </div>-->
    <div class="section_title" id="change_password">Change Password
      <div class="error_strings">{{pass_error}}</div>
    </div>
    <div class="section jax_font">
      <input (click)="remove_style('#old_pass')" class="input" type="password" [(ngModel)]="current_password" placeholder="Current password" id="old_pass">
      <input (click)="remove_style('#new_pass')" class="input" type="password" [(ngModel)]="new_password" placeholder="New password" id="new_pass">
      <input (click)="remove_style('#c_new_pass')" class="input" type="password" [(ngModel)]="confirm_password" placeholder="Confirm password" id="c_new_pass">
      <div (click)="change_password()" class="save_btn">Save</div>
    </div>
    <div class="section_title" id="notifications">Notifications</div>
    <div class="section jax_font notif_section">
      <div style="position: relative;">
        <div class="notif_btns_container">
          <label class="switch">
            <input (click)="set_email_notif()" type="checkbox" [checked]="email_notifs" class="notif_toggle">
            <div class="slider round"></div>
            <div class="notif_on">ON</div>
            <div class="notif_off">OFF</div>
          </label>
        </div>
        <div>Receive notifications via Email</div>
        <div id="note">
          Note please go to:
          <span (click)="smoothScroll('change_email_id')" style="color: blue; cursor: pointer;">
            Change email ID
          </span>
           to update email ID
        </div>
        <div class="edit_notif" [ngStyle]="set_height(0)">
          <div (click)="set_email_daily()" class="setting">
            <img [src]="set_chkbox(email_daily)" class="check_box">
            Daily availability
          </div>
          <br>
          <div (click)="set_email_request()" class="setting">
            <img [src]="set_chkbox(email_request)" class="check_box">
            Incoming requests
          </div>
          <br>
          <div (click)="set_email_general()" class="setting">
            <img [src]="set_chkbox(email_general)" class="check_box">
            General dashboard reminders
          </div>
        </div>
      </div>
      <!--<hr style="margin-top: 5px; margin-bottom: 15px; clear: both;">
      <div style="position: relative;">
        <div class="notif_btns_container">
          <label class="switch">
            <input (click)="set_sms_notif()" type="checkbox" id="sms_toggle" [checked]="sms_notifs" class="notif_toggle">
            <div class="slider round"></div>
            <div class="notif_on">ON</div>
            <div class="notif_off">OFF</div>
          </label>
        </div>
        <div>Receive notifications via SMS</div>
        <div class="edit_notif" [ngStyle]="set_height(1)">
          <div (click)="set_sms_daily()" class="setting">
            <img [src]="set_chkbox(sms_daily)" class="check_box">
            Daily availability
          </div>
          <br>
          <div (click)="set_sms_request()" class="setting">
            <img [src]="set_chkbox(sms_request)" class="check_box">
            Incoming requests
          </div>
          <br>
          <div (click)="set_sms_general()" class="setting">
            <img [src]="set_chkbox(sms_general)" class="check_box">
            General dashboard reminders
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <div [ngStyle]="set_bottom_height()"></div>
</div>
