<div id="{{userhistory_container_id}}">
  <div class="jax_font" id="profile_container">
    <div class="title">
      Profile
      <div class="error_strings">{{profile_error}}</div>
    </div>
    <div style="overflow: hidden; clear: both;">
      <div id="profile_picture" (click)="profpicbtn.click()" [ngStyle]="set_profile_pic()">
        <div id="upload_pic">
          <img src="./assets/images/icons/cam_2.png" id="upload_pic_image">Upload a photo
        </div>
        <input type="file" accept="image/*" #profpicbtn (change)="change_prof_pic($event)" style="display: none;">
      </div>
      <div id="profile_name_container">
        <div class="field" style="margin-top: 0;">
          First name
        </div>
        <div class="input_container">
          <input (click)="remove_style('#fname')" [(ngModel)]="first_name" class="input_value" type="text" maxlength="25" id="fname">
          <img src="./assets/images/icons/edit_3.png" class="edit_icon">
        </div>
        <div class="field">
          Last name
        </div>
        <div class="input_container">
          <input (click)="remove_style('#lname')" [(ngModel)]="last_name" class="input_value" type="text" maxlength="25" id="lname">
          <img src="./assets/images/icons/edit_3.png" class="edit_icon">
        </div>
      </div>
    </div>
    <div class="field">
      Email ID
    </div>
    <div class="input_container">
      <input (click)="remove_style('#email')" [(ngModel)]="email" class="input_value" type="text" maxlength="25" id="email">
      <img src="./assets/images/icons/edit_3.png" class="edit_icon">
    </div>
    <div class="field">
      Phone number
    </div>
    <div class="input_container">
      <input (click)="remove_style('#mobile_number')" [(ngModel)]="phone" class="input_value" type="text" (ngModelChange)="contact_change($event)" maxlength="14" id="mobile_number">
      <img src="./assets/images/icons/edit_3.png" class="edit_icon">
      <div id="predefined_area_code">+1</div>
    </div>
    <div (click)="update_changes()" class="update_button">Update changes</div>
    <hr>
    <div class="title" style="margin-top: 20px;">
      Change Password
      <div class="error_strings">{{pass_error}}</div>
    </div>
    <div class="field" style=" clear: both;">
      Old password
    </div>
    <div class="input_container">
      <input (click)="remove_style('#old_pass')" [(ngModel)]="old_pass" class="input_value" type="password" maxlength="25" id="old_pass">
      <!--<img src="./assets/images/icons/edit_3.png" class="edit_icon">-->
    </div>
    <div class="field">
      New password
    </div>
    <div class="input_container">
      <input (click)="remove_style('#new_pass')" [(ngModel)]="new_pass" class="input_value" type="password" maxlength="25" id="new_pass">
      <!--<img src="./assets/images/icons/edit_3.png" class="edit_icon">-->
    </div>
    <div class="field">
      Confirm new password
    </div>
    <div class="input_container">
      <input (click)="remove_style('#c_new_pass')" [(ngModel)]="c_new_pass" class="input_value" type="password" maxlength="25" id="c_new_pass">
      <!--<img src="./assets/images/icons/edit_3.png" class="edit_icon">-->
    </div>
    <div (click)="update_password()" class="update_button">Update password</div>
    <hr>
    <div class="title" style="margin-top: 20px;">
      Write a Testimonial
      <div class="error_strings">{{testimonial_error}}</div>
    </div>
    <div id="testimonial_container"  style="clear: both;">
      <!--<input [(ngModel)]="testimonial_title" class="input_value_testimonial_content" type="text" maxlength="25" placeholder="Testimonial title" id="testimonual_title">
      <hr>-->
      <textarea [(ngModel)]="testimonial_content" rows="5" class="input_value_testimonial_content" type="text" maxlength="2500" placeholder="Write about your experience with Jax of Trades here...">
      </textarea>
    </div>
    <div (click)="send_testimonial()" class="update_button" style="margin-bottom: 0;">Post</div>
  </div>
  <div class="jax_font" id="history_container">
    <div id="history_heading_holder">
      <div *ngIf="histories.length > 0" (click)="clear_history()" id="clear_history">
        Clear history
      </div>
      <div class="title">
        History
      </div>
    </div>
    <div id="list_container">
      <div *ngFor="let history of histories; let i = index;">
        <div class="history_item" [ngStyle]="set_margin_top_bottom(i)">
          <img [src]="history.image" class="history_image">
          <div class="history_content">
            <div class="history_name">{{history.first_name}} {{history.last_name}}</div>
            <div class="history_details">{{history.job}} works on {{history.date}}</div>
            <div class="history_status">
              <span style="">Status:</span>
               {{history.status}}
            </div>
            <div *ngIf="history.state == 2" class="rating_requested">
              <img src="./assets/images/icons/info_red.png" class="info_red_icon">
              {{history.first_name}} has requested you to rate his work
            </div>
            <div (click)="rate_work(i)" *ngIf="history.state == 2 || history.state == 1" class="history_button">
              Rate work
            </div>
            <div (click)="rate_work(i)" *ngIf="history.state == 3" class="history_button">
              Edit rating
            </div>
            <img (click)="delete_history(i)" *ngIf="history.state == 3" src="./assets/images/icons/close_dark.png" class="close_button">
            <div *ngIf="history.state == 3" class="history_rating">
              <div class="history_rating_details">Your rating</div>
              <div class="rating_container">
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(history.rating, 1)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(history.rating, 2)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(history.rating, 3)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(history.rating, 4)"></div>
                </div>
                <div class="rating_image">
                  <img src="./assets/images/icons/rate_star.png" class="star_icon">
                  <div class="star_shade" [ngStyle]="compute_width(history.rating, 5)"></div>
                </div>
                <div class="rating_phrase">
                  {{history.rating.toFixed(2)}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div (click)="close_pop_up_2()" id="{{overlay_2_id}}">
  <div (click)="$event.stopPropagation()" id="crop_pop_up">
    <img-cropper [image]="data" [settings]="cropperSettings" style="position: absolute; left: 50%; transform: translateX(-50%); background-color: #525252;"></img-cropper>
    <img-cropper [image]="data" [settings]="cropperSettings" style="position: relative; opacity: 0; pointer-events: none;"></img-cropper>
    <div id="pop_up_btn_container_crop">
      <div style="display: inline-block">
        <div class="pop_up_btn" (click)="data.image = prev_image; close_pop_up_2();" id="cancel_btn">Cancel</div>
        <div class="pop_up_btn" (click)="close_pop_up_2();" style="background-color: #525250; color: #fff;">Save</div>
      </div>
    </div>
  </div>
</div>

<div (click)="close_pop_up()" id="{{overlay_id}}">
  <div (click)="$event.stopPropagation()" id="rating_pop_up">
    <div id="popup_header">
      <div style="display: inline-block">
        <img *ngIf="pop_up_active" [src]="histories[chosen_history].image" id="popup_image">
        <div *ngIf="pop_up_active" id="popup_heading_text">
          Rate {{histories[chosen_history].first_name}}'s Work
        </div>
      </div>
    </div>
    <div id="rating_action_container">
      <div class="rating_bar_container">
        <div class="rating_field">Consectetur</div>
        <div class="rating_word_conversion">{{word_value_1}}</div>
        <div class="rating_action_bar">
          <input class="slider" type="range" id="range_1" min="0" max="50000" step="1" [ngModel]="range_1" (mouseup)="saverange_1()" (ngModelChange)="set_range_value_1($event)"/>
        </div>
      </div>
      <div class="rating_bar_container">
        <div class="rating_field">Dignissimos</div>
        <div class="rating_word_conversion">{{word_value_2}}</div>
        <div class="rating_action_bar">
          <input class="slider" type="range" id="range_2" min="0" max="50000" step="1" [ngModel]="range_2" (mouseup)="saverange_2()" (ngModelChange)="set_range_value_2($event)"/>
        </div>
      </div>
      <div class="rating_bar_container">
        <div class="rating_field">Blanditiis</div>
        <div class="rating_word_conversion">{{word_value_3}}</div>
        <div class="rating_action_bar">
          <input class="slider" type="range" id="range_3" min="0" max="50000" step="1" [ngModel]="range_3" (mouseup)="saverange_3()" (ngModelChange)="set_range_value_3($event)"/>
        </div>
      </div>
      <div class="rating_bar_container">
        <div class="rating_field">Possimus</div>
        <div class="rating_word_conversion">{{word_value_4}}</div>
        <div class="rating_action_bar">
          <input class="slider" type="range" id="range_4" min="0" max="50000" step="1" [ngModel]="range_4" (mouseup)="saverange_4()" (ngModelChange)="set_range_value_4($event)"/>
        </div>
      </div>
    </div>
    <div id="review_container">
      <div id="write_a_review">
        Write a review
        <div class="error_strings">{{review_errors}}</div>
      </div>
      <div id="review_wrapper" style="clear: both;">
        <input id="review_title" placeholder="Review title" [(ngModel)]="review_title">
        <hr>
        <textarea id="review_content" placeholder="Write your review here..." rows="4" [(ngModel)]="review_content"></textarea>
        <hr>
        <div style="margin-top: 10px;">
          <div *ngIf="review_images.length < 3" (click)="add_review_photo.click()" id="add_photo_btn">
            <img src="./assets/images/icons/cam_1.png" id="add_image_icon_image">
            Add photo
          </div>
          <div style="oveflow: hidden;" *ngFor="let images of review_images;let i = index">
            <div [ngStyle]="review_choose_bg(i)" class="review_images">
              <div class="delete_review_image_shadow">
                <img (click)="delete_review_image(i)" src="./assets/images/icons/close_round.png" class="delete_review_image">
              </div>
            </div>
          </div>
          <input type="file" accept="image/*" #add_review_photo id="add_review_photo" (change)="add_image_to_review($event)" style="display: none;" multiple>
        </div>
      </div>
    </div>
    <div id="average_rating_wrapper">
      <div style="display: inline-block">
        <div id="average_rating_text">Average rating</div>
        <div class="rating_container" style="position: relative; top: 4px;">
          <div class="rating_image_pop_up">
            <img src="./assets/images/icons/rate_star.png" class="star_icon">
            <div class="star_shade" [ngStyle]="compute_width(review_rating, 1)"></div>
          </div>
          <div class="rating_image_pop_up">
            <img src="./assets/images/icons/rate_star.png" class="star_icon">
            <div class="star_shade" [ngStyle]="compute_width(review_rating, 2)"></div>
          </div>
          <div class="rating_image_pop_up">
            <img src="./assets/images/icons/rate_star.png" class="star_icon">
            <div class="star_shade" [ngStyle]="compute_width(review_rating, 3)"></div>
          </div>
          <div class="rating_image_pop_up">
            <img src="./assets/images/icons/rate_star.png" class="star_icon">
            <div class="star_shade" [ngStyle]="compute_width(review_rating, 4)"></div>
          </div>
          <div class="rating_image_pop_up">
            <img src="./assets/images/icons/rate_star.png" class="star_icon">
            <div class="star_shade" [ngStyle]="compute_width(review_rating, 5)"></div>
          </div>
          <div id="rating_phrase_pop_up">
            {{review_rating_string}}
          </div>
        </div>
      </div>
    </div>
    <div id="pop_up_btn_container">
      <div style="display: inline-block">
        <div (click)="close_pop_up()" class="pop_up_btn" id="cancel_btn">Cancel</div>
        <div (click)="save_review()" class="pop_up_btn" style="background-color: #525250; color: #fff;">Save</div>
      </div>
    </div>
  </div>
</div>

<div id="scroll_overlay">
  <div (click)="smoothScroll('history_container')" id="history_profile_scroll">History</div>
</div>
