<div class="jax_font" id="{{tradesman_container_id}}">
  <div id="profile_container">
    <div style="padding-right: 10px;">
      <div id="init_info">
        <div id="prof_image">
          <image-loader [src]="image"></image-loader>
          <div *ngIf="type == 0" class="status_bar" [ngStyle]="set_off_on(1)">
          </div>
        </div>
        <div id="info">
          <div *ngIf="type == 0">
            <div id="name">{{first_name}} {{last_name}}</div>
            <div class="field">Category</div>
            <div class="value">{{category}} <span *ngIf="sub_category.length != 0">- {{sub_category}}</span></div>
            <div class="field" *ngIf="company.length != 0">Company Name</div>
            <div class="value" *ngIf="company.length != 0">{{company}}</div>
          </div>

          <div *ngIf="type == 1">
            <div id="name" style="margin-top: .9656vw;">{{first_name}}</div>
            <div class="value" id="address_wrapper">{{availability}}</div>
            <div class="value">{{category}}</div>
            <div class="value">{{sub_category}}</div>
            <div class="field" id="contact_wrapper">
              <img src="./assets/images/icons/telephone.png" id="telephone_logo">
              <div id="telephone_number">
                {{last_name}}
              </div>
            </div>
          </div>

          <div *ngIf="type == 0 && rating != null" id="rating_container">
            <div class="rating_image">
              <img src="./assets/images/icons/rate_star.png" class="star_icon">
              <div class="star_shade" [ngStyle]="compute_width(rating, 1)"></div>
            </div>
            <div class="rating_image">
              <img src="./assets/images/icons/rate_star.png" class="star_icon">
              <div class="star_shade" [ngStyle]="compute_width(rating, 2)"></div>
            </div>
            <div class="rating_image">
              <img src="./assets/images/icons/rate_star.png" class="star_icon">
              <div class="star_shade" [ngStyle]="compute_width(rating, 3)"></div>
            </div>
            <div class="rating_image">
              <img src="./assets/images/icons/rate_star.png" class="star_icon">
              <div class="star_shade" [ngStyle]="compute_width(rating, 4)"></div>
            </div>
            <div class="rating_image">
              <img src="./assets/images/icons/rate_star.png" class="star_icon">
              <div class="star_shade" [ngStyle]="compute_width(rating, 5)"></div>
            </div>
            <div id="rating_phrase">
              {{rating}} ratings
            </div>
          </div>
          <div *ngIf="type == 0 && location != null" class="value" id="location">
            <img src="./assets/images/icons/distance.png" id="location_image">
            <div id="location_phrase">
              {{location}} km away
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div *ngIf="type == 0" class="section_container">
        <div id="availability">Availability: {{availability}}</div>
        <div (click)="request_pop()" id="request_small">Request</div>
      </div>
      <hr *ngIf="type == 0">
      <div class="section_container" *ngIf="about.length != 0">
        <div class="section_title">About {{first_name}}</div>
        <div id="about_content">{{about}}</div>
      </div>
      <hr *ngIf="about.length != 0">
      <div class="section_container" *ngIf="specialize.length != 0">
        <div *ngIf="type == 0" class="section_title">Skills</div>
        <div *ngIf="type == 1" class="section_title">Specialized in:</div>
        <div *ngFor="let skill of specialize; let i = index">
          <div *ngIf="i%2 == 0" style="clear: both" class="specialize_content">
            <div class="specialize_dash">-</div>
            <div class="specialize_skill">{{skill}}</div>
          </div>
          <div *ngIf="i%2 != 0" class="specialize_content">
            <div class="specialize_dash">-</div>
            <div class="specialize_skill">{{skill}}</div>
          </div>
        </div>
      </div>
      <hr *ngIf="specialize.length != 0">
    </div>
    <div class="section_container" *ngIf="recent_works.length != 0">
      <div class="section_title">Recent Projects</div>
      <div id="recent_works_wrapper">
        <div class="view_more_invi">
          View<br>{{rw_view_more_less}}
        </div>
        <div class="shortened_section">
          <div  *ngFor="let image of recent_works; let i = index;" style="width: 33.3333333%; float: left;">
            <div (click)="rw_overlay_pop(i)" class="recent_work_images" [ngStyle]="background_selector(image, false)">
              <div class="rw_image_texts">
                <div class="rw_image_texts_wrapper">
                  <div class="section_title rw_title">{{image.title_shown}}</div>
                  <div class="rw_desc">{{image.description_shown}}</div>
                </div>
              </div>
              <div class="rw_shadow"></div>
            </div>
          </div>
        </div>
        <div (click)="view_more_rw()" [hidden]="recent_works.length <= 3" class="view_more_invi view_more" id="rw_view_more">
          View<br>{{rw_view_more_less}}
        </div>
      </div>
    </div>
    <hr style="margin-right: 10px;" *ngIf="recent_works.length != 0">
    <div class="section_container" *ngIf="gallery.length != 0">
      <div class="section_title">Gallery</div>
        <div id="gallery_wrapper">
          <div class="view_more_invi">
            View<br>{{gallery_view_more_less}}
          </div>
          <div class="shortened_section">
            <div  *ngFor="let images of gallery; let i = index" style="float: left; width: 25%;">
              <div (click)="gallery_overlay_pop(i)" class="gallery_div">
                <div class="gallery_image" [ngStyle]="background_selector(images, true)">
                  <!--<image-loader [src]="images"></image-loader>-->
                </div>
              </div>
            </div>
          </div>
          <div (click)="view_more_gallery()" [hidden]="gallery.length <= 4" class="view_more_invi view_more" id="gallery_view_more">
            View<br>{{gallery_view_more_less}}
          </div>
        </div>
    </div>
    <div style="padding-right: 10px;">
      <hr *ngIf="gallery.length != 0">
      <div class="section_container" *ngIf="company_street != null" style="margin-left: -5px; margin-right: -5px;">
        <div class="section_title" style="margin-left: 5px;">Company Details</div>
        <div  style="box-shadow: 0 0 3px rgba(0,0,0,.2); margin: 5px; overflow: hidden;">
          <div [ngStyle]="company_logo_bg()" id="company_logo"></div>
          <div id="company_info">
            <div id="name" id="company_name">{{company}}</div>
            <div class="value" id="company_address">{{company_street}}<br>{{company_province}}<br>{{company_postal_code}}</div>
            <div id="company_number_container">
              <img src="./assets/images/icons/telephone.png" class="company_number_icon"><div class="company_number" style="margin-right: 20px;">{{company_number}}</div>
              <!--<img src="./assets/images/icons/phone.png" class="company_number_icon"><div class="company_number">+1-322-456-4098</div>-->
            </div>
            <div id="view_profile_btn" style="clear: both;">View profile</div>
          </div>
        </div>
      </div>
      <hr *ngIf="company_street != null">
      <div class="section_container" *ngIf="reviews.length != 0 && type == 0" style="margin-bottom: 0;">
        <div class="section_title">Reviews</div>
        <div id="review_wrapper">
          <div *ngFor="let review of reviews; let i = index;" style="color: #727270; clear: both;">
            <hr *ngIf="i != 0" style="margin-bottom: 10px;">
            <div style="overflow: hidden; color: #626260">
              <div class="review_name">{{review.name}}</div>
              <div class="review_rating">
                <div id="rating_container" style="margin-top: 0;">
                  <div class="rating_review_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(review.rating, 1)"></div>
                  </div>
                  <div class="rating_review_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(review.rating, 2)"></div>
                  </div>
                  <div class="rating_review_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(review.rating, 3)"></div>
                  </div>
                  <div class="rating_review_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(review.rating, 4)"></div>
                  </div>
                  <div class="rating_review_image">
                    <img src="./assets/images/icons/rate_star.png" class="star_icon">
                    <div class="star_shade" [ngStyle]="compute_width(review.rating, 5)"></div>
                  </div>
                  <div class="rating_review_phrase">
                    {{review.rating}}
                  </div>
                </div>
              </div>
              <div class="review_date">{{review.date}}</div>
            </div>
            <div class="review_title">{{review.title}}</div>
            <div class="review_text">{{review.review}}</div>
            <div *ngIf="review.images.length != 0" style="overflow: hidden; margin-left: -2.5px; margin-right: -2.5px; margin-top: 2.5px; margin-bottom: 2.5px;">
              <div *ngFor="let image of review.images; let j = index;" class="review_images">
                <div (click)="review_overlay_pop(i, j)" class="gallery_image" [ngStyle]="background_selector(image, true)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr *ngIf="reviews.length != 0 && type == 0">
      <div *ngIf="(fb_link.length != 0 || tw_link.length != 0 || ln_link.length != 0 || web_link.length != 0)" class="section_container" style="margin-left: -5px; margin-right: -5px; margin-bottom: 20px;">
        <div class="section_title" style="margin-left: 5px; margin-bottom: 5px;">Find {{first_name}} on:</div>
        <a href="{{fb_link}}" target="_blank">
          <img *ngIf="fb_link.length != 0" class="social_media_btns" src="./assets/images/fb_icon.png">
        </a>
        <a href="{{tw_link}}" target="_blank">
          <img *ngIf="tw_link.length != 0" class="social_media_btns" src="./assets/images/tw_icon.png">
        </a>
        <a href="{{ln_link}}" target="_blank">
          <img *ngIf="ln_link.length != 0" class="social_media_btns" src="./assets/images/ln_icon.png">
        </a>
        <a href="{{web_link}}" target="_blank">
          <img *ngIf="web_link.length != 0" class="social_media_btns" src="./assets/images/wb_icon.png">
        </a>
      </div>
      <div *ngIf="type == 0" style="text-align: center; margin-top: 10px;">
        <div (click)="request_pop()" id="big_request">Request</div>
      </div>
    </div>
  </div>
</div>

<div (click)="close_request()" id="{{overlay_id}}">
  <request_float_box [f_name]="first_name" [t_id]="id" [l_name]="last_name" [category]="category" [sub_category]="sub_category" [pic] = "image" [name]="first_name" [remove_item]="DeleteFunction" (box_closed)="box_closed($event)">Loading...</request_float_box>
</div>

<div (click)="remove_image_overlay()" id="{{overlay_1_id}}">
  <div (click)="click_event($event)" id="image_overlay" *ngIf="recent_works.length != 0">
    <div id="gallery_image" *ngIf="recent_works[overlay_array_id].images.length != 0">
      <img *ngIf="overlay_image() != null" [src]="overlay_image()" style='height: 100%; width: 100%; object-fit: contain'>
      <img (click) = "next_image()" *ngIf="overlay_array_1_id != recent_works[overlay_array_id].images.length - 1" id="right_arrow" class="gallery_arrows" src="./assets/images/icons/image_arrow.png">
      <img (click) = "prev_image()" *ngIf="overlay_array_1_id != 0" id="left_arrow" class="gallery_arrows" src="./assets/images/icons/image_arrow.png">
      <div id="recent_work_bottom_shadow"></div>
      <div *ngIf="recent_works[overlay_array_id].images.length > 1" id="dots_container">
        <div style="display: inline-block">
          <div (click)="change_recent_work_image(i)" *ngFor="let images of recent_works[overlay_array_id].images; let i = index" [ngStyle]="set_dot_bg(overlay_array_1_id, i)" class="dot"></div>
        </div>
      </div>
    </div>
    <div (click)="click_event($event)" class="jax_font" id="rw_text_container">
      <div style="width: 95%;">
        <div style="font-size: 13pt;">{{recent_works[overlay_array_id].title}}</div>
        <div style="color: #626260; font-size: 9pt; max-height: 64px; overflow: auto; font-family: lato-thin;  margin-top: 5px;">{{recent_works[overlay_array_id].description}}</div>
      </div>
      <!--<hr style="margin-top: 10px; margin-bottom: 10px;">
      <div id="rw_price_container">
        <div style="float: left; margin-top: 5px;">Cose estimate:</div>
        <div id="rw_price">${{recent_works[overlay_array_id].cost}}</div>
      </div>-->
      <div style="text-align: center; margin-top: 10px;">
        <div (click)="remove_image_overlay()" id="image_overlay_btn">
          Close
        </div>
      </div>
      <div *ngIf="overlay_array_id != 0" (click)="prev_image_1()" class="rw_btn" id="prev_rw_image_btn">
        <img src="./assets/images/icons/next_project_arrow.png" class="rw_btn_img"> View previous project
      </div>
      <div *ngIf="next_arrow_1()" (click)="next_image_1()" class="rw_btn" id="next_rw_image_btn">
        View next project <img src="./assets/images/icons/next_project_arrow.png" style="height: 6.5px; transform: rotate(180deg); margin-left: 2px;">
      </div>
    </div>
  </div>
</div>

<div (click)="remove_image_overlay_2()" id="{{overlay_2_id}}" *ngIf="gallery.length != 0">
  <div (click)="click_event($event)" id="gallery_overlay">
    <div id="gallery_image" style="height: 530px; box-shadow: none;">
      <img *ngIf="overlay_image_pop() != null" [src]="overlay_image_pop()" style='height: 100%; width: 100%; object-fit: contain'>
      <img (click) = "next_image_2()" *ngIf="next_arrow_2()" id="right_arrow" class="gallery_arrows" src="./assets/images/icons/image_arrow.png" style="top: 250">
      <img (click) = "prev_image_2()" *ngIf="overlay_array_2_id != 0" id="left_arrow" class="gallery_arrows" src="./assets/images/icons/image_arrow.png" style="top: 250">
      <img (click)="remove_image_overlay_2()" src="./assets/images/icons/close.png" id="gallery_pop_close">
    </div>
  </div>
</div>

<div (click)="remove_image_overlay_3()" id="{{overlay_3_id}}" *ngIf="reviews.length != 0">
  <div (click)="click_event($event)" id="image_overlay_2">
    <div id="gallery_image" *ngIf="reviews[overlay_array_3_id].images.length != 0">
      <img *ngIf="overlay_image_3() != null" [src]="overlay_image_3()" style='height: 100%; width: 100%; object-fit: contain'>
      <img (click) = "next_image_3()" *ngIf="overlay_array_4_id != reviews[overlay_array_3_id].images.length - 1" id="right_arrow" class="gallery_arrows" src="./assets/images/icons/image_arrow.png">
      <img (click) = "prev_image_3()" *ngIf="overlay_array_4_id != 0" id="left_arrow" class="gallery_arrows" src="./assets/images/icons/image_arrow.png">
      <div id="recent_work_bottom_shadow"></div>
      <div *ngIf="reviews[overlay_array_3_id].images.length > 1" id="dots_container">
        <div style="display: inline-block">
          <div (click)="change_review_image(i)" *ngFor="let images of reviews[overlay_array_3_id].images; let i = index" [ngStyle]="set_dot_bg(overlay_array_4_id, i)" class="dot"></div>
        </div>
      </div>
    </div>
    <div (click)="click_event($event)" class="jax_font" id="rw_text_container">
      <div style="float: right;">
        <div class="rating_image_review_popup">
          <img src="./assets/images/icons/rate_star.png" class="star_icon">
          <div class="star_shade" [ngStyle]="compute_width(reviews[overlay_array_3_id].rating, 1)"></div>
        </div>
        <div class="rating_image_review_popup">
          <img src="./assets/images/icons/rate_star.png" class="star_icon">
          <div class="star_shade" [ngStyle]="compute_width(reviews[overlay_array_3_id].rating, 2)"></div>
        </div>
        <div class="rating_image_review_popup">
          <img src="./assets/images/icons/rate_star.png" class="star_icon">
          <div class="star_shade" [ngStyle]="compute_width(reviews[overlay_array_3_id].rating, 3)"></div>
        </div>
        <div class="rating_image_review_popup">
          <img src="./assets/images/icons/rate_star.png" class="star_icon">
          <div class="star_shade" [ngStyle]="compute_width(reviews[overlay_array_3_id].rating, 4)"></div>
        </div>
        <div class="rating_image_review_popup">
          <img src="./assets/images/icons/rate_star.png" class="star_icon">
          <div class="star_shade" [ngStyle]="compute_width(reviews[overlay_array_3_id].rating, 5)"></div>
        </div>
        <div id="rating_phrase" style="font-size: 13pt; margin-top: 0px;">
          {{reviews[overlay_array_3_id].rating}}
        </div>
      </div>
      <div style="font-size: 13pt; color: #424240; overflow: hidden;">{{reviews[overlay_array_3_id].name}}</div>
      <div id="rw_text_wrapper">
        <div style="font-size: 11pt; margin-top: 5px;">{{reviews[overlay_array_3_id].title}}</div>
        <div style="color: #626260; font-size: 9pt; max-height: 64px; overflow: auto; font-family: lato-thin;  margin-top: 2px;">{{reviews[overlay_array_3_id].review}}</div>
      </div>
      <div id="review_popup_date">
        {{reviews[overlay_array_3_id].date}}
      </div>
      <div style="text-align: center; margin-top: 5px; clear: both;">
        <div (click)="remove_image_overlay_3()" id="image_overlay_btn">
          Close
        </div>
      </div>
    </div>
  </div>
</div>
