/* Master Styles */
body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

@font-face {
    font-family: "roboto";
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "roboto-thin";
    src: url(./assets/fonts/roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(./assets/fonts/roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(./assets/fonts/roboto/Roboto-Black.ttf) format("truetype");
}

.jax_font{
  font-family: roboto, sans-serif;
  color: #777;
}

.jax-thin-font{
  font-family: roboto-thin, sans-serif;
}

hr {
  border: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0 , 0 , .2);
  clear: both;
  margin: 0;
}

::-webkit-input-placeholder { font-family: Roboto-thin; }
::-moz-placeholder { font-family: Roboto-thin; } /* firefox 19+ */
:-ms-input-placeholder { font-family: Roboto-thin; } /* ie */
input:-moz-placeholder { font-family: Roboto-thin; }
